Repository systeminit/si, pull requests merged in 2023-11, with the labels that each got.

#2923 fix(auth) - UI fixes, Collaborators on Navbar mock
  app/auth-portal/package.json
  app/auth-portal/src/App.vue
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/auth-portal/src/main.ts
  app/auth-portal/src/pages/ProfilePage.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/App.vue
  app/web/src/components/ActionSprite.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/GenericDiagram/DiagramCursor.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarButton.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/main.ts
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  pnpm-lock.yaml
Labels: A-web

#2924 feat(sdf, dal, web): Add ability to understand who has taken what action in a changeset
  app/web/src/api/sdf/dal/history_actor.ts
  app/web/src/components/ActionSprite.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/fixes.store.ts
  lib/dal/src/action.rs
  lib/dal/src/actor_view.rs
  lib/dal/src/change_set.rs
  lib/dal/src/diagram/node.rs
  lib/dal/src/fix/batch.rs
  lib/dal/src/migrations/U2402__actions_with_actor.sql
  lib/dal/src/migrations/U2403__fix_batch_with_actor.sql
  lib/dal/src/queries/change_set/get_actors.sql
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
  lib/sdf-server/src/server/service/fix/list.rs
  lib/sdf-server/src/server/service/fix/run.rs
Labels: A-sdf, A-dal, A-web

#2925 chore(sdf-server): Remove an old dbg that was in the apply_change_set event
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
Labels: A-sdf

#2927 feat(app): Add ability to link a user from the workspace to workspace management in auth portal
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
Labels: A-web

#2929 feat(sdf-server): Ensure that the user is authorized before allowing any interactions
  lib/dal/src/user.rs
  lib/dal/tests/integration_test/internal/user.rs
  lib/sdf-server/src/server/extract.rs
Labels: A-sdf, A-dal

#2930 feat(web,sdf,dal): share code-editor cursor
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/cursor.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/user.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
Labels: A-sdf, A-dal, A-web

#2931 Wendy/eng 2043 multiple users in a workspace
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/web/package.json
  app/web/src/App.vue
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/Popover.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/UserCard.vue
  app/web/src/components/layout/navbar/UserIcon.vue
  app/web/src/main.ts
  pnpm-lock.yaml
Labels: A-web

#2933 feat(web,dal): show users that are currently online
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/store/cursor.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/user.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
Labels: A-sdf, A-dal, A-web

#2936 Wendy - Diagram View Modes
  app/web/src/components/GenericDiagram/DiagramControls.vue
  app/web/src/components/GenericDiagram/DiagramEdge.vue
  app/web/src/components/GenericDiagram/DiagramNode.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
Labels: A-web

#2938 Collaborators and Mouse on Diagram
  app/web/src/components/CodeEditor.vue
  app/web/src/components/GenericDiagram/DiagramCursor.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/GenericDiagram/diagram_types.ts
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/UserCard.vue
  app/web/src/components/layout/navbar/UserIcon.vue
  app/web/src/store/auth.store.ts
  app/web/src/store/cursor.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/user.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-sdf, A-dal, A-web

#2937 feat(lang-js, dal, sdf-server): Add ability to set documentation for a prop
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/PropertyEditor/WidgetTextBox.vue
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/migrations/U2404__add_documentation_to_props.sql
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/prop_tree.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
  lib/dal/tests/integration_test/internal/attribute/prototype_argument.rs
  lib/dal/tests/integration_test/internal/attribute/value.rs
  lib/dal/tests/integration_test/internal/attribute/view.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/dal/tests/integration_test/internal/component/code.rs
  lib/dal/tests/integration_test/internal/component/qualification.rs
  lib/dal/tests/integration_test/internal/component/validation.rs
  lib/dal/tests/integration_test/internal/component/view.rs
  lib/dal/tests/integration_test/internal/component/view/complex_func.rs
  lib/dal/tests/integration_test/internal/component/view/properties.rs
  lib/dal/tests/integration_test/internal/prop.rs
  lib/dal/tests/integration_test/internal/property_editor.rs
  lib/dal/tests/integration_test/internal/provider/inter_component.rs
  lib/dal/tests/integration_test/internal/provider/intra_component.rs
  lib/dal/tests/integration_test/internal/validation_resolver.rs
  lib/sdf-server/src/server/service/ts_types/asset_builder.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-lang-js, A-dal, A-web, A-si-pkg

#2939 fix(dal): Seed the change_set_applied WsEvent Payload with the actor who performed it
  lib/dal/src/change_set.rs
  lib/dal/src/ws_event.rs
Labels: A-dal

#2942 feat(web) - multiplayer apply flow
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/Popover.vue
  app/web/src/components/layout/navbar/ChangeSetAppliedPopover.vue
  app/web/src/components/layout/navbar/ChangeSetApplyVotingPopover.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/components/layout/navbar/UserCard.vue
  app/web/src/components/layout/navbar/UserIcon.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/realtime/realtime.store.ts
Labels: A-web

#2944 chore(dal): Remove a extraneous dbg statement from prop tree
  lib/dal/src/prop_tree.rs
Labels: A-dal

#2945 feat: add basic rust file to spawn + ping micro-vm
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/Cargo.lock
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/Cargo.toml
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/src/main.rs
Labels: A-deadpool-cyclone

#2943 feat(web, sdf): sync code editor with yjs' crdt
  Cargo.lock
  Cargo.toml
  app/web/package.json
  app/web/src/components/AssetEditor.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/PropertyEditor/WidgetCodeEditor.vue
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/service/ws.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/crdt/y.rs
  lib/sdf-server/src/server/state.rs
  pnpm-lock.yaml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/getrandom/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2947 fix(web): Update terminology when updating an Asset
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#2949 feat(web): Wire up the ChangeSetApplied modal
  app/web/src/components/layout/navbar/ChangeSetAppliedPopover.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
  lib/dal/src/change_set.rs
Labels: A-dal, A-web

#2950 fix(web): Remove the fake collaborators from the navbar
  app/web/src/components/layout/navbar/Collaborators.vue
Labels: A-web

#2951 chore(web): Cleanup old feature flags for test panel and autoattach funcs
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#2952 feat(sdf): sync crdt across sdf instances with nats
  Cargo.lock
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/crdt/y.rs
  lib/sdf-server/tests/service_tests/crdt.rs
  lib/sdf-server/tests/service_tests/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2955 feat(Web): Change how Apply Changeset button works
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/store/presence.store.ts
Labels: A-web

#2957 feat(sdf, dal): Add ability to start a ChangeSet Approval Flow via WSEvents
  lib/dal/src/change_set.rs
  lib/dal/src/queries/change_set/begin_merge_flow.sql
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/begin_approval_process.rs
  lib/sdf-server/src/server/service/change_set/merge_vote.rs
Labels: A-sdf, A-dal

#2956 feat: add vsock support to cyclone-server
  Cargo.lock
  Cargo.toml
  bin/cyclone/BUCK
  bin/cyclone/Cargo.toml
  bin/cyclone/Dockerfile
  bin/cyclone/create-firecracker-root-fs.sh
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/lib.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/vsock.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2954 new attributes panel!
  app/auth-portal/package.json
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/package.json
  app/web/src/App.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/AttributeViewer.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/GenericDiagram/DiagramGroup.vue
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/PropertyEditor/PropertyWidget.vue
  app/web/src/components/PropertyEditor/UnsetButton.vue
  app/web/src/components/PropertyEditor/WidgetArray.vue
  app/web/src/components/PropertyEditor/WidgetCheckBox.vue
  app/web/src/components/PropertyEditor/WidgetCodeEditor.vue
  app/web/src/components/PropertyEditor/WidgetColorBox.vue
  app/web/src/components/PropertyEditor/WidgetComboBox.vue
  app/web/src/components/PropertyEditor/WidgetHeader.vue
  app/web/src/components/PropertyEditor/WidgetMap.vue
  app/web/src/components/PropertyEditor/WidgetSecret.vue
  app/web/src/components/PropertyEditor/WidgetSelectBox.vue
  app/web/src/components/PropertyEditor/WidgetTextBox.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/secrets.store.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/general/JsonTreeExplorer/JsonTreeExplorer.vue
  lib/vue-lib/src/design-system/general/JsonTreeExplorer/JsonTreeExplorerItem.vue
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
  pnpm-lock.yaml
Labels: A-web

#2961 feat(dal,si-pkg): Fix secret import to module index
  lib/dal/src/pkg/export.rs
  lib/si-pkg/src/pkg/variant.rs
Labels: A-dal, A-si-pkg

#2963 chore(web): Remove the references of the ChangeSetApplyVotingPopover
  app/web/src/components/layout/navbar/ChangeSetApplyVotingPopover.vue
  app/web/src/components/layout/navbar/Collaborators.vue
Labels: A-web

#2964 Revert "feat: add vsock support to cyclone-server"
  Cargo.lock
  Cargo.toml
  bin/cyclone/BUCK
  bin/cyclone/Cargo.toml
  bin/cyclone/Dockerfile
  bin/cyclone/create-firecracker-root-fs.sh
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/lib.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/vsock.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2960 codemirror cursor colors
  app/web/BUCK
  app/web/package.json
  app/web/src/components/CodeEditor.vue
  lib/yjs-codemirror-plugin/.gitignore
  lib/yjs-codemirror-plugin/BUCK
  lib/yjs-codemirror-plugin/README.md
  lib/yjs-codemirror-plugin/demo/codemirror.js
  lib/yjs-codemirror-plugin/demo/index.html
  lib/yjs-codemirror-plugin/dist/src/index.d.ts
  lib/yjs-codemirror-plugin/dist/src/y-range.d.ts
  lib/yjs-codemirror-plugin/dist/src/y-remote-selections.d.ts
  lib/yjs-codemirror-plugin/dist/src/y-sync.d.ts
  lib/yjs-codemirror-plugin/dist/src/y-undomanager.d.ts
  lib/yjs-codemirror-plugin/dist/y-codemirror.cjs
  lib/yjs-codemirror-plugin/dist/y-codemirror.cjs.map
  lib/yjs-codemirror-plugin/package.json
  lib/yjs-codemirror-plugin/rollup.config.js
  lib/yjs-codemirror-plugin/src/index.js
  lib/yjs-codemirror-plugin/src/y-range.js
  lib/yjs-codemirror-plugin/src/y-remote-selections.js
  lib/yjs-codemirror-plugin/src/y-sync.js
  lib/yjs-codemirror-plugin/src/y-undomanager.js
  lib/yjs-codemirror-plugin/test.html
  lib/yjs-codemirror-plugin/test/index.js
  lib/yjs-codemirror-plugin/test/test.node.cjs
  lib/yjs-codemirror-plugin/test/y-codemirror.test.js
  lib/yjs-codemirror-plugin/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: A-web

#2967 feat(web, sdf, dal): Add an approval flow for Import of workspaces
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/store/module.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/pkg.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/approval_process.rs
  lib/sdf-server/src/server/service/pkg/import_workspace_vote.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-dal, A-web

#2968 Fix(web, dal,sdf): auth func binding
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func/create_func.rs
Labels: A-sdf, A-web

#2971 feat(web,sdf): test functions that use auth
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func/execute.rs
  lib/sdf-server/tests/service_tests/functions.rs
Labels: A-sdf, A-web

#2974 Add support for Secrets Snippets and TypeHints
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/utils/typescriptLinterSnippets.ts
  bin/lang-js/src/asset_builder.ts
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
Labels: A-sdf, A-lang-js, A-web

#2969 [wip] firecracker spawn variant
  Cargo.lock
  Cargo.toml
  bin/cyclone/Dockerfile
  bin/cyclone/create-firecracker-root-fs.sh
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  lib/cyclone-client/src/client.rs
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/lib.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/vsock.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-resolver-function-pool/main.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/sdf-server/tests/service_tests/functions.rs
  lib/veritech-server/src/server.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2977 fix(web): Change the import workspace approval modal message
  app/web/src/components/WorkspaceImportModal.vue
Labels: A-web

#2979 feat(web) various small ui fixes from journey map
  app/web/src/components/ActionWidget.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/FixDetails.vue
  app/web/src/components/GenericDiagram/DiagramControls.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/component_attributes.store.ts
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/design-system/icons/custom-icons/tilde-hex-outline.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/utils/color_utils.ts
Labels: A-web

#2981 fix(web): Fix the diagram outline to ensure we can see resource icons
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
Labels: A-web

#2980 Make crdt tests stable
  lib/sdf-server/BUCK
  lib/sdf-server/src/server/service/ws.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/tests/service_tests/crdt.rs
Labels: A-sdf

#2982 Fix(dal): Make secrets work on workspace import
  lib/dal/src/pkg/import.rs
Labels: A-dal

#2983 feat: move jailer configuration to machine setup time
  component/firecracker-base/orchestrate-install.sh
  component/firecracker-base/prepare_jailer.sh
  component/firecracker-base/start.sh
  component/firecracker-base/stop.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-deadpool-cyclone

#2985 Avoid re-propagating siblings when a new children is connected to a frame
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/tests/service_tests/crdt.rs
Labels: A-sdf

#2987 Enable parallelism in dependent values update
  lib/council-server/src/server.rs
  lib/council-server/src/server/graph.rs
Labels: A-council

#2988 feat/add cyclone rootfs target
  bin/cyclone/BUCK
  bin/cyclone/create-firecracker-root-fs.sh
  prelude-si/git/git_info.py
  prelude-si/macros.bzl
  prelude-si/macros/rootfs.bzl
  prelude-si/rootfs.bzl
  prelude-si/rootfs/BUCK
  prelude-si/rootfs/rootfs_build.sh
  prelude-si/rootfs/rootfs_promote.sh
  prelude-si/rootfs/toolchain.bzl
  toolchains/BUCK
Labels: A-cyclone

#2992 paul/fix-auto-reattach-funcs
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
Labels: A-web

#2995 paul/ensure-sdf-allows-reattachment
  app/web/src/store/asset.store.ts
Labels: A-web

#2996 fix(web): Explicitly tell SDF that autoreattachment of funcs is allowed
  app/web/src/store/asset.store.ts
Labels: A-web
