Repository systeminit/si, pull requests merged in 2023-10, with the labels that each got.

#2815 test (sdf) function execution for new endpoint /execute
  lib/sdf-server/tests/service_tests/functions.rs
  lib/sdf-server/tests/service_tests/mod.rs
Labels: A-sdf

#2822 feat(web,sdf-server,module-index): Add ability to promote a module to be a builtin
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/store/module.store.ts
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/src/routes.rs
  lib/module-index-server/src/routes/promote_builtin_route.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/builtin_module_spec.rs
Labels: A-sdf, A-web

#2823 Wendy/eng 1950 bug fixes and UI improvements on the canvas based on user
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/GenericDiagram/DiagramEdge.vue
  app/web/src/components/GenericDiagram/DiagramHelpModal.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/MultiSelectDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#2821 feat(editor): adding more snippets for common tasks
  app/web/src/utils/typescriptLinterSnippets.ts
Labels: A-web

#2824 (cleanup) fix issues related to formatting
  lib/sdf-server/tests/service_tests/functions.rs
  lib/sdf-server/tests/service_tests/mod.rs
Labels: A-sdf

#2825 feat(web,dal,sdf,lang-js): Integrate secret widget into PropertyEditor
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/PropertyEditor/PropertyWidget.vue
  app/web/src/components/PropertyEditor/WidgetSecret.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/secrets.store.ts
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/queries/secrets/list_secret_definitions.sql
  lib/dal/src/secret.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-lang-js, A-dal, A-web

#2826 chore(web): remove apply change set button from customize page
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeFunctions.vue
  app/web/src/components/Workspace/WorkspaceCustomizePackages.vue
  app/web/src/components/Workspace/WorkspaceCustomizeSecrets.vue
Labels: A-web

#2827 feat(editor): open tooltip on hotkey ctrl+m
  app/web/src/components/CodeEditor.vue
  app/web/src/utils/typescriptLinter.ts
Labels: A-web

#2829 feat(dal,si-pkg): components in workspace backups, improve dbg view
  app/web/src/components/AttributeDebugView.vue
  app/web/src/components/ComponentDebugModal.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/view.rs
  lib/dal/src/component/view/debug.rs
  lib/dal/src/func.rs
  lib/dal/src/func/execution.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/debug.rs
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/node/attribute_value.rs
  lib/si-pkg/src/node/attribute_value_child.rs
  lib/si-pkg/src/node/change_set.rs
  lib/si-pkg/src/node/change_set_child.rs
  lib/si-pkg/src/node/component.rs
  lib/si-pkg/src/node/component_child.rs
  lib/si-pkg/src/node/func.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/node/position.rs
  lib/si-pkg/src/pkg/func.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/attribute_value.rs
  lib/si-pkg/src/spec/change_set.rs
  lib/si-pkg/src/spec/component.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/position.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#2830 feat(sdf-server,web): add attr type to debug view
  app/web/src/components/AttributeDebugView.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/component/debug.rs
Labels: A-sdf, A-web

#2831 fix(si-posthog-rs): Fix typo in Cargo.toml
  lib/si-posthog-rs/Cargo.toml
Labels: A-si-posthog-rs

#2832 fix(sdf-server): add missing content-type headers
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
Labels: A-sdf

#2833 feat: add migration of built-in functions from module index
  lib/dal-test/src/lib.rs
  lib/dal/src/builtins.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg/import.rs
  lib/module-index-client/src/client.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-dal, A-dal-test

#2835 feat(web,dal,sdf): encrypt, store & fetch secrets in the database
  app/web/package.json
  app/web/src/api/sdf/dal/key_pair.ts
  app/web/src/api/sdf/dal/secret.ts
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/Workspace/WorkspaceCustomizeSecrets.vue
  app/web/src/store/secrets.store.ts
  app/web/src/utils/messageEncryption.ts
  lib/dal-test/src/test_harness.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U0054__secrets.sql
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/internal/secret.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
  lib/sdf-server/src/server/service/secret/list_secrets.rs
  pnpm-lock.yaml
Labels: A-sdf, A-dal, A-web, A-dal-test

#2840 feat(web): Allow rejection of builtins
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/components/modules/ModuleListItem.vue
  app/web/src/store/module.store.ts
Labels: A-web

#2839 fix(sdf): builtins on transactions, skip dependent values update for builtins
  lib/dal/src/attribute/value.rs
  lib/dal/src/context.rs
  lib/dal/src/pkg/import.rs
  lib/sdf-server/src/server/server.rs
Labels: A-sdf, A-dal

#2842 chore(dal): hardcode resource status prop type
  lib/dal/src/prop.rs
  lib/sdf-server/src/server/service/func.rs
Labels: A-sdf, A-dal

#2841 feat: change interfaces to types for quickinfo
  lib/sdf-server/src/server/service/func.rs
Labels: A-sdf

#2844 fix(sdf-server): install builtins serially
  lib/sdf-server/src/server/server.rs
Labels: A-sdf

#2845 Wendy/eng 1952 mock of the test a function panel
  app/web/src/components/CodeViewer.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ComponentOutline/StatusIconWithPopover.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func/binding.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/json.rs
  lib/sdf-server/src/server/service/func/execute.rs
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-sdf, A-dal, A-web

#2846 feat(dal,si-pkg): Import components from workspace backups
  app/web/src/components/AttributeDebugView.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/context.rs
  lib/dal/src/component/view/debug.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/provider/external.rs
  lib/dal/src/provider/internal.rs
  lib/dal/src/queries/find_schema_variant_for_schema_and_name.sql
  lib/dal/src/schema.rs
  lib/module-index-server/src/s3.rs
  lib/sdf-server/src/server/service/component/debug.rs
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/node/attribute_value.rs
  lib/si-pkg/src/node/component.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/pkg/attr_func_input.rs
  lib/si-pkg/src/pkg/attribute_value.rs
  lib/si-pkg/src/pkg/change_set.rs
  lib/si-pkg/src/pkg/component.rs
  lib/si-pkg/src/pkg/position.rs
  lib/si-pkg/src/spec/attribute_value.rs
  lib/si-pkg/src/spec/component.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#2843 fix(dal): unsetting belongs to in wrong visibility
  lib/dal/src/migrations/U0004__standard_model.sql
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
Labels: A-dal

#2847 Revert "fix(dal): unsetting belongs to in wrong visibility"
  lib/dal/src/migrations/U0004__standard_model.sql
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
Labels: A-dal

#2848 feat(dal): properly delete components that are deleted in backups
  lib/dal/src/component.rs
  lib/dal/src/diagram/node.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#2849 fix(web): Fix the reject an existing builtin button
  app/web/src/components/modules/ModuleDisplay.vue
Labels: A-web

#2851 feat(dal,si-pkg): Include edges between components in workspace backups
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/connection.rs
  lib/dal/src/edge.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/si-pkg/src/node/change_set.rs
  lib/si-pkg/src/node/change_set_child.rs
  lib/si-pkg/src/node/edge.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/pkg/change_set.rs
  lib/si-pkg/src/pkg/edge.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/change_set.rs
  lib/si-pkg/src/spec/edge.rs
Labels: A-dal, A-si-pkg

#2852 feat(dal): unset associations now clone to change-set
  lib/dal/src/migrations/U0004__standard_model.sql
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
Labels: A-dal

#2854 feat(dal,sdf-server): Gracefully import components from outdated builtins
  app/web/src/components/WorkspaceExportModal.vue
  app/web/src/components/WorkspaceImportModal.vue
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-dal, A-web

#2853 (feat) (lang-js) add fetch to commandRunSandbox
  bin/lang-js/src/sandbox.ts
Labels: A-lang-js

#2855 feature: watch in siExec
  bin/lang-js/src/sandbox/exec.ts
  bin/lang-js/tests/exec.spec.ts
Labels: A-lang-js

#2856 fix: missing watch def from SDF
  lib/sdf-server/src/server/service/func.rs
Labels: A-sdf

#2857 fix(web): slightly rework workpace export modal logic
  app/web/src/components/WorkspaceExportModal.vue
Labels: A-web

#2858 fix(dal): Fix issues with components for deleted assets
  lib/dal/src/pkg/export.rs
Labels: A-dal

#2859 feat(web,sdf): show warnings about detached prototypes
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-dal, A-web

#2861 feat: (lang-js) add Buffer to common sandbox
  bin/lang-js/src/sandbox.ts
Labels: A-lang-js

#2862 feat(web) - final edits to FuncTest for Attribute Functions
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  bin/lang-js/src/action_run.ts
  bin/lang-js/src/resolver_function.ts
Labels: A-lang-js, A-web

#2866 fix(sdf): reattach prototypes properly on schema update
  lib/sdf-server/src/server/service/variant_definition.rs
Labels: A-sdf

#2869 fix(dal,si-pkg): Fix frame resizing on workspace imports
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/si-pkg/src/node/position.rs
  lib/si-pkg/src/pkg/position.rs
  lib/si-pkg/src/spec/position.rs
Labels: A-dal, A-si-pkg

#2870 Fix object-tree build error with Cargo (ENG-2011)
  Cargo.lock
  lib/object-tree/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2871 feat(web): implement codegen and qualification tests
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
Labels: A-web

#2872 build(buck2): create a prettier_check rule for use in lang-js
  .editorconfig
  bin/lang-js/BUCK
  bin/lang-js/README.md
  bin/lang-js/bin-placeholder.js
  bin/lang-js/examples/commandRunFailCode.js
  bin/lang-js/src/action_run.ts
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/base64.ts
  bin/lang-js/src/index.ts
  bin/lang-js/src/reconciliation.ts
  bin/lang-js/src/resolver_function.ts
  bin/lang-js/src/sandbox.ts
  bin/lang-js/src/sandbox/exec.ts
  bin/lang-js/src/schema_variant_definition.ts
  bin/lang-js/tests/exec.spec.ts
  prelude-si/macros.bzl
  prelude-si/macros/pnpm.bzl
  prelude-si/pnpm.bzl
  prelude-si/pnpm/package_build_context.py
  prelude-si/pnpm/toolchain.bzl
  toolchains/BUCK
Labels: A-lang-js

#2873 feat(web): test validation functions
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#2868 fix weird Stack rendering issue
  app/web/src/components/WorkspaceExportModal.vue
  lib/vue-lib/src/design-system/layout/Stack.vue
  lib/vue-lib/src/utils/vue_utils.ts
Labels: A-web

#2874 fix(dal,si-pkg): export and import resource properly in backup
  app/web/src/components/AttributeDebugView.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component/view/debug.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/sdf-server/src/server/service/component/debug.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/si-pkg/src/node/attribute_value.rs
  lib/si-pkg/src/pkg/attribute_value.rs
  lib/si-pkg/src/spec/attribute_value.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#2875 feat(web): implement action tests
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
Labels: A-web

#2876 feat(web,dal,sdf): Display warning on skipped import items
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/store/module.store.ts
  lib/dal/src/pkg/import.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-dal, A-web

#2880 feat(web,sdf-server): Remove the need to set handler on functions and assets
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/utils/typescriptLinter.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/defaults/action.ts
  lib/sdf-server/src/server/service/func/defaults/attribute.ts
  lib/sdf-server/src/server/service/func/defaults/code_generation.ts
  lib/sdf-server/src/server/service/func/defaults/qualification.ts
  lib/sdf-server/src/server/service/func/defaults/validation.ts
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/create_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/sdf-server/tests/service_tests/functions.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/sdf-server/tests/service_tests/scenario/authoring_flow_asset.rs
Labels: A-sdf, A-web

#2881 feat(dal,sdf,web): WsEvent for workspace backup import
  app/web/src/store/module.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/pkg.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-dal, A-web

#2882 feat(si-cli): Add support for custom AWS ENDPOINT URLs
  lib/si-cli/src/cmd/configure.rs
  lib/si-cli/src/key_management.rs
Labels: A-si

#2884 feat: (lang-js) Added zlib to the standard sandbox.
  bin/lang-js/src/sandbox.ts
  lib/sdf-server/src/server/service/func.rs
Labels: A-sdf, A-lang-js

#2885 Wendy/eng 1996 last codeeditor polish items
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/CodeViewer.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncEditorTabs.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#2887 feat(web,vue-lib) alternate minimal tab style
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  lib/dal/src/component/diff.rs
  lib/vue-lib/src/design-system/layout/Inline.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-dal, A-web

#2888 build(buck2): create a `jest` rule for use in lang-js' test-unit target
  bin/lang-js/BUCK
  prelude-si/macros.bzl
  prelude-si/macros/pnpm.bzl
  prelude-si/pnpm.bzl
Labels: A-lang-js

#2886 feat(sdf,dal,cyclone): handle js crashes except for attributes
  lib/cyclone-core/src/schema_variant_definition.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/backend/js_schema_variant_definition.rs
  lib/dal/src/func/backend/js_validation.rs
  lib/dal/tests/integration_test/internal/func/schema_variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-cyclone, A-dal

#2890 chore(sdf): amend assertion in nightly integration test
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
Labels: A-sdf

#2889 feat(web,dal,langjs): inform user when qual/code-gen fails
  app/web/src/api/sdf/dal/code_view.ts
  app/web/src/components/ComponentDetails.vue
  bin/lang-js/src/resolver_function.ts
  lib/cyclone-core/src/resolver_function.rs
  lib/dal/src/code_view.rs
  lib/dal/src/component/code.rs
  lib/dal/src/component/diff.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/schema/variant/root_prop.rs
Labels: A-cyclone, A-lang-js, A-dal, A-web

#2894 fix(dal): Rethink component import to be more reliable
  lib/dal/src/pkg/import.rs
Labels: A-dal

#2891 feat(web): store history state in localstorage
  app/web/src/components/AssetEditor.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
Labels: A-web

#2895 feat(web,dal,sdf): add code editor widget
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/CodeEditor.vue
  app/web/src/components/PropertyEditor/PropertyWidget.vue
  app/web/src/components/PropertyEditor/WidgetCodeEditor.vue
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/property_editor/schema.rs
  lib/sdf-server/src/server/service/ts_types/asset_builder.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
  lib/si-pkg/src/spec/prop.rs
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-sdf, A-lang-js, A-dal, A-web, A-si-pkg

#2897 feat(dal,si-pkg,sdf): Export/import functions on direct children of root
  lib/dal/src/func/argument.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/node/root_prop_func.rs
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/node/schema_variant_child.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/pkg/root_prop_func.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/root_prop_func.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-si-pkg

#2893 Victor/eng 2017 make lang js able to run function batches befores main
  .editorconfig
  bin/lang-js/.eslintrc.cjs
  bin/lang-js/.eslintrc.js
  bin/lang-js/BUCK
  bin/lang-js/package.json
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/base64.ts
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/action_run.ts
  bin/lang-js/src/function_kinds/before.ts
  bin/lang-js/src/function_kinds/reconciliation.ts
  bin/lang-js/src/function_kinds/resolver_function.ts
  bin/lang-js/src/function_kinds/schema_variant_definition.ts
  bin/lang-js/src/function_kinds/validation.ts
  bin/lang-js/src/index.ts
  bin/lang-js/src/request.ts
  bin/lang-js/src/sandbox.ts
  bin/lang-js/src/sandbox/exec.ts
  bin/lang-js/src/sandbox/requestStorage.ts
  bin/lang-js/src/vm.ts
  bin/lang-js/tests/executeFunction.spec.ts
  bin/lang-js/tests/functions/actionRun.ts
  bin/lang-js/tests/functions/beforeFuncs.ts
  bin/lang-js/tests/functions/validation.ts
  bin/lang-js/tests/requestStorage.spec.ts
  bin/lang-js/tests/vm.spec.ts
  bin/lang-js/tsconfig.json
  lib/cyclone-client/src/client.rs
  lib/eslint-config/.eslintrc.base.js
  lib/eslint-config/package.json
  pnpm-lock.yaml
Labels: A-cyclone, A-lang-js

#2898 feat(web) - secret management panel
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/PropertyEditor/WidgetSecret.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/SecretsPopover.vue
  app/web/src/components/Workspace/WorkspaceCustomizeSecrets.vue
  app/web/src/router.ts
  app/web/src/store/secrets.store.ts
Labels: A-web

#2899 feat(web): implement multiple users per workspace
  app/web/src/components/WorkspaceInviteUserModal.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/pages/HomePage.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/apis.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/migrations/U2400__user_invited_to_workspace.sql
  lib/dal/src/queries/user/get_by_email_raw.sql
  lib/dal/src/queries/workspace/list_for_user.sql
  lib/dal/src/user.rs
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/extract.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/load_workspaces.rs
  lib/sdf-server/src/server/service/workspace.rs
  lib/sdf-server/src/server/service/workspace/invite.rs
  lib/sdf-server/tests/service_tests/session.rs
Labels: A-sdf, A-dal, A-web

#2901 Revert "feat(web): implement multiple users per workspace"
  app/web/src/components/WorkspaceInviteUserModal.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/pages/HomePage.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/apis.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/migrations/U2400__user_invited_to_workspace.sql
  lib/dal/src/queries/user/get_by_email_raw.sql
  lib/dal/src/queries/workspace/list_for_user.sql
  lib/dal/src/user.rs
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/extract.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/load_workspace.rs
  lib/sdf-server/src/server/service/workspace.rs
  lib/sdf-server/src/server/service/workspace/invite.rs
  lib/sdf-server/tests/service_tests/session.rs
Labels: A-sdf, A-dal, A-web

#2902 feat(web): implement multiple users per workspace
  app/web/src/components/WorkspaceInviteUserModal.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/pages/HomePage.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/apis.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/migrations/U2400__user_invited_to_workspace.sql
  lib/dal/src/queries/user/get_by_email_raw.sql
  lib/dal/src/queries/workspace/list_for_user.sql
  lib/dal/src/user.rs
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/extract.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/load_workspaces.rs
  lib/sdf-server/src/server/service/workspace.rs
  lib/sdf-server/src/server/service/workspace/invite.rs
  lib/sdf-server/tests/service_tests/session.rs
Labels: A-sdf, A-dal, A-web

#2903 fix: bump docker-api crate to git ref
  BUCK
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2905 fix(dal): only create payload apa if missing
  lib/dal/src/pkg/import.rs
Labels: A-dal

#2892 fixed a typo in README.md
  CONTRIBUTORS.md
  README.md
Labels: community

#2912 chore(web,sdf): remove user invites
  app/web/src/components/WorkspaceInviteUserModal.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/migrations/U2401__remove_user_invited_to_workspace.sql
  lib/dal/src/user.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/workspace.rs
  lib/sdf-server/src/server/service/workspace/invite.rs
Labels: A-sdf, A-dal, A-web

#2913 Add ability to allow multiple users in a workspace
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/store/workspaces.store.ts
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/pages/HomePage.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/apis.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/workspaces.store.ts
  bin/auth-api/prisma/migrations/20231027191159_workspace_member_role_name/migration.sql
  bin/auth-api/prisma/schema.prisma
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
  lib/dal/src/user.rs
  lib/sdf-server/src/server/extract.rs
Labels: A-sdf, A-dal, A-web

#2915 feat: asset panel search bar
  app/web/src/components/AssetPalette.vue
Labels: A-web

#2914 Wendy/eng 2029 ability to edit secrets
  app/web/src/App.vue
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/SecretsPanelTitle.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/secrets.store.ts
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/internal/secret.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
  lib/vue-lib/src/design-system/general/Collapsible.vue
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/tailwind/tailwind.config.cjs
Labels: A-sdf, A-dal, A-web

#2919 fix: asset search not filtering assets from matched groups
  app/web/src/components/AssetPalette.vue
Labels: A-web

#2916 feat(web,dal,sdf): stream cursor and show on screen
  app/web/src/components/GenericDiagram/DiagramCursor.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/GenericDiagram/diagram_types.ts
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/user.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-sdf, A-dal, A-web

#2920 feat(sdf-server, auth-portal, web): adding a page that we can send a post request to that forces auth cleanup
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/pages/auth/RefreshAuthPage.vue
  app/web/src/router.ts
  app/web/src/store/auth.store.ts
  lib/dal/src/queries/user/list_members_for_workspace.sql
  lib/dal/src/user.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/auth_connect.rs
  lib/sdf-server/src/server/service/session/refresh_workspace_members.rs
Labels: A-sdf, A-dal, A-web

#2900 feat: deadpool docker implementation
  Cargo.lock
  Cargo.toml
  bin/cyclone/BUCK
  bin/cyclone/Dockerfile
  bin/cyclone/docker-entrypoint.sh
  lib/deadpool-cyclone/BUCK
  lib/deadpool-cyclone/Cargo.toml
  lib/deadpool-cyclone/src/instance/cyclone.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/veritech-server/src/config.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2922 bug (app): removed repeat line for testlogs
  app/web/src/components/FuncEditor/FuncTest.vue
Labels: A-web
