Repository systeminit/si, pull requests merged in 2023-09, with the labels that each got.

#2722 fix(si): Infer the container engine based on args being passed
  bin/si/src/args.rs
  bin/si/src/main.rs
Labels: A-si

#2726 feat(web,sdf): New SDF Secrets endpoints
  Cargo.lock
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/SecretsList.vue
  app/web/src/components/Workspace/WorkspaceCustomizeSecrets.vue
  app/web/src/store/secrets.store.ts
  lib/dal/src/context.rs
  lib/dal/src/diagram/node.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/tests/service_tests/secret.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2724 build: fix typescript rule docstring
  prelude-si/pnpm.bzl
Labels: community

#2723 feat(si): Recreate SDF or Web containers when port mappings change
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/engine.rs
Labels: A-si

#2727 chore(ci): Add ability to kick a module index deployment
  .github/workflows/deploy-module-index.yml
Labels: A-ci

#2731 Replace conventional commits recommendation
  CONTRIBUTING.md
  docs/PREPARING_YOUR_CHANGES.md
Labels: A-docs

#2734 fix(*): pin rust to 1.71.0 until compile time regression fixed
  rust-toolchain
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2725 chore(web,sdf,dal): add action to change-set
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/ActionSprite.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ChangeSetPanel.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/FixProgressOverlay.vue
  app/web/src/components/RecommendationProgressOverlay.vue
  app/web/src/components/RecommendationSprite.vue
  app/web/src/components/StatusBar.vue
  app/web/src/components/StatusBarTabs/Confirmations/ConfirmationViewerMultiple.vue
  app/web/src/components/StatusBarTabs/Confirmations/ConfirmationViewerSingle.vue
  app/web/src/components/StatusBarTabs/Confirmations/ConfirmationsPanel.vue
  app/web/src/components/StatusBarTabs/Confirmations/ConfirmationsResourceList.vue
  app/web/src/components/StatusBarTabs/Confirmations/ConfirmationsTab.vue
  app/web/src/components/StatusBarTabs/Fixes/FixHistoryPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/status.store.ts
  bin/lang-js/src/resolver_function.ts
  lib/dal/src/action.rs
  lib/dal/src/action_prototype.rs
  lib/dal/src/change_set.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/node.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/fix.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U2302__actions.sql
  lib/dal/src/queries/action/find_for_change_set.sql
  lib/dal/src/queries/change_set/open_list.sql
  lib/dal/src/visibility.rs
  lib/dal/tests/integration_test/internal/change_set.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
  lib/sdf-server/src/server/service/change_set/remove_action.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/tests/service_tests/change_set.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-lang-js, A-dal, A-web

#2740 feat(web) - secret widget exists!
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/PropertyEditor/PropertyWidget.vue
  app/web/src/components/PropertyEditor/WidgetSecret.vue
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/component/view.rs
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
Labels: A-sdf, A-lang-js, A-dal, A-web

#2739 feat(dal,sdf-server,web): Add ability to display the func display names as part of the ActionSprite
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/ActionSprite.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  lib/dal/src/action_prototype.rs
  lib/dal/src/diagram/node.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
Labels: A-sdf, A-dal, A-web

#2743 chore(web): rewrite diagram outline popover texts
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
Labels: A-web

#2738 chore(ci): Update the github action labeller to use v4
  .github/workflows/labeler.yml
Labels: A-ci

#2744 chore(sdf): track action usage
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf

#2747 fix(dal): special case si:resourcePayloadToValue
  lib/dal/examples/dal-pkg-export/main.rs
  lib/dal/examples/dal-pkg-import/BUCK
  lib/dal/examples/dal-pkg-import/main.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/workspace.rs
Labels: A-dal

#2748 fix(dal,si-pkg): stabilize func unique ids for modules, requires change set pk for export tool
  lib/dal/examples/dal-pkg-export/main.rs
  lib/dal/src/pkg/export.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/func.rs
Labels: A-dal, A-si-pkg

#2751 fix(web) auth reconnect bug
  app/web/src/App.vue
Labels: A-web

#2752 fix(web) further fix to login flow
  app/auth-portal/src/App.vue
  app/web/src/App.vue
  app/web/src/store/auth.store.ts
Labels: A-web

#2749 feat(web) cleaning up actions ui and store
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/ActionSprite.vue
  app/web/src/components/ActionWidget.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ComponentOutline/ComponentActionsFlyover.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ComponentOutline/ComponentQualificationsFlyover.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/qualifications.store.ts
  lib/dal/src/action_prototype.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/design-system/general/VButton.vue
  lib/vue-lib/src/design-system/icons/custom-icons/empty-square.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-minus.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-plus.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-question.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-refresh.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/index.ts
Labels: A-sdf, A-dal, A-web

#2753 fix(web) fix labels on actions in right hand panel
  app/web/src/components/ActionSprite.vue
Labels: A-web

#2754 chore(web) update import/export terminology
  app/web/src/components/WorkspaceExportModal.vue
  app/web/src/components/WorkspaceImportModal.vue
Labels: A-web

#2756 feat(web): Introduce changes to the Diagram to help understand status
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/GenericDiagram/DiagramNode.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/icons/custom-icons/comp-changes-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/comp-changes-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-failed-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-failed-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-passed-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-passed-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-comp-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-failed-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-failed-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-passed-large.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-passed-small.svg
  lib/vue-lib/src/design-system/icons/custom-icons/hex-resource-small.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/utils/color_utils.ts
Labels: A-web

#2758 chore(web,dal): change action prototype kind setter UX
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/action_prototype.rs
  lib/dal/src/diagram/node.rs
  lib/sdf-server/src/server/service/func/save_func.rs
Labels: A-sdf, A-dal, A-web

#2759 fix(sdf): visibility on delete
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf

#2760 fix(web): not found race opening func
  app/web/src/components/AssetEditorTabs.vue
Labels: A-web

#2750 feat(module-index-server): Allow rejecting modules
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/store/module.store.ts
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/src/migrations/U0003__modules_rejected.sql
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/routes.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/reject_pkg.rs
Labels: A-sdf, A-web

#2761 feat(object-tree,si-pkg): Support optional nodes in object tree
  lib/object-tree/src/graph.rs
  lib/object-tree/src/tar/read.rs
  lib/si-pkg/src/node/action_func.rs
  lib/si-pkg/src/node/attr_func_input.rs
  lib/si-pkg/src/node/category.rs
  lib/si-pkg/src/node/change_set.rs
  lib/si-pkg/src/node/change_set_child.rs
  lib/si-pkg/src/node/func.rs
  lib/si-pkg/src/node/func_argument.rs
  lib/si-pkg/src/node/leaf_function.rs
  lib/si-pkg/src/node/map_key_func.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/node/package.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/node/prop_child.rs
  lib/si-pkg/src/node/schema.rs
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/node/schema_variant_child.rs
  lib/si-pkg/src/node/si_prop_func.rs
  lib/si-pkg/src/node/socket.rs
  lib/si-pkg/src/node/validation.rs
Labels: A-object-tree, A-si-pkg

#2762 chore(web): hide action kind on attach
  app/web/src/components/AssetFuncAttachModal.vue
Labels: A-web

#2767 Add Scott/Keeb/John to SI_STAFF
  .github/workflows/community-check.yml
  CONTRIBUTORS.md
Labels: A-ci, community

#2769 chore(web,sdf): auto create change-set on customize
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/revert_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/create_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-web

#2770 chore(web): amended placeholders for asset creation
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#2771 fix: handle special case functions that should be intrinsics
  lib/dal/src/pkg/import.rs
Labels: A-dal

#2768 feat: add migration for si-aws-ecs package
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  pkgs/si-aws-ecs-2023-09-21.sipkg
Labels: A-dal

#2774 Revert "chore(web,sdf): auto create change-set on customize"
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/revert_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/create_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-web

#2776 chore(web,sdf): auto create change-set on customize
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/revert_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/create_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-web

#2777 feat(pkgs): Update the EC2 Packages to now include the new READ-ONLY Subnet and Vpc assets
  lib/dal/src/builtins.rs
  pkgs/si-aws-ec2-2023-09-22.sipkg
Labels: A-dal

#2778 chore(web,auth) update axios version
  app/auth-portal/package.json
  app/web/package.json
  app/web/src/store/apis.ts
  bin/auth-api/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web

#2779 feat(web): autoformat code on blur
  app/web/package.json
  app/web/src/components/CodeEditor.vue
  pnpm-lock.yaml
Labels: A-web

#2784 feat(module-index,sdf,web): support workspace backups in module-index
  app/web/src/components/WorkspaceExportModal.vue
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/store/module.store.ts
  app/web/src/store/workspaces.store.ts
  lib/module-index-server/src/migrations/U0004__modules_kind.sql
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
Labels: A-web

#2785 fix(web): Catch axios errors in CachedAppNotification
  app/web/src/components/CachedAppNotification.vue
Labels: A-web

#2786 Wendy/eng 1924 finish the design of the secret widget
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/ComponentOutline/ComponentActionsFlyover.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ComponentOutline/ComponentQualificationsFlyover.vue
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/PropertyEditor/PropertyWidget.vue
  app/web/src/components/PropertyEditor/WidgetSecret.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsList.vue
  app/web/src/store/secrets.store.ts
Labels: A-web

#2788 fix(web) - Diagram Outline loader padding issue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/SidebarSubpanelTitle.vue
Labels: A-web

#2789 chore(langjs): send more logs to the frontend
  bin/lang-js/src/action_run.ts
  bin/lang-js/src/resolver_function.ts
  bin/lang-js/src/sandbox/exec.ts
  lib/cyclone-client/src/client.rs
Labels: A-cyclone, A-lang-js

#2790 feat: add support for basic snippets in autocomplete
  app/web/src/utils/typescriptLinter.ts
  app/web/src/utils/typescriptLinterSnippets.ts
Labels: A-web

#2793 feat(module-index,web): filter workspace backups by user pk
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/module.store.ts
  bin/module-index/Dockerfile
  bin/module-index/src/args.rs
  lib/module-index-server/src/app_state.rs
  lib/module-index-server/src/config.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/module-index-server/src/server.rs
Labels: A-web, A-module-index

#2796 feat(dal,sdf,web): Workspace Backup of schema variants and functions
  lib/dal/examples/dal-pkg-import/main.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/builtins/schema/test_exclusive_fallout.rs
  lib/dal/src/builtins/schema/test_exclusive_starfield.rs
  lib/dal/src/func.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/migrations/U2310__clear_workspace.sql
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/ui_menu.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/validation/prototype.rs
  lib/dal/src/validation/prototype/context.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/internal/pkg.rs
  lib/object-tree/src/graph.rs
  lib/object-tree/src/lib.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/export_workspace.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/node/action_func.rs
  lib/si-pkg/src/node/package.rs
  lib/si-pkg/src/node/schema.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/pkg/action_func.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/schema.rs
  lib/si-pkg/src/pkg/validation.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/action_func.rs
  lib/si-pkg/src/spec/schema.rs
  lib/si-pkg/src/spec/validation.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-object-tree, A-si-pkg

#2795 feat(pkg): Adding the beginnings of a cloudwatch logs package
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  pkgs/si-aws-cloudwatch-2023-09-26.sipkg
Labels: A-dal

#2797 fix(web): Order socket names on a component by name
  app/web/src/components/GenericDiagram/DiagramNode.vue
Labels: A-web

#2800 feat(web,sdf-server): Add ability to delete orphaned functions
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/delete_func.rs
Labels: A-sdf, A-web

#2801 feat(sdf): Make module-index API url configurable
  bin/sdf/src/args.rs
  lib/sdf-server/src/server/config.rs
Labels: A-sdf

#2804 feat(dal,web): Remove func name uniqueness, graceful builtin backups
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/components/modules/ModuleExportModal.vue
  lib/dal/src/migrations/U2311__drop_unique_func_name_live.sql
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/diagram/list_schema_variants.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
Labels: A-sdf, A-dal, A-web

#2803 fix(si): Change SI container restart policy
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
Labels: A-si

#2806 fix(sdf): add json content-type to create_node response
  lib/sdf-server/src/server/service/diagram/create_node.rs
Labels: A-sdf

#2807 feat(sdf,dal): api to test functions, streaming logs
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func/binding.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/execute.rs
Labels: A-sdf, A-dal, A-web

#2808 feat(web): add hover tooltip for the code editor
  app/web/src/components/CodeEditor.vue
  app/web/src/utils/typescriptLinter.ts
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
Labels: A-sdf, A-web

#2791 fix(cyclone-server,veritech-server): Reducing the logging of shutdown events
  lib/cyclone-server/src/server.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-cyclone

#2811 Add BUCK2 docs file (ENG-1968)
  docs/BUCK2.md
Labels: A-docs

#2812 Ensure buck2 vsix hyperlink is clear (ENG-1969)
  docs/BUCK2.md
Labels: A-docs

#2814 feat(web, dal): Add component debug view
  app/web/src/components/AttributeDebugView.vue
  app/web/src/components/ComponentDebugModal.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/value/view.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/debug.rs
Labels: A-sdf, A-dal, A-web

#2816 Typo
  CONTRIBUTORS.md
  docs/BUCK2.md
Labels: A-docs, community
