Repository systeminit/si, pull requests merged in 2023-12, with the labels that each got.

#2997 Add abandon changeset endpoint
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal/src/change_set.rs
  lib/dal/src/queries/change_set/abandon_change_set.sql
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/abandon_change_set.rs
Labels: A-sdf, A-dal, A-web

#2994 feat: copy-on-write layer for rootfs
  component/firecracker-base/orchestrate-install.sh
  component/firecracker-base/prepare_jailer.sh
  component/firecracker-base/start.sh
  component/firecracker-base/stop.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-deadpool-cyclone

#3000 feat(buck2): create `nix_omnibus_pkg` rule to make portable binary pkgs
  bin/cyclone/BUCK
  bin/lang-js/BUCK
  bin/veritech/BUCK
  prelude-si/git/git_info.py
  prelude-si/macros.bzl
  prelude-si/macros/nix.bzl
  prelude-si/nix.bzl
  prelude-si/nix/BUCK
  prelude-si/nix/nix_omnibus_pkg_build.py
  prelude-si/nix/toolchain.bzl
  toolchains/BUCK
Labels: A-veritech, A-cyclone, A-lang-js

#2991 feat(web) diagram cleanup, show socket arity, asset palette search
  app/auth-portal/package.json
  app/web/package.json
  app/web/src/components/AssetPalette.vue
  app/web/src/components/GenericDiagram/DiagramControls.vue
  app/web/src/components/GenericDiagram/DiagramDemoPage.vue
  app/web/src/components/GenericDiagram/DiagramEdge.vue
  app/web/src/components/GenericDiagram/DiagramGroup.vue
  app/web/src/components/GenericDiagram/DiagramGroupOverlay.vue
  app/web/src/components/GenericDiagram/DiagramIcon.vue
  app/web/src/components/GenericDiagram/DiagramNode.vue
  app/web/src/components/GenericDiagram/DiagramNodeSocket.vue
  app/web/src/components/GenericDiagram/GenericDiagram.vue
  app/web/src/components/GenericDiagram/diagram_base_config.ts
  app/web/src/components/GenericDiagram/diagram_types.ts
  app/web/src/components/GenericDiagram/utils/use-diagram-context-provider.ts
  app/web/src/store/components.store.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/utils/color_utils.ts
  package.json
  pnpm-lock.yaml
Labels: A-web

#3003 feat: publishing artifacts to CDN
  bin/council/BUCK
  bin/cyclone/BUCK
  prelude-si/artifact.bzl
  prelude-si/artifact/BUCK
  prelude-si/artifact/publish.py
  prelude-si/artifact/toolchain.bzl
  prelude-si/nix.bzl
  prelude-si/nix/nix_omnibus_pkg_build.py
  toolchains/BUCK
Labels: A-cyclone, A-council

#3006 fix(web): Ensure that when the prop is an integer that the prop gets saved as so
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3008 fix(web): Ensure we set integer properties correct in attribute panel
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3010 feat: small fixes for the startup scripts
  component/firecracker-base/orchestrate-install.sh
  component/firecracker-base/prepare_jailer.sh
  lib/veritech-server/src/config.rs
Labels: A-veritech

#3009 fix(web): Ensure we format the component code tab
  app/web/src/components/ComponentDetails.vue
Labels: A-web

#3011 feat(pkgs): Add ability to use LB Target GRoups in tests
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  pkgs/si-aws-lb-target-group-2023-12-05.sipkg
Labels: A-dal

#3012 feat(buck2): create `artifact_promote` rule & update `artifact_publish`
  bin/cyclone/BUCK
  prelude-si/artifact.bzl
  prelude-si/artifact/BUCK
  prelude-si/artifact/promote.py
  prelude-si/artifact/publish.py
  prelude-si/artifact/toolchain.bzl
  prelude-si/git/git_info.py
  prelude-si/macros/nix.bzl
  prelude-si/nix/nix_omnibus_pkg_build.py
Labels: A-cyclone

#3013 feat: terminate on recycle, startup fixes
  component/firecracker-base/orchestrate-install.sh
  component/firecracker-base/stop.sh
  lib/deadpool-cyclone/src/instance.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_http.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
Labels: A-deadpool-cyclone

#3014 feat(dal,web) Make secrets work inside the dependency reactivity system
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/store/func/types.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/si-pkg/src/spec/leaf_function.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3017 Cache schema variant default color as a database column
  lib/dal/src/migrations/U2405__schema_variant_default_color.sql
  lib/dal/src/schema/variant.rs
Labels: A-dal

#3023 Remove dead branch for auto-reattach
  app/web/src/store/asset.store.ts
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/sdf-server/tests/service_tests/scenario.rs
Labels: A-sdf, A-web

#3005 WIP - deep linking to details tabs, sync URL with selection, diagram overhaul
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/GenericDiagram/DiagramDemoPage.vue
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/DiagramCursor.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramEmptyState.vue
  app/web/src/components/ModelingDiagram/DiagramEmptyStateItem.vue
  app/web/src/components/ModelingDiagram/DiagramGridBackground.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramGroupOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/DiagramIcon.vue
  app/web/src/components/ModelingDiagram/DiagramNewEdge.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramNodeSocket.vue
  app/web/src/components/ModelingDiagram/KonvaSvgImage.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingDiagram/notes.md
  app/web/src/components/ModelingDiagram/utils/keyboard.ts
  app/web/src/components/ModelingDiagram/utils/math.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/PlaceholderComposeView.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/router.ts
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/general/VButton.vue
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#3016 feat: include machine setup scripts in buck2 build
  bin/veritech/BUCK
  lib/deadpool-cyclone/BUCK
  lib/deadpool-cyclone/Cargo.toml
  lib/deadpool-cyclone/src/instance.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_http.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/deadpool-cyclone/src/orchestrate-install.sh
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-deadpool-cyclone

#3030 feat: veritech flags to configure runtime
  bin/veritech/src/args.rs
  lib/cyclone-client/src/client.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-veritech, A-cyclone, A-deadpool-cyclone

#3019 Create build and distribution uniformity across binaries/packages
  .ci/BUCK
  .ci/generate-creds-from-iam-role.sh
  .envrc
  bin/council/BUCK
  bin/cyclone/BUCK
  bin/module-index/BUCK
  bin/pinga/BUCK
  bin/sdf/BUCK
  bin/si/BUCK
  bxl/dependent_targets.bxl
  prelude-si/artifact/promote.py
  prelude-si/artifact/publish.py
  prelude-si/macros/rootfs.bzl
  prelude-si/rootfs.bzl
  prelude-si/rootfs/rootfs_build.sh
Labels: A-ci, A-sdf, A-cyclone, A-council, A-pinga, A-si, A-module-index

#3027 Wendy/eng 2114 modeling bugs and UI issues fixing the debug panel
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AttributeDebugView.vue
  app/web/src/components/ComponentDebugDetails.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsCode.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/DebugViewItem.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3037 fix(web): Ensure that the right func is called for changeset abandon
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
Labels: A-web

#3033 feat: add veritech service file
  bin/veritech/veritech.service
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/veritech-server/src/config.rs
Labels: A-veritech, A-deadpool-cyclone

#3044 Move job queue to transaction instead of connection
  lib/dal/src/context.rs
  lib/dal/src/job/processor.rs
  lib/dal/src/job/processor/nats_processor.rs
Labels: A-dal

#3040 more modeling fixes
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ChangeSetPanel.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/utils/math.ts
  app/web/src/components/RealtimeConnectionStatus.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/store/components.store.ts
  app/web/src/store/qualifications.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/layout/Inline.vue
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#3047 fix: startup script error handling
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/orchestrate-install.sh
Labels: A-deadpool-cyclone

#3050 fix: orchestrate file must be copied with the correct permissions.
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-deadpool-cyclone

#3051 feat: startup compile script in with binary
  lib/deadpool-cyclone/BUCK
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/instance/cyclone/orchestrate-install.sh
Labels: A-deadpool-cyclone

#3052 fix(web) fix qualification details loading logic
  app/web/src/components/AssetQualificationsDetails.vue
  app/web/src/store/qualifications.store.ts
Labels: A-web

#3055 Add delete property editor value endpoint
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/index_map.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
Labels: A-sdf, A-dal, A-web

#3048 Implement nested frames
  Cargo.lock
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/connection.rs
  lib/dal/src/edge.rs
  lib/dal/src/queries/edge/list_children_for_node.sql
  lib/dal/src/schema/variant.rs
  lib/dal/src/socket.rs
  lib/dal/src/standard_pk.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3056 feat: add cred string and file options for NATs auth.
  bin/council/src/args.rs
  bin/pinga/src/args.rs
  bin/sdf/src/args.rs
  bin/veritech/src/args.rs
  lib/si-data-nats/src/connect_options.rs
  lib/si-data-nats/src/lib.rs
Labels: A-sdf, A-veritech, A-si-data-nats, A-council, A-pinga

#3058 feat(nats): add connection name to nats connection
  bin/council/src/args.rs
  bin/pinga/src/args.rs
  bin/sdf/src/args.rs
  bin/veritech/src/args.rs
  lib/si-data-nats/src/lib.rs
Labels: A-sdf, A-veritech, A-si-data-nats, A-council, A-pinga

#3059 fix(web): Remove the required need for all forms in secret popover
  app/web/src/components/AddSecretForm.vue
Labels: A-web

#3062 Fix/firecracker rootfs
  bin/veritech/scripts/prepare_jailer.sh
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  lib/deadpool-cyclone/src/instance/cyclone/orchestrate-install.sh
  lib/veritech-server/src/config.rs
  prelude-si/rootfs/BUCK
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech, A-deadpool-cyclone

#3063 Reorder diagram groups
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
Labels: A-web

#3064 Fix deletion of nested frames of the same asset
  lib/dal/src/component.rs
Labels: A-dal

#3066 theo/fewer-api-requests
  app/web/package.json
  app/web/script/clean-vite-cache.sh
  app/web/src/components/AssetDiffDetails.vue
  app/web/src/components/AssetQualificationsDetails.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsCode.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/main.ts
  app/web/src/pages/HomePage.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/workspaces.store.ts
  app/web/src/utils/tracking.ts
  lib/ts-lib/package.json
  lib/vue-lib/src/pinia/pinia_hooks_plugin.ts
Labels: A-web

#3068 bug (sdf): fix default validation function message to be accurate
  lib/sdf-server/src/server/service/func/defaults/validation.ts
Labels: A-sdf

#3061 fix(si): Removing the need to send AWS creds to the veritech container
  bin/veritech/docker-entrypoint.sh
  lib/si-cli/src/cmd/configure.rs
  lib/si-cli/src/key_management.rs
Labels: A-veritech, A-si

#3070 feat(sdf): use schema names for model name defaults
  lib/dal/src/lib.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
Labels: A-sdf, A-dal

#3071 fix(web) fix actions logic
  app/web/src/store/actions.store.ts
Labels: A-web

#3072 Wendy/eng 2137 move qualifications details from modal to inline
  app/web/src/App.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AssetQualificationsDetails.vue
  app/web/src/components/AttributeDebugView.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ComponentDebugDetails.vue
  app/web/src/components/ComponentDetailsCode.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/DebugViewItem.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/QualificationViewerSingle.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/main.ts
  lib/vue-lib/src/design-system/general/Collapsible.vue
Labels: A-web

#3073 Restore property editor (read-only)
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/lib.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/property_editor.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_property_editor_schema.rs
  lib/sdf-server/src/server/service/component/get_property_editor_validations.rs
  lib/sdf-server/src/server/service/component/get_property_editor_values.rs
Labels: A-sdf, A-dal

#3076 fix(si): Add localstack for CI nightly runs
  .ci/docker-compose.test-integration.yml
Labels: A-ci

#3077 fix(dal): Ensure that we call before funcs before deleting functions
  lib/dal/src/action_prototype.rs
  lib/dal/src/job/definition/fix.rs
Labels: A-dal

#3078 fix(web): Mark the applied history as collapsed by default
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/AssetActionsDetails.vue
Labels: A-web

#3079 feat(web) - various UI improvements
  app/web/src/components/ActionWidget.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetDiffDetails.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#3075 Initial copy-paste implementation
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal/src/component.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/diagram/connection.rs
  lib/dal/src/edge.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-dal, A-web

#3081 [wip] feat: pass encryption key as base64 string
  bin/council/src/args.rs
  bin/pinga/src/args.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/sdf-server/src/server/server.rs
  lib/si-crypto/src/cyclone.rs
  lib/si-crypto/src/cyclone/config.rs
  lib/si-crypto/src/cyclone/encryption_key.rs
  lib/si-crypto/src/lib.rs
Labels: A-sdf, A-veritech, A-council, A-pinga

#3080 updating vue/vite deps
  app/auth-portal/package.json
  app/auth-portal/src/App.vue
  app/auth-portal/src/lib/posthog.ts
  app/auth-portal/src/store/api.ts
  app/auth-portal/vite.config.ts
  app/web/package.json
  app/web/src/store/apis.ts
  app/web/src/utils/posthog.ts
  lib/eslint-config/package.json
  lib/vue-lib/package.json
  lib/vue-lib/src/pinia/pinia_hooks_plugin.ts
  pnpm-lock.yaml
Labels: A-web

#3083 fix bug in customize screen
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
Labels: A-web

#3082 feat: added drive-ability to web in docker for sdf route
  app/web/docker-entrypoint.sh
Labels: A-web

#3084 Optimize components paste
  lib/dal/src/attribute/context.rs
  lib/dal/src/component.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-dal

#3085 fix(web, sdf-server): Update code_diff for new components
  app/web/src/components/AssetDiffDetails.vue
  app/web/src/components/CodeViewer.vue
  lib/dal/src/component/diff.rs
Labels: A-dal, A-web

#3087 fix: using alternative delimiter permits http-type forms
  app/web/docker-entrypoint.sh
Labels: A-web

#3088 fix: pass the encryption key path for the launcher
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
Labels: A-si

#3089 fix(dal, sdf): Update sdf to return whether the component has codegen or not
  lib/dal/src/component/code.rs
  lib/dal/tests/integration_test/internal/component/code.rs
  lib/sdf-server/src/server/service/component/get_code.rs
Labels: A-sdf, A-dal

#3090 feat: allow passing the secret as a base64 string
  bin/pinga/src/args.rs
  bin/sdf/src/args.rs
  lib/dal-test/src/lib.rs
  lib/dal/examples/dal-pkg-export/main.rs
  lib/dal/examples/dal-pkg-import/main.rs
  lib/pinga-server/src/config.rs
  lib/sdf-server/src/server/config.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-crypto/src/symmetric.rs
Labels: A-sdf, A-dal, A-dal-test, A-pinga, A-si

#3093 Remove resources and actions from get_diagram
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/diagram/node.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_actions.rs
  lib/sdf-server/src/server/service/component/get_resource.rs
  lib/sdf-server/tests/service_tests/scenario/fix_flow_deletion.rs
Labels: A-sdf, A-dal, A-web

#3092 feat: allow passing the jwt as a base64 string
  Cargo.lock
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/jwt_key.rs
  lib/sdf-server/src/server/config.rs
  lib/sdf-server/src/server/server.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#3096 Copy/Paste nodes with ctrl+c/ctrl+v
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-web

#3069 feat(sdf,web,dal): visualize graph
  app/web/package.json
  app/web/src/components/Workspace/WorkspaceViz.vue
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/router.ts
  app/web/src/store/viz.store.ts
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/graphviz.rs
  pnpm-lock.yaml
Labels: A-sdf, A-dal, A-web

#3097 Copy inbound sockets even if the parent is not copied
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf

#3095 move proposed actions to new endpoint
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/sdf-server/tests/service_tests/scenario/fix_flow_deletion.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_aws_key_pair.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_mocked_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
Labels: A-sdf, A-web

#3091 debounce ChangeSetWritten
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/reconciliations.store.ts
  app/web/src/store/secrets.store.ts
Labels: A-web

#3098 fix(web) fix auto selection of head id in url
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3101 feat(dal,sdf): insert property editor values in graph
  app/web/src/components/Workspace/WorkspaceViz.vue
  lib/dal/src/attribute/value.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/component.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
Labels: A-sdf, A-dal, A-web

#3100 Enable compression in services
  Cargo.toml
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/store/fixes.store.ts
  lib/cyclone-server/src/routes.rs
  lib/dal/src/component.rs
  lib/dal/src/fix.rs
  lib/dal/src/migrations/U2406__fix_component_name.sql
  lib/module-index-server/src/routes.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/mime_guess/fixups.toml
  third-party/rust/fixups/zstd-safe/fixups.toml
  third-party/rust/fixups/zstd-sys/fixups.toml
Labels: A-sdf, A-cyclone, A-dal, A-web

#3102 Optimize get summary
  lib/dal/src/component/qualification.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
Labels: A-dal

#3105 Add the ability to create inter-component edges with the new engine (ENG-2202)
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/builtins.rs
  lib/dal/src/component.rs
  lib/dal/src/provider/external.rs
  lib/dal/src/provider/internal.rs
  lib/dal/src/schema.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge.rs
  lib/dal/tests/integration_test/internal/mostly_everything_is_a_node_or_an_edge/connection.rs
Labels: A-dal

#3103 paul-reattach-authentication-funcs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf

#3104 Theo/bye bye 2023
  app/web/src/store/actions.store.ts
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-web
