Repository systeminit/si, pull requests merged in 2023-08, with the labels that each got.

#2612 Add about section and rancher desktop notes
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT_ENVIRONMENT.md
Labels: A-docs

#2610 fix(si): Ensure that we can recreate a new veritech container
  .github/labeler.yml
  lib/si-cli/src/cmd/start.rs
Labels: A-ci

#2615 fix(si): Change the si binary to not expose unnecessary ports
  lib/si-cli/src/cmd/start.rs
Labels: A-si

#2616 fix(web): use correct id to refresh asset after exec
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#2617 fix(bot) - updated code of conduct link, readme
  app/web/src/components/AssetListPanel.vue
  bin/si-discord-bot/README.md
  bin/si-discord-bot/src/embeds/rules.ts
Labels: A-web, A-si-discord-bot

#2624 chore(): add linear label to new github issues
  .github/ISSUE_TEMPLATE/bug.yaml
Labels: A-ci

#2618 fix(si): Ensure that we have a default email in place when using the launcher
  lib/si-cli/src/containers.rs
  lib/si-cli/src/key_management.rs
Labels: A-si

#2631 fix(si): Ensure we pass :Z to the sdf container mounts
  lib/si-cli/src/cmd/start.rs
Labels: A-si

#2633 chore(build): Remove duplicate GHA bot from PRs
  .github/workflows/pull-request.yml
Labels: A-ci

#2634 fix(si): Ensure that the entire SI data directory path exists or create it
  lib/si-cli/src/key_management.rs
Labels: A-si

#2635 feat(si): Expose the versions of the running containers in the status command
  lib/si-cli/src/cmd/status.rs
Labels: A-si

#2640 Add arguments to set host and port for web container
  CONTRIBUTORS.md
  bin/si/src/args.rs
  bin/si/src/main.rs
  lib/si-cli/src/cmd/launch.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/cmd/status.rs
  lib/si-cli/src/state.rs
Labels: A-si

#2641 Clone func when cloning variant def (ENG-1821)
  lib/dal/src/func.rs
  lib/dal/tests/integration_test/internal/func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
Labels: A-sdf, A-dal

#2643 add --keep-images flag to delete subcommand
  bin/si/src/args.rs
  bin/si/src/main.rs
  lib/si-cli/src/cmd/delete.rs
Labels: A-si

#2644 fix(web,sdf): save component type when changed in variant definition
  lib/dal/src/schema/variant/root_prop/component_type.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-si-pkg

#2642 fix(web): Force reload of schema Variants after schema creation
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/modules/ModuleExportModal.vue
Labels: A-web

#2646 fix(sdf): Ensure that we pass through identity func when using valueFrom in socket definitions
  bin/si/src/args.rs
  lib/dal/src/schema/variant/definition.rs
  lib/si-cli/src/cmd/delete.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/cmd/status.rs
Labels: A-dal, A-si

#2650 feat(si): Enable the use of debug logs for veritech SI container
  bin/si/src/args.rs
  bin/si/src/main.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/state.rs
Labels: A-si

#2656 fix(si): ensure new binary is in same directory as old before rename
  Cargo.lock
  Cargo.toml
  bin/si/src/version.txt
  lib/dal/src/func.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/si-cli/BUCK
  lib/si-cli/Cargo.toml
  lib/si-cli/src/cmd/update.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#2662 fix(web): fix exec_asset request status handling in details panel
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/asset.store.ts
Labels: A-web

#2664 fix(sdf): fix nightly ci
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
Labels: A-sdf

#2666 fix(si): Ensure that we mount the SI data_dir with the correct mount options
  lib/si-cli/src/cmd/start.rs
Labels: A-si

#2663 chore(): update github issue templates (ENG-1892)
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: A-ci

#2572 feat(dal): Adding the first of an AWS IAM pkg
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  pkgs/si-aws-iam-2023-08-19.sipkg
Labels: A-dal

#2670 fix(si): Ensure SI containers restart on failure
  lib/si-cli/src/cmd/start.rs
Labels: A-si

#2671 chore(build): Add a check to understand if a PR was created by a community person
  .github/workflows/community-check.yml
Labels: A-ci

#2673 chore(build): Update the community PR check to have the necessary perms to create a label
  .github/workflows/community-check.yml
Labels: A-ci

#2674 chore(build): Update the community check GitHub Action to check the corect SI_STAFF variable
  .github/workflows/community-check.yml
Labels: A-ci

#2676 chore(build): Ensure that the logic regarding the community check is correct and avoid unnecessary labelling
  .github/workflows/community-check.yml
Labels: A-ci

#2678 fix(web): fix leaf function reactivity after revert
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/ConfirmationDetails.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/QualificationDetails.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#2667 feat(si): Implement a Container Engine Trait
  Cargo.lock
  Cargo.toml
  bin/si/src/main.rs
  lib/si-cli/BUCK
  lib/si-cli/Cargo.toml
  lib/si-cli/src/cmd/check.rs
  lib/si-cli/src/cmd/delete.rs
  lib/si-cli/src/cmd/install.rs
  lib/si-cli/src/cmd/restart.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/cmd/status.rs
  lib/si-cli/src/cmd/stop.rs
  lib/si-cli/src/cmd/update.rs
  lib/si-cli/src/containers.rs
  lib/si-cli/src/engine.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-cli/src/lib.rs
  lib/si-cli/src/state.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/pin-project-internal/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#2685 fix(sdf-server): Ensure standard name for Asset scaffold funcs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf

#2687 chore(build): Change the community check to use pull_request_target
  .github/workflows/community-check.yml
Labels: A-ci

#2681 fix(si): Ensure that running an update when no containers installed doesn't trigger start
  lib/si-cli/src/cmd/stop.rs
  lib/si-cli/src/cmd/update.rs
  lib/si-cli/src/engine.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-cli/src/state.rs
Labels: A-si

#2689 fix(si): support self update through symbolic links on macOS
  Cargo.lock
  Cargo.toml
  lib/si-cli/src/cmd/update.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#2669 fix(web): prevent changeset actions in frontend while fixes are running
  app/web/src/components/AssetPalette2.vue
  app/web/src/components/ChangeSetPanel2.vue
  app/web/src/components/ComponentOutline/ComponentOutline2.vue
  app/web/src/components/ProgressBarOverlay.vue
  app/web/src/components/RecommendationProgressOverlay.vue
  app/web/src/components/Workspace/WorkspaceModelAndViewNew.vue
  app/web/src/store/fixes.store.ts
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#2693 fix(si): Ensure we only stop containers that are actually started
  lib/si-cli/src/cmd/stop.rs
  lib/si-cli/src/engine/docker_engine.rs
Labels: A-si

#2570 chore(nats): use async-nats instead of nats
  CONTRIBUTORS.md
  Cargo.lock
  Cargo.toml
  bin/council/src/main.rs
  lib/council-server/src/client.rs
  lib/council-server/src/server.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/tasks/status_receiver.rs
  lib/nats-subscriber/src/builder.rs
  lib/nats-subscriber/src/lib.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/si-data-nats/BUCK
  lib/si-data-nats/Cargo.toml
  lib/si-data-nats/examples/nats-subscribe/main.rs
  lib/si-data-nats/src/connect_options.rs
  lib/si-data-nats/src/jetstream.rs
  lib/si-data-nats/src/lib.rs
  lib/si-data-nats/src/message.rs
  lib/si-data-nats/src/options.rs
  lib/si-data-nats/src/subscriber.rs
  lib/si-data-nats/src/subscription.rs
  lib/si-test-macros/src/expand.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
  lib/veritech-server/src/subscriber.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/async-nats/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#2697 fix(web): reload editor if prop changes
  app/web/src/components/CodeEditor.vue
Labels: A-web

#2695 feat(web) - secrets store exists
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/secrets.store.ts
Labels: A-web

#2698 fix(si): Ensure we are passing the correct name of the container to delete
  lib/si-cli/src/cmd/update.rs
Labels: A-si

#2699 fix(si): Change the si launch command to use xdg open functionality
  lib/si-cli/src/cmd/launch.rs
  lib/si-cli/src/lib.rs
Labels: A-si

#2703 Add support for Podman
  CONTRIBUTORS.md
  bin/si/src/main.rs
  lib/si-cli/src/cmd/check.rs
  lib/si-cli/src/cmd/delete.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/engine.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-cli/src/lib.rs
Labels: A-si

#2708 fix(si): When si delete has been run ensure that the containers are stopped
  lib/si-cli/src/cmd/delete.rs
Labels: A-si

#2709 feat(si-pkg,object-tree): add optional kind key to SiPkg
  lib/object-tree/src/graph.rs
  lib/object-tree/src/lib.rs
  lib/si-pkg/BUCK
  lib/si-pkg/pkg-complex.json
  lib/si-pkg/pkg-simple.json
  lib/si-pkg/pkg-workspace.json
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/node/package.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/spec.rs
Labels: A-object-tree, A-si-pkg

#2710 chore(web): fix code editor reactivity
  app/web/src/components/CodeEditor.vue
Labels: A-web

#2711 chore(web): refactor asset and func id handling
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/asset.store.ts
Labels: A-web

#2706 feat(web,sdf,auth-api) recover more gracefully from a reset database
  app/web/src/App.vue
  app/web/src/api/sdf/dal/user.ts
  app/web/src/api/sdf/dal/workspace.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/workspaces.store.ts
  bin/auth-api/src/custom-state.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/auth.service.ts
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/auth_connect.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-web

#2702 chore(web,sdf): remove stable feature flags
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AssetPalette2.vue
  app/web/src/components/ChangeSetPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ComponentOutline/ComponentOutline2.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode2.vue
  app/web/src/components/ComponentOutline/StatusIconWithPopover.vue
  app/web/src/components/ComponentOutlineSync.vue
  app/web/src/components/ProgressBarOverlay.vue
  app/web/src/components/RecommendationPicker.vue
  app/web/src/components/RecommendationSprite.vue
  app/web/src/components/RecommendationSprite2.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/components/StatusIndicatorIcon2.vue
  app/web/src/components/Workspace/WorkspaceApply.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeFunctions.vue
  app/web/src/components/Workspace/WorkspaceCustomizePackages.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/Workspace/WorkspaceModelAndViewNew.vue
  app/web/src/components/Workspace/WorkspaceModelAndViewOld.vue
  app/web/src/components/Workspace/WorkspaceSync.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/Navbar2.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/pages/WorkspaceSinglePageNew.vue
  app/web/src/pages/WorkspaceSinglePageOld.vue
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set2.rs
  lib/sdf-server/tests/service_tests/change_set.rs
  lib/sdf-server/tests/service_tests/scenario.rs
Labels: A-sdf, A-web

#2715 paul/fixup johns pr
  .github/workflows/community-check.yml
  CONTRIBUTORS.md
  bin/si/src/args.rs
  bin/si/src/main.rs
  lib/si-cli/src/cmd/launch.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/engine.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-cli/src/state.rs
Labels: A-ci, A-si

#2712 feat(web): Secret store with only browser local data
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/ComponentOutline/StatusIconWithPopover.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/PropertyEditor.vue
  app/web/src/components/SecretsList.vue
  app/web/src/components/Workspace/WorkspaceCustomizeSecrets.vue
  app/web/src/router.ts
  app/web/src/store/secrets.store.ts
Labels: A-web

#2716 fix(web): Auth store usage
  app/web/src/store/secrets.store.ts
Labels: A-web

#2717 fix(web): remove stale qualification docs link
  app/web/src/components/FuncEditor/QualificationDetails.vue
Labels: A-web

#2718 workspace export/import UI
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/WorkspaceExportModal.vue
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/components/modules/ModuleDetailsPanel.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/workspaces.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/general/LoadingMessage.vue
  lib/vue-lib/src/design-system/general/RequestStatusMessage.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#2721 fix(sdf) reconnect point to correct auth api
  lib/sdf-server/src/server/service/session/auth_connect.rs
Labels: A-sdf
