Repository systeminit/si, pull requests merged in 2024-05, with the labels that each got.

#3661 Cleanup references to disallowing editing of builtin funcs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/schema.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/sdf-server/src/server/service/qualification.rs
  lib/sdf-server/tests/service_tests/component.rs
  lib/sdf-server/tests/service_tests/functions.rs
  lib/sdf-server/tests/service_tests/mod.rs
  lib/sdf-server/tests/service_tests/secret.rs
Labels: A-sdf, A-dal

#3666 feat(dal,web): show if prototype is component specific in debug view
  app/web/src/components/Debug/AttributeDebugView.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value/debug.rs
Labels: A-dal, A-web

#3610 chore(db): add pgbouncer to our dev setup
  .ci/DEV.md
  .ci/docker-compose.test-integration.yml
  component/deploy/docker-compose.yaml
  component/pgbouncer/BUCK
  component/pgbouncer/Dockerfile
  dev/README.md
  dev/Tiltfile
  dev/docker-compose.platform.yml
  lib/dal-test/src/lib.rs
Labels: A-ci, A-dal-test

#3668 feat: add simple deploy workflow for tools-prod
  .github/workflows/deploy-service.yml
Labels: A-ci

#3669 fix: use workflow_dispatch not _call
  .github/workflows/deploy-service.yml
Labels: A-ci

#3667 Batch Set Component Position
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-web

#3671 chore(test): remove dbg and println
  lib/dal-test/src/lib.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/si-layer-cache/src/persister.rs
Labels: A-dal, A-dal-test, A-si-layer-cache

#3670 fix(dal): add child values of objects to dvu calculation
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/component.rs
Labels: A-dal

#3672 fix(dal, sdf): Ensure update_asset works in all scenarios
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/module/export_module.rs
Labels: A-sdf, A-dal

#3674 fix(web): Ensure we let a user know if a update_variant is successful
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#3675 fix(web): Ensure that the count of changes in the changeset doesn't include diffs
  app/web/src/components/NoSelectionDetailsPanel.vue
Labels: A-web

#3676 fix(web): reload Variant funcs when a func is renamed
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func/save_func.rs
Labels: A-sdf, A-web

#3679 fix(dal): Ensure we set schema and variant updates when updating an asset
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
Labels: A-dal

#3680 fix(web, sdf): Ensure that we reload the newly created schema variant
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/realtime/realtime_events.ts
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-web

#3681 fix: UID range too low for AML 2023
  bin/veritech/scripts/prepare_jailer.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-veritech, A-deadpool-cyclone

#3673 feat: add logging of version/author/metadata during startup for all binaries running in Production
  Cargo.lock
  Cargo.toml
  bin/cyclone/BUCK
  bin/cyclone/Cargo.toml
  bin/cyclone/src/main.rs
  bin/pinga/BUCK
  bin/pinga/Cargo.toml
  bin/pinga/src/main.rs
  bin/rebaser/BUCK
  bin/rebaser/Cargo.toml
  bin/rebaser/src/main.rs
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/main.rs
  bin/veritech/BUCK
  bin/veritech/Cargo.toml
  bin/veritech/src/main.rs
  lib/si-service/BUCK
  lib/si-service/Cargo.toml
  lib/si-service/src/lib.rs
  lib/si-service/src/startup.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3684 Take new frames into account when tracking actions ordering
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-dal

#3677 Fix test executions for attribute funcs and missing payload value
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/properties.rs
  lib/dal/tests/integration_test/attribute.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/attribute.rs
  lib/sdf-server/src/server/service/attribute/get_prototype_arguments.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/test_execute.rs
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-sdf, A-dal, A-web

#3685 Make func test selector placeholder refer to bindings
  app/web/src/components/FuncEditor/FuncTestSelector.vue
Labels: A-web

#3665 feat: only run pganalyze migration if not in rds
  lib/dal/src/migrations/U0644__pganalyze_setup.sql
Labels: A-dal

#3686 fix(web): Ensure we can delete array child objects from attributes panel
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3687 Forbid editing functions on head
  app/web/src/components/AssetEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
Labels: A-web

#3690 feat(dal,si-pkg,sdf): Isolate and test workspace export and import
  Cargo.lock
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/workspace.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/src/routes/upsert_workspace_route.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
  lib/sdf-server/src/server/service/module/install_workspace.rs
  lib/si-pkg/BUCK
  lib/si-pkg/Cargo.toml
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/workspace.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3691 feat(web): Removal of SiChip to denote if something is builtin or not
  app/web/src/components/SiFuncListItem.vue
Labels: A-web

#3689 chore(dal): Cleanup old parts of the system
  lib/dal/src/func/variant.rs
  lib/dal/src/property_editor/values_summary.rs
  lib/dal/src/prototype_context.rs
  lib/dal/src/tasks.rs
  lib/dal/src/tasks/resource_scheduler.rs
  lib/dal/src/tasks/status_receiver.rs
  lib/dal/src/tasks/status_receiver/client.rs
Labels: A-dal

#3693 chore(cleanup): Removing the last of the feature toggles
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/Workspace/WorkspaceViz.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3695 BUG-138 diagram outliner fix recursion
  app/web/src/components/DiagramOutline/DiagramOutline.vue
Labels: A-web

#3606 Actions V2 Part 2
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/dependency_graph.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/lib.rs
  lib/dal/tests/integration_test/deprecated_action.rs
  lib/dal/tests/integration_test/deprecated_action/batch.rs
  lib/dal/tests/integration_test/deprecated_action/runner.rs
  lib/dal/tests/integration_test/deprecated_action/with_secret.rs
  lib/dal/tests/integration_test/deprecated_action/with_update.rs
  lib/dal/tests/integration_test/mod.rs
Labels: A-dal

#3698 feat(dal): remove materialized views
  Cargo.lock
  Cargo.toml
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/component/diff.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/prop.rs
  lib/dal/src/qualification.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/deprecated_action/with_secret.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3696 feat(dal, sdf): Re-implement workspace import approvals
  lib/dal/src/pkg.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/approval_process.rs
  lib/sdf-server/src/server/service/module/import_workspace_vote.rs
Labels: A-sdf, A-dal

#3688 Wendy/eng 2521 empty states for modeling screen
  app/web/src/assets/images/customize-big__dark.svg
  app/web/src/assets/images/funcs__dark.svg
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/DebugNavbar.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/EmptyStateCard.vue
  app/web/src/components/EmptyStateIcon.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditorTabs.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeModules.vue
  app/web/src/components/Workspace/WorkspaceDevDashboard.vue
  app/web/src/components/WorkspaceCustomizeEmptyState.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/components/modules/ModuleDetailsPanel.vue
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/pages/DebugSVG.vue
  app/web/src/router.ts
  app/web/src/utils/debug.ts
Labels: A-web

#3697 feat: replace deadpool with poolnoodle
  Cargo.lock
  bin/veritech/scripts/prepare_jailer.sh
  lib/cyclone-client/src/client.rs
  lib/deadpool-cyclone/BUCK
  lib/deadpool-cyclone/Cargo.toml
  lib/deadpool-cyclone/examples/deadpool-cyclone-ping-pool/main.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-resolver-function-pool/main.rs
  lib/deadpool-cyclone/src/instance.rs
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_http.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/deadpool-cyclone/src/pool_noodle.rs
  lib/deadpool-cyclone/src/pool_noodle/pool_noodle.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
  prelude-si/rootfs/rootfs_build.sh
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3706 feat: wait for cloudfront to invalidate before deploying services
  .github/workflows/deploy-service.yml
Labels: A-ci

#3707 bug(dal): send nats events after rebase finishes
  lib/dal/src/context.rs
Labels: A-dal

#3702 Implement veritech/cyclone/langjs keep-alive
  Cargo.lock
  bin/lang-js/src/index.ts
  lib/cyclone-server/src/execution.rs
  lib/veritech-client/BUCK
  lib/veritech-client/Cargo.toml
  lib/veritech-client/src/lib.rs
  lib/veritech-core/src/lib.rs
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3704 Many UI improvements!
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/DetailsPanelMenuIcon.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/NewFuncDropdown.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/SiChip.vue
  app/web/src/components/SiFuncListItem.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/modules/ModuleExportModal.vue
  lib/vue-lib/src/design-system/general/VButton.vue
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
  lib/vue-lib/src/tailwind/tailwind.config.cjs
Labels: A-web

#3709 Fix: refetch values on prop save
  app/web/src/store/component_attributes.store.ts
Labels: A-web

#3705 Add metrics to pinga jobs
  lib/pinga-server/src/server.rs
Labels: A-pinga

#3710 Wendy/eng 2530 new 2xs text size for 10px current 2xs text size should be
  app/auth-portal/src/pages/DownloadPage.vue
  app/web/src/components/AssetFuncAttachDropdown.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/FuncSkeleton.vue
  app/web/src/components/NewFuncDropdown.vue
  app/web/src/components/SiChip.vue
  app/web/src/components/SiFuncListItem.vue
  lib/vue-lib/src/design-system/icons/custom-icons/func.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
  lib/vue-lib/src/design-system/utils/size_utils.ts
  lib/vue-lib/src/tailwind/tailwind.config.cjs
Labels: A-web

#3708 feat(dal): support children of "dynamic" objects as inputs to other functions
  app/web/src/components/Debug/AttributeDebugView.vue
  app/web/src/components/Debug/SocketDebugView.vue
  app/web/src/store/components.store.ts
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_schema_starfield.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/module.rs
Labels: A-dal, A-web, A-dal-test

#3711 Update pinga metrics to decrease it
  lib/pinga-server/src/server.rs
Labels: A-pinga

#3714 chore(si-service,cyclone): quiet some noisy info messages
  lib/cyclone-server/src/watch.rs
  lib/si-service/src/startup.rs
Labels: A-cyclone

#3713 chore(dal): do less work when walking child values in dvu
  lib/dal/src/attribute/value/dependent_value_graph.rs
Labels: A-dal

#3715 feat(sdf): Adding WsEvents when props change for a component
  app/web/src/store/component_attributes.store.ts
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
Labels: A-sdf, A-web

#3712 fix check for preventing edits
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3718 feat: tracing for the persister
  lib/si-layer-cache/src/persister.rs
Labels: A-si-layer-cache

#3716 fix(web): Remove the notion of a func being a builtin in lists
  app/web/src/components/SiFuncListItem.vue
Labels: A-web

#3719 remove inferred edge in favor of explicit edge for the same toSocket
  app/web/src/store/components.store.ts
Labels: A-web

#3701 chore(dal, sdf): Refactor update_variant to allow it to be integration tested
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
Labels: A-sdf, A-dal

#3720 Fix: ensure that we always send rounded numbers over the wire
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3721 Fix: don't create pending components on head
  app/web/src/store/components.store.ts
Labels: A-web

#3722 fix(web, dal): Ensure that we are able to contribute assets correctly
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/modules/ModuleExportModal.vue
  app/web/src/store/components.store.ts
  lib/dal/src/schema/view.rs
Labels: A-dal, A-web

#3724 fix(web): Ensure we don't duplicate schema variants on contribute modal
  app/web/src/components/modules/ModuleExportModal.vue
Labels: A-web

#3726 Upgrade: when deleting a frame, pop confirmation dialog with all fram…
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3723 Fix: send correct change_set_id back in WsEvent::ChangeSetWritten
  lib/rebaser-server/src/change_set_requests/handlers.rs
Labels: A-rebaser

#3725 fix(web): Open Component Color Picker on the correct color
  app/web/src/components/AttributesPanel/AttributesPanel.vue
Labels: A-web

#3727 feat(sdf, dal, web): Send a WsEvent after a component connected request
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
Labels: A-sdf, A-dal, A-web

#3728 fix(dal): None values for container props should remove child values
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/connection.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
Labels: A-sdf, A-dal

#3729 Fix: don't show multiplayer mouse if user is on the customize screen
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3730 Fix: popout icon zindex needs to be larger
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3731 Fix func attachment to assets and polish authoring client
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/func.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/execute.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/authoring/test_execute.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
Labels: A-sdf, A-dal, A-web

#3734 fix(layer-cache): Prevent jetstream consumers from exceeding their inactivity threshold
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/event.rs
Labels: A-si-layer-cache

#3735 Fix: batch connect components since frame edges are exclusive and concurrent rebases conflict
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
Labels: A-sdf, A-web

#3736 Fix: dont send dupes for deletions when you select parents and children
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3733 feat: add graceful shutdown to pool_noodle, cleanup logs lines
  lib/cyclone-server/src/extract.rs
  lib/cyclone-server/src/tower.rs
  lib/cyclone-server/src/watch.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-ping-pool/main.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-resolver-function-pool/main.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/deadpool-cyclone/src/pool_noodle/pool_noodle.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-cyclone, A-deadpool-cyclone

#3717 Implement actions v2 job definition
  Cargo.lock
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/builtins.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/deprecated_action.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/mod.rs
  lib/pinga-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3738 feat: refactor pool noodle to better keep up with the rate of requested funcs
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  bin/veritech/BUCK
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/Cargo.lock
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/Cargo.toml
  lib/deadpool-cyclone/examples/deadpool-cyclone-firecracker/src/main.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-ping-pool/BUCK
  lib/deadpool-cyclone/examples/deadpool-cyclone-ping-pool/main.rs
  lib/deadpool-cyclone/examples/deadpool-cyclone-resolver-function-pool/BUCK
  lib/deadpool-cyclone/examples/deadpool-cyclone-resolver-function-pool/main.rs
  lib/deadpool-cyclone/src/pool_noodle.rs
  lib/si-pool-noodle/BUCK
  lib/si-pool-noodle/Cargo.toml
  lib/si-pool-noodle/src/errors.rs
  lib/si-pool-noodle/src/instance.rs
  lib/si-pool-noodle/src/instance/cyclone.rs
  lib/si-pool-noodle/src/instance/cyclone/firecracker-setup.sh
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/lib.rs
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
  lib/veritech-server/src/subscriber.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3742 Only call connect to frame if we have payloads
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3741 ensure id is unique for edges
  app/web/src/store/components.store.ts
Labels: A-web

#3745 Create both actions v1 and v2 prototypes when importing pkgs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/si-pkg/src/spec/action_func.rs
Labels: A-dal, A-dal-test, A-si-pkg

#3744 Dispatch Actions V2 after successful rebase of default change set for workspace
  lib/dal/src/action.rs
  lib/dal/src/workspace_snapshot.rs
  lib/rebaser-server/src/change_set_requests/handlers.rs
  lib/si-layer-cache/src/activities/rebase.rs
Labels: A-dal, A-rebaser, A-si-layer-cache

#3743 feat(web,sdf,dal) - auto enqueue new actions prototypes
  Cargo.lock
  app/web/src/components/ActionCard.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/DebugNavbar.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/SiProfileButton.vue
  app/web/src/pages/DebugSVG.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/types.ts
  app/web/src/store/realtime/realtime_events.ts
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  lib/config-file/src/layered_load.rs
  lib/config-file/src/lib.rs
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/feature_flags.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U3011__add_actions_version_to_workspace.sql
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/action.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/sdf-server/src/server/feature_flags.rs
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/action/load_queued.rs
  lib/si-posthog-rs/src/client.rs
  lib/si-posthog-rs/src/lib.rs
  lib/si-settings/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#3746 feat(dal,rebaser-server): rebaser debounces dvu jobs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/job/queue.rs
  lib/rebaser-server/src/change_set_requests.rs
  lib/rebaser-server/src/change_set_requests/app_state.rs
  lib/rebaser-server/src/change_set_requests/handlers.rs
  lib/rebaser-server/src/dvu_debouncer.rs
  lib/rebaser-server/src/lib.rs
  lib/si-events-rs/src/ulid.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
Labels: A-dal, A-rebaser, A-si-layer-cache

#3750 Update secret prop type to fix copy/paste
  bin/lang-js/src/asset_builder.ts
Labels: A-lang-js

#3752 Revert "Update secret prop type to fix copy/paste"
  bin/lang-js/src/asset_builder.ts
Labels: A-lang-js

#3753 feat(web): Add actions v2 functionality to store
  app/web/src/store/actions.store.ts
Labels: A-web

#3754 fix: layer cache write order
  lib/si-layer-cache/src/persister.rs
Labels: A-si-layer-cache

#3755 Enqueue action refresh on v2 instead of enqueing a pinga job
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/ProgressBarOverlay.vue
  app/web/src/components/ReadOnlyBanner.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/refresh.rs
Labels: A-sdf, A-web

#3758 Replace ID payload with full payload for WsEvent::component_updated
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/ActionWidget.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetQualificationsDetails.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/Debug/ComponentDebugDetails.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/actions.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/node.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
Labels: A-sdf, A-dal, A-web

#3759 Detaching components also needs to be done in a batch
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
Labels: A-sdf, A-web

#3760 feat(dal): only run update_from_prototype_function in DVU
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-dal

#3761 fix(sdf): Force a new changeset when pasting components on HEAD
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf

#3762 Variant needs to include componentType, so when we place the first non-frame inside a frame, we know not to reposition it
  app/web/src/api/sdf/dal/component.ts
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/schema/view.rs
Labels: A-dal, A-web

#3763 Manually create actions v2
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/actions.store.ts
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/lib.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_actions.rs
Labels: A-sdf, A-dal, A-web

#3765 Up Frames can connect to multiple child components and fix data propagation on attach/detach/delete
  lib/dal-test/src/helpers.rs
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/frame.rs
  lib/si-layer-cache/src/activities/rebase.rs
Labels: A-dal, A-dal-test, A-si-layer-cache

#3767 Fix Single Arity Input Sockets
  lib/dal/src/component.rs
Labels: A-dal

#3768 bug(layerdb): spawn those writes after all
  lib/si-layer-cache/src/persister.rs
Labels: A-si-layer-cache

#3766 Fix attaching two auth or action funcs to the same variant
  lib/dal/src/func/authoring/save.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attach.rs
Labels: A-dal

#3769 feat(dal, web): Add the ability to upgrade a component via the web
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/dal/src/component/status.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/sdf-server/src/server/service/component/upgrade.rs
Labels: A-sdf, A-dal, A-web

#3772 chore(dal): Instrument the upgrade_to_new_variant func
  lib/dal/src/component.rs
Labels: A-dal

#3773 Fix the (not so) Mysterious Up Frame Bug
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal

#3771 check for conflicts and error if found during apply change set and list actions, add some telemetry
  lib/dal/src/change_set.rs
Labels: A-dal

#3776 Component updated called when to_delete=True. Component deleted already called
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf

#3775 Component position & parentage need to be sent together for rebaser. Send WsEvents to populate components & edges appropriately.
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/EdgeCard.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/status.store.ts
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-web

#3778 Restore connection sdf endpoint, comment out attach endpoint
  lib/sdf-server/src/server/service/diagram.rs
Labels: A-sdf

#3781 fix(dal): Ensure that we export all prop attributes on export
  lib/dal/src/pkg/export.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-dal, A-si-pkg

#3782 chore(we, sdf): cleanup old edge connection logic
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
Labels: A-sdf, A-web

#3783 feat: add page object model test example
  .gitignore
  CONTRIBUTORS.md
  app/web/cypress.config.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/support/attribute-panel-actions/component-attributes.ts
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3764 feat(dal,sdf): Close and Put On hold actions v2 endpoints
  app/web/src/components/ActionV2Card.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/action.rs
  lib/rebaser-server/src/change_set_requests/handlers.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/action/cancel.rs
  lib/sdf-server/src/server/service/action/list_actions.rs
  lib/sdf-server/src/server/service/action/put_on_hold.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/src/server/service/component/get_actions.rs
  lib/si-events-rs/src/tenancy.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-rebaser

#3785 add missed skip_all
  lib/dal/src/change_set.rs
Labels: A-dal

#3786 experiment(web): Remove component spinner on update
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramGroupOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
Labels: A-web

#3792 feat(sdf, web): Force New Changeset when trying to set position on HEAD
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-web

#3791 fix(dal): Ensure that we requeue any actions for the upgraded component
  lib/dal/src/component.rs
Labels: A-dal

#3793 fix(dal): do less work in replace references
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
Labels: A-dal

#3795 misc(dal,web): fix viz, add incomplete debug_node feature
  app/web/src/components/Workspace/WorkspaceViz.vue
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/store/viz.store.ts
  lib/dal/src/workspace_snapshot.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/node_debug.rs
Labels: A-sdf, A-dal, A-web

#3798 fix: remove decryption key referencce in setup script
  lib/si-pool-noodle/src/instance/cyclone/firecracker-setup.sh
Labels: A-si-pool-noodle

#3801 remove some rogue dbgs and add func for getting actions for a component
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
Labels: A-dal

#3807 endpoint is POST needs Json, not Query
  lib/sdf-server/src/server/service/action/put_on_hold.rs
Labels: A-sdf

#3808 Fix: frames resize behavior with children
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3803 Remove blocking commits from action
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#3810 fix(dal): use correct logic in detect_conflicts_and_updates
  lib/dal-test/src/expand_helpers.rs
  lib/dal/src/change_set.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
Labels: A-dal, A-dal-test

#3811 fix(dal): recalculate merkle tree hash in import_subgraph
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

#3809 Remove backend v2 feature flag
  app/web/src/store/actions.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/action.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/deprecated_action.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/deprecated_action/with_secret.rs
  lib/dal/tests/integration_test/deprecated_action/with_update.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/component/get_actions.rs
  lib/sdf-server/src/server/service/component/refresh.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#3805 Support authoring for Actions V2
  lib/dal/src/action/prototype.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal

#3815 feat(ci): invalidation of tools CDN on web refresh
  .github/workflows/deploy-service.yml
Labels: A-ci

#3816 fix(web): Don't show that a root prop has a value overridden
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3814 Remove action logs from prop tree
  app/web/src/api/sdf/dal/resource.ts
  app/web/src/components/ActionRunnerCard.vue
  app/web/src/components/ActionRunnerDetails.vue
  app/web/src/components/ComponentDetailsResource.vue
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/component.rs
  lib/dal/src/component/properties.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/deprecated_action.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/deprecated_action.rs
  lib/dal/tests/integration_test/deprecated_action/runner.rs
  lib/dal/tests/integration_test/deprecated_action/with_secret.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-dal, A-web

#3818 fix(dal): Ensure that CodeGen and Qualifications can be executed
  lib/dal/src/func/authoring.rs
Labels: A-dal

#3817 Do not dispatch Actions with pending dependent value updates
  lib/dal/src/action.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/dependency_graph.rs
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#3819 feat(web): Ensuring we push a toast notification on component upgrades
  app/web/src/components/ComponentCard.vue
  app/web/src/components/toasts/ComponentUpgrading.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3820 fix(dal): Ensure that we don't allow changing a func to an existing kind
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attach.rs
Labels: A-dal

#3822 Fix crash when upgrading a component
  app/web/src/store/components.store.ts
Labels: A-web

#3824 fix(dal): Recreate existing outgoing edges from a component on upgrade
  app/web/src/components/Debug/SocketDebugView.vue
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/socket/debug.rs
Labels: A-dal, A-web

#3826 Get status from execution output instead of only parsing the logs
  app/web/src/components/FuncEditor/FuncTest.vue
Labels: A-web

#3827 Actions v2 UI implemented
  app/web/src/components/ActionCard.vue
  app/web/src/components/ActionProgressOverlay.vue
  app/web/src/components/ActionV2Card.vue
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionRunnerCard.vue
  app/web/src/components/Actions/ActionRunnerCardV2.vue
  app/web/src/components/Actions/ActionRunnerDetails.vue
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/Actions/ConfirmHoldModal.vue
  app/web/src/components/Actions/Toggle.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/types.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/design-system/general/VButton.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
  lib/vue-lib/src/design-system/utils/color_utils.ts
  lib/vue-lib/src/tailwind/tailwind.config.cjs
Labels: A-web

#3829 Attach correct function to prototype
  lib/dal/src/func/authoring/create.rs
Labels: A-dal

#3828 fix(web): Show the currently running actions on HEAD
  app/web/src/components/ChangesPanel.vue
Labels: A-web

#3831 fix(dal): Ensure that we don't load duplicate funcs for old schema variants
  lib/dal/src/func/summary.rs
Labels: A-dal

#3832 Send component payload when it updates with a resource
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/action/prototype.rs
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/deprecated_action.rs
  lib/dal/src/job/definition/refresh.rs
  lib/dal/src/ws_event.rs
Labels: A-dal, A-web

#3835 Actions V2 Fixes
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/value.rs
Labels: A-dal

#3830 Update prototype function instead of removing prototype
  lib/dal/src/func/authoring/save.rs
Labels: A-dal

#3836 Add regression test for qualification views
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/qualifications.rs
Labels: A-dal

#3833 fix(dal): add recently seen clocks to edge weights
  lib/dal/src/context.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
  lib/rebaser-server/src/dvu_debouncer.rs
  lib/si-events-rs/src/workspace_snapshot_address.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/src/layer_cache.rs
Labels: A-dal, A-rebaser, A-si-layer-cache

#3839 fix(dal): Ensure that we copy Socket data on export schema variant
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/socket.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-si-pkg

#3841 fix(dal): fix snapshot migration to be more reliable
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/rebaser-server/src/dvu_debouncer.rs
  lib/sdf-server/src/server/server.rs
Labels: A-sdf, A-dal, A-rebaser

#3846 bug(dal): fix back compat for workspace snapshots
  lib/dal/src/action.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
Labels: A-dal

#3850 feat(web) - Actions V2 UI mock
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionRunnerCardV2.vue
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelHistorySubpanelTab.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/SiSearch.vue
  app/web/src/store/actions.store.ts
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/layout/ScrollArea.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
  lib/vue-lib/src/design-system/tabs/TabGroupCloseButton.vue
  lib/vue-lib/src/design-system/tabs/TabGroupItem.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
  lib/vue-lib/src/design-system/utils/timestamp.ts
Labels: A-web

#3834 Move check for Conflict::ExclusiveEdgeMismatch to operate on the net changes for the outgoing edges
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/update.rs
  lib/dal/tests/integration_test/rebaser.rs
Labels: A-dal

#3851 Do not attempt to re-use pre-existing Prototype nodes when setting the function for an AttributeValue
  lib/dal/src/attribute/value.rs
Labels: A-dal

#3854 updated list_actions so it passes the originating changeset id correctly
  lib/sdf-server/src/server/service/action/list_actions.rs
Labels: A-sdf

#3855 Build & use reverse component dependency graph for finding dependencies of Destroy Actions
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
Labels: A-dal

#3856 Retry fetching workspace snapshot for a change set if content for the snapshot address is not found
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#3857 feat(*): action history
  Cargo.lock
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/Actions/FuncRunTabGroup.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelHistorySubpanelTab.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/module.store.ts
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/func.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/qualification.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/action/history.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/get_func_run.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/func_run_log.rs
  lib/si-events-rs/src/lib.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/si-layer-cache/src/db/func_run_log.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/migrations/U0007__func_runs_extra_indexes.sql
  lib/si-layer-cache/tests/integration_test/db/func_run.rs
  lib/si-layer-cache/tests/integration_test/db/func_run_log.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#3858 BUG-247 group action history by time first, changeset second
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/store/actions.store.ts
Labels: A-web

#3860 Follow the selected component in outline
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
Labels: A-web

#3861 Save zoom level on mouse wheel & prevent whole app scroll
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3862 chore(dal): refactor FuncRunner to support instrumentation
  bin/pinga/src/main.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/standard_id.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/lib.rs
Labels: A-dal, A-pinga

#3863 fix(dal): correctly merge socket inputs on regeneration
  lib/dal/src/schema/variant/authoring.rs
  lib/si-pkg/src/spec/socket.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-dal, A-si-pkg

#3845 Split attribute func mutation into separate routes
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func/types.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/associations/bags.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/associations.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/func_argument.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attribute.rs
  lib/dal/tests/integration_test/func/authoring/save_func/detach.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/create_func_argument.rs
  lib/sdf-server/src/server/service/func/delete_func_argument.rs
  lib/sdf-server/src/server/service/func/list_func_arguments.rs
  lib/sdf-server/src/server/service/func/remove_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/update_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/update_func_argument.rs
Labels: A-sdf, A-dal, A-web

#3848 Return 409 on Conflict!
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/store/apis.ts
  app/web/src/store/change_sets.store.ts
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/dal/tests/integration_test/validations.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/attribute.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/sdf-server/src/server/service/module.rs
Labels: A-sdf, A-dal, A-web, A-dal-test
