Repository systeminit/si, pull requests merged in 2024-03, with the labels that each got.

#3377 Check has_resource from summary in list actions
  lib/dal/src/action.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
Labels: A-sdf, A-dal

#3379 feat(cypress): synthetic disabled
  .github/workflows/e2e-validation.yml
Labels: A-ci

#3381 Remove override flag and centralized property editor values accessors
  lib/dal/src/builtins/func.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_bethesda_secret.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_fallout.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_starfield.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/tests/integration_test/internal/new_engine/before_funcs.rs
  lib/dal/tests/integration_test/internal/new_engine/component.rs
  lib/sdf-server/src/server/server.rs
Labels: A-sdf, A-dal

#3380 Wendy/eng 2355 hide the add array item button when array is set from an
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/layout/navbar/NavbarButton.vue
  app/web/src/main.ts
  app/web/src/store/component_attributes.store.ts
Labels: A-web

#3361 Move validations qualification to backend
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/qualifications.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/qualification.rs
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/prop.rs
  lib/dal/src/qualification.rs
  lib/dal/tests/integration_test/internal/component/qualification.rs
Labels: A-dal, A-web

#3384 chore(council, si): Remove package builds for SI and council
  bin/council/BUCK
  bin/si/BUCK
Labels: A-council, A-si

#3385 chore(github): Ensure we use a rebaser label for github PRs
  .github/labeler.yml
Labels: A-ci

#3382 feat(si-layer-cache): adds an experimental layer cache
  Cargo.lock
  Cargo.toml
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/benches/insert_speed.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/tests/integration.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/memory_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/criterion/fixups.toml
  third-party/rust/fixups/moka/fixups.toml
  third-party/rust/fixups/rayon-core/fixups.toml
  third-party/rust/fixups/sled/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3386 feat(dal): remove direct node/edge weight accesses
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
Labels: A-dal

#3387 Victor/eng 2366 restore changesetupdated event
  app/web/.env
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime.store.ts
  lib/dal/src/change_set.rs
  lib/dal/src/change_set_pointer.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/src/server/service/change_set/create_change_set.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
Labels: A-sdf, A-dal, A-web, A-rebaser

#3390 Rename providers to sockets in `lib/sdf-server` and clean up what remains
  lib/dal-test/src/test_harness.rs
  lib/dal/src/attribute.rs
  lib/dal/src/attribute/context.rs
  lib/dal/src/attribute/context/read.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/internal/new_engine/before_funcs.rs
  lib/dal/tests/integration_test/internal/new_engine/connection.rs
  lib/dal/tests/integration_test/internal/new_engine/frame.rs
  lib/dal/tests/integration_test/internal/new_engine/sdf_mock.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/list_schema_variants.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/provider.rs
  lib/sdf-server/src/server/service/provider/list_all_providers.rs
  lib/sdf-server/tests/api.rs
  lib/sdf-server/tests/service_tests/component.rs
  lib/sdf-server/tests/service_tests/mod.rs
  lib/sdf-server/tests/service_tests/schema.rs
  lib/sdf-server/tests/service_tests/session.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-dal-test, A-si-pkg

#3389 feat(dal): Restore connection annotations
  lib/dal-test/src/test_harness.rs
  lib/dal/src/diagram.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
Labels: A-dal, A-dal-test

#3393 chore(dal-test): Reorganise the test schemas to install only in dal-test
  Cargo.lock
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_schema_bethesda_secret.rs
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/schemas/test_exclusive_schema_starfield.rs
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser

#3396 Add node modules troubleshooting and centralize troubleshooting docs
  README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT_ENVIRONMENT.md
  docs/EDITORS_AND_IDES.md
  docs/TROUBLESHOOTING.md
Labels: A-docs

#3395 feat(dal) restore set_type
  lib/dal-test/src/test_harness.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/before_funcs.rs
  lib/dal/tests/integration_test/component.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/set_type.rs
Labels: A-sdf, A-dal, A-dal-test

#3398 Add color to rebaser telemetry and close tracker (ENG-2381)
  bin/rebaser/src/args.rs
  bin/rebaser/src/main.rs
Labels: A-rebaser

#3397 feat(si-layer-cache): Make memory cache generic, store deserialized data
  Cargo.lock
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/benches/insert_speed.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/memory_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser

#3399 chore(dal-test): Remove the need for AWS_PKG
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/schema_helpers.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/tests/integration_test/frame.rs
  pkgs/si-aws-2023-09-13.sipkg
  pkgs/si-aws-cloudwatch-2023-09-26.sipkg
  pkgs/si-aws-ecs-2023-09-21.sipkg
  pkgs/si-aws-iam-2023-09-13.sipkg
  pkgs/si-aws-lb-target-group-2023-12-05.sipkg
  pkgs/si-generic-frame-2023-09-13.sipkg
Labels: A-dal, A-dal-test

#3400 chore(ci): Adding a github label for si-layer-cache crate
  .github/labeler.yml
Labels: A-ci

#3401 Adding jobelenus to staff
  .github/workflows/community-check.yml
  CONTRIBUTORS.md
Labels: A-ci, community

#3402 feat(si-layer-cache): Ensure MemoryCacher is Send+Sync
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
Labels: A-si-layer-cache

#3394 chore(dal): use alternative to JoinSet Id to drop unstable requirement
  .cargo/config.toml
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser

#3404 Centralize schema variant views (ENG-2384)
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/view.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/schema_variant_views.rs
  lib/dal/tests/integration_test/sdf_mock.rs
  lib/sdf-server/src/server/service/diagram/list_schema_variants.rs
Labels: A-sdf, A-dal

#3405 chore(si-events): extract WsEvent/HistoryActor into WebEvent/Actor
  Cargo.lock
  Cargo.toml
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/actor.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/web_event.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3403 feat: enhanced NATS core/Jetstream support
  Cargo.lock
  Cargo.toml
  lib/naxum/BUCK
  lib/naxum/Cargo.toml
  lib/naxum/examples/nats-core-subscriber/BUCK
  lib/naxum/examples/nats-core-subscriber/main.rs
  lib/naxum/examples/nats-js-consumer/BUCK
  lib/naxum/examples/nats-js-consumer/main.rs
  lib/naxum/src/cancellation.rs
  lib/naxum/src/error.rs
  lib/naxum/src/error_handling.rs
  lib/naxum/src/extract.rs
  lib/naxum/src/extract/message_parts.rs
  lib/naxum/src/extract/rejection.rs
  lib/naxum/src/extract/state.rs
  lib/naxum/src/extract/tuple.rs
  lib/naxum/src/handler.rs
  lib/naxum/src/handler/future.rs
  lib/naxum/src/handler/service.rs
  lib/naxum/src/lib.rs
  lib/naxum/src/macros.rs
  lib/naxum/src/make_service.rs
  lib/naxum/src/message.rs
  lib/naxum/src/message/extensions.rs
  lib/naxum/src/middleware.rs
  lib/naxum/src/middleware/delay/future.rs
  lib/naxum/src/middleware/delay/layer.rs
  lib/naxum/src/middleware/delay/mod.rs
  lib/naxum/src/middleware/delay/service.rs
  lib/naxum/src/middleware/trace/future.rs
  lib/naxum/src/middleware/trace/layer.rs
  lib/naxum/src/middleware/trace/make_span.rs
  lib/naxum/src/middleware/trace/mod.rs
  lib/naxum/src/middleware/trace/on_request.rs
  lib/naxum/src/middleware/trace/on_response.rs
  lib/naxum/src/middleware/trace/service.rs
  lib/naxum/src/response.rs
  lib/naxum/src/response/into_response.rs
  lib/naxum/src/serve.rs
  lib/naxum/src/service_ext.rs
  lib/si-data-nats/src/lib.rs
  lib/si-service/BUCK
  lib/si-service/Cargo.toml
  lib/si-service/src/lib.rs
  lib/si-service/src/rt.rs
  lib/si-service/src/shutdown.rs
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3406 Remove ComponentKind and SchemaUiMenu (ENG-2385)
  lib/dal-test/src/test_harness.rs
  lib/dal/src/component.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/ui_menu.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/node.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/schema.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/schema/ui_menu.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/schema/variant.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/dal/tests/integration_test/schema.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/schema/create_schema.rs
Labels: A-sdf, A-dal, A-dal-test

#3407 Disable PG full page writes in test DB instances
  .ci/docker-compose.test-integration.yml
  dev/docker-compose.platform.yml
Labels: A-ci

#3408 feat(si-layer-cache): Add Postgres layer to the layer cache, make writes async
  Cargo.lock
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/benches/insert_speed.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/src/migrations/U0001__key_value_pairs.sql
  lib/si-layer-cache/src/pg.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3410 chore(web): Cleanup Feature Flags
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/SiSearch.vue
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeFunctions.vue
  app/web/src/components/Workspace/WorkspaceCustomizePackages.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-web

#3411 feat(si-layer-cache): impl NATS chunking messaging
  Cargo.lock
  lib/si-data-nats/src/lib.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/chunking_nats.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/tests/integration.rs
  lib/si-layer-cache/tests/integration_test/chunking_nats.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3412 feat(dal,sdf): make implicit edge connections for frames use connection annotations
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/router.ts
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/test_harness.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/diagram.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/socket.rs
  lib/dal/src/socket/connection_annotation.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/tests/integration_test/connection.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame_new_engine.rs
  lib/ts-lib/src/connection-annotations.ts
Labels: A-sdf, A-dal, A-web, A-dal-test

#3413 feat(dal, sdf-server): Restore list_variant_defs SDF Route
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/list_variant_defs.rs
Labels: A-sdf, A-dal

#3414 feat(*): add layer cache dependencies to the ServicesContext
  .ci/docker-compose.test-integration.yml
  Cargo.lock
  bin/sdf/src/main.rs
  dev/docker-compose.platform.yml
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/context.rs
  lib/dal/tests/integration.rs
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/sdf-server/tests/api.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/pg.rs
  lib/si-test-macros/src/expand.rs
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3415 chore(si-layer): add test for chunking NATS!
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/tests/integration_test/chunking_nats.rs
Labels: A-si-layer-cache

#3326 Victor kills nodes
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/EdgeCard.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/diagram.rs
  lib/dal/src/queries/node/list_for_kind.sql
  lib/dal/src/queries/validation_resolver/find_for_attribute_value_and_func_binding.sql
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/frame.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/restore_connection.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/sdf-server/tests/service_tests/scenario/authoring_flow_asset.rs
  lib/sdf-server/tests/service_tests/scenario/fix_flow_deletion.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_aws_key_pair.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_mocked_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_flow_fedora_coreos_ignition.rs
Labels: A-sdf, A-dal, A-web

#3417 Fixed edge connections in backend and frontend
  lib/dal/src/socket/connection_annotation.rs
  lib/ts-lib/src/connection-annotations.ts
Labels: A-dal

#3420 chore(*): make all graph accesses async, remove need for lock management
  lib/dal/src/action.rs
  lib/dal/src/action/batch.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/component/qualification.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/builtins.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/src/server/service/graphviz.rs
Labels: A-sdf, A-dal, A-rebaser

#3419 feat(sdf-server, dal): Revive the get_code endpoint
  lib/dal-test/src/schemas/schema_helpers.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/component/code.rs
  lib/dal/src/lib.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/component/code.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_code.rs
Labels: A-sdf, A-dal, A-dal-test

#3423 chore: refresh NATS support
  .ci/docker-compose.test-integration.yml
  component/nats/BUCK
  component/nats/nats-server.conf
  dev/docker-compose.platform.yml
  flake.nix
Labels: A-ci, A-nats

#3422 Avoid infinite loops in actions listing
  app/web/src/store/actions.store.ts
  lib/dal/src/component.rs
Labels: A-dal, A-web

#3425 chore(dal,sdf,pinga,rebaser): Add LayerDb to the ServicesContext
  bin/sdf/src/main.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/context.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/si-events-rs/src/cas.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
Labels: A-sdf, A-dal, A-dal-test, A-pinga, A-rebaser, A-si-layer-cache

#3426 chore(content-store): use ContentHash from si-events in content-store
  Cargo.lock
  lib/content-store/BUCK
  lib/content-store/Cargo.toml
  lib/content-store/src/hash.rs
  lib/content-store/src/lib.rs
  lib/content-store/src/pair.rs
  lib/content-store/src/store.rs
  lib/content-store/src/store/local.rs
  lib/content-store/src/store/pg.rs
  lib/si-events-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3427 fix: deploy `si_layer_db` in development Postgres
  component/postgres/BUCK
  dev/docker-compose.platform.yml
Labels: A-postgres

#3428 Remove references and usages of "providers" in app/web
  app/web/src/api/sdf/dal/attribute.ts
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/api/sdf/dal/provider.ts
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/store/viz.store.ts
Labels: A-web

#3434 fix(si-layer-cache): write generates the keys from the hash of the value
  lib/si-events-rs/src/actor.rs
  lib/si-events-rs/src/tenancy.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
Labels: A-si-layer-cache

#3431 chore(dal): Ensure that all different get_code Language types are covered
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_schema_katy_perry.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/get_code.rs
  lib/dal/tests/integration_test/component/set_type.rs
Labels: A-dal, A-dal-test

#3432 chore(sdf-server): Cleanup old API endpoints not used
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/schema.rs
  lib/sdf-server/src/server/service/schema/create_schema.rs
  lib/sdf-server/src/server/service/schema/get_schema.rs
  lib/sdf-server/src/server/service/schema/list_schemas.rs
  lib/sdf-server/tests/service_tests/mod.rs
  lib/sdf-server/tests/service_tests/schema.rs
Labels: A-sdf

#3435 chore(sdf-server): Restore the dev route for the current git sha
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/dev.rs
  lib/sdf-server/src/server/service/dev/author_single_schema_with_default_variant.rs
Labels: A-sdf

#3436 ENG-2403 TS was out of alignment with the rust typedef, now matching
  app/web/src/store/components.store.ts
Labels: A-web

#3437 chore(sdf-server): Remove unused alter_simulation and component_metadata routes
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/alter_simulation.rs
  lib/sdf-server/src/server/service/component/get_components_metadata.rs
Labels: A-sdf, A-web

#3439 chore(sdf-server): Remove unused changeset routes
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/get_change_set.rs
  lib/sdf-server/src/server/service/change_set/get_stats.rs
  lib/sdf-server/src/server/service/change_set/update_selected_change_set.rs
Labels: A-sdf, A-web

#3433 Restore force change set and do not assume HEAD is nil (ENG-2400)
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/viz.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/change_set.rs
  lib/dal/src/change_set_pointer.rs
  lib/dal/src/change_set_pointer/view.rs
  lib/dal/src/context.rs
  lib/dal/src/lib.rs
  lib/dal/src/standard_id.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/dal/tests/integration_test/mod.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/action/history.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/change_set/create_change_set.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-rebaser

#3441 fix(dal): restore old engine behavior when preparing function arguments
  lib/dal/src/attribute/value.rs
Labels: A-dal

#3442 fix: add healthcheck to postgres + only report healthy when database are available
  component/postgres/multiple-database-support.sh
  dev/docker-compose.platform.yml
Labels: A-postgres

#3445 feat(dal,si-layer-cache): Support all content types in CasDb
  Cargo.lock
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/action.rs
  lib/dal/src/action/batch.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/layer_db_types.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U0074__prototype_list_for_func.sql
  lib/dal/src/prop.rs
  lib/dal/src/prototype_list_for_func.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cas.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3444 Run actions on apply
  app/web/src/components/ActionRunnerCard.vue
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ApplyHistoryItem.vue
  lib/dal/src/action.rs
  lib/dal/src/action/batch.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/batch.rs
  lib/dal/tests/integration_test/action/runner.rs
  lib/dal/tests/integration_test/mod.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/service/action/history.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/component/refresh.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
Labels: A-sdf, A-dal, A-web, A-pinga

#3446 Destroy ChangeSet struct (ENG-2405)
  lib/dal-test/src/test_harness.rs
  lib/dal/src/change_set.rs
  lib/dal/src/change_set_pointer.rs
  lib/dal/src/lib.rs
  lib/dal/src/queries/change_set/abandon_change_set.sql
  lib/dal/src/queries/change_set/begin_abandon_flow.sql
  lib/dal/src/queries/change_set/begin_merge_flow.sql
  lib/dal/src/queries/change_set/cancel_abandon_flow.sql
  lib/dal/src/queries/change_set/cancel_merge_flow.sql
  lib/dal/src/queries/change_set/get_actors.sql
  lib/dal/src/queries/change_set/get_by_pk.sql
  lib/dal/src/queries/change_set/open_list.sql
  lib/dal/src/queries/change_status/edges_list_deleted.sql
  lib/dal/src/queries/change_status/list_added_components.sql
  lib/dal/src/queries/change_status/list_deleted_components.sql
  lib/dal/src/queries/change_status/list_modified_components.sql
  lib/dal/src/queries/status_update/list_active.sql
  lib/dal/src/queries/summary_diagram/list_summary_diagram_components.sql
  lib/dal/src/queries/summary_diagram/list_summary_diagram_edges.sql
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/restore_default_function.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/restore_component.rs
  lib/sdf-server/src/server/service/diagram/restore_connection.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-dal, A-dal-test

#3448 feat(layer-cache): add get_bulk method to layer-cache
  Cargo.lock
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3443 feat(layer-cache): writes are gossiped
  Cargo.lock
  lib/dal-test/src/lib.rs
  lib/si-events-rs/src/cas.rs
  lib/si-events-rs/src/tenancy.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/chunking_nats.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/src/migrations/U0001__cas.sql
  lib/si-layer-cache/src/nats.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/src/pg.rs
  lib/si-layer-cache/tests/integration_test/chunking_nats.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3449 feat(layer-cache): get_many returns to the PgLayer
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/pg.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-si-layer-cache

#3447 Let you (intend to) delete things on the diagram
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/mod.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal, A-web

#3451 Change serialized structure of action args
  lib/dal/src/action/prototype.rs
Labels: A-dal

#3455 feat(si-layer): basic activities support
  Cargo.lock
  lib/si-events-rs/src/tenancy.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/si-layer-cache/src/chunking_nats.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/nats.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3458 feat(*): move workspace snapshots into layerdb
  Cargo.lock
  lib/dal-test/src/helpers.rs
  lib/dal/src/change_set_pointer.rs
  lib/dal/src/context.rs
  lib/dal/src/migrations/U3001__change_set_pointers.sql
  lib/dal/src/queries/workspace_snapshot/find_for_change_set.sql
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/rebaser-client/BUCK
  lib/rebaser-client/Cargo.toml
  lib/rebaser-client/src/lib.rs
  lib/rebaser-core/BUCK
  lib/rebaser-core/Cargo.toml
  lib/rebaser-core/src/lib.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/workspace_snapshot_address.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/migrations/U0002__workspace_snapshots.sql
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3459 fix(*): upgrade opentelemetry crates
  Cargo.lock
  Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3461 chore(sdf-server): Remove list_resources route that had no impl
  lib/sdf-server/src/server/service/component.rs
Labels: A-sdf

#3462 Improved Visualizer
  app/web/src/components/Workspace/WorkspaceViz.vue
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/viz.store.ts
  lib/dal/src/workspace_snapshot.rs
  lib/sdf-server/src/server/service/graphviz.rs
Labels: A-sdf, A-dal, A-web

#3464 fix(dal): rebase must happen before dvu, but after commit
  lib/dal/src/context.rs
Labels: A-dal

#3454 feat(dal,web) show if value is set by dynamic function on prop editor backend
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/AttributesPanel/SourceIcon.vue
  app/web/src/store/component_attributes.store.ts
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_schema_category_pirate.rs
  lib/dal-test/src/schemas/test_exclusive_schema_pirate.rs
  lib/dal-test/src/test_harness.rs
  lib/dal/BUCK
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/property_editor.rs
Labels: A-dal, A-web, A-dal-test

#3424 feat(sdf-server, dal): Adding an edge for default schema variants at pkg import time
  lib/dal/src/action/batch.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/sdf-server/src/server/server.rs
Labels: A-sdf, A-dal

#3465 feat(web,sdf): Debug component id and schema variant id on UI
  app/web/src/components/ComponentDebugDetails.vue
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/debug.rs
Labels: A-sdf, A-web

#3460 feat(sdf, dal): Bring back get_diff endpoint
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/component/code.rs
  lib/dal/src/component/diff.rs
  lib/dal/src/component/properties.rs
  lib/dal/src/component/view.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_diff.rs
Labels: A-sdf, A-dal

#3466 chore: impl graceful shutdown & update activity streams
  Cargo.lock
  bin/pinga/src/main.rs
  bin/rebaser/src/main.rs
  bin/sdf/src/main.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/pinga-server/src/server.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/server.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/chunking_nats.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/nats.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/tests/integration_test/chunking_nats.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
  lib/si-test-macros/src/dal_test.rs
  lib/si-test-macros/src/expand.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3467 feat(dal,sdf): unset overriden value
  lib/dal/src/attribute/value.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/restore_default_function.rs
Labels: A-sdf, A-dal

#3469 feat(daf, dal): Readd the JSON representation of component materialized view
  lib/dal/src/component/diff.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/json.rs
Labels: A-sdf, A-dal

#3463 Do not allow panics in the dal by default (ENG-2411)
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
Labels: A-sdf, A-dal

#3471 chore(layer-cache): add tests for the work queue
  lib/si-layer-cache/tests/integration_test/db/mod.rs
Labels: A-si-layer-cache

#3472 ENG-2417 Visualizer supports dark mode
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
Labels: A-web

#3473 Downgrade log level for only "onto" and "to_rebase" edges (ENG-2420)
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

#3479 fix(dal): make sure you can manually override maps and arrays
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/tests/integration_test/property_editor.rs
Labels: A-dal, A-web

#3477 feat: add target for cypress e2e tests into BUCK
  .gitignore
  app/web/BUCK
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/support/commands.ts
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/store/auth.store.ts
  prelude-si/e2e.bzl
  prelude-si/e2e/BUCK
  prelude-si/e2e/e2e_test.py
  prelude-si/e2e/toolchain.bzl
  prelude-si/macros.bzl
  prelude-si/macros/e2e.bzl
  prelude-si/tilt.bzl
  toolchains/BUCK
Labels: A-web

#3480 feat(web): Show "set by socket" option on dropdown for maps and arrays.
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#3468 Update Components to reflect (un)deletion of Components
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/socket/output.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/connection.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/remove_delete_intent.rs
  lib/sdf-server/src/server/service/diagram/restore_component.rs
Labels: A-sdf, A-dal, A-web

#3482 feat(rebaser): Rebaser uses layerdb activites
  Cargo.lock
  Cargo.toml
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/main.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/context.rs
  lib/dal/src/schema.rs
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/pinga-server/src/server.rs
  lib/rebaser-client/BUCK
  lib/rebaser-client/Cargo.toml
  lib/rebaser-client/src/lib.rs
  lib/rebaser-core/src/lib.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/si-layer-cache/src/activities/test.rs
  lib/si-layer-cache/src/activity_client.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3474 feat(dal,sdf,app): Reimplement variant_defs endpoints
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal-test/src/schemas/test_exclusive_schema_katy_perry.rs
  lib/dal-test/src/test_harness.rs
  lib/dal/src/func.rs
  lib/dal/src/installed_pkg/asset.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/view.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant/create_variant_def.rs
  lib/sdf-server/src/server/service/variant/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant/list_variants.rs
  lib/sdf-server/src/server/service/variant/save_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#3478 Move encrypted secrets into LayerDB (ENG-2415)
  Cargo.lock
  lib/dal-test/src/test_harness.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/before.rs
  lib/dal/src/func/identity.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/secret/algorithm.rs
  lib/dal/src/secret/definition_view.rs
  lib/dal/src/secret/event.rs
  lib/dal/src/secret/view.rs
  lib/dal/src/standard_id.rs
  lib/dal/src/tenancy.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/before_funcs.rs
  lib/dal/tests/integration_test/secret.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
  lib/sdf-server/src/server/service/secret/get_public_key.rs
  lib/sdf-server/src/server/service/secret/list_secrets.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/encrypted_secret.rs
  lib/si-events-rs/src/lib.rs
  lib/si-hash/src/lib.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/db/encrypted_secret.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/migrations/U0003__encrypted_secrets.sql
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3485 bug: overzealous logging
  lib/si-layer-cache/src/db/cache_updates.rs
Labels: A-si-layer-cache

#3486 feat(sdf-server): Reimplement create_variant endpoint
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/definition.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
  lib/sdf-server/src/server/service/variant/create_variant_def.rs
  lib/sdf-server/src/server/service/variant/exec_variant_def.rs
Labels: A-sdf, A-dal

#3488 fix(dal): : synchronize graph access in dependent values updates
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#3487 Update Rust dependencies since merging `new-engine` into `main` (ENG-2428)
  Cargo.lock
  Cargo.toml
  bin/cyclone/Cargo.toml
  bin/si/src/args.rs
  lib/config-file/Cargo.toml
  lib/dal/Cargo.toml
  lib/dal/src/lib.rs
  lib/si-std/Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index, A-rebaser, A-si-layer-cache
