Repository systeminit/si, pull requests merged in 2024-02, with the labels that each got.

#3248 chore(dal,pinga,council): add some more telemetry on pinga -> council
  Cargo.lock
  lib/council-server/BUCK
  lib/council-server/Cargo.toml
  lib/council-server/src/client.rs
  lib/council-server/src/client/management.rs
  lib/council-server/src/server.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/telemetry-nats-rs/src/lib.rs
  lib/telemetry-nats-rs/src/propagation.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3250 bug(pinga): don't use nats for recursion
  lib/dal/src/job/definition/fix.rs
Labels: A-dal

#3252 chore(telemetry): aggressively dial back default tracing spans
  lib/council-server/src/server.rs
  lib/dal/src/action.rs
  lib/dal/src/action_prototype.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/authentication_prototype.rs
  lib/dal/src/change_set.rs
  lib/dal/src/change_status.rs
  lib/dal/src/component.rs
  lib/dal/src/component/code.rs
  lib/dal/src/component/qualification.rs
  lib/dal/src/context.rs
  lib/dal/src/edge.rs
  lib/dal/src/fix.rs
  lib/dal/src/fix/batch.rs
  lib/dal/src/fix/resolver.rs
  lib/dal/src/func.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding_return_value.rs
  lib/dal/src/func/execution.rs
  lib/dal/src/history_event.rs
  lib/dal/src/installed_pkg.rs
  lib/dal/src/installed_pkg/asset.rs
  lib/dal/src/job_failure.rs
  lib/dal/src/jwt_key.rs
  lib/dal/src/lib.rs
  lib/dal/src/node.rs
  lib/dal/src/prop.rs
  lib/dal/src/provider/external.rs
  lib/dal/src/provider/internal.rs
  lib/dal/src/qualification.rs
  lib/dal/src/reconciliation_prototype.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/ui_menu.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/socket.rs
  lib/dal/src/tasks/status_receiver/client.rs
  lib/dal/src/tenancy.rs
  lib/dal/src/user.rs
  lib/dal/src/validation/prototype.rs
  lib/dal/src/validation/resolver.rs
  lib/dal/src/visibility.rs
  lib/dal/src/workspace.rs
  lib/module-index-server/src/jwt_key.rs
  lib/module-index-server/src/server.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/nats_multiplexer.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/si-data-nats/examples/nats-publish/main.rs
  lib/si-data-nats/examples/nats-subscribe/main.rs
  lib/si-data-nats/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/server.rs
Labels: A-sdf, A-veritech, A-dal, A-si-data-nats, A-council, A-pinga

#3253 feat(web,sdf): Async workspace export
  app/web/src/components/WorkspaceExportModal.vue
  app/web/src/store/module.store.ts
  lib/sdf-server/src/server/service/pkg/export_workspace.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-web

#3203 Allow updating local asset
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/component/view.rs
  lib/dal/src/component/view/debug.rs
  lib/dal/src/func.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/queries/summary_diagram/list_summary_diagram_components.sql
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/internal/pkg.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/list_funcs.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/list_variant_defs.rs
  lib/si-pkg/src/node/component.rs
  lib/si-pkg/src/pkg/component.rs
  lib/si-pkg/src/pkg/func.rs
  lib/si-pkg/src/pkg/socket.rs
  lib/si-pkg/src/spec/component.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3254 feat(web) - compactify TabGroup
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#3255 fix(sdf): make connect_component_sockets_to_frame_inner iterative
  Cargo.lock
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3257 Change debug to trace in parsed cli arguments
  bin/council/src/main.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/main.rs
  bin/pinga/src/main.rs
  bin/sdf/src/main.rs
  bin/si/src/main.rs
  bin/veritech/src/main.rs
  lib/config-file/src/layered_load.rs
Labels: A-sdf, A-veritech, A-cyclone, A-config-file, A-council, A-pinga, A-si, A-module-index

#3258 Revert "Allow updating local asset"
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/component/view.rs
  lib/dal/src/component/view/debug.rs
  lib/dal/src/func.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/queries/summary_diagram/list_summary_diagram_components.sql
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/internal/pkg.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/list_funcs.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/list_variant_defs.rs
  lib/si-pkg/src/node/component.rs
  lib/si-pkg/src/pkg/component.rs
  lib/si-pkg/src/pkg/func.rs
  lib/si-pkg/src/pkg/socket.rs
  lib/si-pkg/src/spec/component.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3259 feat(veritech): add service-spanning telemetry to/from Veritech
  Cargo.lock
  lib/veritech-client/BUCK
  lib/veritech-client/Cargo.toml
  lib/veritech-client/src/lib.rs
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3262 fix(web): Show errors to user on module export
  app/web/src/components/WorkspaceExportModal.vue
Labels: A-web

#3261 fix(dal): restore node position on import
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3266 feat(cyclone): add initial service-spanning telemetry to/from Cyclone
  Cargo.lock
  bin/council/src/main.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/main.rs
  bin/pinga/src/main.rs
  bin/sdf/src/main.rs
  bin/veritech/src/main.rs
  lib/cyclone-client/BUCK
  lib/cyclone-client/Cargo.toml
  lib/cyclone-client/src/client.rs
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/server.rs
  lib/si-data-nats/BUCK
  lib/si-data-nats/Cargo.toml
  lib/si-data-nats/src/lib.rs
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-http-rs/src/lib.rs
  lib/telemetry-http-rs/src/make_span.rs
  lib/telemetry-http-rs/src/propagation.rs
  lib/telemetry-rs/BUCK
  lib/telemetry-rs/Cargo.toml
  lib/telemetry-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3269 build(deps): upgrade to NATS 2.10.10
  component/nats/BUCK
  component/nats/nats-server.conf
Labels: A-nats

#3270 chore: support opt-in ANSI coloring of telemetry logging output
  bin/council/src/args.rs
  bin/council/src/main.rs
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  dev/Tiltfile
  lib/telemetry-application-rs/src/lib.rs
Labels: A-sdf, A-veritech, A-cyclone, A-telemetry-application-rs, A-council, A-pinga, A-module-index

#3271 fix: treat `--no-color`/`--force-color` as CLI flags
  bin/council/src/args.rs
  bin/council/src/main.rs
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  lib/telemetry-application-rs/src/lib.rs
Labels: A-sdf, A-veritech, A-cyclone, A-telemetry-application-rs, A-council, A-pinga, A-module-index

#3272 feat: support telemetry logging option as JSON lines
  Cargo.lock
  Cargo.toml
  bin/council/src/args.rs
  bin/council/src/main.rs
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3273 feat(web) de-emphasize edges and highlight on selection
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3268 feat(web,sdf,dal): async exec variant def
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func.rs
  lib/dal/src/func/variant.rs
  lib/dal/src/lib.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/telemetry-rs/src/lib.rs
Labels: A-sdf, A-dal, A-telemetry-rs, A-web

#3274 Toggle DiagramNode Icons
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3219 Add ability to trigger API requests from the front end
  app/web/src/store/apis.ts
Labels: A-web

#3276 chore: revisit telemetry tracing levels to make debugging easier
  bin/council/src/args.rs
  bin/council/src/main.rs
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
Labels: A-sdf, A-veritech, A-cyclone, A-telemetry-rs, A-telemetry-application-rs, A-council, A-pinga, A-module-index

#3264 fix(dal): fire ws_event when component position is set
  lib/dal/src/node.rs
Labels: A-dal

#3280 chore: add optional API to make tracing level changes "wait-able"
  bin/council/src/main.rs
  bin/cyclone/src/main.rs
  bin/module-index/src/main.rs
  bin/pinga/src/main.rs
  bin/sdf/src/main.rs
  bin/veritech/src/main.rs
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
Labels: A-sdf, A-veritech, A-cyclone, A-telemetry-rs, A-telemetry-application-rs, A-council, A-pinga, A-module-index

#3282 chore(telemetry): add a span around tracing level change events
  lib/telemetry-application-rs/src/lib.rs
Labels: A-telemetry-application-rs

#3277 fix: jail clean flakiness
  bin/veritech/scripts/prepare_jailer.sh
  bin/veritech/scripts/stop.sh
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/pool_noodle/pool_noodle.rs
Labels: A-veritech, A-deadpool-cyclone

#3275 Wendy/eng 2313 compactify assets panel
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/tree/TreeNode.vue
  lib/vue-lib/src/design-system/utils/color_utils.ts
Labels: A-web

#3283 Ensure content store works with TLS config (ENG-2315)
  bin/rebaser/BUCK
  lib/pinga-server/src/config.rs
  lib/rebaser-server/src/config.rs
  lib/sdf-server/src/server/config.rs
Labels: A-sdf, A-pinga

#3286 feat(telemetry): add path-filterable support into HTTP request spans
  lib/cyclone-server/src/server.rs
  lib/sdf-server/src/server/server.rs
  lib/telemetry-http-rs/src/make_span.rs
Labels: A-sdf, A-cyclone

#3284 Add ability to attach components to frames in the new engine (ENG-2316)
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/diagram.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/internal/new_engine.rs
  lib/dal/tests/integration_test/internal/new_engine/frame.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame_new_engine.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
Labels: A-sdf, A-dal

#3287 chore(cyclone): revert cyclone's default tracing level to `INFO`
  bin/cyclone/src/main.rs
Labels: A-cyclone

#3289 feat(telemetry): track web socket sessions in spans in Cyclone server
  Cargo.lock
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/routes.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/tower.rs
  lib/telemetry-http-rs/src/lib.rs
  lib/telemetry-http-rs/src/make_span.rs
  lib/telemetry-http-rs/src/propagation.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3290 Fix-diagram-group-position
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
Labels: A-web

#3291 cleaup-secrets-feature-flags
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/variant_definition/get_variant_def.rs
Labels: A-sdf, A-web

#3278 fix(web,vue-lib) resolving some dicey issues with VormInput and Stack
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/forms/VormInputOption.vue
  pnpm-lock.yaml
Labels: A-web

#3294 fix(sdf): don't hard delete stuff on HEAD
  lib/dal/src/component.rs
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/migrations/U2419__safe_restore_component.sql
Labels: A-dal

#3293 Remove unused frame sockets and add multiple frames test (ENG-2325,ENG-2327)
  lib/dal/src/builtins.rs
  lib/dal/src/diagram.rs
  lib/dal/src/provider/external.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/internal/new_engine/frame.rs
Labels: A-dal

#3297 fix-dockerfile-for-module-index
  bin/module-index/Dockerfile
Labels: A-module-index

#3298 Fix Module Index Server Startup
  bin/module-index/src/args.rs
Labels: A-module-index

#3301 module-index-pg-password-arg
  bin/module-index/src/args.rs
Labels: A-module-index

#3302 feat(si-pkg,dal,sdf-server): multi variant editing
  Cargo.lock
  Cargo.toml
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal/src/func.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/internal/func.rs
  lib/sdf-server/src/server/service/variant_definition.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/si-pkg/BUCK
  lib/si-pkg/Cargo.toml
  lib/si-pkg/src/spec/attr_func_input.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/socket.rs
  lib/si-pkg/src/spec/variant.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3303 fix(si-pkg): ensure we always export invariant intrinsics
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-dal

#3296 Run validations in the backend
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/qualifications.store.ts
  bin/lang-js/src/sandbox.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U2420__validation_resolvers.sql
  lib/dal/src/prop.rs
  lib/dal/src/queries/prop/find_validations_for_component.sql
  lib/dal/src/queries/schema_variant/all_related_funcs.sql
  lib/dal/src/queries/validation_prototype/find_for_context.sql
  lib/dal/src/queries/validation_prototype/list_for_func.sql
  lib/dal/src/queries/validation_prototype/list_for_prop.sql
  lib/dal/src/queries/validation_prototype/list_for_schema_variant.sql
  lib/dal/src/queries/validation_resolver/find_status.sql
  lib/dal/src/validation.rs
  lib/dal/src/validation/prototype.rs
  lib/dal/src/validation/prototype/context.rs
  lib/dal/src/validation/resolver.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_property_editor_validations.rs
Labels: A-sdf, A-lang-js, A-dal, A-web

#3300 Use NATS Jetstream for the new engine (ENG-2331)
  Cargo.lock
  Cargo.toml
  component/rabbitmq/BUCK
  component/rabbitmq/Dockerfile
  component/rabbitmq/README.md
  dev/Tiltfile
  dev/docker-compose.platform.yml
  lib/dal-test/src/lib.rs
  lib/dal/src/context.rs
  lib/rebaser-client/BUCK
  lib/rebaser-client/Cargo.toml
  lib/rebaser-client/src/client.rs
  lib/rebaser-client/src/lib.rs
  lib/rebaser-core/src/lib.rs
  lib/rebaser-core/src/messaging_config.rs
  lib/rebaser-core/src/subject.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/change_set_loop.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/rebaser-server/src/server/management_loop.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/si-data-nats/src/jetstream.rs
  lib/si-data-nats/src/jetstream/consumer.rs
  lib/si-data-nats/src/jetstream/context.rs
  lib/si-data-nats/src/lib.rs
  lib/si-rabbitmq/BUCK
  lib/si-rabbitmq/Cargo.toml
  lib/si-rabbitmq/src/config.rs
  lib/si-rabbitmq/src/consumer.rs
  lib/si-rabbitmq/src/delivery.rs
  lib/si-rabbitmq/src/environment.rs
  lib/si-rabbitmq/src/error.rs
  lib/si-rabbitmq/src/lib.rs
  lib/si-rabbitmq/src/producer.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3305 feat/add e2e synthetic workflow for Production
  .github/workflows/e2e-validation.yml
  app/web/.env
  app/web/cypress.config.ts
  app/web/cypress/e2e/4-value-propogation/value-attribute-propogation.cy.ts
  app/web/cypress/support/auth-provider-commands/auth0.ts
Labels: A-ci, A-web

#3306 fix: hardcode the baseurl as it isn't working in CI
  app/web/cypress.config.ts
Labels: A-web

#3310 Make rebases non-blocking and use work queue retention policy (ENG-2334)
  lib/rebaser-server/src/server/core_loop.rs
  lib/si-data-nats/src/jetstream/context.rs
Labels: A-si-data-nats

#3312 feat(dal,sdf): upgrade components to new schema variants
  lib/dal/src/attribute/context.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/migrate.rs
  lib/dal/src/migrations/U2422__respin_component.sql
  lib/dal/src/pkg/export.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/migrate_to_default_variant.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-si-pkg

#3313 chore(ci): set OpenTelemetry environment varible in integration tests
  .ci/docker-compose.test-integration.yml
Labels: A-ci

#3318 Fix validations for maps/arrays and remove default validation
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/store/component_attributes.store.ts
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2423__validation_resolver_key.sql
  lib/dal/src/prop.rs
  lib/dal/src/validation/resolver.rs
  lib/sdf-server/src/server/service/component/get_property_editor_validations.rs
  lib/sdf-server/src/server/service/ts_types/asset_builder.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
Labels: A-sdf, A-lang-js, A-dal, A-web

#3320 feat(dal): restore edges on component upgrade
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/src/component/migrate.rs
  lib/dal/src/diagram/summary_diagram.rs
Labels: A-dal, A-web

#3314 Wendy/eng 2319 new UI for filtering in search bars
  app/web/src/components/CodeEditor.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/FilterPill.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/components/SiSearch.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3319 Stop migrating most builtins for tests
  docs/RUNNING_RUST_TESTS.md
  lib/dal-test/src/lib.rs
  lib/dal/tests/integration_test/external/aws_region.rs
  lib/dal/tests/integration_test/external/coreos_butane.rs
  lib/dal/tests/integration_test/external/docker_image_intelligence.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_mocked_whiskers.rs
Labels: A-sdf, A-docs, A-dal, A-dal-test

#3317 chore(web): Cleanup REMOVE_COMPONENT_ICONS and SHOW_EDGES_ON_SELECT feature flags
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3321 feat(dal,sdf): migrated components preserve resource
  lib/dal/src/component/migrate.rs
  lib/dal/src/func.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3322 Display function name in codegen
  app/web/src/api/sdf/dal/code_view.ts
  app/web/src/components/ComponentDetailsCode.vue
  lib/dal/src/code_view.rs
  lib/dal/src/component/code.rs
  lib/dal/src/component/diff.rs
Labels: A-dal, A-web

#3323 fix(sdf): only list schema variant definitions for default variants
  lib/dal/src/queries/defs_for_default_variants.sql
  lib/dal/src/schema/variant/definition.rs
  lib/sdf-server/src/server/service/variant_definition/list_variant_defs.rs
Labels: A-sdf, A-dal

#3325 feat/add more synthetics
  .github/workflows/e2e-validation.yml
  app/web/cypress/e2e/archive/signup/signup.cy.ts
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/module-index/check-modules.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
Labels: A-ci, A-web

#3329 fix: increase timeout permitted to create_node as we know it's slow atm
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
Labels: A-web

#3330 fix: amend other reference timeout
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
Labels: A-web

#3331 feat: save recordings to github artifacts
  .github/workflows/e2e-validation.yml
Labels: A-ci

#3328 Convert ephemeral Secret object to graph node in the new engine
  lib/dal/src/diagram.rs
  lib/dal/src/lib.rs
  lib/dal/src/node_menu.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/schema/create_schema.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
Labels: A-sdf, A-dal

#3332 fix(sdf): async routes should not commit on error by default
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/async_route.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/pkg/export_workspace.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/si-data-nats/src/lib.rs
Labels: A-sdf, A-dal, A-si-data-nats

#3324 feat: one size fits all docker compose deployment tool
  component/deploy/docker-compose.yaml
  component/deploy/userdata
  component/init/BUCK
  component/init/Dockerfile
  component/init/configs/config.yaml
  component/init/configs/global-bundle.pem
  component/init/configs/pgbouncer.ini
  component/init/configs/service.toml
  component/init/configs/userlist.txt
  component/init/configs/vector.yaml
  component/init/docker-entrypoint.sh
  component/otelcol/BUCK
  component/otelcol/Dockerfile
Labels: A-otelcol

#3327 feat(web): Expose the number of resources in a workspace
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/StatusBar/StatusBarResourceSummary.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3333 Restore "force new" for change sets in the new engine
  lib/dal-test/src/helpers.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/visibility.rs
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
Labels: A-sdf, A-dal, A-dal-test

#3334 chore: use a dedicated postgres db for testing using `fsync=off`
  .ci/docker-compose.test-integration.yml
  dev/Tiltfile
  dev/docker-compose.platform.yml
  lib/dal-test/src/lib.rs
Labels: A-ci, A-dal-test

#3335 fix: firecracker-setup must include Amazon Linux 2023
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
Labels: A-deadpool-cyclone

#3338 chore: optionally keep old test dbs on re-running integration tests
  lib/dal-test/src/lib.rs
Labels: A-dal-test

#3295 Make it obvious how attribute panel gets its data
  app/web/src/App.vue
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/AttributesPanel/SourceIcon.vue
  app/web/src/components/AttributesPanel/SourceIconWithTooltip.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/main.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2500__property_editor_values_summary.sql
  lib/dal/src/migrations/U2501__attribute_value_use_default_prototype.sql
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/property_editor/values_summary.rs
  lib/dal/src/queries/attribute_value/find_controlling_funcs.sql
  lib/dal/src/queries/attribute_value/list_attributes_with_overridden.sql
  lib/dal/src/queries/component/list_connected_input_sockets_for_attribute_value.sql
  lib/dal/src/queries/component/list_input_sockets_for_attribute_value.sql
  lib/dal/tests/integration_test/internal/attribute/value.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/dal/tests/integration_test/internal/property_editor.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_property_editor_values.rs
  lib/sdf-server/src/server/service/component/restore_default_function.rs
  lib/vue-lib/src/design-system/icons/custom-icons/func.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-sdf, A-dal, A-web

#3337 Restore ability to update and list secrets in the new engine
  README_NEW_ENGINE.md
  lib/dal-test/src/lib.rs
  lib/dal-test/src/test_harness.rs
  lib/dal/src/lib.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/internal/mod.rs
  lib/dal/tests/integration_test/internal/secret.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/list_secrets.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
Labels: A-sdf, A-dal, A-dal-test

#3343 feat(web): Allow navigating to collaborators changeset
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/UserIcon.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3344 fix(dal,web,sdf): remove the `override_schema` flag
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/examples/dal-pkg-import/main.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_fallout.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_starfield.rs
  lib/dal/src/pkg/import.rs
  lib/dal/tests/integration_test/internal/pkg.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
  lib/sdf-server/tests/service_tests/scenario.rs
Labels: A-sdf, A-dal, A-web

#3265 Calculate AttributeValue dependency graph ahead of time for DependentValuesUpdate
  component/postgres/postgresql-additions.conf
  lib/dal-test/src/helpers/component_bag.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/migrate.rs
  lib/dal/src/edge.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2600__attribute_value_dependency_graph_summary.sql
  lib/dal/src/property_editor/values_summary.rs
  lib/dal/src/queries/attribute_value/fetch_update_graph_data.sql
  lib/dal/src/queries/attribute_value/ids_for_component.sql
  lib/dal/src/queries/attribute_value/ids_with_dynamic_functions.sql
  lib/dal/tests/integration_test/external/aws_region.rs
  lib/dal/tests/integration_test/external/coreos_butane.rs
  lib/dal/tests/integration_test/external/docker_image_intelligence.rs
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
  lib/dal/tests/integration_test/internal/attribute/value.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/dal/tests/integration_test/internal/component/code.rs
  lib/dal/tests/integration_test/internal/component/qualification.rs
  lib/dal/tests/integration_test/internal/component/view.rs
  lib/dal/tests/integration_test/internal/component/view/complex_func.rs
  lib/dal/tests/integration_test/internal/component/view/properties.rs
  lib/dal/tests/integration_test/internal/diagram.rs
  lib/dal/tests/integration_test/internal/edge.rs
  lib/dal/tests/integration_test/internal/provider/inter_component.rs
  lib/dal/tests/integration_test/internal/provider/intra_component.rs
  lib/si-pkg/src/node/prop_child.rs
Labels: A-postgres, A-dal, A-dal-test, A-si-pkg

#3339 Optimize internal provider values creation when creating components
  lib/dal/src/component.rs
  lib/dal/src/migrations/U2601__optimize_component_creation.sql
Labels: A-dal

#3347 Fix content pair creation races by only writing out
  lib/content-store/src/pair.rs
  lib/content-store/src/store/pg.rs
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#3340 feat: run workflow with option for multiple executions, improve cypress execution logic
  .github/workflows/e2e-validation.yml
  app/web/.env
  app/web/cypress.config.ts
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/module-index/check-modules.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/support/commands.ts
  app/web/cypress/support/posthog-commands/posthog.ts
Labels: A-ci, A-web

#3350 fix: user session must be active to push event into posthog
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
Labels: A-web

#3348 Fix graph unit tests lacking ordinal edges
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
Labels: A-dal

#3352 fix(dal): Create prop editor summaries live if they don't exist on read
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/values.rs
Labels: A-dal

#3354 hotfix(dal): disable attribute override query temporarily
  lib/dal/src/property_editor/values_summary.rs
Labels: A-dal

#3357 fix(dal): o11y for prop editor summary
  lib/dal/src/property_editor/values_summary.rs
Labels: A-dal

#3358 feat(web) - ability to view textArea and CodeEditor props which are disabled (plus Collaborator link fixes)
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/UserCard.vue
  app/web/src/components/layout/navbar/UserIcon.vue
Labels: A-web

#3359 hotfix(dal): remove most property editor metadata
  lib/dal/src/property_editor/values_summary.rs
Labels: A-dal

#3360 fix/politely wait after attribute change
  app/web/cypress.config.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
Labels: A-web

#3353 feat(dal): support workpace imports/exports with multi variants
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/migrate.rs
  lib/dal/src/migrations/U2610__clear_dependencies_for_deleted_values.sql
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/tests/integration_test/internal/pkg.rs
  lib/si-pkg/src/node/schema.rs
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/pkg/schema.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/schema.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-dal, A-si-pkg

#3363 fix(dal): Show secret creation form correctly
  lib/dal/src/secret.rs
Labels: A-dal

#3364 feat(lang-js): Export YAML load API in sandbox
  bin/lang-js/src/sandbox.ts
Labels: A-lang-js

#3365 Fix/amend cypress data selector for component card
  app/web/.env
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
Labels: A-web

#3366 feat(cypress): increase frequency and add retry
  .github/workflows/e2e-validation.yml
Labels: A-ci

#3369 Deduplicate dependent values update
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/edge.rs
  lib/dal/src/history_event.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/job/queue.rs
  lib/dal/src/tenancy.rs
  lib/dal/tests/integration_test/internal/component/view/complex_func.rs
  lib/dal/tests/integration_test/internal/provider/intra_component.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
Labels: A-sdf, A-dal

#3370 Deduplicate update component
  lib/dal/src/attribute/value.rs
  lib/dal/src/context.rs
Labels: A-dal

#3371 Fix/userid
  bin/veritech/scripts/prepare_jailer.sh
Labels: A-veritech

#3372 Avoid redundant work in component creation
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/migrations/U2612__avoid_redundant_work_during_component_creation.sql
Labels: A-dal

#3373 fix(dal,sdf): Delete components on summary immediately
  lib/dal/src/component.rs
  lib/dal/src/migrations/U2613__fix_component_delete_and_propagate.sql
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal

#3374 fix: need both uids to match
  bin/veritech/scripts/prepare_jailer.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-veritech, A-deadpool-cyclone

#3375 fix(dal): Migrate deleted component summary data
  lib/dal/src/migrations/U2614__correct_deleted_components_on_summary.sql
Labels: A-dal
