Repository systeminit/si, pull requests merged in 2024-12, with the labels that each got.

#5045 fix(web): Fix Edit Prop modal
  app/web/src/components/AttributesPanel/TreeFormItem.vue
Labels: A-web

#5048 fix(dal): issue management component ws events in parentage order
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5049 Fix: children that leave a parent were not re-processing their former parents
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5027 Add SDF endpoints to update AI gen prompts on the server
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompt.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U3402__prompt_overrides.sql
  lib/dal/src/prompt_override.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/prompt_overrides.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/prompts.rs
  lib/sdf-server/src/service/v2/admin/prompts/prompt.rs
Labels: A-sdf, A-dal

#5050 Fetch func list on SchemaVariantReplaced/Updated
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#5051 Fix: de-select component when adding to the diagram
  app/web/src/components/AssetPalette.vue
Labels: A-web

#5052 chore: show views/geometry in debug panel
  app/web/src/components/Debug/ComponentDebugDetails.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component/debug.rs
Labels: A-dal, A-web

#5046 feat: add remainder of changset routes to API client
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/tests/6-get_head_changeset.ts
Labels: community

#5047 docs: Adding how-to guide for AWS Lambda
  app/docs/src/.vitepress/config.ts
  app/docs/src/how-tos/aws-lambda.md
  app/docs/src/how-tos/aws-lambda/apply-ecr-infrastructure.png
  app/docs/src/how-tos/aws-lambda/complete.png
  app/docs/src/how-tos/aws-lambda/create-ecr-repository-policy.png
  app/docs/src/how-tos/aws-lambda/create-ecr-repository.png
  app/docs/src/how-tos/aws-lambda/create-iam-role-for-lambda.png
  app/docs/src/how-tos/aws-lambda/create-iam-role-policy.png
  app/docs/src/how-tos/aws-lambda/create-lambda-function-url.png
  app/docs/src/how-tos/aws-lambda/create-lambda-function.png
  app/docs/src/how-tos/aws-lambda/create-lambda-iam-policy-statement.png
  app/docs/src/how-tos/aws-lambda/create-lambda-identity-policy-statement.png
  app/docs/src/how-tos/aws-lambda/create-lambda-identity-policy.png
  app/docs/src/how-tos/aws-lambda/create-lambda-permission.png
  app/docs/src/how-tos/index.md
Labels: A-docs, A-auth

#5054 Fix: Change component type on views other than the default
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/component/set_type.rs
Labels: A-sdf, A-web

#5055 fix: hide uninstalled duplicate assets
  lib/sdf-server/src/service/v2/variant/list_variants.rs
Labels: A-sdf

#5056 Unify view logic in one place
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/component/set_type.rs
Labels: A-sdf, A-web

#5057 chore(deps): Updating Rust Deps
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, vulnerability-fix

#5060 Show current expanded row for audit dashboard
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
Labels: A-web

#5063 Fix filter option sorting for audit dashboard
  app/web/src/store/logs.store.ts
Labels: A-web

#5064 feat: migrate local module cache on sdf boot, in dev mode
  bin/sdf/src/main.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/migrations.rs
Labels: A-sdf

#5065 ENG-2871: move components to a new view and replace with a hexagon
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_view_and_move.rs
Labels: A-sdf, A-web

#5062 feat: upgrade foyer to v0.13.1
  CONTRIBUTORS.md
  Cargo.lock
  Cargo.toml
  lib/si-layer-cache/src/hybrid_cache.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, community, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5069 Fix: dont use FETCH_VIEW, use FETCH_VIEW_GEOMETRY, when views are created
  app/web/src/store/views.store.ts
Labels: A-web

#5070 chore: add fixups so we can upgrade serde_json
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/serde_json/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5067 Make AI prompts overrideable in admin panel
  app/web/package.json
  app/web/src/components/AdminDashboard/PromptEditor.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/prompt.store.ts
  bin/asset-sprayer-prompts/src/main.rs
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompt.rs
  lib/dal/src/prompt_override.rs
  lib/sdf-server/src/service/v2/admin/prompts/prompt.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/generate_aws_function.rs
  pnpm-lock.yaml
Labels: A-sdf, A-dal, A-web

#5073 fix to rename on diagram for frames
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-web

#5071 Fix: remove dead code, use view store location data
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5072 Accurately indicate which prompts are overridden with Reset button
  app/web/src/components/AdminDashboard/PromptAdmin.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/prompt.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
Labels: A-web

#5075 Coerce email_verified to a boolean in the Auth API
  bin/auth-api/src/services/users.service.ts
Labels: A-auth

#5074 Fix: make the view hex colors look like the rest of components color scheme
  app/web/src/components/ModelingDiagram/DiagramView.vue
Labels: A-web

#5076 docs: Documenting management functions as a segment of asset funcs
  app/docs/src/reference/asset/function.md
Labels: A-docs, A-auth

#5077 docs: Fixup action nodes
  app/docs/src/reference/asset/function.md
Labels: A-docs, A-auth

#4973 Remove View OT/CT
  app/web/src/components/ViewCard.vue
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  lib/dal/src/diagram/view.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/traits.rs
  lib/dal/src/workspace_snapshot/graph/traits/diagram.rs
  lib/dal/src/workspace_snapshot/graph/traits/diagram/view.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/diagram.rs
  lib/dal/src/workspace_snapshot/graph/v4/diagram/view.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/traits.rs
  lib/dal/src/workspace_snapshot/traits/diagram.rs
  lib/dal/src/workspace_snapshot/traits/diagram/view.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/view.rs
  lib/dal/tests/integration_test/view.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/remove_view.rs
Labels: A-sdf, A-dal, A-web

#5079 Ensure filters do not affect audit table contents
  app/web/src/components/AuditLogDrawer.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
Labels: A-web

#5081 ENG-2874: Adding icons for view stats in the hexagon
  app/web/src/components/ModelingDiagram/DiagramView.vue
Labels: A-web

#5082 renaming change sets! also some bug fixes and UI improvements
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/event.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/rename.rs
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-sdf, A-dal, A-web

#5084 docs: Updating roadmap based on release of latest opportunities
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5086 road-map-date
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5085 chore(deps): Upgrade path-to-regexp package
  pnpm-lock.yaml
Labels: vulnerability-fix

#5083 Split `audit-logs` crate into two crates
  Cargo.lock
  Cargo.toml
  lib/audit-database/BUCK
  lib/audit-database/Cargo.toml
  lib/audit-database/src/config.rs
  lib/audit-database/src/context.rs
  lib/audit-database/src/lib.rs
  lib/audit-database/src/migrate.rs
  lib/audit-database/src/migrations/U0001__test_migration.sql
  lib/audit-database/src/migrations/U0002__audit_logs.sql
  lib/audit-logs-stream/BUCK
  lib/audit-logs-stream/Cargo.toml
  lib/audit-logs-stream/src/lib.rs
  lib/audit-logs/src/lib.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/audit_logging.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/forklift-server/BUCK
  lib/forklift-server/Cargo.toml
  lib/forklift-server/src/config.rs
  lib/forklift-server/src/server.rs
  lib/forklift-server/src/server/app.rs
  lib/forklift-server/src/server/app/audit_logs.rs
  lib/forklift-server/src/server/app/audit_logs/app_state.rs
  lib/forklift-server/src/server/app/audit_logs/handlers.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/app_state.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5088 management-functions
  app/docs/src/reference/asset/function.md
Labels: A-docs, A-auth

#5058 chore: comment on the PR when a try is run
  .github/workflows/try.yml
Labels: A-ci

#5080 Add import function generation
  app/web/src/components/Ai/GenerateAwsFunctionPanel.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/store/func/funcs.store.ts
  lib/asset-sprayer/prompts/aws/import.yaml
  lib/asset-sprayer/src/prompt.rs
  lib/sdf-server/src/service/v2/func/generate_aws_function.rs
Labels: A-sdf, A-web

#5091 fix: try comments have incorrect permissions
  .github/workflows/try.yml
Labels: A-ci

#5092 fix: incorrect reference for pr number in scope
  .github/workflows/try.yml
Labels: A-ci

#5068 feat: deepen api client coverage for diagram
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/tests/1-create_and_apply_across_change_sets.ts
  bin/si-api-test/tests/2-create_and_delete_component.ts
  bin/si-api-test/tests/4-create_two_components_connect_and_propagate.ts
Labels: community

#5078 feat: add foyer metrics to our metrics pipeline
  Cargo.lock
  Cargo.toml
  lib/si-layer-cache/src/hybrid_cache.rs
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/opentelemetry/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5090 feat: support multiple jwt public keys
  Cargo.lock
  Cargo.toml
  bin/auth-api/README.md
  bin/auth-api/src/lib/jwt.ts
  bin/module-index/BUCK
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/sdf/src/args.rs
  component/init/configs/service.toml
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/jwt_key.rs
  lib/dal/src/lib.rs
  lib/dal/src/user.rs
  lib/module-index-server/BUCK
  lib/module-index-server/Cargo.toml
  lib/module-index-server/src/app_state.rs
  lib/module-index-server/src/config.rs
  lib/module-index-server/src/extract.rs
  lib/module-index-server/src/jwt_key.rs
  lib/module-index-server/src/lib.rs
  lib/module-index-server/src/server.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/app_state.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/init.rs
  lib/sdf-server/src/server.rs
  lib/si-jwt-public-key/BUCK
  lib/si-jwt-public-key/Cargo.toml
  lib/si-jwt-public-key/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5097 feat: make disk admission rate limit configurable
  component/init/configs/service.toml
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-si-layer-cache

#5089 Remove unnecessary deps in sdf-server's tests
  lib/sdf-server/BUCK
Labels: A-sdf

#5087 feat: don't page unless you're absolutely sure it's worth waking someone up for
  .github/workflows/e2e-validation.yml
  .github/workflows/run-api-test.yml
  bin/si-api-test/main.ts
Labels: A-ci

#5098 Feat: adding some view operations to command bar
  app/web/src/components/Workspace/CommandModal.vue
  app/web/src/shared/CommandBar.vue
  app/web/src/shared/command.ts
Labels: A-web

#5100 fix: typo in shell, my tower of bash failed me
  .github/workflows/run-api-test.yml
Labels: A-ci

#5102 fixup: API tests failure methods
  .github/workflows/e2e-validation.yml
  .github/workflows/run-api-test.yml
Labels: A-ci

#5095 feat(sdf, dal): Adding the ability to set a webhook url for a workspace
  app/web/src/components/WorkspaceIntegrationsModal.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U3410__workspace_integration.sql
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_integrations.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
  lib/sdf-server/src/service/v2/change_set/cancel_approval_request.rs
  lib/sdf-server/src/service/v2/change_set/reject.rs
  lib/sdf-server/src/service/v2/change_set/request_approval.rs
  lib/sdf-server/src/service/v2/integrations.rs
  lib/sdf-server/src/service/v2/integrations/get_integrations.rs
  lib/sdf-server/src/service/v2/integrations/update_integration.rs
  lib/si-id/src/lib.rs
Labels: A-sdf, A-dal, A-web

#5103 Remove unused Rust dependencies
  Cargo.lock
  Cargo.toml
  lib/asset-sprayer/BUCK
  lib/asset-sprayer/Cargo.toml
  lib/auth-api-client/BUCK
  lib/auth-api-client/Cargo.toml
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/dal-macros/Cargo.toml
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/data-warehouse-stream-client/BUCK
  lib/data-warehouse-stream-client/Cargo.toml
  lib/module-index-client/BUCK
  lib/module-index-client/Cargo.toml
  lib/module-index-server/BUCK
  lib/module-index-server/Cargo.toml
  lib/nats-dead-letter-queue/BUCK
  lib/nats-dead-letter-queue/Cargo.toml
  lib/object-tree/BUCK
  lib/object-tree/Cargo.toml
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/si-data-nats/Cargo.toml
  lib/si-data-spicedb/BUCK
  lib/si-data-spicedb/Cargo.toml
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-pkg/Cargo.toml
  lib/si-pool-noodle/Cargo.toml
  lib/si-posthog-rs/BUCK
  lib/si-posthog-rs/Cargo.toml
  lib/si-service/BUCK
  lib/si-service/Cargo.toml
  lib/si-settings/BUCK
  lib/si-settings/Cargo.toml
  lib/veritech-client/Cargo.toml
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/criterion/fixups.toml
Labels: dependencies, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5105 Fix: don't allow fromBaseChangeSet=true (i.e. deleted) components to move either
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5104 Migrate all remaining IDs to si-id
  Cargo.lock
  lib/dal/src/workspace_snapshot/vector_clock.rs
  lib/module-index-server/BUCK
  lib/module-index-server/Cargo.toml
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/models/si_module/module_id.rs
  lib/module-index-server/src/models/si_module/schema_id.rs
  lib/module-index-server/src/models/si_module/schema_variant_id.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/func_run_log.rs
  lib/si-events-rs/src/vector_clock_id.rs
  lib/si-id/BUCK
  lib/si-id/Cargo.toml
  lib/si-id/src/conversions.rs
  lib/si-id/src/lib.rs
  lib/si-id/src/macros.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/event.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5108 Fix: Restore geometries too
  lib/dal/src/component.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
Labels: A-dal

#5106 Fix: prevent rendering 0x0 components, always force a minimum size
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
Labels: A-web

#5109 Searching workspaces and change sets, minimum app width, and more!
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/App.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
  app/web/src/components/FuncEditor/ManagementDetails.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenuItems.vue
  app/web/src/main.ts
  app/web/src/store/presence.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
Labels: A-web

#5107 Update Rust deps that do not require code changes
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: dependencies, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5110 Add audit trail reference and entity vocab
  app/docs/src/reference/audit-trail.md
  app/docs/src/reference/index.md
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#5112 fix(sdf): Ensure that Workspace Integrations exist for old workspaces
  lib/sdf-server/src/service/session.rs
  lib/sdf-server/src/service/session/auth_connect.rs
Labels: A-sdf

#5113 chore: temporarily shrink size of workspace snapshots cache
  lib/si-layer-cache/src/db.rs
Labels: A-si-layer-cache

#5115 Fix: add schema name to parent dropdown to help differentiate
  app/web/src/components/ComponentConnectionsPanel.vue
Labels: A-web

#5114 fix(web): Navigate to the view a user is on
  app/web/src/components/layout/navbar/Collaborators.vue
Labels: A-web

#5117 fix: delete components on head if they are not in default view
  lib/sdf-server/src/service/diagram/delete_component.rs
Labels: A-sdf, A-dal

#5116 fix(web) - actually navigate to the view a user is on
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5118 BUG-698: re-process children when a component updates, fixes when parentage changes
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5119 Hotfix: watcher is too aggressive
  app/web/src/store/views.store.ts
Labels: A-web

#5120 fix(web): Change the number of changesets and workspaces before search hits
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  lib/vue-lib/src/design-system/index.ts
Labels: A-web

#5122 Feat/fixup e2e test
  .github/workflows/e2e-validation.yml
  .github/workflows/run-api-test.yml
Labels: A-ci

#5125 fix: retry case on api tests exiting with wrong exit code
  .github/workflows/run-api-test.yml
Labels: A-ci

#5126 Revert "chore: temporarily shrink size of workspace snapshots cache"
  lib/si-layer-cache/src/db.rs
Labels: A-si-layer-cache

#5127 feat: make foyer disk recover concurrency configurable
  component/init/configs/service.toml
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-si-layer-cache

#5128 feat: start all layer_caches in parallel
  lib/si-layer-cache/src/db.rs
Labels: A-si-layer-cache

#5130 Add pipeline to restart SDF/Rebaser/Pinga units on relevant nodes
  .github/workflows/deploy-service-restart.yml
  .github/workflows/instance-refresh.yml
  .github/workflows/service-restart.yml
Labels: A-ci

#5131 nit: possibly the biggest vocabulary nitpick of all time
  app/docs/src/explanation/aws-authentication.md
  app/docs/src/how-tos/aws-ecr-ecs.md
  app/docs/src/how-tos/aws-ecs.md
  app/docs/src/how-tos/aws-eks.md
  app/docs/src/how-tos/aws-ha-ec2.md
  app/docs/src/how-tos/aws-iam.md
  app/docs/src/how-tos/aws-lambda.md
  app/docs/src/how-tos/aws-macos.md
  app/docs/src/how-tos/aws-static-cloudfront.md
  app/docs/src/how-tos/aws-vpc.md
  app/docs/src/reference/vocabulary.md
  app/docs/src/tutorials/actions-and-resources.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/editing-components-and-contributing.md
  app/docs/src/tutorials/getting-started.md
  app/docs/src/tutorials/index.md
  app/docs/src/tutorials/working-with-components.md
Labels: A-docs, A-auth

#5133 docs: Update the roadmap with the latest opportunities
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5132 Template management func generation UI
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/EdgeCard.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/MultiSelectDetailsPanel.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/forms/ColorPicker.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
  pnpm-lock.yaml
Labels: A-web

#5134 fix(docs): Update the roadmap last updated date
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5136 chore(deps): Update cookie package
  pnpm-lock.yaml
Labels: vulnerability-fix

#5137 chore(deps): Update nanoid dependency
  bin/auth-api/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#5139 BUG-697: z-index frames based on size, not parentage. resize parents to contain a larger child
  app/web/src/api/sdf/dal/views.ts
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5140 chore(cleanup): Cleanup old nanoid dependency
  pnpm-lock.yaml
Labels: vulnerability-fix

#5141 feat: generate templates from selected components
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/management/generator.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf, A-dal, A-web

#5142 feat(web): Add a modal overlay when prompt is executing
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#5145 toasts and other UI adjustments for template generation
  app/web/src/App.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/toasts/CreatingTemplate.vue
  app/web/src/store/components.store.ts
Labels: A-web

#5146 feat: format generated code correctly
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf

#5147 fix: schemas should be created with lineage_id == id
  lib/dal/src/schema.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
Labels: A-dal

#5143 feat: Add button to create an "automation token" and use it in SDF API
  Cargo.lock
  Cargo.toml
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/store/feature_flags.store.ts
  app/auth-portal/src/store/workspaces.store.ts
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  bin/auth-api/README.md
  bin/auth-api/src/routes/auth.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/auth.service.ts
  bin/auth-api/test/auth-routes.test.ts
  bin/auth-api/test/helpers/dummy-factory.ts
  bin/auth-api/test/workspace-routes.test.ts
  lib/dal-test/src/expand_helpers.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/context.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/lib.rs
  lib/dal/src/user.rs
  lib/module-index-server/src/extract.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/module-index-server/src/routes/upsert_workspace_route.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/middleware/workspace_permission.rs
  lib/sdf-server/src/service/session/restore_authentication.rs
  lib/sdf-server/src/service/v2/func/generate_aws_function.rs
  lib/sdf-server/src/service/ws/crdt.rs
  lib/sdf-server/src/service/ws/workspace_updates.rs
  lib/si-jwt-public-key/BUCK
  lib/si-jwt-public-key/Cargo.toml
  lib/si-jwt-public-key/src/lib.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
  third-party/rust/BUCK
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5148 fix(web) - selectView and selection outline bug fixes
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5149 fix: allow moving components inside of their parents
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5150 fix(Web): Ensure we show the correct label on the attributes panel dropdowns
  app/web/src/components/AttributesPanel/TreeFormItem.vue
Labels: A-web

#5153 Fix: navbar remembers what view you're in
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
Labels: A-web

#5154 chore: disable the foyer disk cache
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-si-layer-cache

#5155 Fix: dont pull people out of the authoring screen because a changeset applies
  app/web/src/store/views.store.ts
Labels: A-web

#5156 BUG-715: Fix to view initialization that causes missing view nodes and old component nodes
  app/web/src/store/views.store.ts
Labels: A-web

#5157 Ensure all Geometry for a View are removed when removing a View
  lib/dal/src/workspace_snapshot/graph/v4/diagram/view.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/tests/integration_test/view.rs
  lib/si-frontend-types-rs/src/component.rs
Labels: A-dal

#5158 BUG-703: hitting backspace with no selections wrongly pops the delete modal
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
Labels: A-web

#5159 UI improvements to the generate panel
  app/web/src/components/Ai/GenerateAwsFunctionPanel.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/EditingPill.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#5160 BUG-700: adding WsEvent::FuncUpdated to component created endpoints
  lib/dal/src/diagram.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-sdf, A-dal

#5161 fix: retrieve from memory when waiting for snapshots
  lib/si-layer-cache/src/db/rebase_batch.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/src/hybrid_cache.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/func_run.rs
  lib/si-layer-cache/tests/integration_test/db/func_run_log.rs
  lib/si-layer-cache/tests/integration_test/db/workspace_snapshot.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-si-layer-cache

#5164 fix(docs): Fixing up the docs site broken links
  app/docs/src/how-tos/aws-vpc.md
  app/docs/src/tutorials/editing-components-and-contributing.md
  app/docs/src/tutorials/index.md
Labels: A-docs, A-auth

#5166 fix(docs): Fixing more broken docs links
  app/docs/src/how-tos/aws-macos.md
  app/docs/src/tutorials/actions-and-resources.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/editing-components-and-contributing.md
  app/docs/src/tutorials/getting-started.md
  app/docs/src/tutorials/working-with-components.md
Labels: A-docs, A-auth

#5151 Instrument more audit log events
  lib/dal/src/func/argument.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/sdf-server/src/service/diagram/create_connection.rs
  lib/sdf-server/src/service/diagram/delete_connection.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/argument/create_argument.rs
  lib/sdf-server/src/service/v2/func/argument/delete_argument.rs
  lib/sdf-server/src/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/create_unlocked_copy.rs
  lib/sdf-server/src/service/v2/func/delete_func.rs
  lib/sdf-server/src/service/v2/func/execute_func.rs
  lib/sdf-server/src/service/v2/func/test_execute.rs
  lib/sdf-server/src/service/v2/func/update_func.rs
  lib/sdf-server/src/service/v2/module/contribute.rs
  lib/sdf-server/src/service/v2/variant/create_unlocked_copy.rs
  lib/sdf-server/src/service/v2/variant/delete_unlocked_variant.rs
  lib/sdf-server/src/service/v2/view/create_view.rs
  lib/sdf-server/src/service/v2/view/remove_view.rs
  lib/sdf-server/src/service/v2/view/set_component_parent.rs
  lib/sdf-server/src/service/v2/view/update_view.rs
  lib/sdf-server/src/service/variant/create_variant.rs
  lib/sdf-server/src/service/variant/regenerate_variant.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/lib.rs
Labels: A-sdf, A-dal

#5162 button on template generated toast to view func code
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/toasts/CreatingTemplate.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf, A-web

#5163 rip: confetti
  app/web/src/App.vue
  app/web/src/store/actions.store.ts
Labels: A-web

#5168 BUG-652: send inferred edges along with created component
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal-test/src/expected.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/frame.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#5135 chore: rename gha deploy workflow
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#5171 fix: send inferred edges on mgmt fn component create
  lib/dal/src/management/mod.rs
Labels: A-dal

#5172 Fix: when creating a new change set stay on the view you're on
  app/web/src/components/ApprovalPendingModalCard.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/apis.ts
  app/web/src/store/change_sets.store.ts
Labels: A-web

#5173 BUG-725: remove selections from head prior to applying.
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal2.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5174 Revert: aggressive window reloading
  app/web/src/components/InsetApprovalModal.vue
Labels: A-web

#5176 fix(dal): The order in which we process dependencies between components is inconsistent, so we must always check if the component is in the dependency graph before adding it as Petgraph doesn't prevent nodes with duplicate node weights from being inserted
  lib/dal/src/action/dependency_graph.rs
Labels: A-dal

#5175 Fix: dont make parents smaller, also fixed the bug why we thought new children didnt fit inside the parent
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5180 Fix: initial load on customize page, move to empty modeling page
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5165 Fix: load all components at the right time
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5178 feat(vocab): add *Workspace* to vocabulary
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#5181 Fix: missing new edges on apply
  app/web/src/store/views.store.ts
Labels: A-web

#5182 Fix: ensure z-index for frames when deleting/updating/adding components
  app/web/src/store/views.store.ts
Labels: A-web

#5187 fix: must set z-index after view assignment
  app/web/src/store/views.store.ts
Labels: A-web

#5189 fix(docs): Update roadmap based on new opportunity in development
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5183 fix: view deletion if components are deleted
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
Labels: A-dal

#5188 fix(sdf): Ensure we match intrinsics schema variants as well as components
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
Labels: A-sdf

#5185 Fix: creating new View fixes, and two Scenario 1 fixes
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5167 chore(ci): Add a cron to recycle the services during the holiday period
  .github/workflows/prod-deploy-cron.disabled
  .github/workflows/prod-service-restart-cron.yml
Labels: A-ci

#5191 chore(sdf): Migrate list_modules to v2 endpoint
  app/web/src/store/module.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/list_modules.rs
  lib/sdf-server/src/service/v2/module.rs
  lib/sdf-server/src/service/v2/module/list.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/module.rs
Labels: A-sdf, A-web

#5190 feat: add audit trail and posthog tracking for templates
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-sdf

#5192 chore(sdf): Migrate workspace API endpoints to v2
  app/web/src/store/module.store.ts
  app/web/src/store/workspaces.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/workspace.rs
  lib/sdf-server/src/service/v2/workspace/export_workspace.rs
  lib/sdf-server/src/service/v2/workspace/install_workspace.rs
Labels: A-sdf, A-web

#5193 chore(sdf): Migrate module builtin promotion and rejection to v2 endpoints
  app/web/src/store/module.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/builtin_module_spec.rs
  lib/sdf-server/src/service/module/reject_module.rs
  lib/sdf-server/src/service/v2/module.rs
  lib/sdf-server/src/service/v2/module/builtins.rs
Labels: A-sdf, A-web

#5195 fixup: only test when not refreshing, otherwise it will cause grief
  .github/workflows/prod-service-restart-cron.yml
  .github/workflows/prod-test-cron.yml
Labels: A-ci

#5196 docs: link to new NixOS wiki
  CONTRIBUTORS.md
  DOCS.md
Labels: community

#5197 A little patience never hurts
  .github/workflows/deploy-service-restart.yml
Labels: A-ci
