Repository systeminit/si, pull requests merged in 2024-10, with the labels that each got.

#4726 feat: on demand asset installation
  Cargo.lock
  app/auth-portal/src/store/feature_flags.store.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/pages/auth/AuthConnectPage.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/auth.service.ts
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/signup.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/builtins/func.rs
  lib/dal/src/cached_module.rs
  lib/dal/src/component.rs
  lib/dal/src/lib.rs
  lib/dal/src/migrations/U3301__cached_modules.sql
  lib/dal/src/module.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/root_prop/component_type.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/dal/tests/integration_test/component.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/object-tree/src/tar/read.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/service/change_set/apply_change_set.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/module/install_module.rs
  lib/sdf-server/src/service/module/remote_module_spec.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/update_module_cache.rs
  lib/sdf-server/src/service/v2/variant.rs
  lib/sdf-server/src/service/v2/variant/list_variants.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-pkg/examples/si-pkg-read-from-fs/main.rs
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/pkg.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4727 Reduce timings to speed up perceived performance
  app/web/src/main.ts
  app/web/src/store/status.store.ts
Labels: A-web

#4728 Configure bindings for intrinsic funcs on props and output sockets that don't have bindings
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/func/funcs.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/forms/VormInputOption.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-web

#4731 feat: Garbage collect unused schema variants on demand
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
Labels: A-sdf, A-dal

#4733 fix: restore node skeleton when adding components
  app/web/src/components/AssetPalette.vue
Labels: A-web

#4734 fix: Don't send websocket events with component's temp id
  lib/dal/src/component.rs
Labels: A-dal

#4735 fix: e2e tests weren't failing properly, amends it
  .github/workflows/e2e-validation.yml
  .github/workflows/run-api-test.yml
Labels: A-ci

#4736 fix: remove leftover error handling todo
  lib/dal/src/cached_module.rs
Labels: A-dal

#4737 fix: Don't reset change status icon on changes to component
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/sdf-server/src/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/service/component/set_name.rs
  lib/sdf-server/src/service/component/set_type.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
  lib/sdf-server/src/service/diagram/remove_delete_intent.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal

#4738 chore: Update auth-api prisma to v5
  bin/auth-api/Dockerfile
  bin/auth-api/package.json
  pnpm-lock.yaml
Labels: A-auth

#4739 feat(forklift): add publish/process span propagation
  Cargo.lock
  lib/billing-events/BUCK
  lib/billing-events/Cargo.toml
  lib/billing-events/src/lib.rs
  lib/forklift-server/src/handlers.rs
  lib/forklift-server/src/server.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4701 fix(dal): Warn instead of error during DVU when functions fail
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#4743 Feat/deploy prod via api call
  .github/workflows/deploy-after-wait.yml
  .github/workflows/set-maintenance-mode.yml
Labels: A-ci

#4636 Switch to new asset details panel paradigm
  app/docs/src/reference/typescript/asset_builder/classes/MapKeyFuncBuilder.md
  app/docs/src/reference/typescript/asset_builder/classes/PropBuilder.md
  app/docs/src/reference/typescript/asset_builder/classes/SocketDefinitionBuilder.md
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/feature_flags.store.ts
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-sdf, A-docs, A-lang-js, A-dal, A-web, A-si-pkg, A-auth

#4748 Update changelog to contain demo videos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4753 feat: add workspace separation between API tests
  .github/workflows/run-api-test.yml
  bin/si-api-test/tests/0-add_action.ts
  bin/si-api-test/tests/1-create_and_apply_across_change_sets.ts
  bin/si-api-test/tests/2-create_and_delete_component.ts
  bin/si-api-test/tests/3-create_and_use_variant.ts
  bin/si-api-test/tests/4-create_two_components_connect_and_propagate.ts
  bin/si-api-test/tests/5-emulate_paul_stack.ts
  bin/si-api-test/tests/6-get_head_changeset.ts
Labels: A-ci

#4749 feat: add basic TTL-based eviction to the disk cache
  lib/dal-test/src/lib.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/func_run.rs
  lib/si-layer-cache/tests/integration_test/db/func_run_log.rs
  lib/si-layer-cache/tests/integration_test/db/workspace_snapshot.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
Labels: A-dal-test, A-si-layer-cache

#4754 BUG-627: fix validation icon over top drop down icon
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4752 Add derive macro for SiVersionedNodeWeight trait
  Cargo.lock
  Cargo.toml
  lib/dal-macros/.gitignore
  lib/dal-macros/BUCK
  lib/dal-macros/Cargo.toml
  lib/dal-macros/src/lib.rs
  lib/dal-macros/src/node_weight.rs
  lib/dal-macros/src/node_weight/versioned.rs
  lib/dal-macros/tests/trybuild.rs
  lib/dal-macros/tests/ui/01-node_weight-versioned-basic-testing-pass.rs
  lib/dal-macros/tests/ui/02-node_weight-versioned-no-current-annotation-fail.rs
  lib/dal-macros/tests/ui/02-node_weight-versioned-no-current-annotation-fail.stderr
  lib/dal-macros/tests/ui/03-node_weight-versioned-derive-on-wrong-type-fail.rs
  lib/dal-macros/tests/ui/03-node_weight-versioned-derive-on-wrong-type-fail.stderr
  lib/dal-macros/tests/ui/04-node_weight-versioned-multiple-current-variants-fail.rs
  lib/dal-macros/tests/ui/04-node_weight-versioned-multiple-current-variants-fail.stderr
  lib/dal-macros/tests/ui/05-node_weight-versioned-wrong-fields-on-enum-variant-fail.rs
  lib/dal-macros/tests/ui/05-node_weight-versioned-wrong-fields-on-enum-variant-fail.stderr
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight.rs
  prelude-si/cargo.bzl
  prelude-si/macros/rust.bzl
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/trybuild/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4744 NodeWeight ergonomics
  Cargo.lock
  lib/dal-macros/Cargo.toml
  lib/dal-macros/src/lib.rs
  lib/dal-macros/src/node_weight.rs
  lib/dal-macros/tests/ui/06-node_weight-basic-tests-pass.rs
  lib/dal-macros/tests/ui/07-node_weight-no-discriminant-specified-fail.rs
  lib/dal-macros/tests/ui/07-node_weight-no-discriminant-specified-fail.stderr
  lib/dal-macros/tests/ui/08-node_weight-bad-node_hash-custom-code-fail.rs
  lib/dal-macros/tests/ui/08-node_weight-bad-node_hash-custom-code-fail.stderr
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4760 feat: management prototypes and import operations
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-core/src/management.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/management_prototype_node_weight/mod.rs
  lib/dal/src/workspace_snapshot/node_weight/management_prototype_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/kill_execution.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/si-pkg/pkg-complex.json
  lib/si-pkg/src/lib.rs
  lib/si-pkg/src/node/management_func.rs
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/node/schema_variant_child.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/pkg/management_func.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/management_func.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-cyclone, A-lang-js, A-dal, A-dal-test, A-si-pkg

#4759 feat(auth-portal, auth-api): Add ability to set billing details for a user
  app/auth-portal/src/App.vue
  app/auth-portal/src/pages/BillingPage.vue
  app/auth-portal/src/router.ts
  app/auth-portal/src/store/auth.store.ts
  bin/auth-api/src/lib/lago.ts
  bin/auth-api/src/routes/user.routes.ts
Labels: A-auth

#4763 fix: amend silly linting mistake
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4765 fix: layer cache disk config pathing must match new config
  component/init/configs/service.toml
  lib/si-layer-cache/src/disk_cache.rs
Labels: A-si-layer-cache

#4766 docs: add a working on system initiative doc
  app/docs/src/.vitepress/config.ts
  app/docs/src/explanation/index.md
  app/docs/src/explanation/working-on-si.md
  app/docs/src/explanation/working-on-si/opportunity.png
  app/docs/src/explanation/working-on-si/persona.png
  app/docs/src/explanation/working-on-si/storymap.png
  app/docs/src/explanation/working-on-si/workshop.png
Labels: A-docs, A-auth

#4767 fix: set workspace token on first workspace create
  lib/dal-test/src/expand_helpers.rs
  lib/dal-test/src/signup.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/sdf-server/src/service/session/auth_connect.rs
Labels: A-sdf, A-dal, A-dal-test

#4769 updates-working-on-SI
  app/docs/src/explanation/working-on-si.md
Labels: A-docs, A-auth

#4770 chore: show how snapshots can be repaired
  lib/dal/examples/rebase/main.rs
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

#4768 feat(si-data-spicedb): create initial SpiceDB Rust client
  .ci/docker-compose.test-integration.yml
  Cargo.lock
  Cargo.toml
  lib/dal-macros/Cargo.toml
  lib/dal-macros/tests/ui/07-node_weight-no-discriminant-specified-fail.stderr
  lib/dal-macros/tests/ui/08-node_weight-bad-node_hash-custom-code-fail.stderr
  lib/si-data-spicedb/BUCK
  lib/si-data-spicedb/Cargo.toml
  lib/si-data-spicedb/src/lib.rs
  lib/si-data-spicedb/src/types.rs
  lib/si-data-spicedb/tests/integration.rs
  lib/si-data-spicedb/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4773 docs: update road map
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#4772 chore(dal): set some spans to debug from info
  lib/dal/src/component.rs
Labels: A-dal

#4764 Install module upgrades as editing assets
  bin/module-index/README.md
  lib/dal/src/func.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/install_module.rs
Labels: A-sdf, A-dal, A-module-index

#4774 docs: vocabulary updates to support the opportunity readouts
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#4777 minor-edits-vocab
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#4780 feat(auth-portal): Let a user know they are in free tier
  app/auth-portal/src/App.vue
  app/auth-portal/src/components/InfoCard.vue
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/store/auth.store.ts
  bin/auth-api/src/lib/lago.ts
  bin/auth-api/src/routes/user.routes.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/general/FilterPill.vue
  lib/vue-lib/src/design-system/general/IconButton.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/utils/color_utils.ts
  pnpm-lock.yaml
Labels: A-auth

#4781 chore(web): Cleanup of component imports
  app/web/package.json
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionRunnerCard.vue
  app/web/src/components/Actions/ActionRunnerDetails.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/AssetFuncAttachDropdown.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/Debug/ComponentDebugDetails.vue
  app/web/src/components/DetailsPanelMenuIcon.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/FilterPill.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/SiSearch.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/TruncateWithTooltip.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/modules/ModuleListPanel.vue
  pnpm-lock.yaml
Labels: A-web

#4784 fix: spawn one cleanup task per distinct disk cache
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
Labels: A-si-layer-cache

#4785 fix: disable ttl based eviction
  lib/si-layer-cache/src/db.rs
Labels: A-si-layer-cache

#4786 Add How-To: AWS S3 Static Website Hosting + Cloudfront
  app/docs/src/.vitepress/config.ts
  app/docs/src/how-tos/aws-static-cloudfront.md
  app/docs/src/how-tos/aws-static-cloudfront/completed.png
  app/docs/src/how-tos/aws-static-cloudfront/create-acm-certificate.png
  app/docs/src/how-tos/aws-static-cloudfront/create-aws-arn.png
  app/docs/src/how-tos/aws-static-cloudfront/create-cloudfront-alias-record.png
  app/docs/src/how-tos/aws-static-cloudfront/create-cloudfront-distribution.png
  app/docs/src/how-tos/aws-static-cloudfront/create-cloudfront-origin.png
  app/docs/src/how-tos/aws-static-cloudfront/create-hosted-zone.png
  app/docs/src/how-tos/aws-static-cloudfront/create-s3-bucket-policy-statement.png
  app/docs/src/how-tos/aws-static-cloudfront/create-s3-bucket-policy.png
  app/docs/src/how-tos/aws-static-cloudfront/create-s3-bucket-website.png
  app/docs/src/how-tos/aws-static-cloudfront/create-s3-bucket.png
  app/docs/src/how-tos/aws-static-cloudfront/create-s3-public-access-block.png
  app/docs/src/how-tos/aws-static-cloudfront/create-validation-record.png
  app/docs/src/how-tos/index.md
Labels: A-docs, A-auth

#4787 fix: add no-op mode and ensure item cleanup for disk cache
  component/init/configs/service.toml
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
Labels: A-si-layer-cache

#4788 Update for weekly demos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4782 Mock audit logs for frontend
  lib/dal/src/audit_log.rs
  lib/dal/src/lib.rs
  lib/dal/tests/integration_test/audit_log.rs
  lib/dal/tests/integration_test/mod.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/lib.rs
  lib/si-frontend-types-rs/src/audit_log.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal

#4778 feat: add spicedb client relationship and permission calls
  Cargo.lock
  component/spicedb/entrypoint.sh
  lib/si-data-spicedb/BUCK
  lib/si-data-spicedb/Cargo.toml
  lib/si-data-spicedb/src/lib.rs
  lib/si-data-spicedb/src/types.rs
  lib/si-data-spicedb/tests/integration_test/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4790 chore: add a test to prevent breaking graph deserializations
  lib/dal/BUCK
  lib/dal/examples/rebase/main.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/prop.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/serialization-test-data-2024-10-14.snapshot
Labels: A-dal

#4789 feat(auth-portal): Expose whether a person has exceeded free tier
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/store/auth.store.ts
  bin/auth-api/src/lib/lago.ts
  bin/auth-api/src/routes/user.routes.ts
Labels: A-auth

#4783 chore: refactor the way we send a force change set response
  lib/sdf-server/src/service.rs
  lib/sdf-server/src/service/change_set/add_action.rs
  lib/sdf-server/src/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/service/component/restore_default_function.rs
  lib/sdf-server/src/service/component/set_name.rs
  lib/sdf-server/src/service/component/set_type.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
  lib/sdf-server/src/service/component/upgrade.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/create_connection.rs
  lib/sdf-server/src/service/diagram/delete_component.rs
  lib/sdf-server/src/service/diagram/delete_connection.rs
  lib/sdf-server/src/service/diagram/paste_component.rs
  lib/sdf-server/src/service/diagram/remove_delete_intent.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
  lib/sdf-server/src/service/force_change_set_response.rs
  lib/sdf-server/src/service/module/install_module.rs
  lib/sdf-server/src/service/secret/create_secret.rs
  lib/sdf-server/src/service/secret/delete_secret.rs
  lib/sdf-server/src/service/secret/update_secret.rs
  lib/sdf-server/src/service/v2/func/argument/create_argument.rs
  lib/sdf-server/src/service/v2/func/argument/delete_argument.rs
  lib/sdf-server/src/service/v2/func/argument/update_argument.rs
  lib/sdf-server/src/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/create_unlocked_copy.rs
  lib/sdf-server/src/service/v2/func/delete_func.rs
  lib/sdf-server/src/service/v2/func/execute_func.rs
  lib/sdf-server/src/service/v2/func/save_code.rs
  lib/sdf-server/src/service/v2/func/update_func.rs
  lib/sdf-server/src/service/v2/variant/create_unlocked_copy.rs
  lib/sdf-server/src/service/v2/variant/delete_unlocked_variant.rs
  lib/sdf-server/src/service/variant.rs
  lib/sdf-server/src/service/variant/clone_variant.rs
  lib/sdf-server/src/service/variant/create_variant.rs
  lib/sdf-server/src/service/variant/regenerate_variant.rs
  lib/sdf-server/src/service/variant/save_variant.rs
Labels: A-sdf, A-dal

#4791 Management functions for import
  app/web/src/api/sdf/dal/component.ts
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/FuncEditor/ManagementDetails.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/component.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/set_resource_id.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/lib.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal, A-web

#4793 feat(auth-portal): Check Billing Status from Stripe
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/store/auth.store.ts
  bin/auth-api/package.json
  bin/auth-api/src/lib/stripe.ts
  bin/auth-api/src/routes/user.routes.ts
  pnpm-lock.yaml
Labels: A-auth

#4794 Add filtering and pagination to fake audit logs
  lib/dal/src/audit_log.rs
  lib/dal/tests/integration_test/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/si-events-rs/src/audit_log.rs
Labels: A-sdf, A-dal

#4792 Report new snapshot address (not old) in billing event
  lib/dal/src/change_set.rs
Labels: A-dal

#4795 chore: make some leftover impl IntoResponse types concrete
  app/web/src/components/ComponentDetailsManagement.vue
  lib/sdf-server/src/service/component/set_resource_id.rs
  lib/sdf-server/src/service/v2/admin/get_snapshot.rs
  lib/sdf-server/src/service/v2/admin/list_change_sets.rs
  lib/sdf-server/src/service/v2/admin/list_workspace_users.rs
  lib/sdf-server/src/service/v2/admin/search_workspaces.rs
Labels: A-sdf, A-web

#4796 Improve the TS here so its clear what is happening with less forcing it
  app/web/src/App.vue
  app/web/src/components/FuncEditor/FuncList.vue
Labels: A-web

#4798 fix: disk cache removal types swapped
  lib/si-layer-cache/src/disk_cache.rs
Labels: A-si-layer-cache

#4799 Fix the run prototype loading icon
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4800 Fix typo, copy, and some styling
  app/web/src/components/ComponentDetailsManagement.vue
Labels: A-web

#4803 feat(ENG-2745): actions can set resourceId
  bin/lang-js/src/function_kinds/action_run.ts
  lib/cyclone-core/src/action_run.rs
  lib/cyclone-server/src/result/action_run.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/job/definition/action.rs
Labels: A-cyclone, A-lang-js, A-dal

#4804 Fix: only one toast for "changes from head"
  app/web/src/main.ts
Labels: A-web

#4805 fix(docs): Fix static how-to guide for ARN to Statement
  app/docs/src/how-tos/aws-static-cloudfront.md
Labels: A-docs, A-auth

#4806 fix(roadmap): Adding a roadmap item for ReBAC blog post
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#4802 Replace billing lambda with dynamic view
  component/lambda/functions/track_resource_counts.py
  component/lambda/sql/billing.sql
Labels: A-dal, A-auth

#4810 Fix intrinsics dropdown
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/func/funcs.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-web

#4812 fix: e2e concurrency flags
  .github/workflows/crons.yml
  .github/workflows/deploy-stack.yml
Labels: A-ci

#4813 feat: Add more to management func types
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/management.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-dal-test

#4818 fix: show funcs for unlocked variants even if not bound to default variant
  lib/sdf-server/src/service/v2/func/list_funcs.rs
Labels: A-sdf

#4815 Add second cron for running e2e tests against tools production, fix deployment so we cancel running e2e tests if a deploy is kicked off
  .github/workflows/deploy-stack.yml
  .github/workflows/prod-crons.yml
  .github/workflows/tools-crons.yml
Labels: A-ci

#4817 Chainsaw: Prep for Views
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionRunnerCard.vue
  app/web/src/components/Actions/ActionRunnerCardV2.vue
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetDiffDetails.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AssetQualificationsDetails.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/ChangeCard.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsCode.vue
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/Debug/ComponentDebugDetails.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/EdgeCard.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/AuthenticationDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
  app/web/src/components/FuncEditor/ManagementDetails.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/components/MultiSelectDetailsPanel.vue
  app/web/src/components/QualificationViewerSingle.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/StatusBar/StatusBarDiffSummary.vue
  app/web/src/components/StatusBar/StatusBarResourceSummary.vue
  app/web/src/components/Workspace/CommandModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/qualifications.store.ts
Labels: A-web

#4822 Add config to export logs via otelcol
  component/otelcol/config.yaml
  component/otelcol/honeycomb-config.yaml
Labels: A-otelcol

#4823 fix(sdf): Make component not found to be 404 not 500
  lib/sdf-server/src/service/component.rs
Labels: A-sdf

#4825 feat: management functions can add or remove actions
  bin/lang-js/src/function_kinds/management.ts
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/management/mod.rs
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-lang-js, A-dal

#4826 Print underlying error for pool noodle issues
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
Labels: A-si-pool-noodle

#4828 audit log mock behind feature flag
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/web/package.json
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/pages/DebugPage.vue
  app/web/src/router.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/logs.store.ts
  lib/dal/src/audit_log.rs
  lib/dal/tests/integration_test/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/si-events-rs/src/audit_log.rs
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/general/IconButton.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  pnpm-lock.yaml
Labels: A-sdf, A-dal, A-web

#4832 Revert "Feat: migrate current diagram to use views transparently "
  lib/dal-test/src/expected.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v3/component.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema/variant.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/rebase.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/component.rs
  lib/dal/src/workspace_snapshot/graph/v4/schema.rs
  lib/dal/src/workspace_snapshot/graph/v4/schema/variant.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/src/workspace_snapshot/migrator/v4.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/src/workspace_snapshot/node_weight/traits/correct_exclusive_outgoing_edge.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/node_weight/ordering.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/serialization-test-data-2024-10-14.snapshot
  lib/dal/tests/serialization-test-data-2024-10-17.snapshot
  lib/sdf-server/src/service/component/set_type.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/paste_component.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-dal-test

#4834 feat(web): Hide hidden props from intrinsics panel
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#4835 Add edges between dependent components in the actions dependencies graph for both frames and edges.
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  lib/dal-test/src/helpers.rs
  lib/dal/src/action/dependency_graph.rs
  lib/dal/tests/integration_test/action.rs
Labels: A-dal, A-web, A-dal-test

#4837 Add weekly demos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4827 feat: sync user relations from auth-api
  Cargo.lock
  component/spicedb/schema.zed
  lib/permissions/src/lib.rs
  lib/permissions/tests/integration_test/mod.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/app_state.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/service/session.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/sdf-server/src/service/session/refresh_workspace_members.rs
  lib/si-data-spicedb/src/lib.rs
  lib/si-data-spicedb/src/types.rs
  lib/si-data-spicedb/tests/integration_test/mod.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4839 feat: deploy every day at 3pm UTC
  .github/workflows/deploy-after-wait.yml
  .github/workflows/prod-deploy-cron.yml
  .github/workflows/prod-test-cron.yml
  .github/workflows/tools-test-cron.yml
Labels: A-ci

#4840 fix(auth-api): Protection of Owner based API endpoints
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#4841 Clear out processed store data on fetch (removes deletes)
  app/web/src/store/components.store.ts
Labels: A-web

#4843 Fix ability to update func metadata
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4842 feat(sdf): Posthog track when approvers are added / removed
  lib/sdf-server/src/service/session/refresh_workspace_members.rs
Labels: A-sdf

#4848 fix: disable disk cache cleanup
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
Labels: A-si-layer-cache

#4830 Always sort object fields in their schema-defined order
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/property_order.rs
  lib/dal/tests/integration_test/rebaser.rs
Labels: A-dal, A-dal-test

#4829 Add custom extractor for filtering audit logs
  Cargo.lock
  Cargo.toml
  lib/dal/src/audit_log.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/target-triple/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4844 chore: give test schemas stable schema ids
  Cargo.lock
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/test_exclusive_schemas/category_pirate.rs
  lib/dal-test/src/test_exclusive_schemas/category_validated.rs
  lib/dal-test/src/test_exclusive_schemas/dummy_secret.rs
  lib/dal-test/src/test_exclusive_schemas/fake_butane.rs
  lib/dal-test/src/test_exclusive_schemas/fake_docker_image.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/tests/integration_test/module.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4846 Use get_child_av_ids_in_order for view() algorithm
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/helpers/property_editor_test_view.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/attribute/value/is_for.rs
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/component/qualification.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/input_sources.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/qualification.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/validation.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/component/property_order.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/prop.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/dal/tests/integration_test/resource_metadata.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
Labels: A-sdf, A-dal, A-dal-test

#4853 Revert "Feat: migrate current diagram to view"
  lib/dal-test/src/expected.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v3/component.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema/variant.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests/rebase.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/component.rs
  lib/dal/src/workspace_snapshot/graph/v4/schema.rs
  lib/dal/src/workspace_snapshot/graph/v4/schema/variant.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/src/workspace_snapshot/migrator/v4.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/src/workspace_snapshot/node_weight/traits/correct_exclusive_outgoing_edge.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/node_weight/ordering.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/serialization-test-data-2024-10-14.snapshot
  lib/dal/tests/serialization-test-data-2024-10-17.snapshot
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/service/component/set_type.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/paste_component.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-dal-test

#4854 Track server-level tasks in the rebaser
  lib/rebaser-server/src/app_state.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/handlers.rs
  lib/rebaser-server/src/rebase.rs
  lib/rebaser-server/src/server.rs
Labels: A-rebaser

#4851 fix: restore on demand asset installation
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
Labels: A-web

#4856 fix: amend deployment of prod
  .github/workflows/deploy-after-wait.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#4860 fix: remove concurrency indicator from cron
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#4849 fix: include geometry in management test runs
  app/web/src/components/FuncEditor/FuncTest.vue
Labels: A-web

#4845 Orphan all children before removing old frame version on schema version upgrade
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component/upgrade.rs
Labels: A-dal

#4861 feat: add metrics to layer cache hits
  Cargo.lock
  component/deploy/userdata
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/src/pg.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4864 Fix: old component type remained when switching to different type
  app/web/src/store/components.store.ts
Labels: A-web

#4866 feat(docs): Adding How-to for AWS ECR ECS
  app/docs/src/.vitepress/config.ts
  app/docs/src/how-tos/aws-ecr-ecs.md
  app/docs/src/how-tos/aws-ecr-ecs/complete.png
  app/docs/src/how-tos/aws-ecr-ecs/create-container-definition.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ec2-security-group.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecr-repository-policy.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecr-repository.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-cluster.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-iam-policy-statement.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-lb-config.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-service.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-condition-operator.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-policy-statement.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-role-policy.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-role.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ingress-rule-for-application.png
  app/docs/src/how-tos/aws-ecr-ecs/create-listener.png
  app/docs/src/how-tos/aws-ecr-ecs/create-loadbalancer.png
  app/docs/src/how-tos/aws-ecr-ecs/create-port-mapping.png
  app/docs/src/how-tos/aws-ecr-ecs/create-security-group-for-application.png
  app/docs/src/how-tos/aws-ecr-ecs/create-security-group-ingress.png
  app/docs/src/how-tos/aws-ecr-ecs/create-target-group.png
  app/docs/src/how-tos/aws-ecr-ecs/create-task-definition.png
  app/docs/src/how-tos/index.md
Labels: A-docs, A-auth

#4867 chore: upgrade rust to version 1.82
  Cargo.toml
  flake.lock
  lib/dal-macros/tests/ui/07-node_weight-no-discriminant-specified-fail.stderr
  lib/dal-macros/tests/ui/08-node_weight-bad-node_hash-custom-code-fail.stderr
  lib/dal/src/func/backend.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/producer.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/object-tree/src/lib.rs
  lib/sdf-server/src/service/ws/workspace_updates.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-pkg/src/node/package.rs
  third-party/rust/Cargo.toml
Labels: A-sdf, A-dal, A-object-tree, A-si-pkg, A-si-layer-cache

#4871 feat: Create update and list endpoints for views
  lib/dal/src/diagram/view.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_view.rs
  lib/sdf-server/src/service/v2/view/list_views.rs
  lib/sdf-server/src/service/v2/view/update_view.rs
Labels: A-sdf, A-dal

#4875 fix: Copy geometries when upgrading component
  lib/dal/src/component.rs
  lib/dal/src/diagram/geometry.rs
Labels: A-dal

#4876 chore: disable broken cypress test
  app/web/cypress/e2e/archive/authentication/logout.cy.ts
Labels: A-web

#4878 fix: Send the correct component size data on websocket events
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf

#4880 fix: Use the correct sizes when set component does not set a size
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf

#4879 fix: properly archive cypress tests
  app/web/cypress/archive/authentication/logout.cy.ts
  app/web/cypress/archive/signup/signup.cy.ts
Labels: A-web

#4872 Add shuttle crate
  Cargo.lock
  Cargo.toml
  lib/shuttle/BUCK
  lib/shuttle/Cargo.toml
  lib/shuttle/src/app_state.rs
  lib/shuttle/src/handlers.rs
  lib/shuttle/src/lib.rs
  lib/shuttle/src/middleware.rs
  lib/shuttle/tests/integration.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4882 Update changelog for 10/28/2024 demos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4877 audit logs JSON display and other improvements
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogDrawer.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/components/layout/navbar/NavbarButton.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  bin/auth-api/README.md
  lib/vue-lib/src/design-system/general/Timestamp.vue
Labels: A-web, A-auth

#4884 fix: Upgrade js dependencies without breaking icons
  app/auth-portal/package.json
  app/docs/package.json
  app/web/package.json
  bin/auth-api/package.json
  bin/lang-js/package.json
  bin/si-discord-bot/package-lock.json
  bin/si-discord-bot/package.json
  lib/eslint-config/package.json
  lib/ts-lib/package.json
  lib/vue-lib/package.json
  lib/yjs-codemirror-plugin/package.json
  pnpm-lock.yaml
Labels: A-docs, A-lang-js, A-web, A-si-discord-bot, A-auth

#4889 chore(deps): Update Dependencies
  bin/auth-api/package.json
  bin/lang-js/package.json
  bin/si-discord-bot/package-lock.json
  pnpm-lock.yaml
Labels: A-lang-js, A-si-discord-bot, A-auth

#4891 Don't filter out bindings for schema variants that have components on the canvas
  lib/sdf-server/src/service/v2/func/list_funcs.rs
Labels: A-sdf

#4890 chore(deps): Upgrading deps
  lib/vue-lib/package.json
  lib/yjs-codemirror-plugin/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#4893 feat: create and manage other components
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/management.rs
  lib/dal-test/src/expected.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/func/kill_execution.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/si-pkg/src/node/management_func.rs
  lib/si-pkg/src/pkg/management_func.rs
  lib/si-pkg/src/spec/management_func.rs
  lib/veritech-client/tests/integration.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-dal-test, A-si-pkg

#4892 feat: add `WorkspacePermission` axum middleware & v2 change set apply
  .ci/docker-compose.test-integration.yml
  Cargo.lock
  component/spicedb/schema.zed
  lib/permissions/BUCK
  lib/permissions/Cargo.toml
  lib/permissions/src/lib.rs
  lib/permissions/src/schema/schema.zed
  lib/permissions/tests/integration_test/mod.rs
  lib/sdf-server/src/app_state.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/middleware.rs
  lib/sdf-server/src/middleware/workspace_permission.rs
  lib/sdf-server/src/routes.rs
  lib/sdf-server/src/service/session.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/sdf-server/src/service/session/refresh_workspace_members.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/si-events-rs/src/actor.rs
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4894 chore(deps): Update semver, ws and babel/traverse
  pnpm-lock.yaml
Labels: vulnerability-fix

#4895 chore(deps): Update get-func-name, http-proxy-middleware & path-to-regexp.
  pnpm-lock.yaml
Labels: vulnerability-fix

#4885 AI Asset Generator
  Cargo.lock
  Cargo.toml
  app/web/src/components/Ai/GenerateAwsAssetSchemaPanel.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  bin/sdf/src/args.rs
  component/init/configs/service.toml
  lib/asset-sprayer/BUCK
  lib/asset-sprayer/Cargo.toml
  lib/asset-sprayer/prompts/aws/asset_schema.yaml
  lib/asset-sprayer/src/config.rs
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompts.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/app_state.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/service/v2/variant.rs
  lib/sdf-server/src/service/v2/variant/generate_aws_asset_schema.rs
  lib/si-test-macros/src/sdf_test.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4900 fix(sdf): Fixup SDF v2 Changeset routes
  lib/sdf-server/src/service/v2.rs
Labels: A-sdf

#4899 Remove optional parameters from service.toml
  Cargo.lock
  component/init/configs/service.toml
  lib/asset-sprayer/BUCK
  lib/asset-sprayer/Cargo.toml
  lib/asset-sprayer/src/config.rs
  lib/asset-sprayer/src/lib.rs
  lib/si-settings/BUCK
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift
