Repository systeminit/si, pull requests merged in 2024-01, with the labels that each got.

#3106 fix(si-pkg): Ensure we carry the secrets to leaf functions
  lib/si-pkg/src/node/leaf_function.rs
  lib/si-pkg/src/pkg/leaf_function.rs
Labels: A-si-pkg

#3107 feat: add ssl to postgres
  Cargo.lock
  Cargo.toml
  bin/module-index/BUCK
  bin/module-index/src/args.rs
  bin/pinga/BUCK
  bin/pinga/src/args.rs
  bin/sdf/BUCK
  bin/sdf/src/args.rs
  component/postgres/BUCK
  component/postgres/Dockerfile
  component/postgres/entrypoint-wrapper.sh
  component/postgres/server.crt
  component/postgres/server.key
  config/keys/BUCK
  config/keys/dev.postgres.root.crt
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/module-index-server/src/config.rs
  lib/pinga-server/src/config.rs
  lib/sdf-server/BUCK
  lib/sdf-server/src/server/config.rs
  lib/si-cli/src/cmd/start.rs
  lib/si-cli/src/engine/docker_engine.rs
  lib/si-cli/src/engine/podman_engine.rs
  lib/si-cli/src/key_management.rs
  lib/si-data-pg/BUCK
  lib/si-data-pg/Cargo.toml
  lib/si-data-pg/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-postgres, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#3108 Fix component restore if destruction fails
  lib/dal/src/job/definition/fix.rs
Labels: A-dal

#3109 fix: dummy commit to force a new build
  README.md
  bin/si/BUCK
Labels: A-si

#3112 Avoid blocking frontend when actions are running
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3115 chore(sdf): Remove an old dbg from a previous PR in exec_variant_def
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf

#3116 Fix copy paste for maps and arrays
  lib/dal/src/component.rs
Labels: A-dal

#3117 fix(web): Fix search functionality in modules tab
  app/web/src/components/modules/ModuleListPanel.vue
Labels: A-web

#3110 feat(dal,lang-js,web) - add addValidation to the prop builder that receives a joi Obj
  app/web/package.json
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/main.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/qualifications.store.ts
  bin/lang-js/package.json
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/sandbox.ts
  lib/dal-test/src/test_harness.rs
  lib/dal/src/migrations/U2407__add_validation_format_to_props.sql
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/internal/attribute/prototype.rs
  lib/dal/tests/integration_test/internal/attribute/prototype_argument.rs
  lib/dal/tests/integration_test/internal/attribute/value.rs
  lib/dal/tests/integration_test/internal/attribute/view.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/dal/tests/integration_test/internal/component/code.rs
  lib/dal/tests/integration_test/internal/component/qualification.rs
  lib/dal/tests/integration_test/internal/component/validation.rs
  lib/dal/tests/integration_test/internal/component/view.rs
  lib/dal/tests/integration_test/internal/component/view/complex_func.rs
  lib/dal/tests/integration_test/internal/component/view/properties.rs
  lib/dal/tests/integration_test/internal/prop.rs
  lib/dal/tests/integration_test/internal/property_editor.rs
  lib/dal/tests/integration_test/internal/provider/inter_component.rs
  lib/dal/tests/integration_test/internal/provider/intra_component.rs
  lib/dal/tests/integration_test/internal/validation_resolver.rs
  lib/sdf-server/src/server/service/ts_types/.editorconfig
  lib/sdf-server/src/server/service/ts_types/asset_builder.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/variant.rs
  pnpm-lock.yaml
Labels: A-sdf, A-lang-js, A-dal, A-web, A-dal-test, A-si-pkg

#3121 fix(sdf): Fire a changeset written event when create_node happens
  lib/sdf-server/src/server/service/diagram/create_node.rs
Labels: A-sdf

#3118 window/keyboard event handling priority
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Popover.vue
  lib/vue-lib/src/index.ts
  lib/vue-lib/src/utils/listener-manager.ts
Labels: A-web

#3122 fix: revert changes to stop script
  bin/veritech/scripts/stop.sh
Labels: A-veritech

#3124 fix(sdf): Add joi types to Editor
  bin/lang-js/package.json
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/ts_types/asset_builder.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types.d.ts
  lib/sdf-server/src/server/service/ts_types/asset_types_with_secrets.d.ts
  lib/sdf-server/src/server/service/ts_types/joi.d.ts
Labels: A-sdf, A-lang-js

#3125 feat: add trace logs for cyclone function execution
  bin/veritech/scripts/prepare_jailer.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
Labels: A-veritech, A-deadpool-cyclone

#3126 show loader until new components appear when pasting
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-web

#3127 option + click/drag to select within frames
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3128 fix(web): Deal with unset Joi validations correctly
  app/web/src/store/component_attributes.store.ts
Labels: A-web

#3129 fix(web): Update the secrets store to be scoped to a changes
  app/web/src/store/secrets.store.ts
Labels: A-web

#3130 feat(web) - ellipsis menu, abandon cs approval flow, various bug fixes
  app/web/src/App.vue
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ChangeCard.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentOutline/ComponentOutlineNode.vue
  app/web/src/components/DetailsPanelMenuIcon.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/MultiSelectDetailsPanel.vue
  app/web/src/components/Popover.vue
  app/web/src/components/SiSearch.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/NavbarThemeSwitcher.vue
  app/web/src/components/modules/ModuleListItem.vue
  app/web/src/main.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/change_set.rs
  lib/dal/src/migrations/U2408__approvals_user_info.sql
  lib/dal/src/queries/change_set/begin_abandon_flow.sql
  lib/dal/src/queries/change_set/begin_merge_flow.sql
  lib/dal/src/queries/change_set/cancel_abandon_flow.sql
  lib/dal/src/queries/change_set/open_list.sql
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/abandon_vote.rs
  lib/sdf-server/src/server/service/change_set/begin_abandon_approval_process.rs
  lib/sdf-server/src/server/service/change_set/list_open_change_sets.rs
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
  lib/vue-lib/src/design-system/utils/timestamp.ts
Labels: A-sdf, A-dal, A-web

#3131 fix: add retry to firecracker connect
  bin/veritech/src/args.rs
  lib/cyclone-client/BUCK
  lib/cyclone-client/Cargo.toml
  lib/cyclone-client/src/client.rs
  lib/cyclone-client/src/execution.rs
  lib/cyclone-client/src/lib.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/veritech-server/src/config.rs
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech, A-cyclone, A-deadpool-cyclone

#3132 Add detach component endpoint
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
Labels: A-sdf

#3133 feat(web, sdf): Force system to create a new changeset when changing secrets on HEAD
  app/web/src/store/secrets.store.ts
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
Labels: A-sdf, A-web

#3137 feat: add configuration option for otel + new honeycomb trace option
  component/otelcol/BUCK
  component/otelcol/Dockerfile
  component/otelcol/docker-entrypoint.sh
  component/otelcol/honeycomb-config.yaml
Labels: A-otelcol

#3138 fix(web) fix awkward process.env issue caused by joi (for some)
  app/web/src/main.ts
Labels: A-web

#3140 Change Fix batch timeout
  lib/sdf-server/src/server/service/fix/list.rs
Labels: A-sdf

#3144 Wendy/eng 2180 allow user to understand connection between applied changes
  app/web/package.json
  app/web/src/components/ActionCard.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApplyHistory.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/ChangeCard.vue
  app/web/src/components/ChangesPanel.vue
  app/web/src/components/FixCard.vue
  app/web/src/components/FixDetails.vue
  app/web/src/components/QualificationViewerSingle.vue
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/icons/icon_set.ts
  pnpm-lock.yaml
Labels: A-web

#3145 Save more frequently to ensure data is not lost
  app/web/src/components/CodeEditor.vue
Labels: A-web

#3146 feat: added otelcol to cyclone within firecracker
  bin/veritech/scripts/userdata.sh
  dev/Tiltfile
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech, A-deadpool-cyclone

#3149 fix: amend ip for otel within cylcone so it doesn't clash with any internal ips
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-deadpool-cyclone

#3150 chore(dal): retire `ensure_validations_are_sourced_correctly` test
  lib/dal/tests/integration_test/internal/component/validation.rs
Labels: A-dal

#3148 feat(sdf,telemetry): add INFO level tracing span for every request
  Cargo.lock
  Cargo.toml
  lib/dal/src/func/backend.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server/server.rs
  lib/si-data-nats/src/lib.rs
  lib/si-data-nats/src/subscriber.rs
  lib/telemetry-http-rs/BUCK
  lib/telemetry-http-rs/Cargo.toml
  lib/telemetry-http-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3147 Remove debouncer from code editor to avoid data loss
  app/web/src/components/AssetEditor.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/func/execute.rs
  lib/sdf-server/tests/service_tests/functions.rs
Labels: A-sdf, A-web

#3154 feat: convenience script for pulling logs from firecracker jails
  bin/veritech/scripts/get_cyclone_logs.sh
Labels: A-veritech

#3155 fix: docker + iptables conflicting rules amendment
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-deadpool-cyclone

#3153 feat: summary table for qualifications
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2409__summary_qualifications.sql
  lib/dal/src/qualification.rs
  lib/dal/src/queries/summary_qualification/get_summary_qualifications.sql
  lib/sdf-server/src/server/service/qualification/get_summary.rs
Labels: A-sdf, A-dal

#3139 fix(web) shim node util for browserified version
  app/web/package.json
  app/web/src/main.ts
  app/web/vite.config.ts
  pnpm-lock.yaml
Labels: A-web

#3156 feat(sdf,telemetry): update HTTP status on all request spans
  lib/sdf-server/src/server/server.rs
  lib/telemetry-http-rs/src/lib.rs
  lib/telemetry-http-rs/src/make_span.rs
  lib/telemetry-http-rs/src/on_response.rs
  lib/telemetry-rs/src/lib.rs
Labels: A-sdf, A-telemetry-rs

#3157 fix: add missing iptables rule for default network namespace forwarding
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
Labels: A-deadpool-cyclone

#3159 feat(telemetry): extract otel context & associate with HTTP request spans
  Cargo.lock
  lib/telemetry-http-rs/BUCK
  lib/telemetry-http-rs/Cargo.toml
  lib/telemetry-http-rs/src/lib.rs
  lib/telemetry-http-rs/src/make_span.rs
  lib/telemetry-http-rs/src/propagation.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3161 feat(si-data-nats): update API surface coverage & add service API
  Cargo.lock
  Cargo.toml
  lib/council-server/src/client.rs
  lib/council-server/src/server.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/status.rs
  lib/dal/src/tasks/status_receiver.rs
  lib/dal/src/tasks/status_receiver/client.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/service/func/execute.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/crdt/y.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/si-data-nats/BUCK
  lib/si-data-nats/Cargo.toml
  lib/si-data-nats/examples/nats-publish/main.rs
  lib/si-data-nats/src/connect_options.rs
  lib/si-data-nats/src/lib.rs
  lib/si-data-nats/src/service.rs
  lib/si-data-nats/src/subscriber.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/publisher.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3162 fix(web) - nudging fixed, pencil icon
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/SecretCard.vue
Labels: A-web

#3164 feat(web) - SecretsPopover can be taller
  app/web/src/components/SecretsPopover.vue
Labels: A-web

#3165 Remove internal providers, fix replace references
  lib/dal/BUCK
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/provider/internal.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/tests/integration_test/internal/new_engine/builtins.rs
  lib/dal/tests/integration_test/internal/new_engine/component.rs
Labels: A-dal

#3160 frame attach/detach improvements
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  lib/dal/src/edge.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-dal, A-web

#3166 Fix on before unmount
  app/web/src/components/CodeEditor.vue
Labels: A-web

#3167 fix(web): Ensure that node name changes are propagated correctly
  app/web/src/components/AttributesPanel/AttributesPanel.vue
Labels: A-web

#3168 Update remote modules reload
  app/web/src/store/module.store.ts
Labels: A-web

#3169 Save resource on change-set if component got upgraded
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3172 fix(web) - AttributesPanel UI improvements, last ApplyHistory UI changes
  app/web/src/components/ActionCard.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ChangeCard.vue
  app/web/src/components/FixCard.vue
  app/web/src/components/FixCardIconButton.vue
  app/web/src/components/FixDetails.vue
  lib/vue-lib/src/design-system/icons/custom-icons/code-pop-square.svg
  lib/vue-lib/src/design-system/icons/custom-icons/code-pop.svg
  lib/vue-lib/src/design-system/icons/custom-icons/logs-pop-square.svg
  lib/vue-lib/src/design-system/icons/custom-icons/logs-pop.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#3174 build(deps): upgrade to NATS 2.10.9
  component/nats/BUCK
Labels: A-nats

#3173 feat: augment NATS tracing & add INFO span support for subscriptions
  Cargo.lock
  Cargo.toml
  lib/council-server/src/server.rs
  lib/council-server/src/server/graph.rs
  lib/council-server/src/server/graph/node_metadata.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/definition/fix.rs
  lib/nats-subscriber/BUCK
  lib/nats-subscriber/Cargo.toml
  lib/nats-subscriber/src/builder.rs
  lib/nats-subscriber/src/lib.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/crdt/y.rs
  lib/si-data-nats/BUCK
  lib/si-data-nats/examples/nats-subscribe/main.rs
  lib/si-data-nats/src/lib.rs
  lib/si-data-nats/src/message.rs
  lib/si-data-nats/src/subscriber.rs
  lib/si-data-pg/src/lib.rs
  lib/telemetry-nats-rs/BUCK
  lib/telemetry-nats-rs/Cargo.toml
  lib/telemetry-nats-rs/src/headers.rs
  lib/telemetry-nats-rs/src/lib.rs
  lib/telemetry-nats-rs/src/make_span.rs
  lib/telemetry-nats-rs/src/propagation.rs
  lib/telemetry-rs/src/lib.rs
  lib/veritech-server/src/server.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3175 chore: revert "build(deps): upgrade to NATS 2.10.9"
  component/nats/BUCK
Labels: A-nats

#3171 Act on http request asynchronously, returning immediately
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/store/components.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-dal, A-web

#3176 feat(web) - Secret widget in modal, AttributesPanelItem fix
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/components/SecretsPopover.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#3177 fix(web, sdf): Allow get_code to handle string code_views
  app/web/src/components/CodeViewer.vue
  lib/dal/src/code_view.rs
Labels: A-dal, A-web

#3182 Refactor component resource view
  lib/dal/src/component/resource.rs
  lib/dal/tests/integration_test/internal/component/resource.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_resource.rs
  lib/sdf-server/src/server/service/component/list_resources.rs
Labels: A-sdf, A-dal

#3179 feat(web,dal,sdf) - add new configuration frame with direction
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/src/edge.rs
  lib/dal/src/queries/edge/list_children_for_node.sql
  lib/dal/src/queries/edge/list_parents_for_component.sql
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/schema/variant/root_prop/component_type.rs
  lib/dal/tests/integration_test/external/aws_region.rs
  lib/dal/tests/integration_test/internal/component.rs
  lib/dal/tests/integration_test/internal/edge.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_aws_key_pair.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_mocked_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_flow_fedora_coreos_ignition.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3180 Add code generation test
  lib/dal/tests/integration_test/internal/component/code.rs
Labels: A-dal

#3183 Add arch-linux support to firecracker startup script
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
Labels: A-deadpool-cyclone

#3184 chore(web) - Upgrade cypress to latest, refactor structure/tests, support auth0
  app/web/.env
  app/web/cypress.config.ts
  app/web/cypress.d.ts
  app/web/cypress.json
  app/web/cypress/e2e/1-signup/signup.cy.ts
  app/web/cypress/e2e/2-login/login.cy.ts
  app/web/cypress/e2e/2-login/logout.cy.ts
  app/web/cypress/e2e/3-create-components/create-component.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/integration/1-signup/signup.spec.ts
  app/web/cypress/integration/2-login/login.spec.ts
  app/web/cypress/integration/2-login/logout.spec.ts
  app/web/cypress/plugins/index.ts
  app/web/cypress/support/auth-provider-commands/auth0.ts
  app/web/cypress/support/commands.ts
  app/web/cypress/support/e2e.ts
  app/web/cypress/tsconfig.json
  app/web/package.json
  app/web/src/components/AssetPalette.vue
  app/web/tsconfig.json
  pnpm-lock.yaml
Labels: A-web

#3178 feat: add PoolNoodle to manage firecracker jails
  Cargo.lock
  bin/veritech/scripts/stop.sh
  lib/deadpool-cyclone/src/instance.rs
  lib/deadpool-cyclone/src/instance/cyclone/firecracker-setup.sh
  lib/deadpool-cyclone/src/instance/cyclone/local_http.rs
  lib/deadpool-cyclone/src/instance/cyclone/local_uds.rs
  lib/deadpool-cyclone/src/lib.rs
  lib/deadpool-cyclone/src/pool_noodle.rs
  lib/deadpool-cyclone/src/pool_noodle/pool_noodle.rs
  lib/veritech-server/src/server.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3181 feat(web) snap frame attach/detach with snapping
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingDiagram/utils/math.ts
  app/web/src/store/components.store.ts
Labels: A-web

#3186 enable-abandon-changeset
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3185 feat: get_diagram is now a summary table
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/connection.rs
  lib/dal/src/diagram/node.rs
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/edge.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2411__summary_diagram.sql
  lib/dal/src/node.rs
  lib/dal/src/provider/internal.rs
  lib/dal/src/queries/attribute_value/is_for_internal_provider_of_root_prop.sql
  lib/dal/src/queries/internal_provider/is_for_root_prop.sql
  lib/dal/src/queries/summary_diagram/list_summary_diagram_components.sql
  lib/dal/src/queries/summary_diagram/list_summary_diagram_edges.sql
  lib/dal/src/queries/summary_qualification/get_summary_qualifications.sql
  lib/dal/tests/integration_test/internal/diagram.rs
  lib/dal/tests/integration_test/internal/provider.rs
Labels: A-dal

#3188 web-cleanup-old-feature-flags
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3191 chore-cleanup-reconcilliations-store
  app/web/src/components/SyncExecutor.vue
  app/web/src/store/reconciliations.store.ts
Labels: A-web

#3193 chore-remove-create-module-button
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/modules/ModuleExportModal.vue
  app/web/src/components/modules/ModuleListPanel.vue
Labels: A-web

#3189 Remove unnecessary abstractions and refactor areas found during summary diagram dive (ENG-2266)
  lib/dal-test/src/lib.rs
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/builtins/schema/test_exclusive_fallout.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_fallout.rs
  lib/dal/src/builtins/schema/test_exclusive_schema_starfield.rs
  lib/dal/src/builtins/schema/test_exclusive_starfield.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/connection.rs
  lib/dal/src/diagram/node.rs
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/history_event.rs
  lib/dal/src/history_event/metadata.rs
  lib/dal/src/lib.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/internal/diagram.rs
Labels: A-dal, A-dal-test

#3194 chore-remove-store-test-page
  app/web/src/pages/store_test/CounterWidget.vue
  app/web/src/pages/store_test/StoreTestPage.vue
  app/web/src/router.ts
Labels: A-web

#3195 Ensure tabs keep their change sets (BUG-58)
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3196 chore: amend wording in new change set dropdown
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3197 fix(web): calculate ancestry in frontend to ignore parentId stored for get_diagram
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/store/components.store.ts
  lib/dal/src/diagram/summary_diagram.rs
Labels: A-dal, A-web

#3198 fix(web,sdf,dal): Allow only one parent frame socket connection
  app/web/src/store/components.store.ts
  lib/dal/src/diagram/connection.rs
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/edge.rs
  lib/dal/tests/integration_test/internal/edge.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
Labels: A-sdf, A-dal, A-web

#3199 Fix new components sometimes having a populated resource tree (BUG-60)
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#3200 feat(web,dal,sdf) Pasting components to frames binds to them
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-web

#3201 fix(sdf,dal): Update frame children list on delete_component
  lib/dal/src/component.rs
  lib/dal/src/edge.rs
  lib/dal/src/queries/edge/list_children_for_component.sql
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal

#3204 Add textarea password support
  app/web/src/components/AddSecretForm.vue
Labels: A-web

#3206 fix(web): Move child frames when parent frame moves
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3205 Ensure pinga fails on startup if it cannot connect to PG (BUG-68)
  lib/pinga-server/src/server.rs
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg, A-pinga

#3208 Fix components from HEAD not having new positions persist (BUG-71)
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/migrations/U2412__summary_diagram_update_geometry_insert_row.sql
Labels: A-dal

#3202 fix(web) apply frame parent snapping even if parent is not changing
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/utils/math.ts
Labels: A-web

#3209 bug(geometry): this fixes the geometry upsert
  lib/dal/src/migrations/U2412__summary_diagram_update_geometry_insert_row.sql
Labels: A-dal

#3210 fix(web): Put JOI validations behind feature flag
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/qualifications.store.ts
Labels: A-web

#3212 fix(web) url issues when switching change sets
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3217 Harden council and restart running jobs with a missing dep graph (ENG-2274)
  Cargo.lock
  lib/council-server/BUCK
  lib/council-server/Cargo.toml
  lib/council-server/src/client.rs
  lib/council-server/src/client/management.rs
  lib/council-server/src/lib.rs
  lib/council-server/src/server.rs
  lib/council-server/src/server/graph.rs
  lib/council-server/src/subject_generator.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/pinga-server/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3216 fix(web) dont log out of auth portal on logout
  app/web/src/App.vue
  app/web/src/router.ts
  app/web/src/store/auth.store.ts
Labels: A-web

#3220 bug: stop trying to find the span in our transaction libs
  lib/si-data-nats/src/lib.rs
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-nats, A-si-data-pg

#3221 Fail fast on failed fixes (BUG-72)
  lib/dal/src/job/definition/fix.rs
Labels: A-dal

#3222 chore(si-data-pg,si-data-nats): compute appropriate Span for txns/subs
  Cargo.lock
  Cargo.toml
  lib/si-data-nats/src/lib.rs
  lib/si-data-pg/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3224 Revert "chore(si-data-pg,si-data-nats): compute appropriate Span for txns/subs"
  Cargo.lock
  Cargo.toml
  lib/si-data-nats/src/lib.rs
  lib/si-data-pg/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3230 fix(sdf): Store change_status in component summary on update
  lib/dal/src/component.rs
  lib/dal/src/migrations/U2414__summary_diagram_update_change_status.sql
  lib/dal/src/queries/summary_diagram/list_summary_diagram_components.sql
  lib/sdf-server/src/server/service/diagram/restore_component.rs
  lib/sdf-server/src/server/service/diagram/restore_connection.rs
Labels: A-sdf, A-dal

#3231 bug(dal): fix some deadlocks
  app/web/src/store/components.store.ts
  lib/dal/src/migrations/U2415__summary_diagram_update_fix_deadlock.sql
Labels: A-dal, A-web

#3218 Add ability to change componet type on the fly
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/component.rs
Labels: A-dal, A-web

#3232 feat: refactor application telemetry
  Cargo.lock
  Cargo.toml
  bin/council/BUCK
  bin/council/Cargo.toml
  bin/council/src/main.rs
  bin/cyclone/BUCK
  bin/cyclone/Cargo.toml
  bin/cyclone/src/main.rs
  bin/module-index/BUCK
  bin/module-index/Cargo.toml
  bin/module-index/src/main.rs
  bin/pinga/BUCK
  bin/pinga/Cargo.toml
  bin/pinga/src/main.rs
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/main.rs
  bin/si/BUCK
  bin/si/Cargo.toml
  bin/si/src/main.rs
  bin/veritech/BUCK
  bin/veritech/Cargo.toml
  bin/veritech/src/main.rs
  lib/sdf-server/src/server/job_processor.rs
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-si, A-module-index

#3234 chore: inject otel ctx when dal submits jobs to pinga
  Cargo.lock
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/context.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/job/queue.rs
  lib/telemetry-nats-rs/src/lib.rs
  lib/telemetry-nats-rs/src/propagation.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3233 bug(web,sdf,dal): remove change_set_written
  app/web/src/store/actions.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/fixes.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/secrets.store.ts
  lib/dal/src/action.rs
  lib/dal/src/change_set.rs
  lib/dal/src/func.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U2416__summary_qualification_v2.sql
  lib/dal/src/qualification.rs
  lib/dal/src/queries/summary_qualification/get_summary_qualifications.sql
  lib/dal/src/schema/variant/definition.rs
  lib/dal/src/secret.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/change_set/remove_action.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/restore_component.rs
  lib/sdf-server/src/server/service/diagram/restore_connection.rs
  lib/sdf-server/src/server/service/diagram/set_node_position.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/delete_func.rs
  lib/sdf-server/src/server/service/func/revert_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/pkg/builtin_module_spec.rs
  lib/sdf-server/src/server/service/pkg/export_pkg.rs
  lib/sdf-server/src/server/service/pkg/export_workspace.rs
  lib/sdf-server/src/server/service/pkg/reject_pkg.rs
  lib/sdf-server/src/server/service/schema/create_schema.rs
  lib/sdf-server/src/server/service/secret/create_secret.rs
  lib/sdf-server/src/server/service/secret/update_secret.rs
  lib/sdf-server/src/server/service/variant_definition/clone_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/create_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant_definition/save_variant_def.rs
Labels: A-sdf, A-dal, A-web

#3236 feat: allow mounting cyclone decryption key into jails
  bin/veritech/scripts/prepare_jailer.sh
  bin/veritech/scripts/userdata.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech

#3237 feat(sdf): add `--generate-symmetric-key-path` to SDF binary
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  lib/sdf-server/src/server/server.rs
Labels: A-sdf

#3241 fix: move decrypt key to after dependency install
  bin/veritech/scripts/userdata.sh
Labels: A-veritech

#3242 chore(cyclone): refactor `Server` to not require generics externally
  bin/cyclone/src/main.rs
  lib/cyclone-client/src/client.rs
  lib/cyclone-server/src/lib.rs
  lib/cyclone-server/src/server.rs
Labels: A-cyclone

#3245 feat: add vector for veritech logs
  bin/veritech/scripts/userdata.sh
Labels: A-veritech

#3240 fix(sdf,dal,web): Summary Diagram Edge errors
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  lib/dal/src/diagram/summary_diagram.rs
  lib/dal/src/edge.rs
  lib/dal/src/migrations/U2417__summary_diagram_fix_edge_summary_delete.sql
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
Labels: A-sdf, A-dal, A-web

#3246 feat(web) - logs and code in ApplyHistory, fixed Modal scrolling in FixDetails
  app/web/src/components/FixCard.vue
  app/web/src/components/FixCardIconButton.vue
  app/web/src/components/FixDetails.vue
Labels: A-web

#3243 Add nats multiplexer for crdt, ws and general use (ENG-2281)
  Cargo.lock
  Cargo.toml
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/main.rs
  lib/nats-multiplexer-client/BUCK
  lib/nats-multiplexer-client/Cargo.toml
  lib/nats-multiplexer-client/src/lib.rs
  lib/nats-multiplexer-core/BUCK
  lib/nats-multiplexer-core/Cargo.toml
  lib/nats-multiplexer-core/src/lib.rs
  lib/nats-multiplexer/BUCK
  lib/nats-multiplexer/Cargo.toml
  lib/nats-multiplexer/src/lib.rs
  lib/nats-multiplexer/src/parsing.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/nats_multiplexer.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/ws.rs
  lib/sdf-server/src/server/service/ws/crdt.rs
  lib/sdf-server/src/server/service/ws/crdt/y.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
  lib/sdf-server/src/server/state.rs
  lib/sdf-server/tests/service_tests/crdt.rs
  lib/si-test-macros/src/sdf_test.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index

#3247 fix(dal,web,sdf) - fix up component created event firing and handling
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/sdf-server/src/server/service/diagram/create_node.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-dal, A-web
