Repository systeminit/si, pull requests merged in 2024-04, with the labels that each got.

#3489 chore(sdf): Cleanup old restore_connection
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/restore_connection.rs
Labels: A-sdf

#3490 Ensure actions work with secrets and move apply change set logic to dal (ENG-2410)
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/schema_helpers.rs
  lib/dal-test/src/schemas/test_exclusive_schema_category_pirate.rs
  lib/dal-test/src/schemas/test_exclusive_schema_dummy_secret.rs
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/schemas/test_exclusive_schema_katy_perry.rs
  lib/dal-test/src/schemas/test_exclusive_schema_starfield.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/action.rs
  lib/dal/src/action/batch.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/action/runner.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/change_set_pointer.rs
  lib/dal/src/change_set_pointer/view.rs
  lib/dal/src/component.rs
  lib/dal/src/component/diff.rs
  lib/dal/src/component/qualification.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/lamport_clock.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/with_secret.rs
  lib/dal/tests/integration_test/before_funcs.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/variant.rs
Labels: A-sdf, A-dal, A-dal-test, A-rebaser

#3493 chore(pkg): Cleanup superfluous dbg added for authoring restoration
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3492 feat(sdf, dal): Restore get_resource endpoint to the system
  lib/dal/src/component.rs
  lib/dal/src/component/resource.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_resource.rs
Labels: A-sdf, A-dal

#3475 Reimplement attributes view for component debug screen
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/Debug/AttributeDebugView.vue
  app/web/src/components/Debug/ComponentDebugDetails.vue
  app/web/src/components/Debug/DebugViewItem.vue
  app/web/src/components/Debug/SocketDebugView.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/component.rs
  lib/dal/src/component/debug.rs
  lib/dal/src/component/view/debug.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/socket.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/debug.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/debug.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/si-pkg/src/spec/attribute_value.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3496 Drop ActionKind from ActionPrototype edge (ENG-2434)
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

#3497 Remove unused schema variant def module and unused auth prototype code (ENG-2426)
  lib/dal/src/authentication_prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/definition.rs
  lib/sdf-server/src/server/service/func.rs
Labels: A-sdf, A-dal

#3483 feat(dal,si-events): Move node weights off the graph
  Cargo.lock
  Cargo.toml
  lib/dal-test/BUCK
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/tests/integration_test/graph/mod.rs
  lib/dal/tests/integration_test/graph/rebase.rs
  lib/dal/tests/integration_test/mod.rs
  lib/pinga-server/BUCK
  lib/rebaser-server/BUCK
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/BUCK
  lib/sdf-server/src/server/service/graphviz.rs
  lib/si-data-pg/src/lib.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/content_address.rs
  lib/si-events-rs/src/content_hash.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/workspace_snapshot_address.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/db/node_weight.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/src/migrations/U0004__node_weights.sql
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  prelude-si/macros.bzl
  prelude-si/macros/rust.bzl
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3499 Fix last synced prop name (ENG-2436)
  lib/dal/src/schema/variant/root_prop.rs
Labels: A-dal

#3502 Revert "feat(dal,si-events): Move node weights off the graph"
  Cargo.lock
  Cargo.toml
  lib/dal-test/BUCK
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/tests/integration_test/graph/mod.rs
  lib/dal/tests/integration_test/graph/rebase.rs
  lib/dal/tests/integration_test/mod.rs
  lib/pinga-server/BUCK
  lib/rebaser-server/BUCK
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/BUCK
  lib/sdf-server/src/server/service/graphviz.rs
  lib/si-data-pg/src/lib.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/content_address.rs
  lib/si-events-rs/src/content_hash.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/workspace_snapshot_address.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/db/node_weight.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/src/migrations/U0004__node_weights.sql
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  prelude-si/macros.bzl
  prelude-si/macros/rust.bzl
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-council, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3503 fix: fix assertion in create_action_using_secret test
  lib/dal/tests/integration_test/action/with_secret.rs
Labels: A-dal

#3506 fix(dal): Ensure we commit before we run a refresh action
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#3507 chore(cleanup): Remove council...
  .github/labeler.yml
  .run/Run Council.run.xml
  BUCK
  Cargo.toml
  bin/council/BUCK
  bin/council/Cargo.toml
  bin/council/Dockerfile
  bin/council/README.md
  bin/council/src/args.rs
  bin/council/src/main.rs
  flake.nix
  lib/council-server/BUCK
  lib/council-server/Cargo.toml
  lib/council-server/src/client.rs
  lib/council-server/src/client/management.rs
  lib/council-server/src/lib.rs
  lib/council-server/src/server.rs
  lib/council-server/src/server/config.rs
  lib/council-server/src/server/graph.rs
  lib/council-server/src/server/graph/node_metadata.rs
  lib/council-server/src/subject_generator.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/job/consumer.rs
  lib/dal/src/standard_pk.rs
  lib/si-test-macros/src/dal_test.rs
  lib/si-test-macros/src/expand.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-ci, A-dal, A-si-test-macros, A-dal-test, A-council

#3505 Replace FuncVariant with FuncKind and consolidate list func logic
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/NewFuncDropdown.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/dal-test/src/test_harness.rs
  lib/dal/src/func.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/view.rs
  lib/dal/src/func/view/list.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/mod.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/list_funcs.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#3511 Clean up remnants of si-cli and council, and remove ".run" targets (ENG-2443)
  .run/Prepare-buck2.run.xml
  .run/Prepare.run.xml
  .run/Run Council - buck2.run.xml
  .run/Run Council.run.xml
  .run/Run Pinga - buck2.run.xml
  .run/Run Pinga.run.xml
  .run/Run SDF - buck2.run.xml
  .run/Run SDF.run.xml
  .run/Run SI.run.xml
  .run/Run Veritech - buck2.run.xml
  .run/Run Veritech.run.xml
  .run/Run Web - buck2.run.xml
  .run/Run Web.run.xml
  .run/Teardown - buck2.run.xml
  .run/Teardown.run.xml
  .run/Test dal.run.xml
  .run/Test sdf.run.xml
  .run/sdf run debug.run.xml
  .run/sdf run.run.xml
  .run/si-lang-js tests.run.xml
  .run/web cypress_open.run.xml
  .run/web dev.run.xml
  Cargo.lock
  Cargo.toml
  README.md
  component/deploy/docker-compose.yaml
  lib/dal/src/job/consumer.rs
  lib/si-test-macros/src/dal_test.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3514 feat(sdf): Restore Modules tab
  app/web/src/components/modules/ModuleDisplay.vue
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/list_pkgs.rs
Labels: A-sdf, A-web

#3508 chore(dal): Adding a test for setting an update action
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/with_update.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
Labels: A-dal, A-dal-test

#3517 feat(layerdb): replace sled with redb
  Cargo.lock
  Cargo.toml
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/redb/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3519 feat(dal): Adding a new CategoryNode for Module
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
Labels: A-dal

#3520 feat(dal): Adds a Module Node to the graph for each of the installed builtins
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
Labels: A-dal

#3521 Rename existing Actions to make room for new Actions architecture
  app/web/src/components/ActionRunnerCard.vue
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/batch.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/batch.rs
  lib/dal/tests/integration_test/action/runner.rs
  lib/dal/tests/integration_test/action/with_secret.rs
  lib/dal/tests/integration_test/action/with_update.rs
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/action/history.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/src/server/service/change_set/remove_action.rs
  lib/sdf-server/src/server/service/diagram.rs
Labels: A-sdf, A-dal, A-web

#3522 feat(dal): Add an edge from Module to package contents on import
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3524 chore(dal): Cleanup InstalledPkg Impl and Struct
  lib/dal/src/builtins.rs
  lib/dal/src/builtins/schema.rs
  lib/dal/src/installed_pkg.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/sdf-server/src/server/service/pkg.rs
Labels: A-sdf, A-dal

#3525 feat(dal, sdf): Update list_pkgs to use Modules on the graph
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/pkgs.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/list_pkgs.rs
Labels: A-sdf, A-dal

#3526 feat(dal, sdf): Reinstate get_pkg using the Modules on the graph
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/pkgs.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/get_pkg.rs
Labels: A-sdf, A-dal

#3527 fix(dal): Ensure that importing funcs, schemas and variants are not already associated
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3529 feat(sdf, dal): Restore install_pkg API Endpoint
  app/web/src/components/modules/ModuleDisplay.vue
  lib/dal/src/pkg.rs
  lib/sdf-server/src/server/service/pkg.rs
  lib/sdf-server/src/server/service/pkg/install_pkg.rs
Labels: A-sdf, A-dal, A-web

#3528 chore(layerdb): performance and correctness fixes
  Cargo.lock
  Cargo.toml
  bin/sdf/src/main.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/context.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/src/server/config.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/si-layer-cache/src/activity_client.rs
  lib/si-layer-cache/src/chunking_nats.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/persister.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/chunking_nats.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/disk_cache.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/cacache/fixups.toml
  third-party/rust/fixups/miette/fixups.toml
  third-party/rust/fixups/ssri/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3530 chore(sdf): Rename pkg routes to be modules routes
  app/web/src/store/module.store.ts
  app/web/src/store/workspaces.store.ts
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/approval_process.rs
  lib/sdf-server/src/server/service/module/builtin_module_spec.rs
  lib/sdf-server/src/server/service/module/export_pkg.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
  lib/sdf-server/src/server/service/module/get_module.rs
  lib/sdf-server/src/server/service/module/import_workspace_vote.rs
  lib/sdf-server/src/server/service/module/install_module.rs
  lib/sdf-server/src/server/service/module/list_modules.rs
  lib/sdf-server/src/server/service/module/reject_pkg.rs
  lib/sdf-server/src/server/service/module/remote_module_spec.rs
Labels: A-sdf, A-web

#3515 Implement macro to enforce strong typing/direction in edges
  Cargo.toml
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/batch.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/standard_connection.rs
  lib/dal/tests/integration_test/old-engine-testing-layout/internal/attribute/prototype.rs
  third-party/rust/Cargo.toml
Labels: A-dal

#3516 feat: Enable begin approval and abandon approval process routes
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/event.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/server/service/change_set/abandon_vote.rs
  lib/sdf-server/src/server/service/change_set/begin_abandon_approval_process.rs
  lib/sdf-server/src/server/service/change_set/begin_approval_process.rs
  lib/sdf-server/src/server/service/change_set/merge_vote.rs
Labels: A-sdf, A-dal, A-web

#3532 feat(sdf): Reimplement module management in modules tab
  app/web/src/components/modules/ModuleDisplay.vue
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/builtin_module_spec.rs
  lib/sdf-server/src/server/service/module/reject_module.rs
Labels: A-sdf, A-web

#3531 feat: don't wait for persist to request rebase
  dev/Tiltfile
  lib/dal/src/workspace_snapshot.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
Labels: A-dal, A-si-layer-cache

#3533 chore(rebaser): fix graceful shutdown
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/server/core_loop.rs
Labels: A-rebaser

#3512 feat(web,dal,sdf) move joi validations to the backend
  Cargo.lock
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/qualifications.store.ts
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/before.ts
  bin/lang-js/src/function_kinds/joi_validation.ts
  bin/lang-js/src/function_kinds/validation.ts
  bin/lang-js/src/request.ts
  bin/lang-js/tests/executeFunction.spec.ts
  bin/lang-js/tests/functions/beforeFuncs.ts
  bin/lang-js/tests/functions/schema-validation.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/validation.rs
  lib/cyclone-server/src/result/validation.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_schema_category_pirate.rs
  lib/dal-test/src/schemas/test_exclusive_schema_category_validated.rs
  lib/dal-test/src/test_harness.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/validation.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/queue.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/qualification.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/validation.rs
  lib/dal/src/validation/resolver.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/tests/integration_test/action/batch.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/pkgs.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/dal/tests/integration_test/validations.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_property_editor_validations.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/veritech-client/tests/integration.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3535 chore(sdf): Remove superfluous dbg for package migration
  lib/sdf-server/src/server/server.rs
Labels: A-sdf

#3536 bug(rebaser): only rebase one request at a time per change set
  lib/rebaser-server/src/server/core_loop.rs
Labels: A-rebaser

#3534 Summarize and restyle proposed actions modal
  app/web/src/components/ActionCard.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/store/actions.store.ts
  app/web/src/utils/defaultmap.ts
Labels: A-web

#3538 fix(dal): Run validations as pinga jobs
  lib/dal/src/attribute/value.rs
Labels: A-dal

#3540 feat: use xxh3 hash instead of blake3 for merkle tree hash and content hashes
  Cargo.lock
  Cargo.toml
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/content_hash.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/merkle_tree_hash.rs
  lib/si-events-rs/src/xxhash_type.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3539 chore(sdf, dal): Restore remaining WsEvents to the Web App
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/change_set/event.rs
  lib/dal/src/component.rs
  lib/dal/src/component/code.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/ws_event.rs
  lib/rebaser-server/src/server/rebase.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-dal, A-web, A-rebaser

#3541 No longer need this reassignment to navigate to head
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
Labels: A-web

#3543 chore(dal): Simplify test migrations
  lib/dal-test/src/schemas/test_exclusive_schema_category_pirate.rs
  lib/dal-test/src/schemas/test_exclusive_schema_dummy_secret.rs
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/schemas/test_exclusive_schema_katy_perry.rs
  lib/dal-test/src/schemas/test_exclusive_schema_starfield.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/sdf-server/src/server/job_processor.rs
Labels: A-sdf, A-dal-test

#3542 Move working elements of func authoring to the dal
  lib/dal-test/src/test_harness.rs
  lib/dal/BUCK
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/data/README.md
  lib/dal/src/func/authoring/data/defaults/action.ts
  lib/dal/src/func/authoring/data/defaults/attribute.ts
  lib/dal/src/func/authoring/data/defaults/authentication.ts
  lib/dal/src/func/authoring/data/defaults/code_generation.ts
  lib/dal/src/func/authoring/data/defaults/qualification.ts
  lib/dal/src/func/authoring/data/defaults/validation.ts
  lib/dal/src/func/authoring/data/ts_types/.editorconfig
  lib/dal/src/func/authoring/data/ts_types/asset_builder.d.ts
  lib/dal/src/func/authoring/data/ts_types/asset_types_with_secrets.d.ts
  lib/dal/src/func/authoring/data/ts_types/joi.d.ts
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/authoring/types.rs
  lib/dal/src/func/before.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding_return_value.rs
  lib/dal/src/func/view.rs
  lib/dal/src/func/view/summary.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/qualification.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/sdf-server/BUCK
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/list_funcs.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal, A-dal-test

#3544 chore(dal): Remove installed_pkgs migration
  lib/dal/src/migrations/U1048__installed_pkgs.sql
Labels: A-dal

#3547 Put func authoring features behind the `FuncAuthoringClient` (ENG-2462)
  lib/dal/src/deprecated_action/batch.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/data/README.md
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/authoring/types.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/return_value.rs
  lib/dal/src/func/execution.rs
  lib/dal/src/func/view.rs
  lib/dal/src/qualification.rs
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal

#3548 Find func associations for code generation and qualification funcs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/view.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/associations.rs
Labels: A-dal

#3545 Fix possible dead-end during approval. Re-style approval flow
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/UserCard.vue
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/view.rs
  lib/dal/src/migrations/U3001__change_set_pointers.sql
Labels: A-dal, A-web

#3551 feat: serialize ulids as bytes and compress layer db data
  Cargo.lock
  Cargo.toml
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/batch.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/lib.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/standard_id.rs
  lib/dal/src/standard_pk.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
  lib/si-events-rs/BUCK
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/ulid.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/db/encrypted_secret.rs
  lib/si-layer-cache/src/db/serialize.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3553 feat(dal, sdf): Restore create_leaf_functions for create_func
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal

#3552 chore: remove obsolete "version" entry in Docker Compose files
  .ci/docker-compose.test-integration.yml
  component/deploy/docker-compose.yaml
  dev/docker-compose.platform.yml
Labels: A-ci

#3554 Restore func associations for actions
  lib/dal-test/src/test_harness.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/variant.rs
  lib/dal/src/history_event/metadata.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/src/schema/variant/metadata_view.rs
  lib/dal/src/schema/variant/value_from.rs
  lib/dal/tests/integration_test/func/associations.rs
Labels: A-dal, A-dal-test

#3550 Base structure of Actions architecture in new engine
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/schemas/test_exclusive_schema_starfield.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/action.rs
  lib/dal/src/component.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/batch.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/batch.rs
  lib/dal/tests/integration_test/action/runner.rs
  lib/dal/tests/integration_test/action/with_secret.rs
  lib/dal/tests/integration_test/action/with_update.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/get_actions.rs
  lib/sdf-server/src/server/service/diagram.rs
Labels: A-sdf, A-dal, A-dal-test

#3556 Ignore deleted values in DVU
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
Labels: A-dal

#3555 feat(dal): Ensure that create action funcs can create ActionPrototypes
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal

#3560 chore(dal): Document dynamic funcs
  lib/dal/src/func.rs
Labels: A-dal

#3557 Add Function Execution DB
  lib/dal/src/context.rs
  lib/si-events-rs/src/function_execution.rs
  lib/si-events-rs/src/lib.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/function_execution.rs
  lib/si-layer-cache/src/migrations/U0004__function_executions.sql
  lib/si-layer-cache/src/pg.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/function_execution.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-dal, A-si-layer-cache

#3559 Restore func associations for attribute funcs, fix eventual parent logic and finish wiping provider concept from `app/web`
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func/types.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/tests/integration_test/func/associations.rs
Labels: A-dal, A-web

#3558 Wendy/eng 2472 create component helper func
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/support/commands.ts
  app/web/cypress/support/component-actions/create.ts
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3561 fix(web): changesetId on modules store
  app/web/src/store/module.store.ts
Labels: A-web

#3562 fix: don't run actions twice
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#3564 fix(web): Update the Details Panel to have the name of the changeset
  app/web/src/components/NoSelectionDetailsPanel.vue
Labels: A-web

#3565 Create base ActionPrototype for new Actions architecture
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
Labels: A-dal

#3566 fix: run actions serially
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/tests/integration_test/action/with_update.rs
Labels: A-dal

#3567 bug(*): need change set written after all
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/change_set/event.rs
  lib/dal/src/ws_event.rs
  lib/rebaser-server/src/server/core_loop.rs
Labels: A-dal, A-web, A-rebaser

#3571 feat(dal): mark props as able to be used as inputs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/prop.rs
Labels: A-dal

#3572 chore(sdf): Ensure we posthog track when a frame connection is made
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
Labels: A-sdf

#3574 Remove `PropParent` and fix `SchemaVariant::all_funcs`
  lib/dal/src/context.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/func.rs
  lib/dal/src/func/before.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/attribute.rs
  lib/dal/tests/integration_test/attribute/prototype.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/service/session/auth_connect.rs
Labels: A-sdf, A-dal, A-rebaser

#3575 feat: separate func executions and messages into different tables
  Cargo.lock
  lib/si-events-rs/BUCK
  lib/si-events-rs/Cargo.toml
  lib/si-events-rs/src/func_execution.rs
  lib/si-events-rs/src/function_execution.rs
  lib/si-events-rs/src/lib.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/func_execution.rs
  lib/si-layer-cache/src/db/function_execution.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/migrations/U0004__func_executions.sql
  lib/si-layer-cache/src/migrations/U0004__function_executions.sql
  lib/si-layer-cache/src/pg.rs
  lib/si-layer-cache/tests/integration_test/db/func_execution.rs
  lib/si-layer-cache/tests/integration_test/db/function_execution.rs
  lib/si-layer-cache/tests/integration_test/db/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3563 chore(dal): Adding integration tests for creating attribute funcs for props and sockets
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal, A-dal-test

#3580 bug(layerdb): race to create broadcast channels
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
Labels: A-si-layer-cache

#3581 fix(dal): Ensure we set if the component has a resource
  lib/dal/src/diagram.rs
Labels: A-dal

#3576 fix: remove unnecessary gerneric bounds for func execution
  lib/dal/src/context.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/db/func_execution.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/func_execution.rs
Labels: A-dal, A-si-layer-cache

#3583 Eng-2459 experience after apply moving to head
  app/web/src/App.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/toasts/ChangesMerged.vue
  app/web/src/components/toasts/IncomingChangesMerging.vue
  app/web/src/main.ts
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3584 feat: add arg(s) for layer_db name
  bin/pinga/src/args.rs
  bin/rebaser/src/args.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/config.rs
Labels: A-sdf, A-pinga, A-rebaser

#3586 bug(layerdb): fix error handling for disk layer
  lib/si-layer-cache/src/persister.rs
Labels: A-si-layer-cache

#3578 Re-introduce saving attribute funcs in the new engine
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/change_set.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/associations/view.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/argument.rs
  lib/dal/tests/integration_test/func/associations.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/func/save_func.rs
Labels: A-sdf, A-dal

#3587 fix(dal): Ensure we don't list duplicate schema variants
  lib/dal/src/schema/variant.rs
Labels: A-dal

#3589 Feat/max bytes
  Cargo.lock
  app/web/Dockerfile
  bin/cyclone/Dockerfile
  bin/module-index/Dockerfile
  bin/pinga/Dockerfile
  bin/pinga/src/args.rs
  bin/rebaser/BUCK
  bin/rebaser/Cargo.toml
  bin/rebaser/Dockerfile
  bin/rebaser/src/args.rs
  bin/sdf/Dockerfile
  bin/veritech/Dockerfile
  dev/Tiltfile
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/si-data-nats/src/jetstream/context.rs
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/nats.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3590 fix: defaults in rebaser config overwrite local settings
  lib/rebaser-server/src/config.rs
Labels: A-rebaser

#3592 fix(web): don't inject route outside of createStore
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3595 Add --layer-cache-disk-path arg to relevant services
  bin/pinga/src/args.rs
  bin/rebaser/src/args.rs
  bin/sdf/src/args.rs
  component/init/configs/service.toml
  lib/pinga-server/src/config.rs
  lib/rebaser-server/src/config.rs
  lib/sdf-server/src/server/config.rs
Labels: A-sdf, A-pinga, A-rebaser

#3598 feat: set moka max_size to 12gb to ensure we don't starve the host
  lib/si-layer-cache/src/memory_cache.rs
Labels: A-si-layer-cache

#3600 Wendy/eng 2490 fix jiggling of detailspaneltimestamps updating loader
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/store/status.store.ts
Labels: A-web

#3603 Revert "feat: set moka max_size to 12gb to ensure we don't starve the host"
  lib/si-layer-cache/src/memory_cache.rs
Labels: A-si-layer-cache

#3596 feat(dal, sdf, web): Reintroduce PkgExport
  app/web/src/components/modules/ModuleExportModal.vue
  app/web/src/store/components.store.ts
  app/web/src/store/module.store.ts
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/prop_tree.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/socket/connection_annotation.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/export_module.rs
Labels: A-sdf, A-dal, A-web

#3605 chore(dal): Remove unnecessary dbg in pkg export
  lib/dal/src/pkg/export.rs
Labels: A-dal

#3608 WsEvents are filtered by topic, define possible topics
  app/web/src/store/actions.store.ts
  app/web/src/store/realtime/realtime.store.ts
Labels: A-web

#3602 Fix incorrect modify removed item conflict detection
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/attribute_value_build_view.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/tests/integration_test/action.rs
Labels: A-dal

#3609 chore(dal): Adding integration test for exporting a module
  lib/dal-test/src/schemas/test_exclusive_schema_dummy_secret.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/module.rs
Labels: A-dal, A-dal-test

#3577 Reimplement copy-paste in the new engine
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/debug.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/connection.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-web

#3611 feat(dal,web): mark as updating during rebases
  app/web/src/store/status.store.ts
  lib/dal/src/ws_event.rs
  lib/rebaser-server/src/server/core_loop.rs
Labels: A-dal, A-web, A-rebaser

#3612 Fix ENG-2494 reflect component name change
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
Labels: A-web

#3613 fix(dal): don't break custom name functions on component creation
  lib/dal/src/component.rs
  lib/dal/src/prop.rs
Labels: A-dal

#3615 chore(dal, sdf): Refactoring the Asset Authoring experience behind a client
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/create_variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-dal

#3614 Wendy/eng 2496 compactify asset list on workspacecustomizeassets
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/pages/DebugSVG.vue
  app/web/src/pages/NotFound.vue
  app/web/src/pages/OopsPage.vue
  app/web/src/router.ts
Labels: A-web

#3616 ENG-2502 edge set response id
  app/web/src/store/components.store.ts
Labels: A-web

#3617 feat(dal,sdf,module-index): New Workspace export
  Cargo.lock
  lib/dal/src/workspace_snapshot.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/BUCK
  lib/module-index-server/Cargo.toml
  lib/module-index-server/src/routes.rs
  lib/module-index-server/src/routes/upsert_workspace_route.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3618 feat(dal): check for cycles when connecting components
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/cycle_check_guard.rs
  lib/dal/tests/integration_test/mod.rs
Labels: A-dal

#3619 chore(dal): Cleanup workspace export code from export
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
Labels: A-dal

#3623 Implement component deletion
  app/web/src/store/actions.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/BUCK
  lib/dal/src/component.rs
  lib/dal/src/deprecated_action.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/with_update.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/server/service/change_set/add_action.rs
  lib/sdf-server/src/server/service/change_set/list_queued_actions.rs
  lib/sdf-server/src/server/service/change_set/remove_action.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#3622 feat: add config struct for layerdb and the memory cache
  bin/pinga/src/args.rs
  bin/rebaser/src/args.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  component/init/configs/service.toml
  lib/dal-test/src/lib.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/disk_cache.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/memory_cache.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/func_execution.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-sdf, A-dal-test, A-pinga, A-rebaser, A-si-layer-cache

#3621 Remove revert func
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal-test/src/helpers.rs
  lib/dal/src/func.rs
  lib/dal/src/func/view.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/revert_func.rs
  lib/sdf-server/src/server/service/func/save_func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#3620 Basic multiplayer experience for moving and resizing elements on the diagram
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/sdf-server/src/server/service/ws/workspace_updates.rs
Labels: A-sdf, A-dal, A-web

#3625 BUG-90 fix state mutation in getter
  app/web/src/store/status.store.ts
Labels: A-web

#3628 fix(dal): Ensure that we export prop widget_options
  lib/dal/src/pkg/export.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/pkgs.rs
Labels: A-dal

#3629 Added to_delete to inferred connections and ensure output sockets can drive inferred and manual connections simultaneously
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/socket/input.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal

#3630 fix(sdf, dal, web): Change Asset Panel to use schemaID
  app/web/src/store/asset.store.ts
  lib/dal/src/schema/variant/metadata_view.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal, A-web

#3631 Refresh resource
  app/web/src/api/sdf/dal/resource.ts
  app/web/src/components/ActionRunnerCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/ComponentDetailsResource.vue
  app/web/src/components/ComponentOutline/ComponentOutline.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/context.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/refresh.rs
  lib/dal/tests/integration_test/action/with_update.rs
  lib/pinga-server/src/server.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/refresh.rs
Labels: A-sdf, A-dal, A-web, A-pinga

#3632 feat(web): Remove the changes from the Proposed Actions Panel
  app/web/src/components/ChangesPanel.vue
Labels: A-web

#3626 feat: verify disk_path values for layerdb on startup
  lib/si-layer-cache/src/db.rs
Labels: A-si-layer-cache

#3633 feat(dal): Update SummaryComponent to suggest if on latest schema variant
  lib/dal/src/diagram.rs
Labels: A-dal

#3636 feat(dal): add exclusive outgoing edge conflicts to rebase
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
Labels: A-dal

#3635 chore(cleanup): Remove workspace import code from sipkg
  lib/dal/src/pkg/import.rs
Labels: A-dal

#3637 feat(dal): retry dependent values update jobs on conflict
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/definition/refresh.rs
Labels: A-dal

#3639 fix(dal): ignore hidden props in schema generation
  Cargo.lock
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/helpers.rs
  lib/dal/src/property_editor/schema.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-deadpool-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache

#3640 Wendy/eng 2509 compactify functions list in workspacecustomizefunctions
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/support/component-actions/create.ts
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/CodeViewer.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AuthenticationDetails.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/FuncEditor/FuncListPanel.vue
  app/web/src/components/FuncEditor/QualificationDetails.vue
  app/web/src/components/FuncSkeleton.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/QualificationViewerSingle.vue
  app/web/src/components/SiFuncListItem.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/StatusMessageBox.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/modules/ModuleDisplay.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
Labels: A-web

#3641 chore(pg): update hostnames in self signed cert
  component/postgres/server.crt
  component/postgres/server.key
  flake.nix
Labels: A-postgres

#3646 feat(dal, sdf): Restore variant edit with new version and variant save
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/exec_variant_def.rs
  lib/sdf-server/src/server/service/variant/save_variant.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
  lib/sdf-server/src/server/service/variant_definition/exec_variant_def.rs
Labels: A-sdf, A-dal, A-web

#3645 Fix resource payload deserialization before js functions
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/components/FuncEditor/FuncTest.vue
  lib/dal/src/component/resource.rs
  lib/dal/src/deprecated_action/prototype.rs
  lib/dal/src/deprecated_action/runner.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/func/backend/json.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/with_secret.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/server.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#3647 chore(dal): Cleanup old func builtins
  lib/dal/src/builtins/func.rs
Labels: A-dal

#3643 Polish func authoring: attribute bindings, test executions, and more
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func/types.ts
  lib/dal/src/context.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/associations/bags.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/dummy_execute.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/authoring/test_execute.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/critical_section.rs
  lib/dal/src/input_sources.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/func/associations.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attribute.rs
  lib/dal/tests/integration_test/func/authoring/test_execute.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/test_execute.rs
Labels: A-sdf, A-dal, A-web

#3649 Unlock frontend if actions are running
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#3650 feat(sdf, dal): Allow editing a schema variant when component not used
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
Labels: A-sdf, A-dal, A-web

#3652 Enforce integers as positions for websocket positioning
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#3651 Add standard and debug rustc build modes for tilt
  README.md
  dev/BUCK
  dev/Tiltfile
  docs/RUNNING_THE_STACK_LOCALLY.md
Labels: A-docs

#3655 Make links between documents easier to read
  README.md
  docs/BUCK2.md
  docs/EDITORS_AND_IDES.md
  docs/LEARNING_ABOUT_SI_CONCEPTS.md
  docs/RUNNING_THE_STACK_LOCALLY.md
Labels: A-docs

#3656 chore(sdf): Round out of Posthog integration in API routes
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service/component/get_property_editor_schema.rs
  lib/sdf-server/src/server/service/component/get_property_editor_values.rs
  lib/sdf-server/src/server/service/component/restore_default_function.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/detach_component_from_frame.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/delete_func.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/func/test_execute.rs
  lib/sdf-server/src/server/service/module/export_module.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
  lib/sdf-server/src/server/service/module/get_module.rs
  lib/sdf-server/src/server/service/module/install_module.rs
  lib/sdf-server/src/server/service/module/list_modules.rs
Labels: A-sdf

#3653 fix(dal): conflicts on apply are an error
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/rebaser.rs
Labels: A-dal, A-dal-test

#3638 ENG-2508 update edge logic
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/socket/input.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/frame.rs
  lib/sdf-server/src/server/service/diagram/connect_component_to_frame.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
Labels: A-sdf, A-dal, A-web

#3658 fix(web): Ensure we reload Asset List when Variant changed
  app/web/src/store/asset.store.ts
Labels: A-web

#3660 Fix attribute bindings not appearing in the asset screen
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
Labels: A-web

#3662 fix(module-index): push stable tag to ecr before deploying module index
  .github/workflows/deploy-module-index.yml
Labels: A-ci

#3659 feat(web,sdf,dal) - Allow workspace imports
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/store/workspaces.store.ts
  lib/dal/src/change_set.rs
  lib/dal/src/lib.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/ws_event.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
  lib/sdf-server/src/server/service/module/install_workspace.rs
Labels: A-sdf, A-dal, A-web

#3663 Refactor attribute cloning when pasting
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
Labels: A-dal
