Repository systeminit/si, pull requests merged in 2024-08, with the labels that each got.

#4264 fixup: amended the way we measure success for workspace management cy…
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
Labels: A-web

#4266 fix(web): Remove the unnecessary window.reload on module install
  app/web/src/store/module.store.ts
Labels: A-web

#4268 feat: conflicts_for_component api endpoint
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/graph/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/conflicts_for_component.rs
  lib/si-frontend-types-rs/src/conflict.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal

#4269 fix(dal): automatically resolve prototype edge conflicts
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-rebaser

#4271 Add error events to SDF routes and some other helpful tracing
  lib/dal/src/action.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/context.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/rebaser-server/src/change_set_requests/handlers.rs
  lib/rebaser-server/src/rebase.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/async_route.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/dev.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/node_debug.rs
  lib/sdf-server/src/server/service/qualification.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/module.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/ws.rs
Labels: A-sdf, A-dal, A-rebaser

#4270 Retry removing action nodes upon completion
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#4272 chore(sdf): Add logging when someone has no permission to create a workspace
  lib/sdf-server/src/server/service/session/auth_connect.rs
Labels: A-sdf

#4273 fix: point PUT /func/:id/code to the correct function
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/v2/func.rs
Labels: A-sdf, A-web

#4274 fix(sdf): Don't overwrite sdf config file with empty args
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
Labels: A-sdf

#4277 Removing "within-a-changeset" conflict detection & retry we don't need
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/StatusBar/StatusBarConflictSummary.vue
  app/web/src/components/toasts/Conflict.vue
  app/web/src/store/status.store.ts
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#4280 Replace auto-instrumentation with custom instrumentation
  app/auth-portal/src/store/feature_flags.store.ts
  app/auth-portal/src/store/onboarding.store.ts
  app/web/src/main.ts
  app/web/src/store/actions.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/counter.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/viz.store.ts
  app/web/src/store/workspaces.store.ts
  dev/docker-compose.platform.yml
  lib/vue-lib/src/pinia/pinia_api_tools.ts
  lib/vue-lib/src/pinia/pinia_hooks_plugin.ts
Labels: A-web

#4281 Stop calling status_with_base
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4282 Fix: did not complete using the new array-based API Prefix
  app/web/src/store/func/funcs.store.ts
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#4283 feat(dal,rebaser): remove conflicts, ignore vector clocks
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/examples/rebase/main.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/conflict.rs
  lib/dal/src/workspace_snapshot/edge_info.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/update.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/rebase_on_base.rs
  lib/sdf-server/src/server/service/change_set/status_with_base.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/conflicts_for_component.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/module.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/si-layer-cache/src/activities/rebase.rs
Labels: A-sdf, A-dal, A-dal-test, A-rebaser, A-si-layer-cache

#4285 feat: add metrics for pool_noodle, handle errors in veritech
  dev/datasources/datasources.yml
  dev/prometheus-config/config.yml
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-si-pool-noodle

#4287 feat: add metrics for pinga concurrency limit
  Cargo.lock
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/pinga-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4284 feat: Add 15 minute child process timeout on cyclone server
  lib/cyclone-server/src/execution.rs
Labels: A-cyclone

#4288 fix: otelendpoint is undefined
  app/web/src/main.ts
Labels: A-web

#4289 fix(sdf): Prevent creating unlocked copies of funcs and variants
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/v2/variant/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/variant.rs
Labels: A-sdf

#4292 Clean up the rebase from head toast to reflect our new reality
  app/web/src/components/toasts/RebaseOnBase.vue
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4286 Fixes to install/upgrade remote module
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/pkg.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/install_module.rs
Labels: A-sdf, A-dal, A-web

#4297 fix(*): fix workspace new
  lib/dal/src/workspace.rs
Labels: A-dal

#4298 fix(sdf): mark new builtin as v2
  lib/dal/src/workspace.rs
Labels: A-dal

#4299 fix(web): Add upgrade indication to frames
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
Labels: A-web

#4301 chore: deploy based on tags pushed from buildkite
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4290 feat(rebaser): send every batch applied to head to open change set
  lib/dal/examples/rebase/main.rs
  lib/rebaser-server/src/rebase.rs
  lib/si-layer-cache/src/activities/rebase.rs
Labels: A-dal, A-rebaser, A-si-layer-cache

#4303 Small toast fixes for Rebase & Apply
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4259 Add configurable timeout to function execution in `lang-js`
  bin/cyclone/src/args.rs
  bin/lang-js/README.md
  bin/lang-js/examples/TODO.md
  bin/lang-js/examples/codeGenerationTest.json
  bin/lang-js/examples/codeGenerationTestCode.js
  bin/lang-js/examples/commandRunFail.json
  bin/lang-js/examples/commandRunFailCode.js
  bin/lang-js/examples/resolver.json
  bin/lang-js/examples/resolverFunctionTest.json
  bin/lang-js/examples/resolverFunctionTestCode.js
  bin/lang-js/examples/resourceSyncTest.json
  bin/lang-js/examples/resourceSyncTestCode.js
  bin/lang-js/examples/workflowResolveTest.json
  bin/lang-js/examples/workflowResolveTestCode.js
  bin/lang-js/src/function.ts
  bin/lang-js/src/index.ts
  bin/lang-js/src/request.ts
  bin/lang-js/tests/executeFunction.spec.ts
  bin/lang-js/tests/functions/actionRun.ts
  bin/lang-js/tests/functions/willTimeout.ts
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/execution.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/state.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/veritech-server/src/config.rs
Labels: A-veritech, A-cyclone, A-lang-js, A-dal, A-dal-test, A-si-pool-noodle

#4300 Resolve semantic conflicts
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/change_set.rs
  lib/dal/src/lib.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/ordering.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-dal-test, A-rebaser

#4279 feat: add automatic deployment by binary on merge to main pipeline [defaulted to original strategy]
  .github/workflows/community-check.yml
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-service.yml
  .github/workflows/deploy-stack.yml
  component/toolbox/Dockerfile
  component/toolbox/awsi.sh
  component/toolbox/scripts/ssm
  component/toolbox/scripts/supporting-funcs/ec2-funcs.sh
  component/toolbox/scripts/supporting-funcs/inputs-funcs.sh
  component/toolbox/scripts/supporting-funcs/ssm-funcs.sh
  component/toolbox/scripts/upgrade
Labels: A-ci

#4305 fix(sdf): Catch property editor 404s
  lib/sdf-server/src/server/service/component.rs
Labels: A-sdf

#4307 feat: bump cypress version to fix e2e test flake for websocket disconnect issue
  app/web/package.json
  pnpm-lock.yaml
Labels: A-web

#4302 Compute the ActionDependencyGraph at most twice per SDF route to list actions (as opposed to obnoxiously many...)
  lib/dal/src/action.rs
  lib/dal/tests/integration_test/func/authoring/binding/action.rs
  lib/sdf-server/src/server/service/action/list_actions.rs
Labels: A-sdf, A-dal

#4310 BUG-476: cannot abandon while creating changeset. When abandoning rem…
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4312 fix(dal): components can only have one parent
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/component.rs
Labels: A-dal

#4314 BUG-484: code reactivity watches for change set written data
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4315 BUG-483: <pre> doesnt wrap by default, make it wrap
  app/web/src/components/QualificationViewerSingle.vue
Labels: A-web

#4317 BUG-482: create reactivity in the func history panel
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/CodeViewer.vue
  app/web/src/store/func_runs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func/runner.rs
Labels: A-dal, A-web

#4319 fix(web): Upgrade posthog-js dependency
  app/web/package.json
  pnpm-lock.yaml
Labels: A-web

#4318 Add cyclone client timeout and make func execution timeouts configurable
  bin/veritech/src/args.rs
  lib/cyclone-client/src/client.rs
  lib/cyclone-client/src/execution.rs
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/execution.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/state.rs
  lib/dal-test/src/lib.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-cyclone, A-dal-test, A-si-pool-noodle

#4320 Fix function timeout set to 0 by default
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech

#4321 fix(dal): Remove dbg log
  lib/dal/src/func/runner.rs
Labels: A-dal

#4322 BUG-478: modal was not rendered, moved outside of if else
  app/web/src/components/FuncEditor/AttributeBindings.vue
Labels: A-web

#4326 fix(web): Format on Save on the CodeMirror Editor
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4330 build(deps): update to NATS server 2.10.8 & patched client 0.35.1
  Cargo.lock
  Cargo.toml
  component/nats/BUCK
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/ahash/fixups.toml
  third-party/rust/fixups/multer/fixups.toml
  third-party/rust/fixups/unicase/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-nats, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4332 Fix: BUG-492 and BUG-490
  app/web/src/store/change_sets.store.ts
  app/web/src/store/module.store.ts
Labels: A-web

#4335 build(deps): update `async-nats` patch to stable Git branch
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4337 feat(dal): automatic exclusive edge correction
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/attribute_value_build_view.rs
  lib/dal/src/workspace_snapshot/graph/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/src/workspace_snapshot/node_weight/traits/correct_exclusive_outgoing_edge.rs
Labels: A-dal

#4180 feat(rebaser): support multiple rebasers that coordinate together
  Cargo.lock
  lib/rebaser-server/DEBOUNCER.md
  lib/rebaser-server/src/change_set_requests.rs
  lib/rebaser-server/src/change_set_requests/app_state.rs
  lib/rebaser-server/src/dvu_debouncer_task.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/nats.rs
  lib/rebaser-server/src/server.rs
  lib/si-std/BUCK
  lib/si-std/Cargo.toml
  lib/si-std/src/lib.rs
  lib/si-std/src/time.rs
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4339 fix(dal): add dvu roots for removed dangling connections
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
Labels: A-dal

#4340 chore(sdf): Remove dbg for host_name
  lib/sdf-server/src/server/service/diagram/get_diagram.rs
Labels: A-sdf

#4344 feat/loop over telemetry levels
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
Labels: A-telemetry-rs, A-telemetry-application-rs

#4343 Simplify dvu rebouncer state transitions
  lib/rebaser-server/src/dvu_debouncer_task.rs
Labels: A-rebaser

#4331 Cleanup and encapsulate the logic for finding inferred connections
  lib/dal-test/src/helpers.rs
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/debug.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/component/inferred_connection_graph.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/diagram.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/socket/debug.rs
  lib/dal/src/socket/input.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal, A-dal-test

#4334 Add ability to kill function executions
  Cargo.lock
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/router.ts
  app/web/src/store/admin.store.ts
  app/web/src/store/feature_flags.store.ts
  bin/lang-js/.eslintignore
  bin/lang-js/.eslintrc.cjs
  lib/cyclone-core/src/cancel_execution.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/progress.rs
  lib/cyclone-server/src/execution.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/backend/js_schema_variant_definition.rs
  lib/dal/src/func/backend/validation.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/history_event.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring/test_execute.rs
  lib/dal/tests/integration_test/func/cancel_execution.rs
  lib/dal/tests/integration_test/qualifications.rs
  lib/sdf-server/src/server/service/v2.rs
  lib/sdf-server/src/server/service/v2/admin.rs
  lib/sdf-server/src/server/service/v2/admin/cancel_execution.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/si-pool-noodle/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-core/src/lib.rs
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  lib/veritech-server/src/server.rs
  lib/veritech-server/src/subscriber.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4345 Remove leftover authoring code
  lib/dal-test/src/helpers.rs
  lib/dal/src/func.rs
  lib/dal/src/func/associations/bags.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/summary.rs
  lib/dal/src/func/view.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/associations.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/action.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/func/authoring/binding/authentication.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/func/authoring/func_argument.rs
  lib/dal/tests/integration_test/func/authoring/save_and_exec.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attribute.rs
  lib/dal/tests/integration_test/func/authoring/save_func/detach.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/dal/tests/integration_test/secret/with_schema_variant_authoring.rs
  lib/sdf-server/src/server/service/variant.rs
Labels: A-sdf, A-dal, A-dal-test

#4347 fix(rebaser): resolve timing window overlaps & add more resiliency
  lib/rebaser-server/src/dvu_debouncer_task.rs
Labels: A-rebaser

#4342 Keep old component type when upgrading schema variant
  Cargo.lock
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/expected.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/node_weight/component.rs
  lib/dal/tests/integration_test/node_weight/ordering.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4346 Fix component type mysteriously changing when unlocking schema variant
  lib/dal-test/src/expected.rs
  lib/dal/src/pkg/export.rs
  lib/dal/tests/integration_test/component/upgrade.rs
Labels: A-dal, A-dal-test

#4349 feat(dal): dvus for secret and attribute changes from another change set
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/attribute_value.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-rebaser

#4350 Calculate Inferred Connections Once for a DVU Job
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/sdf-server/src/server/service/attribute/get_prototype_arguments.rs
Labels: A-sdf, A-dal

#4352 Turn down tracing
  lib/dal/src/attribute/value.rs
Labels: A-dal

#4355 fix(dal): Use the correct attribute value id when looking for connections
  lib/dal/src/component/inferred_connection_graph.rs
  lib/dal/src/func/runner.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal

#4351 Use Component::attribute_values instead Prop almost everywhere
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/debug.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/node_weight/attribute_value.rs
  lib/sdf-server/src/server/service/attribute/get_prototype_arguments.rs
Labels: A-sdf, A-dal

#4353 Make it hard to accidentally get all socket values
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/node_weight/attribute_value.rs
  lib/dal/tests/integration_test/secret.rs
  lib/sdf-server/src/server/service/attribute/get_prototype_arguments.rs
Labels: A-sdf, A-dal, A-dal-test

#4333 feat: forward metrics from firecracker jails
  Cargo.lock
  Cargo.toml
  bin/cyclone/BUCK
  bin/cyclone/Cargo.toml
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  dev/Tiltfile
  lib/cyclone-server/BUCK
  lib/cyclone-server/Cargo.toml
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/lib.rs
  lib/cyclone-server/src/process_gatherer.rs
  lib/si-firecracker/BUCK
  lib/si-firecracker/Cargo.toml
  lib/si-firecracker/src/disk.rs
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-firecracker/src/lib.rs
  lib/si-firecracker/src/scripts/firecracker-setup.sh
  lib/si-firecracker/src/stream.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/telemetry-utils-rs/src/lib.rs
  prelude-si/rootfs/rootfs_build.sh
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/procfs/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4359 feat(dal,sdf): use cached inferred conn graph when available
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/inferred_connection_graph.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/sdf-server/src/server/service/attribute/get_prototype_arguments.rs
Labels: A-sdf, A-dal

#4361 fix(dal): don't repeat workspace and changeset id telemetry
  lib/dal/src/func/runner.rs
Labels: A-dal

#4362 Add some info spans
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/diagram.rs
Labels: A-dal

#4365 Calculate the inferred connection graph at the start of the job
  lib/dal/src/component/socket.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#4364 chore: cargo cfg for linux-only targets
  bin/cyclone/Cargo.toml
  lib/cyclone-server/Cargo.toml
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-firecracker/src/lib.rs
  lib/si-firecracker/src/stream.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
Labels: A-cyclone, A-web, A-si-pool-noodle

#4366 fix: web otel traces should not include the port by default
  app/web/src/main.ts
Labels: A-web

#4367 fix: set otel url on web build
  .github/workflows/deploy-service.yml
Labels: A-ci, A-web

#4368 feat: add 503 on USR2 for maintenance mode in SDF
  app/web/src/components/toasts/MaintananceMode.vue
  app/web/src/main.ts
  app/web/src/store/apis.ts
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/state.rs
  lib/si-test-macros/src/sdf_test.rs
  lib/telemetry-application-rs/src/lib.rs
Labels: A-sdf, A-si-test-macros, A-web, A-telemetry-application-rs

#4371 fix(pool-noodle): add `target_os = "linux"` cfg on Linux test
  lib/si-pool-noodle/src/lib.rs
Labels: A-si-pool-noodle

#4372 chore(dal): instrument correct_transforms
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#4373 Drop Otel to Info for Frames Spans
  lib/dal/src/attribute/value.rs
  lib/dal/src/component/inferred_connection_graph.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#4370 fix(rebaser): when error occurs, abandon leadership & don't purge key
  lib/rebaser-server/src/dvu_debouncer_task.rs
Labels: A-rebaser

#4374 fix: be more direct in tag filtering for deploying on main
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4375 fix(dal, sdf, web): Calculate if an asset can be contributed
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/store/module.store.ts
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/v2/module/sync.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/module.rs
Labels: A-sdf, A-dal, A-web

#4379 various style consistency fixes
  app/web/src/components/Actions/FuncRunTabGroup.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetFuncAttachDropdown.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#4380 fix(dal): speed up get diagram
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/component/inferred_connection_graph.rs
  lib/dal/src/diagram.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/component/upgrade.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/get_diagram.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal

#4381 Feat/maintenance before update
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-service.yml
  component/toolbox/scripts/supporting-funcs/ssm-funcs.sh
  component/toolbox/scripts/toggle-maintenance
  component/toolbox/scripts/upgrade
Labels: A-ci

#4376 Remove unused oneshot channel from USR2 sdf work
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/server.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-sdf, A-si-test-macros

#4383 fix(web): Disable search on component debug view
  app/web/src/components/Debug/ComponentDebugDetails.vue
Labels: A-web

#4384 feat: add maintenance timeout to toast as 60s
  app/web/src/components/toasts/MaintenanceMode.vue
  app/web/src/main.ts
  app/web/src/store/apis.ts
Labels: A-web

#4385 feat(module-index, sdf, dal): Add ability to understand if contribution made
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/module.rs
  lib/module-index-client/src/lib.rs
  lib/module-index-server/src/migrations/U0009__modules_schema_variant_id_and_version.sql
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/models/si_module/schema_variant_id.rs
  lib/module-index-server/src/routes/promote_builtin_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/module-index-types/src/lib.rs
  lib/sdf-server/src/server/service/v2/module/contribute.rs
  lib/sdf-server/src/server/service/v2/module/sync.rs
Labels: A-sdf, A-dal

#4388 feat(naxum): implement Json extractor
  Cargo.lock
  Cargo.toml
  lib/naxum/BUCK
  lib/naxum/Cargo.toml
  lib/naxum/src/extract/rejection.rs
  lib/naxum/src/json.rs
  lib/naxum/src/lib.rs
  lib/naxum/src/macros.rs
  lib/naxum/src/middleware/ack/future.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4386 Allow components with secrets to be copy/pasted
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/secret.rs
  lib/si-pkg/src/spec/attribute_value.rs
Labels: A-dal, A-si-pkg

#4392 fix(dal): send fewer status updates in dvu
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/GlobalStatusOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramNodeSocket.vue
  app/web/src/components/toasts/UpdatingModel.vue
  app/web/src/store/components.store.ts
  app/web/src/store/status.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/status.rs
Labels: A-dal, A-web

#4329 Move SummaryDiagramComponent struct to si_frontend_types & use `into_frontend_type` fn
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/action/prototype.rs
  lib/dal/src/change_status.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/socket/connection_annotation.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/diagram.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/workspace.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/component/upgrade.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/diagram/create_connection.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/delete_connection.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal, A-web

#4393 docs: add a working with components tutorial, fix diff bugs
  app/docs/src/.vitepress/config.ts
  app/docs/src/reference/vocabulary.md
  app/docs/src/tutorials/getting-started.md
  app/docs/src/tutorials/index.md
  app/docs/src/tutorials/working-with-components.md
  app/docs/src/tutorials/working-with-components/add-a-butane-component-and-set-its-properties.png
  app/docs/src/tutorials/working-with-components/add-a-docker-image-component-and-set-its-properties.png
  app/docs/src/tutorials/working-with-components/add-an-exposed-port-to-your-docker-image.png
  app/docs/src/tutorials/working-with-components/apply-the-change-set.png
  app/docs/src/tutorials/working-with-components/check-the-diff-for-your-docker-image-and-butane-components.png
  app/docs/src/tutorials/working-with-components/clean-up.png
  app/docs/src/tutorials/working-with-components/connect-the-docker-image-component-to-the-butane-component.png
  app/docs/src/tutorials/working-with-components/create-a-change-set.png
  app/docs/src/tutorials/working-with-components/create-another-new-change-set.png
  app/docs/src/tutorials/working-with-components/deleting-the-system-units-unit-0-entry.png
  app/docs/src/tutorials/working-with-components/fixing-the-failing-qualification.png
  app/docs/src/tutorials/working-with-components/investigate-the-docker-images-failing-qualification.png
  app/docs/src/tutorials/working-with-components/manually-setting-the-systemd-units-property.png
  app/docs/src/tutorials/working-with-components/observe-the-docker-images-qualification.png
  app/docs/src/tutorials/working-with-components/observe-the-new-system-units-unit-0-entry.png
  app/docs/src/tutorials/working-with-components/observe-the-systemd-units-property-of-the-butane-component.png
  app/docs/src/tutorials/working-with-components/veiw-the-debugging-information.png
  app/docs/src/tutorials/working-with-components/viewing-generated-code.png
  app/docs/src/tutorials/working-with-components/viewing-large-properties.png
  app/docs/src/writing-docs.md
  app/web/src/components/AssetDiffDetails.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4398 fix: firecracker lifecycle fixes
  lib/si-firecracker/BUCK
  lib/si-firecracker/src/disk.rs
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/pool_noodle.rs
Labels: A-si-pool-noodle

#4400 fix(dal): send status finished for downstream values of failed values
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#4399 feat(pinga): consume work from a Jetstream work queue
  Cargo.lock
  Cargo.toml
  bin/pinga/src/main.rs
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/job/processor.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/job/producer.rs
  lib/pinga-core/BUCK
  lib/pinga-core/Cargo.toml
  lib/pinga-core/src/lib.rs
  lib/pinga-server/BUCK
  lib/pinga-server/Cargo.toml
  lib/pinga-server/src/app_state.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/handlers.rs
  lib/pinga-server/src/lib.rs
  lib/pinga-server/src/server.rs
  lib/si-test-macros/src/dal_test.rs
  lib/si-test-macros/src/expand.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4402 Address read-lock-write race condition in WorkspaceSnapshot::revert
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#4404 fix: remove pinga heartbeat
  bin/lang-js/src/index.ts
  lib/cyclone-server/src/execution.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-cyclone, A-lang-js

#4405 fix(web): don't recompute the whole diagram if one node is loading
  app/web/src/components/ModelingDiagram/DiagramGroupOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  app/web/src/store/status.store.ts
Labels: A-web

#4406 feat(sdf,web): report the count of dvu roots to prevent apply
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/status.store.ts
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/diagram/dvu_roots.rs
Labels: A-sdf, A-web

#4407 feat: adds real time platform status indicator to UI
  app/web/src/App.vue
  app/web/src/components/RealtimeStatusPageState.vue
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/store/realtime/realtime.store.ts
Labels: A-web

#4411 fix(sdf): Change the default schema variant code structure
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/create_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
Labels: A-dal

#4396 Accept schema variant id when cloning
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
Labels: A-sdf, A-dal, A-web

#4387 Avoid orphaned components that can't be restored
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal, A-dal-test

#4412 feat: stop burning our users with maintenance toasts
  app/web/src/main.ts
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/apis.ts
  app/web/src/store/status.store.ts
  lib/sdf-server/src/server/routes.rs
Labels: A-sdf, A-web

#4414 fix(pinga): update CLI help default value for `concurrency`
  bin/pinga/src/args.rs
Labels: A-pinga

#4415 chore(rebaser): remove now-unused Rust file
  lib/rebaser-server/src/dvu_debouncer.rs
Labels: A-rebaser

#4417 fix: hotfix to the cypress tests amending asset selection
  app/web/cypress/support/component-actions/create.ts
Labels: A-web

#4416 Wendy/eng 2643 expose function details and actions on component right click
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/Actions/Toggle.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetFuncAttachDropdown.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/components/layout/navbar/NavbarThemeSwitcher.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/vue-lib/src/design-system/general/Toggle.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#4418 fix: amend cypress e2e modelling test
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
Labels: A-web

#4421 fix(web): decouple diagramNodes getter from qualification store
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  app/web/src/store/qualifications.store.ts
Labels: A-web

#4426 fix(sdf): Update authoring snippets
  app/web/src/utils/typescriptLinterSnippets.ts
Labels: A-web

#4422 chore(cypress): Fix the cypress tests for the new delete functionality
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
Labels: A-web

#4433 Further destroy the existence of "nilId" (ENG-2469)
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/authentication_prototype.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/history_event.rs
  lib/dal/src/job_failure.rs
  lib/dal/src/key_pair.rs
  lib/dal/src/lib.rs
  lib/dal/src/module.rs
  lib/dal/src/node.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/user.rs
  lib/dal/src/validation.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/vector_clock/deprecated.rs
Labels: A-dal

#4435 fix(dal): Remove initial component and rebase before removing others
  lib/dal/src/job/definition/action.rs
  lib/dal/tests/integration_test/component/delete.rs
Labels: A-dal

#4369 ENG-2639: collapsed frames
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramGroupOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramIcon.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
Labels: A-web

#4440 hotfix: remove checkbox, revert commit to get it back
  app/web/src/components/FuncEditor/LeafInputs.vue
Labels: A-web

#4441 Can only use the code checkbox for qualification functions
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/QualificationDetails.vue
Labels: A-web

#4438 Convert veritech to use naxum and jetstream (ENG-2652)
  Cargo.lock
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/admin.store.ts
  bin/veritech/src/main.rs
  lib/cyclone-core/src/action_run.rs
  lib/cyclone-core/src/kill_execution.rs
  lib/cyclone-core/src/lib.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_action.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/backend/js_schema_variant_definition.rs
  lib/dal/src/func/backend/validation.rs
  lib/dal/src/func/runner.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/kill_execution.rs
  lib/naxum/src/lib.rs
  lib/pinga-core/src/lib.rs
  lib/sdf-server/src/server/service/v2/admin.rs
  lib/sdf-server/src/server/service/v2/admin/kill_execution.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/si-pool-noodle/BUCK
  lib/si-pool-noodle/Cargo.toml
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/si-test-macros/src/dal_test.rs
  lib/si-test-macros/src/expand.rs
  lib/si-test-macros/src/lib.rs
  lib/si-test-macros/src/sdf_test.rs
  lib/veritech-client/BUCK
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-core/BUCK
  lib/veritech-core/Cargo.toml
  lib/veritech-core/src/lib.rs
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  lib/veritech-server/src/app_state.rs
  lib/veritech-server/src/handlers.rs
  lib/veritech-server/src/handlers/kill.rs
  lib/veritech-server/src/lib.rs
  lib/veritech-server/src/server.rs
  lib/veritech-server/src/subscriber.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4439 feat: Return 422 on user code errors
  Cargo.lock
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/vite.config.ts
  bin/lang-js/src/function.ts
  bin/lang-js/tests/exec.spec.ts
  bin/lang-js/tests/executeFunction.spec.ts
  lib/cyclone-core/BUCK
  lib/cyclone-core/Cargo.toml
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/progress.rs
  lib/cyclone-server/src/execution.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/validations.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/test_execute.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/si-pool-noodle/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-server/src/handlers/kill.rs
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4443 fix(sdf): Add cycle check guards when updating or creating func bindings
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/update_binding.rs
Labels: A-sdf, A-dal

#4445 feat: display qualification output as code
  app/web/src/components/QualificationViewerSingle.vue
Labels: A-web

#4446 chore(pinga,veritech): normalize server config & setups
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  lib/dal-test/src/lib.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/server.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/lib.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-dal-test, A-pinga

#4448 feat: push unable to serve request toast on 502 and 504
  app/web/src/components/toasts/UnscheduledDowntime.vue
  app/web/src/main.ts
  app/web/src/store/apis.ts
Labels: A-web

#4408 This definitely removes the problem. And I dont think it introduces any others
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4447 feat(pinga,rebaser,veritech): impl work-draining graceful shutdown
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/change_set_requests.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-pinga, A-rebaser

#4425 feat(dal): graph goes vroom
  clippy.toml
  lib/dal/examples/rebase/main.rs
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/module.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/validation.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
Labels: A-dal

#4436 Break up WorkspaceSnapshotGraph & Migrator into versioned module namespacing
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v2/tests.rs
  lib/dal/src/workspace_snapshot/graph/v2/tests/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v2/tests/exclusive_outgoing_edges.rs
  lib/dal/src/workspace_snapshot/graph/v2/tests/rebase.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/src/workspace_snapshot/migrator/v2.rs
Labels: A-dal

#4450 build(deps): upgrade to NATS server 2.10.19
  component/nats/BUCK
Labels: A-nats

#4428 Fix error updating secrets
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/component.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/integration_test/secret/bench.rs
Labels: A-dal

#4452 Copy computed value cache when pasting a node.
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
Labels: A-dal, A-dal-test

#4451 link from Action to the associated func in dropdown and Actions tab
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#4457 BUG-491: drawing an edge should pan diagram at its edges
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4458 Fix action history timestamp for head
  app/web/src/components/ChangesPanelHistory.vue
Labels: A-web

#4459 feat(dal): dvu component concurrency limit
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal/src/action.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/migrations/U3101__add_component_concurrency_limit_to_workspaces.sql
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/finished_dependent_value_root_node_weight.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/node_weight/attribute_value.rs
  lib/rebaser-server/src/config.rs
  lib/sdf-server/src/server/service/diagram/dvu_roots.rs
Labels: A-sdf, A-dal, A-dal-test, A-rebaser

#4455 fix: amend deployment strategy for tools on main
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/invoke-and-check-invalidations.yml
  .github/workflows/try.yml
  BUCK
  component/toolbox/scripts/check-invalidation
  component/toolbox/scripts/supporting-funcs/cloudfront-funcs.sh
Labels: A-ci

#4465 feat(si-service): refactor `shutdown::graceful` to a builder pattern
  bin/pinga/src/main.rs
  bin/rebaser/src/main.rs
  bin/veritech/src/main.rs
  lib/si-service/src/shutdown.rs
Labels: A-veritech, A-pinga, A-rebaser

#4466 chore(pinga,rebaser,veritech): extract bin name into const
  bin/pinga/BUCK
  bin/pinga/src/main.rs
  bin/rebaser/BUCK
  bin/rebaser/src/main.rs
  bin/veritech/BUCK
  bin/veritech/src/main.rs
Labels: A-veritech, A-pinga, A-rebaser

#4469 feat(sdf-server): Track SDF Workspace First Loaded
  lib/sdf-server/src/server/service/session/auth_connect.rs
Labels: A-sdf

#4470 feat(sdf-server): admin auth middleware for api/v2/admin
  lib/sdf-server/src/server/extract.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service/v2.rs
  lib/sdf-server/src/server/service/v2/admin.rs
Labels: A-sdf

#4471 Fix: when switching functions after editing data was being saved to the wrong func
  app/web/src/components/FuncEditor/FuncDetails.vue
Labels: A-web

#4462 fix: Clone object children of arrays and maps correctly
  lib/dal/src/component.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
Labels: A-sdf, A-dal
