Repository systeminit/si, pull requests merged in 2024-09, with the labels that each got.

#4473 Cannot unlock resourcePayloadToValue
  app/web/src/components/FuncEditor/FuncDetails.vue
Labels: A-web

#4474 fix(si-layer-cache): deserialize on blocking pool
  Cargo.lock
  Cargo.toml
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/layer_cache.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4430 chore: refactor pool_noodle loop to use cancellation token and config
  bin/veritech/src/args.rs
  lib/dal-test/src/lib.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-pool-noodle/src/errors.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/si-pool-noodle/src/lifeguard.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/si-pool-noodle/src/task.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/handlers.rs
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-otelcol, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4460 Collapsed frame improvements
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
Labels: A-web

#4468 Post-deploy smoketest tracer bullet
  .github/workflows/run-smoke-test.yml
  bin/auth-api/src/routes/auth.routes.ts
  bin/auth-api/src/services/auth.service.ts
  bin/auth-api/src/services/auth0.service.ts
  bin/si-smoketest/README.md
  bin/si-smoketest/deno.json
  bin/si-smoketest/deno.lock
  bin/si-smoketest/main.ts
  bin/si-smoketest/main_test.ts
  bin/si-smoketest/sdf_api_client.ts
  config/keys/dev.jwt_signing_private_key.pem
Labels: A-ci

#4476 Add toml library to lang-js so we can parse it in components
  bin/lang-js/package.json
  bin/lang-js/src/sandbox.ts
  pnpm-lock.yaml
Labels: A-lang-js

#4479 chore: amend pipeline trigger to be on release/ not deploy/
  .github/workflows/deploy-on-main.yml
  BUCK
Labels: A-ci

#4481 feat: serve healthcheck endpoint in maintenance mode.
  lib/sdf-server/src/server/routes.rs
Labels: A-sdf

#4482 feat(sdf-server,dal,web): Download workspace snapshots in Admin panel
  app/web/package.json
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/admin.store.ts
  app/web/tsconfig.json
  lib/dal/src/change_set.rs
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/service/v2.rs
  lib/sdf-server/src/server/service/v2/admin.rs
  lib/sdf-server/src/server/service/v2/admin/get_snapshot.rs
  lib/sdf-server/src/server/service/v2/admin/kill_execution.rs
  lib/sdf-server/src/server/service/v2/admin/list_change_sets.rs
  lib/sdf-server/src/server/service/v2/admin/list_workspaces.rs
  pnpm-lock.yaml
Labels: A-sdf, A-dal, A-web

#4483 Victor/eng 2658 post deployment api tests
  .github/workflows/run-smoke-test.yml
  bin/auth-api/src/routes/auth.routes.ts
  bin/auth-api/src/services/auth0.service.ts
  bin/si-smoketest/main.ts
  bin/si-smoketest/sdf_api_client.ts
Labels: A-ci

#4487 fix(dal): quiet info messages in debug routes
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/component/debug.rs
  lib/dal/src/socket/debug.rs
Labels: A-dal

#4488 feat(sdf): Expose ability to set component name
  lib/dal/src/component.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/component/set_name.rs
Labels: A-sdf, A-dal

#4491 Skip migrating graph version for orphaned change sets
  lib/dal/src/workspace_snapshot/migrator.rs
Labels: A-dal

#4493 Use empty string for default display_name when upgrading SchemaVariantContent
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
Labels: A-dal

#4496 fix(dal): if content is missing mark change set as failed
  lib/dal/src/workspace_snapshot/migrator.rs
Labels: A-dal

#4498 fix(dal): put change set and workspace id in error message
  lib/dal/src/workspace_snapshot/migrator.rs
Labels: A-dal

#4495 SetType in ModelingRightClickMenu, multiple frame collapse, hotkeys...
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/icons/custom-icons/framedown.svg
  lib/vue-lib/src/design-system/icons/custom-icons/frameup.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#4502 fix: handle upgrade failures correctly.
  .github/workflows/upgrade-service.yml
  component/toolbox/scripts/supporting-funcs/inputs-funcs.sh
Labels: A-ci

#4485 Add initial billing event loop (ENG-2660)
  Cargo.lock
  Cargo.toml
  DOCS.md
  app/web/src/store/admin.store.ts
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/main.rs
  lib/billing-events-server/BUCK
  lib/billing-events-server/Cargo.toml
  lib/billing-events-server/src/handlers.rs
  lib/billing-events-server/src/lib.rs
  lib/billing-events/BUCK
  lib/billing-events/Cargo.toml
  lib/billing-events/src/lib.rs
  lib/dal-test/src/expand_helpers.rs
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/status.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/key_pair.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/tenancy.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/dal/tests/integration_test/workspace.rs
  lib/pinga-server/src/handlers.rs
  lib/pinga-server/src/lib.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/rebase.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/module/approval_process.rs
  lib/sdf-server/src/server/service/module/export_workspace.rs
  lib/sdf-server/src/server/service/module/import_workspace_vote.rs
  lib/sdf-server/src/server/service/module/install_workspace.rs
  lib/sdf-server/src/server/service/v2/admin.rs
  lib/sdf-server/src/server/service/v2/admin/get_snapshot.rs
  lib/sdf-server/src/server/tracking.rs
  lib/si-data-nats/src/jetstream/context.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4503 Feat/run api tests in ci
  .github/workflows/crons.yml
  .github/workflows/run-api-test.yml
  .github/workflows/run-smoke-test.yml
  bin/si-api-test/README.md
  bin/si-api-test/binary_exeuction_lib.ts
  bin/si-api-test/deno.json
  bin/si-api-test/deno.lock
  bin/si-api-test/main.ts
  bin/si-api-test/main_test.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_execution_lib.ts
  bin/si-api-test/tests/create_and_delete_component.ts
  bin/si-api-test/tests/get_head_changeset.ts
Labels: A-ci

#4501 feat: value propagation api test
  .github/workflows/run-api-test.yml
  bin/si-api-test/deno.json
  bin/si-api-test/deno.lock
  bin/si-api-test/main.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_helpers.ts
  bin/si-api-test/tests/create_and_delete_component.ts
  bin/si-api-test/tests/create_two_components_connect_and_propagate.ts
Labels: A-ci

#4504 feat: `tokio-dedicated-executor` for dedicated Tokio runtime workloads
  Cargo.lock
  Cargo.toml
  lib/tokio-dedicated-executor/BUCK
  lib/tokio-dedicated-executor/Cargo.toml
  lib/tokio-dedicated-executor/src/lib.rs
  lib/tokio-dedicated-executor/src/parent.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4505 feat: create a compute executor that can run CPU-intensive tasks
  Cargo.lock
  Cargo.toml
  lib/dal/src/slow_rt.rs
  lib/si-runtime-rs/BUCK
  lib/si-runtime-rs/Cargo.toml
  lib/si-runtime-rs/src/lib.rs
  lib/si-service/src/rt.rs
  lib/tokio-dedicated-executor/BUCK
  lib/tokio-dedicated-executor/Cargo.toml
  lib/tokio-dedicated-executor/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4509 build(deps): upgrade to NATS server 2.10.20
  component/nats/BUCK
Labels: A-nats

#4437 Remove graph::has_path_to_root
  lib/dal/src/workspace_snapshot/graph/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v3/tests.rs
Labels: A-dal

#4500 Remove modeling functionality tests, replacing with automated sdf tests
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
Labels: A-web

#4511 Remove props test from cypress
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
Labels: A-web

#4514 Feat/implement load profile api testing
  .github/workflows/deploy-stack.yml
  .github/workflows/run-api-test.yml
  bin/si-api-test/README.md
  bin/si-api-test/binary_execution_lib.ts
  bin/si-api-test/binary_exeuction_lib.ts
  bin/si-api-test/deno.lock
  bin/si-api-test/main.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_helpers.ts
Labels: A-ci

#4515 fix: notify on failure to deploy to tools prod
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4517 fix(dal-test): reduce the default cyclone pool size for tests
  lib/dal-test/src/lib.rs
Labels: A-dal-test

#4522 fix(si-layer-cache): remove spawn_blocking calls which break macOS
  lib/si-layer-cache/src/db/serialize.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-runtime-rs/src/lib.rs
Labels: A-si-layer-cache

#4454 Annihilate reconciliation func remnants
  app/web/src/store/func_runs.store.ts
  bin/cyclone/src/args.rs
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/reconciliation.ts
  bin/lang-js/src/request.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-client/src/lib.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/progress.rs
  lib/cyclone-core/src/reconciliation.rs
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/result/mod.rs
  lib/cyclone-server/src/result/reconciliation.rs
  lib/cyclone-server/src/routes.rs
  lib/dal/src/builtins/func/defaultReconciliation.json
  lib/dal/src/builtins/func/defaultReconciliation.ts
  lib/dal/src/func.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg.rs
  lib/sdf-server/src/server/service/component/resource_domain_diff.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/request.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg, A-si-pool-noodle

#4523 Revert "Annihilate reconciliation func remnants"
  app/web/src/store/func_runs.store.ts
  bin/cyclone/src/args.rs
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/reconciliation.ts
  bin/lang-js/src/request.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-client/src/lib.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/progress.rs
  lib/cyclone-core/src/reconciliation.rs
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/result/mod.rs
  lib/cyclone-server/src/result/reconciliation.rs
  lib/cyclone-server/src/routes.rs
  lib/dal/src/builtins/func/defaultReconciliation.json
  lib/dal/src/builtins/func/defaultReconciliation.ts
  lib/dal/src/func.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg.rs
  lib/sdf-server/src/server/service/component/resource_domain_diff.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/request.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg, A-si-pool-noodle

#4508 [WIP]feat: tune firecracker memory and include swap
  bin/veritech/scripts/prepare_jailer.sh
  bin/veritech/scripts/start.sh
  bin/veritech/scripts/stop.sh
  lib/si-firecracker/src/scripts/prepare_jailer.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech

#4529 fix: fail pipeline on tests, correct concurrency naming
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-stack.yml
  bin/si-api-test/main.ts
  bin/si-api-test/test_execution_lib.ts
Labels: A-ci

#4530 Fix: regenerate may send back a new variant ID, handle accordingly
  app/web/src/store/asset.store.ts
Labels: A-web

#4528 feat: incorporate compute executor into dal and layer-cache
  Cargo.lock
  bin/sdf/src/main.rs
  lib/dal-test/BUCK
  lib/dal-test/Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/src/context.rs
  lib/dal/src/lib.rs
  lib/pinga-server/src/lib.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/server.rs
  lib/sdf-server/src/server/server.rs
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/activities.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/db/func_run.rs
  lib/si-layer-cache/tests/integration_test/db/func_run_log.rs
  lib/si-layer-cache/tests/integration_test/db/workspace_snapshot.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/mod.rs
  lib/si-runtime-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4531 fix: refactor test profiles for api testing
  .github/workflows/crons.yml
  .github/workflows/soak-test.yml
  bin/si-api-test/binary_execution_lib.ts
  bin/si-api-test/main.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_execution_lib.ts
  bin/si-api-test/test_helpers.ts
  bin/si-api-test/tests/create_two_components_connect_and_propagate.ts
Labels: A-ci

#4536 feat(web, sdf): Add ability to delete a secret
  app/web/src/components/SecretCard.vue
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/secrets.store.ts
  lib/dal/src/secret.rs
  lib/dal/src/secret/event.rs
  lib/dal/src/secret/view.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/secret.rs
  lib/sdf-server/src/server/service/secret/delete_secret.rs
Labels: A-sdf, A-dal, A-web

#4532 Fix: remove delete intent doesnt need input for fromBaseChangeSet, look on the graph
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/remove_delete_intent.rs
Labels: A-sdf, A-web

#4542 fix: add soak markers, console logs
  .github/workflows/soak-test.yml
  bin/si-api-test/main.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_helpers.ts
Labels: A-ci

#4533 feat(dal): use corrections to protect socket arity
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/attribute_prototype.rs
Labels: A-dal, A-dal-test

#4535 Annihilate reconciliation func remnants (again)
  app/web/src/store/func_runs.store.ts
  bin/cyclone/src/args.rs
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/reconciliation.ts
  bin/lang-js/src/request.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-client/src/lib.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/progress.rs
  lib/cyclone-core/src/reconciliation.rs
  lib/cyclone-server/src/config.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/result/mod.rs
  lib/cyclone-server/src/result/reconciliation.rs
  lib/cyclone-server/src/routes.rs
  lib/dal/src/builtins/func/defaultReconciliation.json
  lib/dal/src/builtins/func/defaultReconciliation.ts
  lib/dal/src/func.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/js_reconciliation.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/sdf-server/src/server/service/component/resource_domain_diff.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/lib.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/request.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg, A-si-pool-noodle

#4543 feat: add concatenated test report
  .github/workflows/soak-test.yml
  bin/si-api-test/binary_execution_lib.ts
  bin/si-api-test/deno.json
  bin/si-api-test/main.ts
  bin/si-api-test/test_execution_lib.ts
Labels: A-ci

#4545 feat: don't throw 500s on action already enqueued
  lib/sdf-server/src/server/service/change_set.rs
Labels: A-sdf

#4547 fix: avoid potential infinite loop in list_actions, add instrumentation
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
  lib/sdf-server/src/server/service/action/list_actions.rs
  lib/si-layer-cache/src/db/func_run.rs
Labels: A-sdf, A-dal, A-si-layer-cache

#4548 feat(dal): ensure there can only be one default schema variant
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/tests/integration_test/node_weight.rs
  lib/dal/tests/integration_test/node_weight/schema_variant.rs
Labels: A-dal

#4550 fix(web): don't create NONE component attribute store
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
Labels: A-web

#4551 chore: remove telemetry adding for debugging action/list bug
  lib/dal/src/action.rs
Labels: A-dal

#4552 feat(web) - rename components and frames on the diagram!
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/icons/custom-icons/framedown.svg
  lib/vue-lib/src/design-system/icons/custom-icons/frameup.svg
Labels: A-web

#4557 chore: update soak test run name
  .github/workflows/soak-test.yml
Labels: A-ci

#4556 feat: add_action api test and fix up readme
  bin/si-api-test/README.md
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/tests/add_action.ts
Labels: community

#4554 fix: Only allow keypair access from the original workspaceId
  Cargo.lock
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/store/secrets.store.ts
  lib/dal/src/func/runner.rs
  lib/dal/src/key_pair.rs
  lib/dal/src/queries/key_pair/get_by_pk.sql
  lib/dal/src/queries/key_pair/public_key_get_current.sql
  lib/dal/src/secret.rs
  lib/dal/src/secret/view.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4555 feat(dal,sdf): Expose the ability to configure Identity and Unset Attribute Bindings via SDF.
  app/web/src/api/sdf/dal/func.ts
  app/web/src/store/func/funcs.store.ts
  lib/dal-test/src/helpers.rs
  lib/dal/src/func.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/binding/attribute_argument.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/rebaser-server/src/dvu_debouncer_task.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/server/service/v2/func/list_all_funcs.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-rebaser

#4559 Fix: dont let folks click on unlock button while the request is in flight
  app/web/src/components/AssetCard.vue
Labels: A-web

#4516 Only one schema variant per schema can be unlocked at any point in time
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema.rs
  lib/dal/src/workspace_snapshot/graph/v3/schema/variant.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/traits.rs
  lib/dal/tests/integration_test/node_weight/schema_variant.rs
Labels: A-dal

#4561 Remove metadata field in billing event
  lib/billing-events/src/lib.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/billing_publish.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/tests/integration_test/action.rs
Labels: A-dal, A-forklift

#4563 chore: increase parent_activity_timeout to 60 seconds
  lib/si-layer-cache/src/activity_client.rs
Labels: A-si-layer-cache

#4560 feat(web): Add ability to download screenshot of your canvas
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4564 chore(si-data-nats): upgrade to `async-nats` 0.36.0
  Cargo.lock
  Cargo.toml
  lib/si-data-nats/src/jetstream/context.rs
  lib/si-data-nats/src/lib.rs
  lib/si-data-nats/src/subscriber.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4567 fix(web): Default to func name if display name not set
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4569 feat: move events away from base64 encooded, add timestamp
  Cargo.lock
  lib/billing-events/BUCK
  lib/billing-events/Cargo.toml
  lib/billing-events/src/lib.rs
  lib/dal/src/billing_publish.rs
  lib/data-warehouse-stream-client/src/lib.rs
  lib/forklift-server/src/handlers.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4568 chore(web): Remove the concept of edges over and edges under
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
Labels: A-web

#4570 fix(dal): ensure DVU finishes after function failure
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#4571 fix: kill execution sender test
  lib/dal/tests/integration_test/func/kill_execution.rs
Labels: A-dal

#4520 feat: change pool noodle to use channels to prevent spamming pop
  lib/si-pool-noodle/src/lib.rs
  lib/si-pool-noodle/src/lifeguard.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-si-pool-noodle

#4572 fix: revert schema variant default edge correction
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/tests/integration_test/node_weight/schema_variant.rs
Labels: A-dal

#4573 Fix BUG-533: select the variant when unlocking it
  app/web/src/store/asset.store.ts
Labels: A-web

#4565 *Basic* ugly UI for binding identity function
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4576 fix: Removing a func binding sets the ap func to si:Unset
  lib/dal/src/component.rs
  lib/dal/src/func/binding/attribute.rs
  lib/sdf-server/src/service/v2/func/binding/attribute/reset_attribute_binding.rs
Labels: A-sdf, A-dal

#4577 fix(dal): Allow reconnected orphaned funcs
  lib/dal/src/func.rs
Labels: A-dal

#4578 fix(dal): Return whether a prop is hidden or not
  lib/dal/src/prop.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
Labels: A-dal

#4579 fix: invalid asset return type spits out status code 422
  app/web/src/components/AssetCard.vue
  lib/sdf-server/src/service/variant.rs
Labels: A-sdf, A-web

#4582 Fix: ignore bindings with a variant we dont have
  app/web/src/components/FuncEditor/AttributeBindings.vue
Labels: A-web

#4575 fixed rename on diagram bugs + hotkey and menu option
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/components.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-web

#4584 feat: change broadcast channel depth to 1000000
  lib/si-layer-cache/src/activities.rs
Labels: A-si-layer-cache

#4580 Use one stream for all rebasers
  .github/workflows/set-maintenance-mode.yml
  Cargo.lock
  Cargo.toml
  lib/dal-test/src/lib.rs
  lib/dal/BUCK
  lib/rebaser-core/BUCK
  lib/rebaser-core/Cargo.toml
  lib/rebaser-core/src/lib.rs
  lib/rebaser-core/src/messaging_config.rs
  lib/rebaser-core/src/subject.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/config.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/server.rs
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/activity_client.rs
  lib/si-layer-cache/src/lib.rs
  lib/si-layer-cache/src/nats.rs
  lib/si-test-macros/src/expand.rs
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4585 fix: don't replay onto the change set that was just applied
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/service/change_set/rebase_on_base.rs
  lib/si-layer-cache/src/activities/rebase.rs
  lib/si-layer-cache/tests/integration_test/activities/rebase.rs
Labels: A-sdf, A-dal, A-rebaser, A-si-layer-cache

#4586 fix: restore maintenance mode signal handler
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/server.rs
Labels: A-sdf

#4588 fix(web): Set the canvas download to be dark fill bg
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4592 feat: poolnoodle clean exponential backoff
  lib/si-pool-noodle/src/pool_noodle.rs
Labels: A-si-pool-noodle

#4594 fix: don't send double applied event on apply to head
  lib/rebaser-server/src/rebase.rs
Labels: A-rebaser

#4595 chore(ci): Adding Auth stack to the labeller
  .github/labeler.yml
Labels: A-ci

#4596 fix: veritech CARGO_BIN_NAME was set incorrectly
  bin/veritech/BUCK
Labels: A-veritech

#4581 feat: add tokio_console to the telemetry stack
  Cargo.lock
  Cargo.toml
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4597 fix: remove onBlur for select boxes, only fire update on change event
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4598 Revert "feat: add tokio_console to the telemetry stack"
  Cargo.lock
  Cargo.toml
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4599 fix(docs): Removing notion of IAM Role SID from EC2 How-to
  app/docs/src/how-tos/aws-ha-ec2.md
Labels: A-docs, A-auth

#4600 New week, new youtube video drop
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4574 Update LayerDb to lazily deserialize values from cache update messages
  lib/si-layer-cache/src/db/cache_updates.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/src/memory_cache.rs
Labels: A-si-layer-cache

#4602 fix: correct Contains(key) conflicts for attribute values
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/tests/integration_test/node_weight/ordering.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/insert_property_editor_value.rs
Labels: A-sdf, A-dal, A-dal-test

#4604 fix to socket bug, added hotkeys to help modal
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
Labels: A-web

#4605 fix: regenerate was racing websockets
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/schema/variant.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/variant/regenerate_variant.rs
Labels: A-sdf, A-dal, A-web

#4607 fix: Cleanup graph after individual deletes
  lib/sdf-server/src/service/diagram/delete_component.rs
Labels: A-sdf

#4608 fix: Same account diagram position multiplayer
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/component.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal, A-web

#4609 fix(web): Prevent multiple concurrent upgrade requests
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  lib/sdf-server/src/service/component.rs
Labels: A-sdf, A-web

#4610 fix(web): Prevent opening abandon changeset modal if on HEAD
  app/web/src/components/ApprovalFlowModal.vue
Labels: A-web

#4611 add instrumentation
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func/runner.rs
Labels: A-dal

#4613 Correct node_hash calculation for InputSocketNodeWeight and SchemaVariantNodeWeight
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
Labels: A-dal

#4606 feat: nack veritech function run failures
  lib/si-pool-noodle/src/errors.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/veritech-server/src/handlers.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-si-pool-noodle

#4616 Remove all usage of serde_json::json![...] in node_hash node weight methods
  lib/dal/src/action.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/finished_dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
Labels: A-dal

#4619 Feat: Speed up qualification summary calculation by not loading the func runs
  lib/dal/src/component/qualification.rs
  lib/dal/src/qualification.rs
Labels: A-dal

#4617 fix: ensure only one is_default: true edge for any source
  lib/dal/src/workspace_snapshot/graph/v3.rs
Labels: A-dal

#4621 fix: don't write to func runs for intrinsic executions
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/runner.rs
Labels: A-dal

#4620 Fail on apply if DVU roots are not empty
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/toasts/RetryApply.vue
  lib/sdf-server/src/service/change_set.rs
  lib/sdf-server/src/service/change_set/apply_change_set.rs
Labels: A-sdf, A-web

#4622 Fix: Light up sockets even if they're connected via inferred edges
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4623 fix: don't write to func runs for intrinsic executions
  lib/dal/src/func/runner.rs
Labels: A-dal

#4625 fix: remove even more func run writes
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#4587 feat(auth-portal): Add ability to set a workspace description and mark as isFavourite
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/store/workspaces.store.ts
  bin/auth-api/prisma/migrations/20240911192206_workspace_additions/migration.sql
  bin/auth-api/prisma/schema.prisma
  bin/auth-api/src/routes/admin.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/users.service.ts
  bin/auth-api/src/services/workspaces.service.ts
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-auth

#4627 Feat/add webhook to api test
  .github/workflows/run-api-test.yml
Labels: A-ci

#4628 fix: Only calculate func bindings once on func_list
  lib/dal/src/func.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/sdf-server/src/service/v2/func/list_funcs.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal

#4630 chore: add tracing to validations path
  lib/dal/src/context.rs
Labels: A-dal

#4631 fix(sdf): Surface API errors in auth_connect as 401 status code
  lib/sdf-server/src/service/session.rs
Labels: A-sdf

#4632 fix: Delete newly created edges correctly
  app/web/src/store/components.store.ts
  lib/sdf-server/src/service/diagram/create_connection.rs
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-sdf, A-web

#4639 Only send create/delete events if the resource property is set or unset
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#4637 revamped UI for Secrets and more!
  app/web/src/components/Actions/ActionRunnerCard.vue
  app/web/src/components/Actions/ActionRunnerDetails.vue
  app/web/src/components/Actions/FuncRunTabGroup.vue
  app/web/src/components/AddSecretForm.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/DetailsPanelMenuIcon.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/RightPanelDrawer.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/SecretsModal.vue
  app/web/src/components/SecretsPanel.vue
  app/web/src/components/SecretsPanelTitle.vue
  app/web/src/components/SiSearch.vue
  app/web/src/components/toasts/ComponentUpgrading.vue
  app/web/src/components/toasts/SecretUpdate.vue
  app/web/src/store/secrets.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#4641 feat: Add ability to have ToS versions behind a feature flag
  app/auth-portal/.env
  app/auth-portal/src/content/legal/2024-09-19/1-tos.md
  app/auth-portal/src/content/legal/2024-09-19/2-privacy.md
  app/auth-portal/src/content/legal/2024-09-19/3-cookie.md
  app/auth-portal/src/content/legal/2024-09-19/4-trademark.md
  app/auth-portal/src/content/legal/2024-09-19/5-oss.md
  app/auth-portal/src/pages/legal/LegalAgreementPage.vue
  app/auth-portal/src/pages/legal/PrintLegalPage.vue
  app/auth-portal/src/pages/legal/load-docs.ts
  app/auth-portal/src/router.ts
  app/auth-portal/src/store/feature_flags.store.ts
  bin/auth-api/src/routes/user.routes.ts
  bin/auth-api/src/services/tos.service.ts
  bin/auth-api/src/services/users.service.ts
  bin/auth-api/test/user-routes.test.ts
  lib/ts-lib/src/terms-of-service.ts
Labels: A-auth

#4642 Order sockets and props in binding dropdowns alphabetically
  app/web/src/api/sdf/dal/schema.ts
Labels: A-web

#4645 fix: don't redirect to default workspace when tos needs updated
  app/auth-portal/src/App.vue
  app/auth-portal/src/pages/DefaultWorkspacePage.vue
  app/auth-portal/src/pages/LoginPage.vue
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#4644 BUG-551: clear global status when you switch change sets
  app/web/src/store/change_sets.store.ts
  app/web/src/store/status.store.ts
Labels: A-web

#4648 BUG-592: search the secrets list of components
  app/web/src/components/SecretsPanel.vue
Labels: A-web

#4649 feat(auth-api): Ensuring we trigger the correct invited by workflows
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#4652 fix(auth-api): Ensure we set the correct events for inviting a user
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#4629 Ensure values are updated correctly when changing a component's type.
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/component/set_type.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/frame/omega_nesting.rs
  lib/sdf-server/src/service/component/set_type.rs
Labels: A-sdf, A-dal, A-dal-test

#4655 Rename set_type_by_id -> set_type_by_id_unchecked
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/component/set_type.rs
  lib/dal/tests/integration_test/frame.rs
  lib/sdf-server/src/service/component/set_type.rs
Labels: A-sdf, A-dal, A-dal-test

#4653 Send delete event correctly when component is actually deleted
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#4658 Fix BUG-548: move the X for select box and combo box to not be on top of dropdown icon
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4659 docs: add create component tutorial, asset reference
  app/docs/.gitignore
  app/docs/src/.vitepress/config.ts
  app/docs/src/index.md
  app/docs/src/reference/asset/function.md
  app/docs/src/reference/asset/schema.md
  app/docs/src/reference/index.md
  app/docs/src/reference/vocabulary.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/creating-components/add-properties-to-the-tutorial-key-pair-schema.png
  app/docs/src/tutorials/creating-new-assets.md
  app/docs/src/tutorials/index.md
  app/docs/src/writing-docs.md
Labels: A-docs, A-auth

#4661 fix navigation and linting errors
  app/docs/src/index.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/index.md
Labels: A-docs, A-auth

#4662 fix sectional formatting
  app/docs/src/tutorials/creating-components.md
Labels: A-docs, A-auth

#4650 fix(auth-portal): Adding the updated ToS
  app/auth-portal/src/content/legal/2024-09-19/1-tos.md
  app/auth-portal/src/content/legal/2024-09-25/1-tos.md
  app/auth-portal/src/content/legal/2024-09-25/2-privacy.md
  app/auth-portal/src/content/legal/2024-09-25/3-cookie.md
  app/auth-portal/src/content/legal/2024-09-25/4-trademark.md
  app/auth-portal/src/content/legal/2024-09-25/5-oss.md
  app/auth-portal/src/pages/legal/LegalAgreementPage.vue
  bin/auth-api/src/services/tos.service.ts
  lib/ts-lib/src/terms-of-service.ts
Labels: A-auth

#4663 fix(docs): fixing up the docs site build
  app/docs/src/tutorials/creating-components.md
Labels: A-docs, A-auth

#4664 docs: add asset function docs
  app/docs/src/reference/asset/function.md
Labels: A-docs, A-auth

#4665 New screenshots + fix sections
  app/docs/src/tutorials/actions-and-resources.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/creating-components/add-properties.png
  app/docs/src/tutorials/creating-components/add-qualification-function.png
  app/docs/src/tutorials/creating-components/check-qualification.png
  app/docs/src/tutorials/creating-components/check-your-component.png
  app/docs/src/tutorials/creating-components/create-a-change-set.png
  app/docs/src/tutorials/creating-components/create-a-new-hello-world-component.png
  app/docs/src/tutorials/creating-components/qualification-metadata.png
  app/docs/src/tutorials/creating-components/regenerate-asset.png
  app/docs/src/tutorials/creating-components/set-the-hello-world-meta-data.png
  app/docs/src/tutorials/creating-components/switch-to-the-customize-screen.png
  app/docs/src/tutorials/creating-components/write-qualification.png
Labels: A-docs, A-auth

#4651 BUG-561: authoring pain when starting from head
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/store/asset.store.ts
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#4669 BUG-595: wrap and break all lines for json output in this modal
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4670 chore(si-data-pg): promote `pool.get` to `INFO`
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#4671 fix(auth-api): Switch the new create workflow to be behind a feature flag
  bin/auth-api/src/services/users.service.ts
Labels: A-auth

#4675 docs: add a roadmap page
  app/docs/src/index.md
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#4677 BUG-575: fix first resize on child frame
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4679 Missed this from a previous PR
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#4680 chore(si-data-pg): promote several query methods to `INFO`
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#4674 Tune down sdf migrations logging
  lib/dal/src/pkg/import.rs
  lib/sdf-server/src/migrations.rs
Labels: A-sdf, A-dal

#4681 feat: editing components and contributing tutorial
  app/docs/src/.vitepress/config.ts
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/editing-components-and-contributing.md
  app/docs/src/tutorials/editing-components-and-contributing/abandon-change-set.png
  app/docs/src/tutorials/editing-components-and-contributing/add-a-new-property-to-the-generic-frame.png
  app/docs/src/tutorials/editing-components-and-contributing/contributing-assets-to-system-initiative.png
  app/docs/src/tutorials/editing-components-and-contributing/create-a-generic-frame.png
  app/docs/src/tutorials/editing-components-and-contributing/create-change-set.png
  app/docs/src/tutorials/editing-components-and-contributing/edit-a-function.png
  app/docs/src/tutorials/editing-components-and-contributing/edit-the-generic-frame-schema.png
  app/docs/src/tutorials/editing-components-and-contributing/install-new-assets-from-system-initiative.png
  app/docs/src/tutorials/editing-components-and-contributing/now-with-more-awesome.png
  app/docs/src/tutorials/editing-components-and-contributing/switch-to-customize-screen.png
  app/docs/src/tutorials/editing-components-and-contributing/updating-assets-from-system-initiative.png
  app/docs/src/tutorials/editing-components-and-contributing/upgrade-to-your-new-generic-frame.png
  app/docs/src/tutorials/index.md
Labels: A-docs, A-auth

#4682 Make vocabulary section in docs alphabetical
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#4683 Revert "chore(si-data-pg): promote several query methods to `INFO`"
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#4686 fix: ensure all incoming edges are removed from deleted components
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/tests/integration_test/node_weight/component.rs
Labels: A-dal

#4688 fix(rebaser): ensure NATS requests consumer name is unique
  lib/rebaser-server/src/handlers.rs
Labels: A-rebaser

#4689 fix: don't write all dvus as finished by default
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
Labels: A-dal

#4687 Polish selection details for asset details panel
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
  app/web/src/components/SelectMenu.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/icons/custom-icons/input-socket.svg
  lib/vue-lib/src/design-system/icons/custom-icons/output-socket.svg
  lib/vue-lib/src/design-system/icons/custom-icons/socket.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web
