Repository systeminit/si, pull requests merged in 2024-11, with the labels that each got.

#4886 Replace mocked audit log data with real data
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogDrawer.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/logs.store.ts
  lib/dal/src/audit_logging.rs
  lib/dal/src/audit_logging/fake_data_for_frontend.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/secret.rs
  lib/dal/src/user.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/delete_component.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/audit_log/v2.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/secret.rs
  lib/si-frontend-types-rs/src/audit_log.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal, A-web

#4905 [healthcheck] added inotify check for Linux and docs around it
  CONTRIBUTORS.md
  DOCS.md
  README.md
  dev/healthcheck.py
Labels: community

#4908 fix: cache size calculation fixes
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-si-layer-cache

#4910 Solidify audit log structure in the UI
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/store/logs.store.ts
  lib/dal/src/audit_logging.rs
  lib/dal/src/context.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/delete_component.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v2.rs
  lib/si-events-rs/src/audit_log/v3.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-sdf, A-dal, A-web

#4912 Mock ReBAC Approval Modals
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal2.vue
  app/web/src/components/ApprovalPendingModal.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/src/service/v2/change_set/list.rs
  lib/vue-lib/src/design-system/general/ErrorMessage.vue
Labels: A-sdf, A-web

#4914 Updated weekly demos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4915 feat(audit-logs): Extending the audit logs api
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  lib/dal/src/audit_logging.rs
  lib/dal/src/context.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/sdf-server/src/service/action/cancel.rs
  lib/sdf-server/src/service/action/put_on_hold.rs
  lib/sdf-server/src/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/service/change_set/add_action.rs
  lib/sdf-server/src/service/change_set/apply_change_set.rs
  lib/sdf-server/src/service/change_set/create_change_set.rs
  lib/si-events-rs/src/audit_log/v2.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-sdf, A-dal, A-web

#4916 feat: connect components in management functions
  lib/dal-test/src/lib.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal/src/diagram.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-dal, A-dal-test

#4918 fix(auth-api): Add a new plan state for SI Internal
  bin/auth-api/src/lib/lago.ts
Labels: A-auth

#4919 chore(deps): Update number of high severity package deps
  pnpm-lock.yaml
Labels: vulnerability-fix

#4920 Add asset-sprayer-prompts binary to show or run prompts from the command
  Cargo.toml
  bin/asset-sprayer-prompts/BUCK
  bin/asset-sprayer-prompts/Cargo.toml
  bin/asset-sprayer-prompts/src/main.rs
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompt.rs
  lib/asset-sprayer/src/prompts.rs
  lib/sdf-server/src/service/v2/variant/generate_aws_asset_schema.rs
Labels: A-sdf

#4913 Abstract the commandbar from the modal itself so the bar can be used elsewhere
  app/web/src/components/Workspace/CommandModal.vue
  app/web/src/shared/CommandBar.vue
  app/web/src/shared/command.ts
Labels: A-web

#4923 chore(module-index): Update sea-orm
  Cargo.lock
  Cargo.toml
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/models/si_module/module_id.rs
  lib/module-index-server/src/models/si_module/schema_id.rs
  lib/module-index-server/src/models/si_module/schema_variant_id.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/bigdecimal/fixups.toml
  third-party/rust/fixups/quinn-udp/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4924 Move the Audit Trail feature out of beta
  Cargo.lock
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/store/logs.store.ts
  lib/audit-logs/src/lib.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/audit_logging.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/tests/integration_test/attribute/value.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/pending-events/src/lib.rs
  lib/sdf-server/src/service/attribute/get_prototype_arguments.rs
  lib/sdf-server/src/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/service/change_set/apply_change_set.rs
  lib/sdf-server/src/service/change_set/create_change_set.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/audit_log/v2.rs
  lib/si-events-rs/src/audit_log/v3.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4928 feat(sdf): Adding audit events for secrets and workspace changes
  lib/sdf-server/src/service/action/retry.rs
  lib/sdf-server/src/service/component/upgrade.rs
  lib/sdf-server/src/service/module/export_workspace.rs
  lib/sdf-server/src/service/module/install_workspace.rs
  lib/sdf-server/src/service/secret/create_secret.rs
  lib/sdf-server/src/service/secret/delete_secret.rs
  lib/sdf-server/src/service/secret/update_secret.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-sdf

#4931 feat(sdf, dal): Add audit log for a user to a workspace
  lib/dal/src/audit_logging.rs
  lib/dal/src/context.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-sdf, A-dal

#4926 feat: modify schemas managed by management prototype
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/ManagementDetails.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/sdf-server/src/service/v2/func/binding/update_binding.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal, A-web

#4925 chore(deps): Updating pnpm-lock.yaml deps
  pnpm-lock.yaml
Labels: vulnerability-fix

#4933 fix: Don't abort diagram assemble when hitting orphan geometries
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
Labels: A-dal

#4930 chore(si-layer-cache): rework cache config to include reservations
  Cargo.lock
  Cargo.toml
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/db.rs
  lib/si-layer-cache/src/error.rs
  lib/si-layer-cache/src/hybrid_cache.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4935 Final Audit Log UI polishing run
  app/web/src/api/sdf/dal/audit_log.ts
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/logs.store.ts
  lib/dal-test/src/helpers.rs
  lib/dal/src/audit_logging.rs
  lib/dal/src/change_set.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/get_filter_options.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
  lib/si-frontend-types-rs/src/audit_log.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/vue-lib/src/design-system/general/Timestamp.vue
Labels: A-sdf, A-dal, A-web, A-dal-test

#4934 Separate cursors on the diagram according to viewId
  app/web/src/store/presence.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  lib/dal/src/user.rs
  lib/sdf-server/src/service/ws/workspace_updates.rs
Labels: A-sdf, A-dal, A-web

#4927 Use SpiceDB to facilitate Change Set Approvals end to end
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/api/sdf/dal/workspace.ts
  app/web/src/components/AbandonChangeSetModal.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/ApprovalFlowModal2.vue
  app/web/src/components/ApprovalPendingModal.vue
  app/web/src/components/ApprovalPendingModalCard.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/toasts/ChangeSetStatusChanged.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/event.rs
  lib/permissions/src/lib.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
  lib/sdf-server/src/service/v2/change_set/cancel_approval_request.rs
  lib/sdf-server/src/service/v2/change_set/list.rs
  lib/sdf-server/src/service/v2/change_set/reject.rs
  lib/sdf-server/src/service/v2/change_set/reopen.rs
  lib/sdf-server/src/service/v2/change_set/request_approval.rs
  lib/si-data-spicedb/src/lib.rs
  lib/si-data-spicedb/src/types.rs
  lib/si-data-spicedb/tests/integration_test/mod.rs
  lib/si-frontend-types-rs/src/change_set.rs
Labels: A-sdf, A-dal, A-web

#4929 Sync subscriptions from Lago when they change
  component/lambda/functions/billing-set-prices.py
  component/lambda/functions/github_lambda_loader.py
  component/lambda/functions/si_auth_api.py
  component/lambda/functions/si_lago_api.py
  component/lambda/functions/si_lambda.py
  component/lambda/functions/si_redshift.py
  component/lambda/functions/si_types.py
  component/lambda/functions/upload-billing-hours.py
  component/lambda/functions/workspace_delegations_population.py
  component/lambda/sql/workspace_operations.sql
  component/lambda/sql/workspace_verifications.sql
Labels: A-sdf

#4936 Fix diagram selection rect
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4938 chore(si-data-spicedb): support TLS-enabled SpiceDB endpoints
  Cargo.lock
  Cargo.toml
  lib/si-data-spicedb/Cargo.toml
  lib/si-data-spicedb/examples/read-schema/BUCK
  lib/si-data-spicedb/examples/read-schema/main.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4941 fix(sdf): Add Posthog tracking to refresh_workspace_members endpoint
  lib/sdf-server/src/service/session/refresh_workspace_members.rs
Labels: A-sdf

#4942 fix(sdf): Remove ManagePermissionLayer on refresh_workspace_members
  lib/sdf-server/src/routes.rs
  lib/sdf-server/src/service/session.rs
  lib/sdf-server/src/service/session/refresh_workspace_members.rs
Labels: A-sdf

#4937 Mgmt func history
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/FuncRunTabGroup.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/FuncRunTabDropdown.vue
  app/web/src/components/Management/ManagementHistoryCard.vue
  app/web/src/components/Management/ManagementHistoryList.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/func/runner.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/v2/func/get_func_run.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/management/history.rs
  lib/sdf-server/src/service/v2/management/latest.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/veritech-core/src/lib.rs
  lib/veritech-server/src/handlers.rs
  lib/vue-lib/src/design-system/tree/TreeNode.vue
Labels: A-sdf, A-veritech, A-dal, A-web, A-dal-test, A-si-layer-cache

#4943 Expand telemetry for listing audit logs
  lib/dal/src/audit_logging.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
Labels: A-sdf, A-dal

#4944 feat: "Add/move to view" endpoints
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/add_components_to_view.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
  lib/sdf-server/src/service/v2/view/set_component_geometry.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal

#4948 Fix child geometry detection
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4949 fix(sdf): Ensure that adding a mgmt func is reactive in the assets func panel
  lib/sdf-server/src/service/v2/func/create_func.rs
Labels: A-sdf

#4947 chore(sdf): ensure owner relation is created for wksp creator on login
  lib/dal/src/standard_id.rs
  lib/sdf-server/src/service/session/auth_connect.rs
Labels: A-sdf, A-dal

#4950 Fix frames ordering and parentage
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4951 fix: downgrade the orphan geometry error to stop spamming logs
  lib/dal/src/diagram.rs
Labels: A-dal

#4952 chore: implementing web-identity via github into aws
  .github/workflows/deploy-module-index.yml
  .github/workflows/down-service.yml
  .github/workflows/instance-refresh.yml
  .github/workflows/invoke-and-check-invalidations.yml
  .github/workflows/migrate-sdf.yml
  .github/workflows/set-maintenance-mode.yml
  .github/workflows/set-service-version.yml
  .github/workflows/up-service.yml
  .github/workflows/upgrade-service.yml
  .github/workflows/upgrade-web.yml
Labels: A-ci

#4954 Chore/check creds
  .github/workflows/deploy-auth-api.yml
  .github/workflows/deploy-module-index.yml
  .github/workflows/down-service.yml
  .github/workflows/instance-refresh.yml
  .github/workflows/invoke-and-check-invalidations.yml
  .github/workflows/migrate-sdf.yml
  .github/workflows/set-maintenance-mode.yml
  .github/workflows/set-service-version.yml
  .github/workflows/up-service.yml
  .github/workflows/upgrade-service.yml
  .github/workflows/upgrade-web.yml
Labels: A-ci

#4955 feat: erase components from view endpoint
  lib/dal/src/diagram/view.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/diagram/add_components_to_view.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_view.rs
  lib/sdf-server/src/service/v2/view/erase_components.rs
  lib/sdf-server/src/service/v2/view/get_diagram.rs
  lib/sdf-server/src/service/v2/view/list_views.rs
  lib/sdf-server/src/service/v2/view/update_view.rs
Labels: A-sdf, A-dal

#4959 fix: use change set sharded store for management runs
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/Management/ManagementHistoryCard.vue
  app/web/src/components/Management/ManagementHistoryList.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/store/func_runs.store.ts
  app/web/src/store/management_runs.store.ts
Labels: A-web

#4957 docs(eks-how-do): Create EKS How-to
  app/docs/src/.vitepress/config.ts
  app/docs/src/how-tos/aws-eks.md
  app/docs/src/how-tos/aws-eks/apply.png
  app/docs/src/how-tos/aws-eks/complete.png
  app/docs/src/how-tos/aws-eks/create-access-entry.png
  app/docs/src/how-tos/aws-eks/create-ec2-security-group-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-ec2-security-group.png
  app/docs/src/how-tos/aws-eks/create-eks-cluster.png
  app/docs/src/how-tos/aws-eks/create-fargate-profile.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement.png
  app/docs/src/how-tos/aws-eks/create-iam-role-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-role.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal.png
  app/docs/src/how-tos/aws-eks/create-key-pair.png
  app/docs/src/how-tos/aws-eks/create-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-security-group-ingress-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-security-group-ingress.png
  app/docs/src/how-tos/aws-eks/update-cluster-config.png
  app/docs/src/how-tos/index.md
Labels: A-docs, A-auth

#4960 fix(web): Change the titles of the assets tabs for on-demand asses
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/InstallAssetsPanel.vue
Labels: A-web

#4966 eks-how-to-nits
  app/docs/src/how-tos/aws-eks.md
Labels: A-docs, A-auth

#4962 feat: get all components endpoint
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/view.rs
  lib/dal/tests/integration_test/view.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/add_components_to_view.rs
  lib/sdf-server/src/service/diagram/get_all_components_and_edges.rs
  lib/sdf-server/src/service/v2/view/create_view.rs
  lib/sdf-server/src/service/v2/view/erase_components.rs
  lib/sdf-server/src/service/v2/view/get_diagram.rs
  lib/sdf-server/src/service/v2/view/update_view.rs
Labels: A-sdf, A-dal

#4964 feat(docs): Adding docs for the Authorization Roles
  app/docs/src/.vitepress/config.ts
  app/docs/src/reference/authorization-roles.md
  app/docs/src/reference/index.md
Labels: A-docs, A-auth

#4956 feat: mgmt fns can set component type, and set parent for components
  bin/lang-js/src/function_kinds/management.ts
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/component.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-lang-js, A-dal, A-dal-test

#4940 Generate action functions with AI
  Cargo.lock
  app/web/src/components/Ai/GenerateAwsAssetSchemaPanel.vue
  app/web/src/components/Ai/GenerateAwsFunctionPanel.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  bin/asset-sprayer-prompts/BUCK
  bin/asset-sprayer-prompts/Cargo.toml
  bin/asset-sprayer-prompts/src/main.rs
  lib/asset-sprayer/prompts/aws/create_action.yaml
  lib/asset-sprayer/prompts/aws/destroy_action.yaml
  lib/asset-sprayer/prompts/aws/refresh_action.yaml
  lib/asset-sprayer/prompts/aws/update_action.yaml
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompt.rs
  lib/dal/src/func.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/generate_aws_function.rs
  lib/sdf-server/src/service/v2/func/save_code.rs
  lib/sdf-server/src/service/v2/variant.rs
  lib/sdf-server/src/service/v2/variant/generate_aws_asset_schema.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4968 feat(vocab): Adding collaborator to our vocab list
  app/docs/src/reference/vocabulary.md
Labels: A-docs, A-auth

#4969 fix(demos): Publishing demos Nov 12
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4967 Add audit events as Change Set status gets updated
  app/web/src/api/sdf/dal/audit_log.ts
  lib/sdf-server/src/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
  lib/sdf-server/src/service/v2/change_set/cancel_approval_request.rs
  lib/sdf-server/src/service/v2/change_set/force_apply.rs
  lib/sdf-server/src/service/v2/change_set/reject.rs
  lib/sdf-server/src/service/v2/change_set/reopen.rs
  lib/sdf-server/src/service/v2/change_set/request_approval.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-frontend-types-rs/src/audit_log.rs
Labels: A-sdf, A-web

#4972 added management funcs to ModelingRightClickMenu
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
Labels: A-web

#4946 Multiple Views
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  lib/dal/src/diagram/view.rs
  lib/sdf-server/src/service/diagram/add_components_to_view.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_view.rs
  lib/sdf-server/src/service/v2/view/erase_components.rs
  lib/sdf-server/src/service/v2/view/get_diagram.rs
  lib/sdf-server/src/service/v2/view/update_view.rs
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
Labels: A-sdf, A-dal, A-web

#4979 fix: frames can manage children, connection events sent after component events in management operator
  lib/dal/src/attribute/value.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_updates.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal

#4970 Make the audit log UI behave as a data table
  app/web/src/api/sdf/dal/audit_log.ts
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/store/logs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/audit-logs/src/lib.rs
  lib/dal/src/audit_logging.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/pending-events/src/lib.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/get_filter_options.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/shuttle-core/src/lib.rs
  lib/shuttle-server/src/handlers.rs
Labels: A-sdf, A-dal, A-web

#4981 Added message to empty secrets panel
  app/web/src/components/SecretsPanel.vue
Labels: A-web

#4977 Add audit database migrations
  Cargo.lock
  component/init/configs/service.toml
  dev/docker-compose.platform.yml
  lib/audit-logs/BUCK
  lib/audit-logs/Cargo.toml
  lib/audit-logs/src/lib.rs
  lib/audit-logs/src/migrations/U0001__test_migration.sql
  lib/audit-logs/src/pg.rs
  lib/audit-logs/src/pg/migrate.rs
  lib/audit-logs/src/stream.rs
  lib/dal/src/audit_logging.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4980 fix: copy managed schemas when unlocking a management function
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/binding/management.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
Labels: A-sdf, A-dal

#4985 Get the change set for audit log published events
  lib/dal/src/audit_logging.rs
  lib/dal/src/ws_event.rs
Labels: A-dal

#4984 fix(dal): Change the signature of the default mgmt func code
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/data/defaults/management.ts
Labels: A-dal

#4987 Add demos to changelog November 18, 2024
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#4989 Diagram outliner fix & delete edge fix
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
Labels: A-web

#4983 Make code reload after AI gen
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4982 Fix Regenerate Asset making bindings disappear
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/variant.rs
  lib/sdf-server/src/service/variant/regenerate_variant.rs
Labels: A-sdf, A-dal

#4990 fix for sockets going off the frame boundary
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
Labels: A-web

#4991 Revert "Fix Regenerate Asset making bindings disappear"
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/variant.rs
  lib/sdf-server/src/service/variant/regenerate_variant.rs
Labels: A-sdf, A-dal

#4992 update-deps
  pnpm-lock.yaml
Labels: vulnerability-fix

#4995 update-deps
  pnpm-lock.yaml
Labels: vulnerability-fix

#4998 chore(deps): Upgrade si-discord-bot cross-spawn package
  bin/si-discord-bot/package-lock.json
Labels: A-si-discord-bot, vulnerability-fix

#4999 chore(deps): Update si-discord-bot micromatch package
  bin/si-discord-bot/package-lock.json
Labels: A-si-discord-bot, vulnerability-fix

#4996 Write migration for audit logs table
  Cargo.lock
  lib/audit-logs/BUCK
  lib/audit-logs/Cargo.toml
  lib/audit-logs/src/lib.rs
  lib/audit-logs/src/migrations/U0002__audit_logs.sql
  lib/audit-logs/src/pg.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#4994 chore(ci): Update deprecated GHA versions
  .github/workflows/invoke-and-check-invalidations.yml
  .github/workflows/set-service-version.yml
Labels: A-ci

#4974 feat: management edges
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/EdgeCard.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramNodeSocket.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/manage.rs
  lib/sdf-server/src/service/component/unmanage.rs
  lib/sdf-server/src/service/diagram/create_connection.rs
  lib/sdf-server/src/service/diagram/delete_component.rs
  lib/sdf-server/src/service/diagram/delete_connection.rs
  lib/sdf-server/src/service/diagram/paste_component.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
  lib/si-frontend-types-rs/src/component.rs
Labels: A-sdf, A-dal, A-web

#5001 Write to audit logs table from forklift
  lib/dal/src/audit_logging.rs
  lib/dal/src/ws_event.rs
Labels: A-dal

#5004 chore(deps): Removing old version of http-cache-semantics package
  pnpm-lock.yaml
Labels: vulnerability-fix

#5005 fix: copy management edges when pasting components
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/diagram/paste_component.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
Labels: A-sdf

#5006 fix(layer-cache): add size hinting when inserting Rust types into caches
  lib/dal/examples/rebase/main.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/si-layer-cache/src/activities.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/db/encrypted_secret.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/si-layer-cache/src/db/func_run_log.rs
  lib/si-layer-cache/src/db/rebase_batch.rs
  lib/si-layer-cache/src/db/serialize.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
  lib/si-layer-cache/src/event.rs
  lib/si-layer-cache/src/hybrid_cache.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-layer-cache/tests/integration_test/db/cas.rs
  lib/si-layer-cache/tests/integration_test/layer_cache.rs
Labels: A-dal, A-si-layer-cache

#5003 chore(layer-cache): remove minimum memory values
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-si-layer-cache

#5002 Write audit logs to database in forklift
  Cargo.lock
  bin/forklift/BUCK
  bin/forklift/src/args.rs
  lib/audit-logs/BUCK
  lib/audit-logs/Cargo.toml
  lib/audit-logs/src/database.rs
  lib/audit-logs/src/database/config.rs
  lib/audit-logs/src/database/context.rs
  lib/audit-logs/src/database/migrate.rs
  lib/audit-logs/src/lib.rs
  lib/audit-logs/src/pg.rs
  lib/audit-logs/src/stream.rs
  lib/dal/src/audit_logging.rs
  lib/forklift-server/BUCK
  lib/forklift-server/Cargo.toml
  lib/forklift-server/src/config.rs
  lib/forklift-server/src/lib.rs
  lib/forklift-server/src/server.rs
  lib/forklift-server/src/server/app.rs
  lib/forklift-server/src/server/app/audit_logs.rs
  lib/forklift-server/src/server/app/audit_logs/app_state.rs
  lib/forklift-server/src/server/app/audit_logs/handlers.rs
  lib/forklift-server/src/server/app/billing_events.rs
  lib/forklift-server/src/server/app/billing_events/app_state.rs
  lib/forklift-server/src/server/app/billing_events/handlers.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/lib.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/server.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-frontend-types-rs/src/audit_log.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5008 mock for Connections panel plus MANY fixes/refactoring
  app/auth-portal/src/App.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/App.vue
  app/web/src/components/Ai/GenerateAwsFunctionPanel.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelCustomInputs.vue
  app/web/src/components/AttributesPanel/SourceIcon.vue
  app/web/src/components/AttributesPanel/TreeForm.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelHistorySubpanelTab.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/CodeViewer.vue
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ProgressBar.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/SummaryCard.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeModules.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  lib/vue-lib/README.md
  lib/vue-lib/src/design-system/general/FilterPill.vue
  lib/vue-lib/src/design-system/general/IconButton.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
  lib/vue-lib/src/tailwind/tailwind.config.cjs
Labels: A-web

#5011 Bug-676: add/remove the padding for the diagram based on left drawer collapsed state
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
Labels: A-web

#5013 fix(forklift): ensure that config file defaults work
  bin/forklift/src/args.rs
  bin/forklift/src/main.rs
  lib/forklift-server/src/config.rs
Labels: A-forklift

#5014 connections panel parent field working!
  app/web/src/components/AttributesPanel/TreeForm.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/v2/view/set_component_parent.rs
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-sdf, A-web

#5015 refactoring to replace CSS with Tailwind
  app/web/src/App.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/tailwind/main.css
Labels: A-web

#5018 feat: add resourcePayloadToValue by default to all variants
  lib/dal/src/func.rs
  lib/dal/src/func/resource_payload_to_value.rs
  lib/dal/src/schema/variant/authoring.rs
Labels: A-dal

#5019 feat: management functions understand views
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/func/funcs.store.ts
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/management.rs
  lib/dal-test/src/expected.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant/root_prop/component_type.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/secret.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/diagram/set_component_position.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
  lib/sdf-server/src/service/v2/view/set_component_geometry.rs
  lib/veritech-client/tests/integration.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-web, A-dal-test

#5021 chore(sdf): Cleanup Migration of builtin workspace
  lib/sdf-server/src/migrations.rs
Labels: A-sdf

#5022 fix: ensure already installed assets not treated as uninstalled
  lib/sdf-server/src/service/v2/variant.rs
  lib/sdf-server/src/service/v2/variant/list_variants.rs
Labels: A-sdf

#5023 fix: eliminate temporary duplicate after install on demand
  app/web/src/store/asset.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5024 fix(web): Ensure we can always promote / reject builtins
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/module.store.ts
Labels: A-web

#5026 Deps Update
  pnpm-lock.yaml
Labels: vulnerability-fix

#5028 feat(auth-portal, auth-api): Set ability to make a workspace the default
  app/auth-portal/src/components/WorkspaceLinkWidget.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/store/workspaces.store.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#5025 feat(docs): Updating the roadmap based on the internal details we have
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5031 NPM Deps update for postcss and jose
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#5032 chore(ci): Upgrade version of aws configure-credentials GHA
  .github/workflows/deploy-auth-api.yml
  .github/workflows/deploy-module-index.yml
  .github/workflows/down-service.yml
  .github/workflows/instance-refresh.yml
  .github/workflows/migrate-sdf.yml
  .github/workflows/set-maintenance-mode.yml
  .github/workflows/up-service.yml
  .github/workflows/upgrade-service.yml
  .github/workflows/upgrade-web.yml
Labels: A-ci

#5035 feat: add a NATS "dead letter queue" stream for failing messages
  Cargo.lock
  Cargo.toml
  lib/forklift-server/BUCK
  lib/forklift-server/Cargo.toml
  lib/forklift-server/src/server/app/audit_logs.rs
  lib/nats-dead-letter-queue/BUCK
  lib/nats-dead-letter-queue/Cargo.toml
  lib/nats-dead-letter-queue/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5036 Add an API test for basic authoring scenario
  .github/workflows/run-api-test.yml
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/test_helpers.ts
  bin/si-api-test/tests/5-emulate_paul_stack.ts
  bin/si-api-test/tests/7-emulate_authoring.ts
Labels: A-ci

#5037 fix(forklift): properly handle optional change set id in NATS subject
  lib/forklift-server/src/server/app/audit_logs.rs
Labels: A-forklift

#5034 fix(web): wait for all components to be loaded into the components.store before hydrating each view's geometry mapping lazily
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5042 chore(sdf): always migrate `si_audit` database
  lib/sdf-server/src/migrations.rs
Labels: A-sdf

#5044 chore(forklift): add tuning for concurrent audit log database inserts
  lib/audit-logs/src/database/config.rs
  lib/forklift-server/src/server.rs
  lib/forklift-server/src/server/app.rs
  lib/forklift-server/src/server/app/audit_logs.rs
Labels: A-forklift
