Repository systeminit/si, pull requests merged in 2024-06, with the labels that each got.

#3913 feat: display error message and remove timeout for 500s
  app/web/src/components/toasts/FiveHundredError.vue
  app/web/src/store/apis.ts
Labels: A-web

#3916 fix(dal): cleanup vector clocks on write
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/lamport_clock.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
Labels: A-dal

#3918 feat: allow deploying a specific version (except for web)
  .github/workflows/deploy-service.yml
Labels: A-ci

#3915 Spike: Front end conflicts
  app/web/package.json
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/StatusBar/StatusBarConflictSummary.vue
  app/web/src/components/toasts/Conflict.vue
  app/web/src/store/apis.ts
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
  lib/vue-lib/package.json
  lib/vue-lib/src/pinia/pinia_api_tools.ts
  pnpm-lock.yaml
Labels: A-sdf, A-web

#3920 fix(dal): ensure we merge the vector clocks of nodes in import subgraph
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
Labels: A-dal

#3917 return error when trying to abandon HEAD change set
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/server/service/change_set/begin_abandon_approval_process.rs
Labels: A-sdf

#3912 Detect ChangeStatus::Added for Components in summary diagram
  lib/dal/src/action/prototype.rs
  lib/dal/src/diagram.rs
  lib/dal/src/workspace_snapshot.rs
  lib/sdf-server/src/server/service/component/delete_property_editor_value.rs
  lib/sdf-server/src/server/service/component/insert_property_editor_value.rs
  lib/sdf-server/src/server/service/component/set_type.rs
  lib/sdf-server/src/server/service/component/update_property_editor_value.rs
  lib/sdf-server/src/server/service/component/upgrade.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/sdf-server/src/server/service/diagram/set_component_position.rs
Labels: A-sdf, A-dal

#3919 feat: upgrade instead of duplicate on import
  lib/dal/src/pkg/import.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/pkg/mod.rs
Labels: A-dal

#3921 Copy update for conflict display
  app/web/src/components/StatusBar/StatusBarConflictSummary.vue
Labels: A-web

#3923 Delighter: when moving to the diagram from the customizer, load the last component you had selected
  app/web/src/store/components.store.ts
Labels: A-web

#3924 fix(dal): restore vector clock history to 10
  lib/dal/src/workspace_snapshot/vector_clock.rs
Labels: A-dal

#3925 feat: make setup script arch aware
  lib/si-pool-noodle/src/instance/cyclone/firecracker-setup.sh
Labels: A-si-pool-noodle

#3926 Revert "fix(dal): ensure we merge the vector clocks of nodes in import subgraph"
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
Labels: A-dal

#3927 fix(web) - StatusBar has a fixed height of 40px
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/StatusBar/StatusBarTabPill.vue
Labels: A-web

#3928 Revert "fix(dal): cleanup vector clocks on write"
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/lamport_clock.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
Labels: A-dal

#3931 Fix: added optimistic reverts to actions calls
  app/web/src/store/actions.store.ts
Labels: A-web

#3930 feat: allow deploying both tools and prod.
  .github/workflows/deploy-service.yml
Labels: A-ci

#3933 fix: correct ssm param name
  .github/workflows/deploy-service.yml
Labels: A-ci

#3936 fix(dal): be graceful if a component in an apa is deleted
  lib/dal/src/component.rs
Labels: A-dal

#3937 Use Component ChangeStatus, and NewEdge updates to determine if a socket-to-socket connection is new
  lib/dal/src/diagram.rs
  lib/dal/src/workspace_snapshot.rs
Labels: A-dal

#3940 fix(web) - bug 294, Modal Errors in Function Authoring
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#3938 feat(web,dal,sdf): Restrain pasted items to new parent
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/utils/math.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
  lib/sdf-server/src/server/service/diagram/paste_component.rs
Labels: A-sdf, A-dal, A-web

#3939 chore(sdf): remove check when cancelling an action
  lib/sdf-server/src/server/service/action/cancel.rs
Labels: A-sdf

#3922 fix: increase cyclone_pool get timeout to ten minutes
  lib/si-pool-noodle/src/pool_noodle.rs
Labels: A-si-pool-noodle

#3932 Fix detached children not having all their values updated
  lib/dal-test/src/schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/bricks.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/mod.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_large.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_medium.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_small.rs
  lib/dal-test/src/schemas/test_exclusive_schema_lego_large.rs
  lib/dal-test/src/schemas/test_exclusive_schema_lego_medium.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/frame/omega_nesting.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-dal-test, A-rebaser

#3941 fix(web): Show metadata on export data list
  app/web/src/components/modules/ModuleExportModal.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3942 fix(web): function inputs and outputs on default action funcs
  lib/dal/src/func/authoring/data/defaults/action.ts
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal

#3945 Make from_base_change_set flag exist for SummaryDiagramComponent & SummaryDiagramEdge
  lib/dal/src/diagram.rs
Labels: A-dal

#3950 Wendy/bugs 279, 288, 335, and 336
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/TruncateWithTooltip.vue
  lib/vue-lib/src/design-system/general/PillCounter.vue
Labels: A-web

#3951 feat(web,sdf): Allow component erasing, even if it has resources
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/delete_component.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-sdf, A-web

#3949 fix: deployment bugs, add waiting for deploys
  .github/workflows/deploy-service.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/invalidate-cache.yml
  .github/workflows/set-init-version.yml
  component/deploy/userdata
  prelude-si/nix/nix_omnibus_pkg_build.py
Labels: A-ci

#3952 fix(dal): retry graph mutations after actions have run
  Cargo.lock
  Cargo.toml
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/component/resource.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/si-layer-cache/src/db/func_run.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#3953 feat: use environments for better secret scoping in gha
  .github/workflows/deploy-service.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/invalidate-cache.yml
  .github/workflows/set-init-version.yml
Labels: A-ci

#3955 fix(web,sdf): Don't erase children automatically
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-web

#3954 fix(dal): Don't fail silently on orphaning component before delete
  lib/dal/src/component.rs
Labels: A-dal

#3947 Do not delete frames if dependent components have resources
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/schemas/schema_helpers.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_large.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_medium.rs
  lib/dal-test/src/schemas/test_exclusive_lego_schemas/test_exclusive_schema_lego_small.rs
  lib/dal-test/src/schemas/test_exclusive_schema_fallout.rs
  lib/dal-test/src/schemas/test_exclusive_schema_swifty.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/dal/tests/integration_test/component/get_diff.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/frame/with_actions.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/diagram/delete_component.rs
Labels: A-sdf, A-dal, A-dal-test

#3956 fix(web): Make sure frames can't get smaller than child areas
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
Labels: A-web

#3957 fix: flakiness in firecracker jail management
  bin/veritech/scripts/stop.sh
  lib/cyclone-core/src/process.rs
  lib/si-pool-noodle/src/instance/cyclone/firecracker-setup.sh
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/si-pool-noodle/src/pool_noodle.rs
Labels: A-veritech, A-cyclone, A-si-pool-noodle

#3959 Fix: check to_delete for component change status
  lib/dal/src/diagram.rs
Labels: A-dal

#3960 Delighter: ability to search the debug view
  app/web/src/components/Debug/ComponentDebugDetails.vue
Labels: A-web

#3961 Fix snapshot analyzer example
  lib/dal/examples/snapshot-analyzer/main.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/si-layer-cache/src/db/serialize.rs
Labels: A-dal, A-si-layer-cache

#3967 Zack/vector clock simplification
  lib/dal/examples/snapshot-analyzer/main.rs
  lib/dal/src/action.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/module.rs
  lib/dal/src/schema.rs
  lib/dal/src/secret.rs
  lib/dal/src/standard_connection.rs
  lib/dal/src/validation.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/lamport_clock.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/ulid.rs
  lib/si-events-rs/src/vector_clock_id.rs
Labels: A-dal

#3968 Front-end otel sending to honeycomb via collector
  app/web/.env
  app/web/.env.production
  app/web/.env.staging
  app/web/package.json
  app/web/src/main.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/errors.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/presence.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/workspaces.store.ts
  component/otelcol/BUCK
  component/otelcol/Dockerfile
  component/otelcol/config.yaml
  component/otelcol/honeycomb-config.yaml
  dev/docker-compose.platform.yml
  pnpm-lock.yaml
Labels: A-otelcol, A-web

#3966 feat(web,si-layer-cache,sdf): Show action results on changes panel
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/store/actions.store.ts
  lib/sdf-server/src/server/service/action/list_actions.rs
  lib/si-layer-cache/src/db/func_run.rs
Labels: A-sdf, A-web, A-si-layer-cache

#3970 feat: push scripts file into cyclone jails
  bin/veritech/scripts/prepare_jailer.sh
  bin/veritech/scripts/userdata.sh
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech

#3971 Add regression test for existing code gen funcs and new variants
  lib/dal/src/func.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/attribute/prototype.rs
  lib/dal/tests/integration_test/func/argument.rs
  lib/dal/tests/integration_test/func/associations.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/func/authoring/save_and_exec.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attach.rs
  lib/dal/tests/integration_test/func/authoring/save_func/detach.rs
  lib/dal/tests/integration_test/func/authoring/test_execute.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/integration_test/secret/with_schema_variant_authoring.rs
Labels: A-dal

#3973 fix: list variant ids should only return default ids
  lib/dal/src/func/runner.rs
  lib/dal/src/input_sources.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret/definition_view.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
Labels: A-dal

#3974 fix: remove secrets step as it is no longer needed
  .github/workflows/deploy-stack.yml
Labels: A-ci

#3972 Fix BUG-358
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/module.store.ts
Labels: A-web

#3976 fix: have export get the type from the variant being exported
  lib/dal/src/pkg/export.rs
Labels: A-dal

#3977 feat: allow setting arbitrary runtime env vars in the web container
  app/web/.env
  app/web/Dockerfile
  app/web/docker-entrypoint.sh
  app/web/src/main.ts
  app/web/src/shared/dynamicEnvVars.ts
  app/web/src/vite-env.d.ts
  app/web/vite.config.ts
Labels: A-web

#3978 fix: web otel adjustments
  app/web/.env
  app/web/src/main.ts
  component/otelcol/config.yaml
  component/otelcol/honeycomb-config.yaml
Labels: A-otelcol, A-web

#3979 Centralize and modernize all documentation (ENG-2580)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DOCS.md
  README.md
  docs/BUCK2.md
  docs/CODE_DOCUMENTATION.md
  docs/DEVELOPMENT_ENVIRONMENT.md
  docs/EDITORS_AND_IDES.md
  docs/LEARNING_ABOUT_SI_CONCEPTS.md
  docs/LOCALSTACK.md
  docs/PREPARING_YOUR_CHANGES.md
  docs/README.md
  docs/REPOSITORY_STRUCTURE.md
  docs/RUNNING_RUST_TESTS.md
  docs/RUNNING_THE_STACK_LOCALLY.md
  docs/SERVICES.md
  docs/TROUBLESHOOTING.md
Labels: A-docs

#3980 BUG-379 two authoring UI fixes
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#3981 Fix: when abandoning a changeset, if you've selected an asset or...
  app/web/src/store/change_sets.store.ts
Labels: A-web

#3982 build(deps): update to Rust 1.79.0
  flake.lock
  lib/dal/src/socket/debug.rs
  lib/module-index-server/src/extract.rs
  lib/naxum/src/extract.rs
  lib/sdf-server/src/server/service/graphviz.rs
Labels: A-sdf, A-dal

#3983 Ensure user has access to requested Workspace & requested Change Set is part of that Workspace
  lib/dal/src/context.rs
  lib/dal/src/workspace.rs
  lib/dal/tests/integration_test/change_set.rs
Labels: A-dal

#3984 chore: move firecracker bits to dedicated library
  Cargo.lock
  Cargo.toml
  bin/veritech/BUCK
  lib/si-firecracker/BUCK
  lib/si-firecracker/Cargo.toml
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker-setup.sh
  lib/si-firecracker/src/firecracker.rs
  lib/si-firecracker/src/lib.rs
  lib/si-pool-noodle/BUCK
  lib/si-pool-noodle/Cargo.toml
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#3985 fix(web) - many bug fixes and UI improvements pt 2!
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/ColorPicker.vue
  app/web/src/components/FilterPill.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/NodeSkeleton.vue
  app/web/src/components/SiSearch.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/asset.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#3986 Frames fixes, features, and more precision when enqueuing DVU
  lib/dal-test/src/helpers.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal, A-dal-test

#3989 Show all funcs for all versions of an asset and do not clone funcs on regeneration
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/summary.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
Labels: A-sdf, A-dal, A-web

#3991 fix(dal) - drop span to debug level
  lib/dal/src/component.rs
Labels: A-dal

#3993 fix(dal): pick correct ordering node in ReplaceSubgraph
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_conflicts_and_updates.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
Labels: A-dal

#3996 fix(dal): Allow creating multiple manual func kinds for a schema variant
  lib/dal/src/func/authoring/create.rs
Labels: A-dal

#3995 fix(dal): Only create attribute prototype arguments when configuring the binding, wipe existing attribute prototype arguments when resetting the attribute prototype for schema variants
  app/web/src/components/FuncEditor/AttributeBindings.vue
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
Labels: A-dal, A-web

#3997 fix: function binding list shows correct values after sv regeneration
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#3998 fix(dal, web): Ensure attribute functions can't set incorrect output locations
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func/types.ts
  lib/dal/src/input_sources.rs
Labels: A-dal, A-web

#3994 Authoring Contribute & Update
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/SiFuncListItem.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/router.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/utils/typescriptLinter.ts
  lib/vue-lib/src/design-system/icons/custom-icons/code-deployed.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#3999 Fix Attribute Func Attachment
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/tests/integration.rs
Labels: A-dal

#4000 fix(dal, sdf): Ensure we can save changes to variant details without regenerating
  app/web/src/store/asset.store.ts
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/sdf-server/src/server/service/variant/save_variant.rs
Labels: A-sdf, A-dal, A-web

#4001 fix(web): Remove Asset.Store SchemaVariantSaved Event
  app/web/src/store/asset.store.ts
Labels: A-web

#4002 fix(web): Remove the disabled state of the regenerate asset button
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#4003 fix(web): Reset Attribute Func Attachment between attribute funcs
  app/web/src/components/AssetFuncAttachModal.vue
Labels: A-web

#4005 chore(web): Remove debug logic for SiCheckBox
  app/web/src/components/SiCheckBox.vue
Labels: A-web

#4006 Do not allow the same asset to be added to a list more than once
  app/web/src/store/asset.store.ts
Labels: A-web

#3990 feat: health check pool on Veritech startup
  bin/veritech/scripts/prepare_jailer.sh
  lib/si-pool-noodle/src/errors.rs
  lib/si-pool-noodle/src/lib.rs
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
  prelude-si/rootfs/rootfs_build.sh
Labels: A-veritech, A-si-pool-noodle

#4010 chore: small workflow name tweak
  .github/workflows/deploy-stack.yml
Labels: A-ci

#4007 feat: add workspace token ULID
  app/web/src/api/sdf/dal/workspace.ts
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/workspaces.store.ts
  bin/auth-api/prisma/migrations/20240620202654_workspace_token/migration.sql
  bin/auth-api/prisma/schema.prisma
  bin/auth-api/src/services/workspaces.service.ts
  lib/dal/src/migrations/U3012__add_token_to_workspace.sql
  lib/dal/src/workspace.rs
  lib/sdf-server/src/server/service/session/auth_connect.rs
Labels: A-sdf, A-dal, A-web

#4009 Fix leaf function mutations for existing components
  lib/dal/src/component/qualification.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
Labels: A-dal

#4015 detach func fix, close fns windows appropriately, abandon changeset fix
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4016 many UI improvements and bug fixes pt 3
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/ColorPicker.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/RunOnSelector.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/SiCheckBox.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/secrets.store.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#4019 fix: ignore stdin in execa
  bin/lang-js/src/sandbox/exec.ts
Labels: A-lang-js

#4021 Fix: on promote or reject, fix the url selection
  app/web/src/store/module.store.ts
Labels: A-web

#4022 Only highlight the displayed func in the editor
  app/web/src/components/SiFuncListItem.vue
Labels: A-web

#4023 fix(web, sdf, dal): Return created variant details from create_variant
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-dal, A-web

#4024 fix(sdf): Ensure we set the correct variant name on create WsEvent
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf

#4025 fix(web): Ensure we don't serve the assetId from local storage
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4026 fix(web):Letting a user know an attribute func isn't attached to this schema variant
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
Labels: A-web

#4027 Ensure we upsert leaf funcs to the correct attribute value for existing components
  lib/dal/src/component.rs
  lib/dal/src/component/code.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
Labels: A-dal

#4028 fix(web, dal, sdf): Ensure save_variant is broadcast in multi-player
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/variant/save_variant.rs
Labels: A-sdf, A-dal, A-web

#4018 fix(dal): calc prototypes and values correctly on component upgrade
  lib/dal-test/src/test_exclusive_schemas/dummy_secret.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/prop.rs
  lib/dal/src/secret.rs
  lib/si-pkg/src/spec/attribute_value.rs
Labels: A-dal, A-dal-test, A-si-pkg

#4029 fix(sdf): Ensure we pass correct variant display_name on update
  app/web/src/components/AssetDetailsPanel.vue
  lib/sdf-server/src/server/service/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
Labels: A-sdf, A-web

#4031 fix: always show contribute today
  app/web/src/components/AssetListPanel.vue
Labels: A-web

#4017 feat: implicitly pass workspace token to all secrets
  lib/dal-test/src/test_exclusive_schemas/dummy_secret.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal/src/context.rs
  lib/dal/src/func/runner.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-dal, A-dal-test

#4020 chore: firecracker scripts as bytes instead of from repo
  bin/veritech/BUCK
  lib/si-firecracker/BUCK
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-firecracker/src/scripts/firecracker-setup.sh
  lib/si-firecracker/src/scripts/prepare_jailer.sh
  lib/si-firecracker/src/scripts/stop.sh
Labels: A-veritech

#4032 feat: poll existing instance refresh on deploy
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-service.yml
  .github/workflows/deploy-stack.yml
Labels: A-ci

#4033 fix: inputs for workflow_call are available in a different context
  .github/workflows/deploy-stack.yml
Labels: A-ci

#4035 fix(lang-js): Add support for connection annotations to SecretDefinitions
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/func/authoring/data/ts_types/asset_types_with_secrets.d.ts
Labels: A-lang-js, A-dal

#3871 fix(cypress): amend minor issues in cypress tests to get them passing again
  .github/workflows/deploy-on-main.yml
  .github/workflows/e2e-validation.yml
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/support/auth-provider-commands/auth0.ts
  app/web/cypress/support/component-actions/create.ts
  app/web/src/components/FuncEditor/FuncDetails.vue
Labels: A-ci, A-web

#4034 Clone or New Asset: provide an initial schema name in a modal
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetNameModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/create_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/dal/tests/integration_test/secret/with_schema_variant_authoring.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-dal, A-web

#4037 feat: cypress on cron, cancel on deploy
  .github/workflows/crons.yml
  .github/workflows/deploy-on-main.yml
  .github/workflows/e2e-validation.yml
Labels: A-ci

#4038 feat: always run cypress after a deploy
  .github/workflows/crons.yml
  .github/workflows/deploy-on-main.yml
  .github/workflows/deploy-stack.yml
Labels: A-ci

#4040 Fix authoring empty states when selecting multiple assets
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/WorkspaceCustomizeEmptyState.vue
Labels: A-web

#4042 Retain validations from asset func on regeneration
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  lib/dal-test/src/helpers.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/src/validation.rs
  lib/dal/tests/integration_test/validations.rs
Labels: A-dal, A-web, A-dal-test

#4036 Disambiguate Schema Name, Schema Variant Name, and Schema Variant Display Name across the UI. On import, if there's no display name, hydrate with Schema name. Same thing on regenerate. This is a step towards schema names being immutable.
  app/web/src/api/sdf/dal/diagram.ts
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/history_event.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/src/schema/variant/metadata_view.rs
  lib/dal/src/user.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/dal/tests/integration_test/schema/variant/authoring/create_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant/save_variant.rs
  lib/sdf-server/src/server/service/variant/update_variant.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-sdf, A-dal, A-web, A-si-pkg

#4043 ui improvements and bug fixes pt 4
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/FilterPill.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/IconButton.vue
  app/web/src/components/SidebarSubpanelTitle.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  lib/vue-lib/src/design-system/general/ErrorMessage.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#4044 chore: update userdata example to include dockerhub login
  bin/veritech/scripts/userdata.sh
  component/deploy/userdata
Labels: A-veritech

#4041 feat: remove artifact cache invalidation
  .github/workflows/deploy-service.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/invalidate-cache.yml
Labels: A-ci

#4030 feat(dal,sdf,web): Endpoint to create unlocked sv copy
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/diagram.rs
  lib/dal/src/history_event.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/metadata_view.rs
  lib/dal/src/schema/view.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal, A-web

#4045 fix(dal): ensure that we only export the default schema variant
  lib/dal/src/pkg/export.rs
Labels: A-dal

#4046 chore: remove cypress cloud parallelization
  .github/workflows/e2e-validation.yml
  app/web/cypress.config.ts
Labels: A-ci, A-web

#4050 Ensure secret field order is correct
  lib/dal/src/secret/definition_view.rs
Labels: A-dal

#4049 Fix detachment for current schema variant. Allow users to delete funcs with attachments
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  lib/dal/src/action/prototype.rs
  lib/dal/src/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/save_func/detach.rs
  lib/sdf-server/src/server/service/func/delete_func.rs
Labels: A-sdf, A-dal, A-web

#4051 fix(web) - BUG-412 and ENG-2585
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4052 fix(sdf, web): Ensure we add a description of the manual actions to run
  app/web/src/components/Actions/ActionCard.vue
  lib/sdf-server/src/server/service/action.rs
  lib/sdf-server/src/server/service/action/list_actions.rs
Labels: A-sdf, A-web

#4053 fix(web) - a few VERY minor UI fixes
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetNameModal.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
Labels: A-web

#4055 fix: Assign schema name to the correct field when creating schemas
  app/web/src/store/asset.store.ts
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-web

#4060 fix(dal): export default values correctly
  lib/dal/src/pkg/export.rs
  lib/si-pkg/src/pkg/variant.rs
Labels: A-dal, A-si-pkg

#4057 fix(sdf): Return 404 status code for not found errors
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service/component.rs
  lib/sdf-server/src/server/service/diagram.rs
  lib/sdf-server/src/server/service/qualification.rs
  lib/sdf-server/src/server/service/status.rs
  lib/sdf-server/src/server/service/status/list_active_statuses.rs
  lib/sdf-server/src/server/service/variant.rs
Labels: A-sdf

#3948 Restore components & edges from base change set
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/ComponentCard.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/diagram.rs
  lib/dal/tests/integration_test/mod.rs
  lib/sdf-server/src/server/service/diagram/remove_delete_intent.rs
Labels: A-sdf, A-dal, A-web

#4062 Typescript chill-out, Qualification display fix, contribution always on
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/QualificationViewerSingle.vue
  app/web/src/utils/typescriptLinter.ts
Labels: A-web
