Repository systeminit/si, pull requests merged in 2024-07, with the labels that each got.

#4066 chore(si): Turn off auto-deploy to tools-prod
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4067 Allow secrets to depend on secrets with before func ordering
  bin/lang-js/src/asset_builder.ts
  lib/dal-test/src/helpers.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/debug.rs
  lib/dal/src/code_view.rs
  lib/dal/src/component.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/qualification.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret/definition_view.rs
  lib/dal/src/socket/debug.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-lang-js, A-dal, A-dal-test

#4069 feat(dal,sdf): send the hash of the builtin that an asset was based on when uploading
  lib/dal/src/module.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/lib.rs
  lib/sdf-server/src/server/service/module/export_module.rs
Labels: A-sdf, A-dal

#4065 Chainsaw for Funcs Part 1 - Func Authoring Parity with New Routes
  lib/dal/BUCK
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/associations/bags.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/binding/attribute_argument.rs
  lib/dal/src/func/binding/authentication.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/action.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/func/authoring/binding/authentication.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/func/authoring/save_func.rs
  lib/sdf-server/src/server/service/v2.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/argument.rs
  lib/sdf-server/src/server/service/v2/func/argument/create_argument.rs
  lib/sdf-server/src/server/service/v2/func/argument/delete_argument.rs
  lib/sdf-server/src/server/service/v2/func/argument/update_argument.rs
  lib/sdf-server/src/server/service/v2/func/binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/create_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/update_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/server/service/v2/func/create_func.rs
  lib/sdf-server/src/server/service/v2/func/execute_func.rs
  lib/sdf-server/src/server/service/v2/func/get_code.rs
  lib/sdf-server/src/server/service/v2/func/list_funcs.rs
  lib/sdf-server/src/server/service/v2/func/save_code.rs
  lib/sdf-server/src/server/service/v2/func/test_execute.rs
  lib/sdf-server/src/server/service/v2/func/update_func.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/si-events-rs/src/func.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/schema_variant.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
Labels: A-sdf, A-dal

#4059 feat: allow pulling pg cert from a remote url
  Cargo.lock
  bin/module-index/src/args.rs
  lib/si-data-pg/BUCK
  lib/si-data-pg/Cargo.toml
  lib/si-data-pg/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4063 feat(sdf): Add deprecation warning to setValueFrom functionality
  app/web/src/assets/static/editor_typescript.txt
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/func/authoring/data/ts_types/asset_types_with_secrets.d.ts
Labels: A-lang-js, A-dal, A-web

#4064 chore(ci): Update GitHub actions versions
  .github/workflows/deploy-auth-api.yml
  .github/workflows/deploy-module-index.yml
  .github/workflows/e2e-validation.yml
  .github/workflows/fossa.yml
  .github/workflows/labeler.yml
Labels: A-ci

#4073 test q
  .github/labeler.yml
  .github/workflows/labeler.yml
  bin/veritech/src/args.rs
Labels: A-ci, A-veritech

#4074 chore: temporary rollback of labeler
  .github/workflows/labeler.yml
Labels: A-ci

#4075 chore: bad merge from testing merge queues
  bin/veritech/src/args.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-veritech, A-dal, A-si-pool-noodle

#4076 chore: bad merge from testing merge queues
  lib/dal/tests/integration_test/secret/with_actions.rs
Labels: A-dal

#4077 chore: merge queue dummy workflow
  .github/workflows/pr.yml
Labels: A-ci, A-dal

#4078 feat: healthcheck SDF before running Cypress tests.
  .github/workflows/e2e-validation.yml
Labels: A-ci

#4079 Func Chainsaw
  app/web/src/api/sdf/dal/action.ts
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetNameModal.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/AuthenticationDetails.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/FuncList.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/QualificationDetails.vue
  app/web/src/components/SelectMenu.vue
  app/web/src/components/SiFuncListItem.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func/types.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/create_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/update_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/server/service/v2/func/get_code.rs
  lib/sdf-server/src/server/service/v2/func/save_code.rs
Labels: A-sdf, A-web

#4082 Polish UX around secrets depending on secrets
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  bin/lang-js/src/asset_builder.ts
  lib/dal/src/func/authoring/data/ts_types/asset_types_with_secrets.d.ts
  lib/dal/src/func/runner.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
Labels: A-lang-js, A-dal, A-web

#4080 Wendy/eng 2589 remove tab groups from authoring
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/AssetEditorTabs.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/SiFuncListItem.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/WorkspaceCustomizeEmptyState.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4081 feat(dal, sdf, rebaser): Only allow editing unlocked components
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/apply_change_set.rs
  lib/sdf-server/src/server/service/component/upgrade.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant/clone_variant.rs
Labels: A-sdf, A-dal

#4083 Fix leaf func detachment and action func attachment
  lib/dal/src/action/prototype.rs
  lib/dal/src/func/associations.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/schema/variant.rs
Labels: A-sdf, A-dal

#4086 fix(sdf, web): Don't error out UI on asset creation
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/AssetNameModal.vue
  app/web/src/store/asset.store.ts
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-dal, A-web

#4084 Locked funcs!
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachDropdown.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AttributesPanel/AttributesPanelItem.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/AttributeBindingsModal.vue
  app/web/src/components/FuncEditor/CodeGenerationDetails.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/FuncEditor/LeafInputs.vue
  app/web/src/components/FuncEditor/QualificationDetails.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/variant/regenerate_variant.rs
Labels: A-sdf, A-web

#4092 Show editing pill on funcs
  app/web/src/components/AssetListItem.vue
  app/web/src/components/SiFuncListItem.vue
Labels: A-web

#4094 fix: Don't move caret to start when typing on editor
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4095 fix: Clicking on asset with sub func selected takes you back to asset func
  app/web/src/store/asset.store.ts
Labels: A-web

#4096 Fix create new auth function
  lib/dal/src/func/binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal

#4097 fix: Unlock variants with unlocked asset funcs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/pkg/mod.rs
Labels: A-dal

#4099 fix: Don't unlock all variants for func automatically
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/v2/func/create_unlocked_copy.rs
Labels: A-sdf, A-web

#4098 return 409 conflict on authoring routes
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant.rs
Labels: A-sdf

#4085 feat(dal,sdf,module-index-server): use schema id when importing
  app/web/.env
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/lib.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/src/migrations/U0008__add_indexes.sql
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/routes/list_builtins_route.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/promote_builtin_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/module-index-server/src/routes/upsert_workspace_route.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/module/export_module.rs
  lib/sdf-server/src/server/service/module/install_module.rs
Labels: A-sdf, A-dal, A-web

#4100 add wsevent when creating unlocked func copy, correctly import builti…
  lib/dal/src/func/authoring.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#4101 fix: Delete unlocked funcs
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/v2/func.rs
Labels: A-sdf, A-web

#4102 chore: modify module index deploy to update shared cluster
  .github/workflows/deploy-module-index.yml
Labels: A-ci

#4104 fix: Don't lock imported funcs twice
  lib/dal/src/func.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#4105 chore: Clean up import schema variant
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant/authoring.rs
Labels: A-dal

#4106 fix(web): Redirect to unlocked function correctly
  app/web/src/components/AssetCard.vue
  app/web/src/components/FuncEditor/AttributeBindings.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/IconButton.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4108 Do not regenerate if the return type is not Asset
  DOCS.md
  app/web/src/components/AssetDetailsPanel.vue
  lib/dal/src/component.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/tests/integration_test/asset.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/debug.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/frame/with_actions.rs
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/save_func/detach.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/prop.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/dal/tests/integration_test/secret.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/dal/tests/integration_test/validations.rs
  lib/sdf-server/src/server/service/diagram/create_component.rs
  lib/sdf-server/src/server/service/graphviz.rs
  lib/sdf-server/src/server/service/module/export_module.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
Labels: A-sdf, A-dal, A-web

#4109 fix(sdf): Update install_module to allow multiple schema packages
  lib/sdf-server/src/server/service/module/install_module.rs
Labels: A-sdf

#4110 Remove `si-aws-ec2` sipkg for testing
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/module.rs
  pkgs/si-aws-ec2-2023-09-26.sipkg
Labels: A-dal, A-dal-test

#4111 Resolving editor pain
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/sdf-server/src/server/service/variant/regenerate_variant.rs
Labels: A-sdf, A-web

#4112 Remove duplicate variantById in asset store, and all references to it…
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetEditor.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
Labels: A-web

#4113 fix(web): Include the category in the Asset Search
  app/web/src/components/AssetListPanel.vue
Labels: A-web

#4114 Fire WS Events when bindings change, funcs are unlocked, and unlocking funcs creates new unlocked variants
  lib/dal/src/func.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/binding/authentication.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/argument/create_argument.rs
  lib/sdf-server/src/server/service/v2/func/argument/delete_argument.rs
  lib/sdf-server/src/server/service/v2/func/argument/update_argument.rs
  lib/sdf-server/src/server/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/server/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/server/service/v2/func/create_func.rs
  lib/sdf-server/src/server/service/v2/func/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/v2/func/update_func.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/variant/regenerate_variant.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal

#4115 Create the component actions panel from its constituent parts of sche…
  app/web/src/components/Actions/ActionWidget.vue
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/store/actions.store.ts
Labels: A-web

#4107 Enqueue DVU when modifying or creating attribute func bindings for variants with existing components
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding/attribute.rs
Labels: A-dal

#4117 Last Chainsaw Cleanup
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetActionsDetails.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/toasts/FiveHundredError.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/func/binding/action.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/server/service/v2/func/create_func.rs
  lib/sdf-server/src/server/service/variant/create_unlocked_copy.rs
Labels: A-sdf, A-dal, A-web

#4118 Fix: always show code editor loading state when switching between funcs
  app/web/src/components/AssetEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
Labels: A-web

#4119 Fix: unlock button was showing where it should not
  app/web/src/components/AssetCard.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
Labels: A-web

#4121 feat: add netlify redirect rules for web
  app/web/public/_redirects
Labels: A-web

#4122 Fix: show asset version if its not latest/editing. Dont show asset cr…
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/AssetListItem.vue
Labels: A-web

#4120 Fix: Fix code loading on schema variant creation
  app/web/src/store/asset.store.ts
  lib/sdf-server/src/server/service/variant/create_variant.rs
Labels: A-sdf, A-web

#4123 Feat: add filter for editing assets
  app/web/src/components/AssetListPanel.vue
Labels: A-web

#4125 feat: populate canContribute for schema variants
  app/web/src/store/asset.store.ts
  lib/dal/src/module.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/module/export_module.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
Labels: A-sdf, A-dal, A-web

#4126 Feat: <SelectMenu> now has `canFilter` prop
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/SelectMenu.vue
Labels: A-web

#4127 Fix: components that can be upgraded will fail a copy & paste. So pre…
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/main.ts
Labels: A-web

#4128 More editor clean up
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4129 feat: redirect api requests to appropriate location
  app/web/public/_redirects
Labels: A-web

#4130 Fix to overwriting code
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4132 feat: allow cors origin from our subdomains in sdf
  lib/sdf-server/src/server/routes.rs
Labels: A-sdf

#4133 Feat: add filter to all dropdowns in attach func
  app/web/src/components/AssetFuncAttachModal.vue
Labels: A-web

#4134 feat: more details to the cors bits we allow
  lib/sdf-server/src/server/routes.rs
Labels: A-sdf

#4124 Show that assets can be updated
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/asset.store.ts
  bin/module-index/README.md
  lib/dal/src/schema/variant.rs
  lib/module-index-client/src/client.rs
  lib/module-index-client/src/types.rs
  lib/module-index-server/BUCK
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/queries/list_latest_modules.sql
  lib/module-index-server/src/routes.rs
  lib/module-index-server/src/routes/list_latest_modules_route.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
Labels: A-sdf, A-dal, A-web, A-module-index

#4140 Assorted authoring fixes
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/FuncEditor/FuncArguments.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/asset.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-web

#4139 fix: Distinguish input and output sockets of the same name when merging
  lib/si-pkg/src/spec/variant.rs
Labels: A-si-pkg

#4141 fix: Don't fail func listing when getting a single func fails
  lib/sdf-server/src/server/service/v2/func/list_funcs.rs
Labels: A-sdf

#4142 feat: deploy web to S3 bucket
  .github/workflows/deploy-service.yml
  app/web/public/_redirects
Labels: A-ci, A-web

#4143 fix(dal): ensure we catch func with bindings errors
  lib/dal/src/func.rs
Labels: A-dal

#4144 Add endpoint to list all funcs, including pruned ones
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/list_all_funcs.rs
Labels: A-sdf

#4145 fix: Show input socket bindings
  app/web/src/components/FuncEditor/AttributeBindings.vue
Labels: A-web

#4093 (docs) TOC, Tutorial, and Reference Docs - Initial Commit
  app/docs/src/.vitepress/config.ts
  app/docs/src/changelog/roadmap.md
  app/docs/src/index.md
  app/docs/src/reference/assset-builder.md
  app/docs/src/reference/core-concepts.md
  app/docs/src/reference/dev/development-environment.md
  app/docs/src/reference/faq.md
  app/docs/src/reference/function-types.md
  app/docs/src/reference/index.md
  app/docs/src/reference/secret-encryption.md
  app/docs/src/tutorials/aws/create-aws-vpc.md
  app/docs/src/tutorials/aws/create-ec2-asg.md
  app/docs/src/tutorials/aws/create-ecs-cluster.md
  app/docs/src/tutorials/index.md
  app/docs/src/tutorials/secrets.md
  app/docs/src/tutorials/writing-an-asset.md
Labels: A-ci, A-sdf, A-dal, A-web, A-dal-test

#4147 chore(dal): Testing that unlocked funcs get locked on apply
  lib/dal/tests/integration_test/func/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/unlock_and_edit_variant.rs
Labels: A-dal

#4150 fix(web): Remove the Multiplayer CodeEditor
  app/web/src/components/CodeEditor.vue
Labels: A-web

#4152 Fix editing pill text color and reactivity
  app/web/src/components/EditingPill.vue
Labels: A-web

#4153 fix: ignore erroneous 404s in cypress tests
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/support/auth-provider-commands/auth0.ts
Labels: A-web

#4154 chore: enable deploy to tools prod on merge to main
  .github/workflows/deploy-on-main.yml
Labels: A-ci

#4155 fix(sdf): return 404 if the func is not found in the requested changeset
  lib/sdf-server/src/server/service/v2/func.rs
Labels: A-sdf

#4156 Allow Frame::orphan_child to remove all incoming FrameContains edges
  lib/dal/src/component/frame.rs
  lib/dal/tests/integration_test/frame.rs
Labels: A-dal

#4160 Add description to Schema Variant pkg import/export to ensure it persists across lock/unlock and import/export variant
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/variant/json.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/si-pkg/src/node/schema_variant.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-dal, A-dal-test, A-si-pkg

#4162 Move module sync to dal, fix its tracing and add integration test
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/v2/module.rs
  lib/sdf-server/src/server/service/v2/module/sync.rs
Labels: A-sdf, A-dal

#4161 feat: add auth-api to buck2 builds
  .github/workflows/deploy-auth-api.yml
  bin/auth-api/BUCK
  bin/auth-api/Dockerfile
  flake.nix
Labels: A-ci

#4136 feat(auth, web) - revamped auth portal for saas launch
  app/auth-portal/src/App.vue
  app/auth-portal/src/pages/DownloadPage.vue
  app/auth-portal/src/pages/ProfilePage.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/pages/WorkspacesPage.vue
  app/auth-portal/src/pages/legal/LegalAgreementPage.vue
  app/auth-portal/src/pages/tutorial/TutorialPage.vue
  app/auth-portal/src/pages/tutorial/TutorialSurvey.vue
  app/auth-portal/src/router.ts
  app/auth-portal/src/store/onboarding.store.ts
  app/auth-portal/src/store/workspaces.store.ts
  app/web/src/App.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/TruncateWithTooltip.vue
  app/web/src/components/layout/navbar/NavbarButton.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/ProfileButton.vue
  app/web/src/components/layout/navbar/WorkspaceSettingsMenu.vue
  app/web/src/store/feature_flags.store.ts
  bin/auth-api/.env
  bin/auth-api/README.md
  bin/auth-api/src/routes/user.routes.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/general/VButton.vue
Labels: A-web

#4163 Increase log level and log when module not found for schema
  lib/dal/src/module.rs
  lib/sdf-server/src/server/service/v2/module.rs
Labels: A-sdf, A-dal

#4169 Show modules to install, and let people install them!
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceCustomizeModules.vue
  app/web/src/components/modules/ModuleDisplay.vue
  app/web/src/components/toasts/FiveHundredError.vue
  app/web/src/router.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/module.store.ts
Labels: A-web

#4170 Add ability to update assets (upgrade modules)
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetListPanel.vue
  lib/dal/src/module.rs
Labels: A-dal, A-web

#4171 feat(auth) - prod workspace stuff for SaaS
  app/auth-portal/src/pages/ProfilePage.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/store/workspaces.store.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/users.service.ts
  bin/auth-api/src/services/workspaces.service.ts
  bin/auth-api/test/auth-routes.test.ts
  bin/auth-api/test/helpers/dummy-factory.ts
Labels: A-web

#4172 feat(sdf, dal, web): Allow deleting unlocked schema variants
  app/web/src/components/AssetCard.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/v2/variant/delete_unlocked_variant.rs
Labels: A-sdf, A-dal, A-web

#4174 fixed cypress test for logout
  app/web/cypress/e2e/authentication/logout.cy.ts
Labels: A-web

#4148 feat(docs): Experimenting with automating our asset_builder docs
  .gitignore
  app/docs/src/changelog/index.md
  app/docs/src/reference/asset-builder/classes/AssetBuilder.md
  app/docs/src/reference/asset-builder/classes/MapKeyFuncBuilder.md
  app/docs/src/reference/asset-builder/classes/PropBuilder.md
  app/docs/src/reference/asset-builder/classes/PropWidgetDefinitionBuilder.md
  app/docs/src/reference/asset-builder/classes/SecretDefinitionBuilder.md
  app/docs/src/reference/asset-builder/classes/SecretPropBuilder.md
  app/docs/src/reference/asset-builder/classes/SiPropValueFromDefinitionBuilder.md
  app/docs/src/reference/asset-builder/classes/SocketDefinitionBuilder.md
  app/docs/src/reference/asset-builder/classes/ValueFromBuilder.md
  app/docs/src/reference/asset-builder/index.md
  app/docs/src/reference/asset-builder/interfaces/Asset.md
  app/docs/src/reference/asset-builder/interfaces/IAssetBuilder.md
  app/docs/src/reference/asset-builder/interfaces/IMapKeyFuncBuilder.md
  app/docs/src/reference/asset-builder/interfaces/IPropBuilder.md
  app/docs/src/reference/asset-builder/interfaces/IPropWidgetDefinitionBuilder.md
  app/docs/src/reference/asset-builder/interfaces/ISecretDefinitionBuilder.md
  app/docs/src/reference/asset-builder/interfaces/ISecretPropBuilder.md
  app/docs/src/reference/asset-builder/interfaces/ISiPropValueFromDefinitionBuilder.md
  app/docs/src/reference/asset-builder/interfaces/ISocketDefinitionBuilder.md
  app/docs/src/reference/asset-builder/interfaces/IValueFromBuilder.md
  app/docs/src/reference/asset-builder/interfaces/MapKeyFunc.md
  app/docs/src/reference/asset-builder/interfaces/Option.md
  app/docs/src/reference/asset-builder/interfaces/PropDefinition.md
  app/docs/src/reference/asset-builder/interfaces/PropWidgetDefinition.md
  app/docs/src/reference/asset-builder/interfaces/SecretDefinition.md
  app/docs/src/reference/asset-builder/interfaces/SecretPropDefinition.md
  app/docs/src/reference/asset-builder/interfaces/SiPropValueFromDefinition.md
  app/docs/src/reference/asset-builder/interfaces/SocketDefinition.md
  app/docs/src/reference/asset-builder/interfaces/ValueFrom.md
  app/docs/src/reference/asset-builder/type-aliases/PropDefinitionKind.md
  app/docs/src/reference/asset-builder/type-aliases/PropWidgetDefinitionKind.md
  app/docs/src/reference/asset-builder/type-aliases/SiPropValueFromDefinitionKind.md
  app/docs/src/reference/asset-builder/type-aliases/SocketDefinitionArityType.md
  app/docs/src/reference/asset-builder/type-aliases/ValueFromKind.md
  app/docs/src/reference/assset-builder.md
  app/docs/src/reference/index.md
  bin/lang-js/BUCK
  bin/lang-js/package.json
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/typedoc.json
  pnpm-lock.yaml
Labels: A-lang-js

#4178 okay now the test should be fixed
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/src/components/layout/navbar/ProfileButton.vue
Labels: A-web

#4181 fix(dal): Ensure that we search the past_hashes when installing a schema
  lib/dal/src/pkg/import.rs
Labels: A-dal

#4182 Fix: asset editor and install module are mutually exclusive
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
Labels: A-web

#4184 fix(web): Don't always set the EDITING pill on a Func
  app/web/src/components/AssetEditorHeader.vue
Labels: A-web

#4185 fix(dal): ensure we don't search for funcs by name
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#4191 fix(dal): check for components that can be deleted at the end of the action job
  lib/dal/src/component.rs
  lib/dal/src/job/definition/action.rs
Labels: A-dal

#4196 Fix: dont show edge if socket is gone
  app/web/src/store/components.store.ts
Labels: A-web

#4197 Fix: actions duplicated, filter bindings for just this variant
  app/web/src/components/AssetActionsDetails.vue
Labels: A-web

#4198 fix(dal): Send WsEvents to delete connections when upgrading a component
  lib/dal/src/component.rs
Labels: A-dal

#4199 Feat: improve diagram node selection
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#4202 Config: reduce extraneous honeycomb events
  app/web/src/main.ts
Labels: A-web

#4203 Fix tab picker for new assets
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  lib/vue-lib/src/design-system/tabs/TabGroup.vue
Labels: A-web

#4205 fix(dal): Don't keep looping through past hashes if you find an existing schema when importing a pkg
  lib/dal/src/pkg/import.rs
Labels: A-dal

#4204 Manual Change Set rebasing & notifications of updates/conflicts
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/toasts/RebaseOnBase.vue
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-server/src/server/service/change_set.rs
  lib/sdf-server/src/server/service/change_set/rebase_on_base.rs
  lib/sdf-server/src/server/service/change_set/status_with_base.rs
Labels: A-sdf, A-web

#4201 Adding jkeiser to staff
  .github/workflows/community-check.yml
  CONTRIBUTORS.md
Labels: A-ci, community

#4207 Show upgradeable modules based on past hashes too
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/module.rs
  lib/module-index-client/src/lib.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-types/src/lib.rs
  lib/sdf-server/src/server/service/v2/module/sync.rs
Labels: A-sdf, A-dal

#4206 fix(web): Rework the first time modal tutorial experience
  app/web/src/App.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/auth.store.ts
Labels: A-web

#4212 ChangeSet Apply loads the Func List
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#4213 chore(web): Cleanup an old code comment
  app/web/src/pages/WorkspaceSinglePage.vue
Labels: A-web

#4217 feat(app): add tutorial link and fix popovers for docs and discord
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/pages/WorkspaceSinglePage.vue
Labels: A-web

#4215 feat: try, try again
  .github/workflows/try.yml
Labels: A-ci

#4218 feat: tryest
  .github/workflows/try.yml
Labels: A-ci

#4219 feat: /try command kicking off buildkite builds
  .github/workflows/try.yml
Labels: A-ci

#4221 Compare upgradeable modules to builtins list
  lib/module-index-client/src/lib.rs
  lib/sdf-server/src/server/service/v2/module/sync.rs
Labels: A-sdf

#4223 fix: use head_ref to get the correct branch name
  .github/workflows/try.yml
Labels: A-ci

#4225 Observability: ignore urls, create pinia-http-error
  app/web/src/main.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/pinia/pinia_api_tools.ts
  pnpm-lock.yaml
Labels: A-web

#4227 fix: scope try to pull request branch
  .github/workflows/try.yml
Labels: A-ci

#4228 fix(dal): always remigrate the default workspace on startup
  lib/dal/src/workspace.rs
Labels: A-dal

#4230 Fix: do not call status_with_base when... you are on base
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
Labels: A-web

#4222 feat(sdf) - create workspace permissions system
  bin/auth-api/src/services/workspaces.service.ts
  bin/sdf/src/args.rs
  component/init/configs/service.toml
  lib/dal/src/user.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/server/config.rs
  lib/sdf-server/src/server/server.rs
  lib/sdf-server/src/server/service/session.rs
  lib/sdf-server/src/server/service/session/auth_connect.rs
  lib/sdf-server/src/server/state.rs
  lib/si-test-macros/src/sdf_test.rs
Labels: A-sdf, A-dal, A-si-test-macros

#4231 fix(dal, sdf): auth funcs can be detached
  lib/dal/src/func/binding/authentication.rs
  lib/dal/tests/integration_test/func/authoring/binding/authentication.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/binding/delete_binding.rs
Labels: A-sdf, A-dal

#4232 fix: don't delete auth funcs when regenerating variants
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
Labels: A-dal

#4183 Respect schema-to-asset relationship when contributing assets
  app/web/src/api/sdf/dal/module.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetContributeModal.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/modules/ModuleExportModal.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/module.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/module.rs
  lib/sdf-server/src/server/service/module/export_module.rs
  lib/sdf-server/src/server/service/v2/module.rs
  lib/sdf-server/src/server/service/v2/module/contribute.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/module.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  support/buck2/buck2-sync-cargo-deps.py
Labels: A-sdf, A-dal, A-web

#4233 Ensure recycled PG connections do not have lingering open transactions
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#4235 fix: handle the tutorial popup in cypress
  .github/workflows/crons.yml
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
Labels: A-ci, A-web

#4237 fix(lang-js): Set env vars before we iterate on beforeFuncs
  bin/lang-js/src/function.ts
Labels: A-lang-js

#4238 Temporarily silence PG warnings during connection setup
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#4239 feat(web) - better UI for New Assets tab in Customize screen
  app/web/src/components/CodeViewer.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/modules/ModuleListItem.vue
  app/web/src/components/modules/ModuleListPanel.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
Labels: A-web

#4245 fix: cloudfront dist id from secret instead of by name
  .github/workflows/deploy-service.yml
Labels: A-ci

#4241 Update schema and func endpoints to v2
  app/web/src/store/asset.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func_runs.store.ts
  lib/dal/src/func.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/sdf-server/src/server/routes.rs
  lib/sdf-server/src/server/service.rs
  lib/sdf-server/src/server/service/dev.rs
  lib/sdf-server/src/server/service/func.rs
  lib/sdf-server/src/server/service/func/create_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/create_func.rs
  lib/sdf-server/src/server/service/func/create_func_argument.rs
  lib/sdf-server/src/server/service/func/delete_func.rs
  lib/sdf-server/src/server/service/func/delete_func_argument.rs
  lib/sdf-server/src/server/service/func/get_func.rs
  lib/sdf-server/src/server/service/func/get_func_associations.rs
  lib/sdf-server/src/server/service/func/list_func_arguments.rs
  lib/sdf-server/src/server/service/func/list_funcs.rs
  lib/sdf-server/src/server/service/func/list_input_sources.rs
  lib/sdf-server/src/server/service/func/remove_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/save_and_exec.rs
  lib/sdf-server/src/server/service/func/save_func.rs
  lib/sdf-server/src/server/service/func/test_execute.rs
  lib/sdf-server/src/server/service/func/update_attribute_prototype.rs
  lib/sdf-server/src/server/service/func/update_func_argument.rs
  lib/sdf-server/src/server/service/v2.rs
  lib/sdf-server/src/server/service/v2/func.rs
  lib/sdf-server/src/server/service/v2/func/get_func_run.rs
  lib/sdf-server/src/server/service/v2/variant.rs
  lib/sdf-server/src/server/service/v2/variant/create_unlocked_copy.rs
  lib/sdf-server/src/server/service/v2/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant.rs
  lib/sdf-server/src/server/service/variant/create_variant.rs
  lib/sdf-server/src/server/service/variant/get_variant.rs
  lib/sdf-server/src/server/service/variant/list_variants.rs
Labels: A-sdf, A-dal, A-web

#4248 fix(sdf): Restore the correct name of the module contribution event
  lib/sdf-server/src/server/service/v2/module/contribute.rs
Labels: A-sdf

#4247 feat: dynamic stdin for langjs
  bin/lang-js/src/sandbox/exec.ts
Labels: A-lang-js

#4250 fix(dal): Ensure we send the correct contribute details to posthog
  lib/dal/src/module.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/server/service/v2/module/contribute.rs
Labels: A-sdf, A-dal

#4252 tests now check for page loading and the modal properly
  app/web/cypress.config.ts
  app/web/cypress/e2e/authentication/logout.cy.ts
  app/web/cypress/e2e/modelling-functionality/create-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/delete-component.cy.ts
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/support/commands.ts
  app/web/src/components/AssetPalette.vue
  app/web/src/pages/WorkspaceSinglePage.vue
Labels: A-web

#4249 Remove remaining old test builtins
  bin/module-index/BUCK
  lib/dal-test/src/test_exclusive_schemas/fake_butane.rs
  lib/dal-test/src/test_exclusive_schemas/fake_docker_image.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/builtins.rs
  lib/dal/tests/integration_test/builtins.rs
  lib/dal/tests/integration_test/diagram.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  pkgs/TODO.md
  pkgs/si-coreos-2023-09-13.sipkg
  pkgs/si-docker-image-2023-09-13.sipkg
Labels: A-dal, A-dal-test, A-module-index

#4254 chore: minor fixups to cypress tests
  app/web/cypress/e2e/modelling-functionality/value-attribute-propogation.cy.ts
  app/web/cypress/support/commands.ts
Labels: A-web

#4255 feat: Add edge direction and label to viz
  app/web/src/components/Workspace/WorkspaceVizSchemaVariant.vue
  app/web/src/store/viz.store.ts
Labels: A-web

#4251 feat: add metrics collection to telemetry pipeline
  Cargo.lock
  Cargo.toml
  component/deploy/docker-compose.yaml
  component/otelcol/config.yaml
  component/otelcol/honeycomb-config.yaml
  component/toolbox/Dockerfile
  dev/Tiltfile
  dev/datasources/datasources.yml
  dev/docker-compose.platform.yml
  dev/prometheus-config/config.yml
  lib/si-pool-noodle/BUCK
  lib/si-pool-noodle/Cargo.toml
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-utils-rs/BUCK
  lib/telemetry-utils-rs/Cargo.toml
  lib/telemetry-utils-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-otelcol, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4261 feat: metrics macro and function metric tracking
  Cargo.lock
  dev/prometheus-config/config.yml
  lib/si-pool-noodle/src/pool_noodle.rs
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-utils-rs/src/lib.rs
  lib/veritech-server/BUCK
  lib/veritech-server/Cargo.toml
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle

#4263 fix(sdf): Allow getting code_execution_history
  lib/sdf-server/src/server/service/v2/func.rs
Labels: A-sdf

#4262 feat(web) - final UI improvements to New Assets screen
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/toasts/FiveHundredError.vue
  lib/vue-lib/src/design-system/tree/TreeNode.vue
Labels: A-web
