Repository systeminit/si, pull requests merged in 2025-08, with the labels that each got.

#6844 fix(web): Optimise the performance of the AddComponentModal
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web

#6849 fix(web): Ensure the add component button is a consistent style
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6855 fix: Associate the migration span with the http request
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
Labels: A-sdf

#6851 feat(web): Disable the ability for a use to toggle back and forward to the old UX
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/nav/NavbarPanelRight.vue
Labels: A-web

#6856 Indicate whether Components (and attribute values) have socket connections so we can warn users migration wasn't cleanly possible
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal/src/workspace_snapshot/graph/traits/component.rs
  lib/dal/src/workspace_snapshot/graph/v4/component.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/src/workspace_snapshot/split_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/traits/component.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
Labels: A-dal

#6857 feat(web): Show workspace migration warning
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/composables/useComponentDeletion.ts
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/util.ts
  app/web/src/workers/types/entity_kind_types.ts
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6859 chore(ci): These tests are flakey due to deno
  .github/workflows/run-api-test.yml
Labels: A-ci

#6865 fix(web): Fixup a typo on grid empty state
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6867 Re-read the workspace tokens after you write them
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/logic_composables/tokens.ts
  app/web/src/pages/auth/AuthConnectPage.vue
Labels: A-web

#6871 fix(dal): give mgmt func state transitions a fresh connection state
  lib/dal-test/src/helpers/component.rs
  lib/dal-test/src/test_exclusive_schemas/category_validated.rs
  lib/dal/src/context.rs
  lib/dal/src/job/definition/management_func.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/validations.rs
Labels: A-dal, A-dal-test

#6872 updating cypress tests for new UI
  app/web/cypress/archive/authentication/logout.cy.ts
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/support/commands.ts
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/nav/ChangeSetPanel.vue
Labels: A-web

#6873 Restore luminork API tests with 53 error code
  .github/workflows/run-api-test.yml
  bin/si-luminork-api-tests/run-tests.ts
Labels: A-ci

#6875 test fix for appModelPageLoaded
  app/web/cypress/archive/authentication/logout.cy.ts
  app/web/cypress/support/commands.ts
Labels: A-web

#6876 disable failing test logic for now
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/support/commands.ts
Labels: A-web

#6877 fix(web): Ensure compose icons are consistent
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
Labels: A-web

#6879 Helper to run API calls against change sets other than the one in your URL
  app/web/src/components/ChangesetRenameModal.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/nav/ApprovalPendingModalCard.vue
  app/web/src/newhotness/nav/Notifications.vue
Labels: A-web

#6881 chore(deps): Upgrade netlify-cli on auth-portal
  app/auth-portal/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#6878 feat(dal): default subs for arrays and type checking
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/default_subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/component/new.rs
  lib/dal/src/dependency_graph.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/attribute_value/subscription/default_subscriptions.rs
Labels: A-dal

#6883 Update remove connection language to subscription
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6874 Bulk Edit History (and errors)
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ResourceValuesPanel.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
  app/web/src/newhotness/layout_components/AttrComponentList.vue
  app/web/src/newhotness/layout_components/AttrValue.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/AttributeValueBox.vue
  app/web/src/newhotness/logic_composables/attribute_tree.ts
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/newhotness/types.ts
Labels: A-web

#6892 Remove a sponge: dont need this argument anymore
  app/web/src/components/ChangesetRenameModal.vue
Labels: A-web

#6900 Copy change: no changes, not "not yet"
  app/web/src/newhotness/DiffPanel.vue
Labels: A-web

#6902 Cached schemas MV
  Cargo.lock
  app/web/src/newhotness/Workspace.vue
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/cached_schemas.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/cached_module.rs
  lib/dal/src/entity_kind.rs
  lib/edda-client/src/lib.rs
  lib/edda-core/src/nats.rs
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/deployment_processor_task.rs
  lib/edda-server/src/handlers.rs
  lib/edda-server/src/lib.rs
  lib/edda-server/src/materialized_view.rs
  lib/edda-server/src/server.rs
  lib/edda-server/src/updates.rs
  lib/frigg/BUCK
  lib/frigg/Cargo.toml
  lib/frigg/src/lib.rs
  lib/luminork-server/src/server.rs
  lib/naxum/src/middleware/jetstream_post_process/service.rs
  lib/sdf-core/src/index.rs
  lib/sdf-core/src/nats_multiplexer.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/service/v2/admin/update_module_cache.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-v1-routes-ws/src/bifrost/proto.rs
  lib/si-events-rs/src/workspace_snapshot.rs
  lib/si-frontend-mv-types-rs/BUCK
  lib/si-frontend-mv-types-rs/Cargo.toml
  lib/si-frontend-mv-types-rs/src/cached_schemas.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/index.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/object/patch.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-id/src/ulid.rs
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6906 fix(web): Ensure we can save from the CodeEditorModal
  app/web/src/newhotness/CodeEditorModal.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6904 feat(luminork): Add duplicate components endpoint to luminork
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/duplicate_components.rs
  lib/luminork-server/src/service/v1/components/mod.rs
Labels: A-luminork

#6905 Re-work grid dependencies
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/types.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-web

#6910 chore(ci): Adding a workflow dispatch to update clover assets
  .github/workflows/asset-update.yml
Labels: A-ci

#6915 hotfix(web): disable atom garbage collection
  app/web/src/workers/webworker.ts
Labels: A-web

#6918 fix(web): webworker test fixes
  app/web/src/workers/webworker.test.ts
Labels: A-web

#6919 When MV index gives us a 202, re-queue that change set
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6885 upgraded Cypress, new tests
  app/web/cypress/archive/authentication/logout.cy.ts
  app/web/cypress/e2e/authentication/auth.cy.ts
  app/web/cypress/e2e/authentication/login.cy.ts
  app/web/cypress/e2e/web-functionality/get-summary.cy.ts
  app/web/cypress/e2e/web-functionality/web.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
  app/web/cypress/global.d.ts
  app/web/cypress/support/commands.ts
  app/web/cypress/support/component-actions/create.ts
  app/web/package.json
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Lobby.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/nav/AbandonChangeSetModal.vue
  app/web/src/newhotness/nav/ChangeSetPanel.vue
  pnpm-lock.yaml
Labels: A-web

#6921 fix(web): Change the colors of the QualificationPanel
  app/web/src/components/StatusMessageBox.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/QualificationView.vue
Labels: A-web

#6928 removing the beforeEach section for web tests
  app/web/cypress/e2e/web-functionality/web.cy.ts
Labels: A-web

#6931 removing the beforeEach for auth as well
  app/web/cypress/e2e/authentication/auth.cy.ts
Labels: A-web

#6926 chore(sdf-api-tests): Refactor remaining API tests to use new routes and fetch data via MVs
  bin/si-sdf-api-test/sdf_api_client.ts
  bin/si-sdf-api-test/test_helpers.ts
  bin/si-sdf-api-test/tests/0-add_action.ts
  bin/si-sdf-api-test/tests/1-create_and_apply_across_change_sets.ts
  bin/si-sdf-api-test/tests/2-create_and_delete_component.ts
  bin/si-sdf-api-test/tests/2-create_and_upgrade_component.ts
  bin/si-sdf-api-test/tests/3-create_and_use_variant.ts
  bin/si-sdf-api-test/tests/4-create_two_components_connect_and_propagate.ts
  bin/si-sdf-api-test/tests/5-emulate_paul_stack.ts
  bin/si-sdf-api-test/tests/7-emulate_authoring.ts
  bin/si-sdf-api-test/tests/8-check_mjolnir.ts
Labels: A-ci

#6936 feature flag, keyboard shortcut, organizing shortcuts
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ShortcutModal.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/router.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#6943 Fix: if the index already exists but isnt on the change set, and its a valid move forward, push the change set forward to the existing index
  app/web/src/workers/webworker.ts
Labels: A-web

#6944 fix(web): Normalize search string to prevent filterered components from losing reactivity
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6937 chore(luminork): Adding the API docs for generate_template in Luminork
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/__init__.py
  generated-sdks/python/system_initiative_api_client/api/components_api.py
  generated-sdks/python/system_initiative_api_client/models/__init__.py
  generated-sdks/python/system_initiative_api_client/models/generate_template_v1_request.py
  generated-sdks/python/system_initiative_api_client/models/generate_template_v1_response.py
  generated-sdks/python/test/test_components_api.py
  generated-sdks/python/test/test_generate_template_v1_request.py
  generated-sdks/python/test/test_generate_template_v1_response.py
  generated-sdks/typescript/api.ts
Labels: A-docs

#6947 Fix apply button going off screen for approvals
  app/web/src/newhotness/ApplyChangeSetModal.vue
  app/web/src/newhotness/ApprovalFlow.vue
Labels: A-web

#6948 fix(dal): if conn state is invalid, error instead of panicking
  lib/dal/src/context.rs
  lib/si-db/src/transactions.rs
Labels: A-dal

#6950 fix(web): Fixup the approvals flow
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ApplyChangeSetModal.vue
  app/web/src/newhotness/ApprovalFlow.vue
  app/web/src/newhotness/nav/ApprovalPendingModalCard.vue
Labels: A-web

#6951 temporarily ripping out tests for now
  app/web/cypress/e2e/web-functionality/web.cy.ts
  app/web/cypress/support/commands.ts
Labels: A-web

#6949 Fix faded apply change set
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ApplyChangeSetModal.vue
  app/web/src/newhotness/ApprovalFlow.vue
  app/web/src/newhotness/StatusPanel.vue
  app/web/src/newhotness/logic_composables/change_set.ts
  app/web/src/newhotness/logic_composables/rainbow_counter.ts
  app/web/src/newhotness/logic_composables/status.ts
Labels: A-web

#6941 feat(web) - first draft of review page newhotness
  app/web/src/newhotness/ComponentCard.vue
  app/web/src/newhotness/DiffPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/composables/useComponentDeletion.ts
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/logic_composables/context.ts
  app/web/src/workers/types/entity_kind_types.ts
Labels: A-web

#6952 removing appModelPageLoaded again, dang it
  app/web/cypress/e2e/authentication/auth.cy.ts
  app/web/cypress/e2e/workspace-management/workspace-dashboard.cy.ts
Labels: A-web

#6953 Fix: correctly determine head or not, so apply button doesnt show on head
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6955 Use an AWS account for the public API "how-to"
  DOCS.md
  app/docs/src/how-tos/use-public-api.md
Labels: A-docs

#6956 chore(docs): Updating the roadmap with an MCP server entry
  app/docs/src/roadmap/index.md
Labels: A-docs

#6957 feat(dal): Add the internals to create si/tags prop
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/schema/variant.rs
Labels: A-dal

#6978 fix: Allow json -> string subscriptions (relax type mismatch error)
  lib/dal/src/attribute/value.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
Labels: A-dal

#6980 Display any errors from the component update attributes endpoint
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6970 feat: Create change set CIA (create_initialize_apply) endpoint for onboarding flow
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/OnboardModal.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/store/feature_flags.store.ts
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/schema.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/attribute_value.rs
  lib/dal/tests/integration_test/attributes.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/validations.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/create.rs
  lib/sdf-server/src/service/v2/change_set/create_initialize_apply.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/si-crypto/src/sensitive_strings.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-luminork

#6986 fix(web): Change the simulation wording
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6992 chore(luminork): Generate SDK and docs for Erase endpoint
  app/docs/src/reference/public-api.md
  bin/si-mcp-server/src/tools/componentErase.ts
  generated-sdks/python/system_initiative_api_client/__init__.py
  generated-sdks/python/system_initiative_api_client/api/components_api.py
  generated-sdks/python/system_initiative_api_client/models/__init__.py
  generated-sdks/python/system_initiative_api_client/models/erase_component_v1_response.py
  generated-sdks/python/test/test_components_api.py
  generated-sdks/python/test/test_erase_component_v1_response.py
  generated-sdks/typescript/api.ts
Labels: A-docs

#6938 Implement cached schema & variant materialized views for luminork
  Cargo.lock
  lib/dal-materialized-views/BUCK
  lib/dal-materialized-views/Cargo.toml
  lib/dal-materialized-views/src/cached.rs
  lib/dal-materialized-views/src/cached/schema.rs
  lib/dal-materialized-views/src/cached/schema/variant.rs
  lib/dal-materialized-views/src/cached/schema/variant/default.rs
  lib/dal-materialized-views/src/cached/schemas.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/materialized_view.rs
  lib/frigg/src/lib.rs
  lib/luminork-server/BUCK
  lib/luminork-server/Cargo.toml
  lib/luminork-server/src/service/v1/schemas/get_default_variant.rs
  lib/luminork-server/src/service/v1/schemas/get_schema.rs
  lib/luminork-server/src/service/v1/schemas/get_variant.rs
  lib/luminork-server/src/service/v1/schemas/mod.rs
  lib/si-frontend-mv-types-rs/src/cached_default_variant.rs
  lib/si-frontend-mv-types-rs/src/cached_schema.rs
  lib/si-frontend-mv-types-rs/src/cached_schema_variant.rs
  lib/si-frontend-mv-types-rs/src/cached_schemas.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-pkg/src/pkg/action_func.rs
  lib/si-pkg/src/pkg/auth_func.rs
  lib/si-pkg/src/pkg/leaf_function.rs
  lib/si-pkg/src/pkg/management_func.rs
  lib/si-pkg/src/pkg/root_prop_func.rs
  lib/si-pkg/src/pkg/si_prop_func.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/action_func.rs
  lib/si-pkg/src/spec/authentication_func.rs
  lib/si-pkg/src/spec/leaf_function.rs
  lib/si-pkg/src/spec/management_func.rs
  lib/si-pkg/src/spec/root_prop_func.rs
  lib/si-pkg/src/spec/si_prop_func.rs
  lib/si-pkg/src/spec/tests.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6998 fix(web): Special case creating deleteComponents endpoint
  app/web/src/newhotness/api_composables/index.ts
Labels: A-web

#7002 fix(dal): Remove the validate_user_can_set_directly from the attributes api
  lib/dal/src/attribute/attributes.rs
Labels: A-dal

#7001 fix(web): Ensure default subs box is checkable, style the grouping
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/store/realtime/heimdall.ts
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#7003 feat: pretty review screen
  Cargo.lock
  app/web/src/api/sdf/dal/component.ts
  app/web/src/newhotness/ComponentListItem.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/store/components.store.ts
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/component_diff.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/helpers/component.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/func/binding/attribute_argument.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/BUCK
  lib/si-frontend-mv-types-rs/Cargo.toml
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/component/component_diff.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/general/TextPill.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7013 Change: action status never hits running now, only dispatched
  app/web/src/newhotness/ActionCard.vue
Labels: A-web

#7012 Add ability to list audit logs for a component
  lib/audit-database/src/lib.rs
  lib/dal/src/audit_logging.rs
  lib/dal/tests/integration_test/audit_logging.rs
Labels: A-dal, A-dal-test

#7018 fix(dal): ensure we export ui_optionals
  lib/dal/src/pkg/export.rs
Labels: A-dal

#7021 feat(sdf-server): Add audit log events for DefaultSubscriptionSource
  lib/sdf-server/src/service/v2/component/attributes.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-sdf

#7022 Ensure Actions that are dispatched show as running
  app/web/src/newhotness/Explore.vue
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-web, A-rebaser

#7009 Debounce moving to "synced" state
  app/web/src/newhotness/StatusPanel.vue
Labels: A-web

#7027 feat(web): Adding empty state for default subscriptions
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/layout_components/DefaultSubscriptionsEmptyState.vue
Labels: A-web

#7017 Pipe through component audit logs to history
  app/web/src/newhotness/ComponentHistory.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/workers/types/entity_kind_types.ts
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/utils/timestamp.ts
Labels: A-sdf, A-dal, A-web

#7031 Fix odd compiler error by using string union type
  app/web/src/components/ApplyHistoryItem.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/Workspace/WorkspaceAuditLog.vue
  app/web/src/newhotness/ComponentHistory.vue
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/utils/timestamp.ts
Labels: A-web

#7033 Make audit log flushing infallible in the rebaser
  lib/dal/src/context.rs
Labels: A-dal

#7005 feat: Discover matching subscriptions after Discovery and Import
  Cargo.lock
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/api_composables/index.ts
  lib/dal-test/src/helpers/schema/variant.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/attribute/value/default_subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/component/new.rs
  lib/dal/src/component/suggestion.rs
  lib/dal/src/job/definition/management_func.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/node_weight/reason_node_weight.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/autoconnect.rs
  lib/dal/tests/integration_test/component/autosubscribe.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/autosubscribe.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7035 fix(web): Ensure we don't get trapped in the lobby
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#7037 fix(web): don't scroll on click in add component
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web

#7036 fix(web): Hide bulk edit option on map screen
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Map.vue
Labels: A-web

#7038 fix(web): One more pass at the text for the onboarding flow
  app/web/src/newhotness/Onboarding.vue
Labels: A-web

#7041 Polish component history for review screen
  app/web/src/newhotness/ComponentHistory.vue
  app/web/src/newhotness/Review.vue
  app/web/src/workers/types/entity_kind_types.ts
Labels: A-web

#7049 Annihilate old sdf routes: round three
  lib/sdf-server/src/routes.rs
  lib/sdf-v1-routes-module/src/lib.rs
  lib/sdf-v1-routes-secret/src/lib.rs
  lib/sdf-v1-routes-session/src/lib.rs
  lib/sdf-v1-routes-session/src/load_workspaces.rs
  lib/sdf-v1-routes-variant/src/lib.rs
Labels: A-sdf

#7055 Add actions to review screen
  app/web/src/newhotness/ActionPills.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
Labels: A-web

#7050 Update some of the Mvs to give the front end what it needs and start support these new Mvs in the Review Screen
  app/web/src/newhotness/ActionWidget.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component/component_diff.rs
  lib/dal-materialized-views/src/component/erased_components.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-mv-types-rs/src/component/component_diff.rs
  lib/si-frontend-mv-types-rs/src/component/erased_components.rs
Labels: A-dal, A-web

#7060 feat(web): Don't load reviews screen on HEAD
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Review.vue
Labels: A-web

#7058 fix: show secret changes in subscriber diffs
  app/web/src/newhotness/ReviewAttributeItem.vue
Labels: A-dal, A-web

#7063 feat(web) - unified component list on the review screen
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/newhotness/ComponentListItem.vue
  app/web/src/newhotness/Review.vue
Labels: A-web

#7062 feat(web): Add a header to the reviews page
  app/web/src/newhotness/Review.vue
Labels: A-web

#7064 fix: show revert button on review screen only when it will work
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component/component_diff.rs
  lib/si-frontend-mv-types-rs/src/component/component_diff.rs
Labels: A-web

#7065 UI changes to get closer to Figma
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  lib/vue-lib/src/tailwind/tailwind_customization/colors.json
Labels: A-web

#7066 fix(pending-events): spawn task to write pending events instead of wa…
  Cargo.lock
  lib/pending-events/BUCK
  lib/pending-events/Cargo.toml
  lib/pending-events/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7067 fix: Show secret names, and don't show defaults for added items
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
Labels: A-web

#7068 fix: Show that a component is ghosted in review
  app/web/src/newhotness/Review.vue
Labels: A-web

#7074 feat(web): Style the Component History panel
  app/web/src/newhotness/ComponentHistory.vue
Labels: A-web

#7077 Add missing observability values
  app/web/src/workers/webworker.ts
Labels: A-web

#7078 review screen polish items pt 1
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ComponentHistory.vue
  app/web/src/newhotness/ComponentListItem.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
Labels: A-web

#7079 fix(web): Invert diffs in ReviewAttributeItem
  app/web/src/newhotness/ReviewAttributeItem.vue
Labels: A-web

#7084 unified collapsing styles, select first component on Review
  app/web/src/newhotness/ComponentHistory.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
Labels: A-web

#7088 fix(dal): Be more explicit about the before_value in attributes audit logs
  lib/dal/src/attribute/attributes.rs
Labels: A-dal

#7089 empty state for middle section of Review screen
  app/web/src/newhotness/Review.vue
Labels: A-web

#7091 fix(web): Fix onboarding style on light mode and update copy
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Onboarding.vue
  app/web/src/newhotness/ScrollingOutputLine.vue
  app/web/src/newhotness/WelcomeBanner.vue
Labels: A-web

#7093 fix: Show components with enequeued actions in review
  app/web/src/newhotness/Review.vue
  app/web/src/workers/types/entity_kind_types.ts
Labels: A-web

#7095 Disable the revert button on erased and ghosted components
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/ReviewAttributeItem.vue
Labels: A-web

#7098 Adding a few more obs fields
  app/web/src/workers/webworker.ts
Labels: A-web

#7094 fix(sdf-server): Ensure we thread through the correct componentId to action audit log events
  lib/dal/src/action.rs
  lib/luminork-server/src/service/v1/actions/cancel_action.rs
  lib/luminork-server/src/service/v1/actions/retry_action.rs
  lib/luminork-server/src/service/v1/components/add_action.rs
  lib/sdf-server/src/service/v2/action.rs
  lib/sdf-v1-routes-actions/src/cancel.rs
  lib/sdf-v1-routes-actions/src/retry.rs
  lib/sdf-v1-routes-change-sets/src/add_action.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-sdf, A-dal, A-luminork

#7099 feat: don't show a diff for object fields
  app/web/src/newhotness/Review.vue
Labels: A-web

#7105 fixed keyboard shortcuts and Grid tab context menu bug
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
Labels: A-web

#7109 Ensure stable output from SchemaVariant::all_func_ids
  lib/dal/src/schema/variant.rs
Labels: A-dal

#7101 Ensure patches wait for cold starts. Tighten up logging
  app/web/src/workers/mjolnir_queue.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#7106 feat: return 428 if dvu roots exist on force apply
  .ci/delete-stacks.py
  .ci/deploy-stack.py
  lib/luminork-server/src/service/v1/change_sets/force_apply.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
Labels: A-ci, A-luminork

#7112 fix: missing import in delete-stacks
  .ci/delete-stacks.py
Labels: A-ci

#7115 fix(edda-server): put all mv build futures on slow rt
  lib/edda-server/src/materialized_view.rs
Labels: A-edda

#7116 chore(edda): use a dedicated NATS client for frigg calls
  lib/dal-test/src/lib.rs
  lib/edda-server/src/server.rs
Labels: A-dal-test, A-edda

#7117 fix(web): Ensure we don't hide validation outputs
  app/web/src/newhotness/QualificationPanel.vue
Labels: A-web

#7114 feat(web): Show search hints on the search bar
  app/web/src/newhotness/Explore.vue
Labels: A-web

#7119 fix(dal): restore rebuild_for_deployment in cached_modules
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/update_module_cache.rs
Labels: A-sdf, A-dal

#7113 Fix overflowing group selector bar
  app/web/src/newhotness/Explore.vue
Labels: A-web

#7122 Ensure both v1 and v2 SDF API endpoints consistently trigger and wait for index update on change set creation
  Cargo.lock
  lib/sdf-core/BUCK
  lib/sdf-core/Cargo.toml
  lib/sdf-core/src/change_set_mvs.rs
  lib/sdf-core/src/lib.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/create.rs
  lib/sdf-v1-routes-change-sets/src/create_change_set.rs
  lib/sdf-v1-routes-change-sets/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7124 fix(edda-server): enable the slow rt early
  lib/edda-server/src/server.rs
Labels: A-edda

#7123 feat(web): Chosing 3 prompts for the welcome banner
  app/web/src/newhotness/WelcomeBanner.vue
Labels: A-web

#7126 fixed newhotness colors, Explore spacing, menu bug
  app/web/src/newhotness/ComponentDebugPanel.vue
  app/web/src/newhotness/ComponentListItem.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ManagementConnectionCard.vue
  app/web/src/newhotness/ReviewAttributeItemSourceAndValue.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
  app/web/src/newhotness/layout_components/AttrComponentList.vue
  app/web/src/newhotness/layout_components/AttrValue.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/AttributeInputPossibleConnection.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  lib/vue-lib/src/tailwind/tailwind_customization/colors.json
Labels: A-web

#7130 Only fetch change set MvIndex once at start of MV build
  lib/edda-server/src/materialized_view.rs
  lib/frigg/src/lib.rs
Labels: A-edda

#7127 Display disconnected WS status for a given workspace
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/nav/NavbarPanelCenter.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#7132 feat(web): Link to review from audit when not on HEAD
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/newhotness/nav/NavbarPanelCenter.vue
Labels: A-web

#7137 chore: Update roadmap
  app/docs/src/roadmap/index.md
Labels: A-docs

#7144 Big red button in the sky, pt 1
  app/web/src/components/AssetPalette.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ModelingDiagram/DiagramControls.vue
  app/web/src/components/ModelingDiagram/DiagramCursor.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramEmptyState.vue
  app/web/src/components/ModelingDiagram/DiagramEmptyStateItem.vue
  app/web/src/components/ModelingDiagram/DiagramGridBackground.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramGroupOverlay.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/DiagramIcon.vue
  app/web/src/components/ModelingDiagram/DiagramNewEdge.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramNodeSocket.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingDiagram/KonvaSvgImage.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/AutoconnectMenu.vue
  app/web/src/components/ModelingView/ConnectionMenuCandidateList.vue
  app/web/src/components/ModelingView/ConnectionMenuCandidateListItem.vue
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/EraseSelectionModal.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/FloatingConnectionMenuInput.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/ViewDetailsPanel.vue
  app/web/src/components/Workspace/CommandModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/router.ts
Labels: A-web

#7145 Restore luminork API tests with retry loop
  .github/workflows/run-api-test.yml
Labels: A-ci

#7146 chore(cleanup): Cleanup old SDF Routes no longer used
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/routes.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
  lib/sdf-v1-routes-actions/BUCK
  lib/sdf-v1-routes-actions/Cargo.toml
  lib/sdf-v1-routes-actions/src/cancel.rs
  lib/sdf-v1-routes-actions/src/history.rs
  lib/sdf-v1-routes-actions/src/lib.rs
  lib/sdf-v1-routes-actions/src/list_actions.rs
  lib/sdf-v1-routes-actions/src/put_on_hold.rs
  lib/sdf-v1-routes-actions/src/retry.rs
  lib/sdf-v1-routes-change-sets/src/add_action.rs
  lib/sdf-v1-routes-change-sets/src/lib.rs
  lib/sdf-v1-routes-component/BUCK
  lib/sdf-v1-routes-component/Cargo.toml
  lib/sdf-v1-routes-component/src/delete_property_editor_value.rs
  lib/sdf-v1-routes-component/src/get_code.rs
  lib/sdf-v1-routes-component/src/get_diff.rs
  lib/sdf-v1-routes-component/src/get_property_editor_schema.rs
  lib/sdf-v1-routes-component/src/get_property_editor_values.rs
  lib/sdf-v1-routes-component/src/get_resource.rs
  lib/sdf-v1-routes-component/src/insert_property_editor_value.rs
  lib/sdf-v1-routes-component/src/lib.rs
  lib/sdf-v1-routes-component/src/list_qualifications.rs
  lib/sdf-v1-routes-component/src/manage.rs
  lib/sdf-v1-routes-component/src/override_with_connection.rs
  lib/sdf-v1-routes-component/src/refresh.rs
  lib/sdf-v1-routes-component/src/restore_default_function.rs
  lib/sdf-v1-routes-component/src/set_name.rs
  lib/sdf-v1-routes-component/src/set_resource_id.rs
  lib/sdf-v1-routes-component/src/set_type.rs
  lib/sdf-v1-routes-component/src/unmanage.rs
  lib/sdf-v1-routes-component/src/update_property_editor_value.rs
  lib/sdf-v1-routes-component/src/upgrade.rs
  lib/sdf-v1-routes-diagram/BUCK
  lib/sdf-v1-routes-diagram/Cargo.toml
  lib/sdf-v1-routes-diagram/src/add_components_to_view.rs
  lib/sdf-v1-routes-diagram/src/create_connection.rs
  lib/sdf-v1-routes-diagram/src/delete_component.rs
  lib/sdf-v1-routes-diagram/src/delete_connection.rs
  lib/sdf-v1-routes-diagram/src/dvu_roots.rs
  lib/sdf-v1-routes-diagram/src/get_all_components_and_edges.rs
  lib/sdf-v1-routes-diagram/src/lib.rs
  lib/sdf-v1-routes-diagram/src/remove_delete_intent.rs
  lib/sdf-v1-routes-qualification/BUCK
  lib/sdf-v1-routes-qualification/Cargo.toml
  lib/sdf-v1-routes-qualification/src/get_summary.rs
  lib/sdf-v1-routes-qualification/src/lib.rs
Labels: A-sdf

#7150 feat(sdf-server): Adds a component json endpoint
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/get_json.rs
Labels: A-sdf

#7149 Remove new UI FF, and some other bits
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/pages/HomePage.vue
  app/web/src/pages/auth/AuthConnectPage.vue
  app/web/src/store/change_sets.store.ts
Labels: A-web

#7152 fix: Remove deleted crates from Cargo.toml
  Cargo.lock
  Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7156 chore(cleanup): V1 Components Crate
  Cargo.lock
  app/web/src/store/components.store.ts
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/routes.rs
  lib/sdf-v1-routes-component/BUCK
  lib/sdf-v1-routes-component/Cargo.toml
  lib/sdf-v1-routes-component/src/json.rs
  lib/sdf-v1-routes-component/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7157 feat(sdf): Adding an abandon changeset to v2 routes
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/abandon.rs
Labels: A-sdf

#7159 chore(cleanup): Cleanup the qualifications store initialization fetch
  app/web/src/components/StatusBar/StatusBar.vue
  app/web/src/components/StatusBar/StatusBarDiffSummary.vue
  app/web/src/components/StatusBar/StatusBarQualificationSummary.vue
  app/web/src/components/StatusBar/StatusBarResourceSummary.vue
  app/web/src/components/StatusBar/StatusBarTab.vue
  app/web/src/components/StatusBar/StatusBarTabPill.vue
  app/web/src/store/qualifications.store.ts
Labels: A-web

#7163 feat: Remove all parents and socket connections in migration
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
Labels: A-sdf, A-dal

#7165 feat: Set "Executed AI Agent" flag from MCP and add warning to web
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/WelcomeBanner.vue
  app/web/src/newhotness/Workspace.vue
  bin/si-mcp-server/src/cli.ts
  bin/si-mcp-server/src/data/schemaAttributes.ts
  bin/si-mcp-server/src/user_state.ts
  deno.lock
Labels: A-web
