Repository systeminit/si, pull requests merged in 2025-03, with the labels that each got.

#5580 fix(dal): Exclude root-si-resource_id from generated mgmt templates
  lib/dal/src/management/generator.rs
Labels: A-dal

#5582 fix(web): Ensure we handle the hold action modal for light theme
  app/web/src/components/Actions/ConfirmHoldModal.vue
Labels: A-web

#5583 fix(sdf): Add a WsEvent when attaching an attribute function to a schema
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
Labels: A-sdf

#5584 chore(docs): Update roadmap to show progress of opportunities
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5587 BUG-791: remember the last grid origin per view, and load it when you look at that view
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/router.store.ts
Labels: A-web

#5588 fix: strip default values from templates
  lib/dal/src/management/generator.rs
Labels: A-dal

#5594 BUG-778: upgrade component wsevent missing parent, b/c we send it too soon
  lib/dal/src/component.rs
Labels: A-dal

#5590 fix(web): Ensuring that we can deal with JSON.Objects in propSpecs
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/store/component_attributes.store.ts
  bin/lang-js/src/asset_builder.ts
Labels: A-lang-js, A-web

#5596 fix(auth-portal): Ensure we validate Remote URLs correctly
  app/auth-portal/src/lib/validations.ts
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  bin/auth-api/src/lib/validation-helpers.ts
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5597 Calm down NATS event callback logging
  lib/si-data-nats/src/lib.rs
Labels: A-si-data-nats

#5578 feat(sdf): Keep external connections on paste
  Cargo.lock
  lib/dal-test/src/helpers.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/property_order.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/secret.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/diagram/set_component_position.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5605 fix(dal): don't allow billing publish errors to block pointer update
  lib/dal/src/billing_publish.rs
  lib/dal/src/change_set.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-rebaser

#5581 basic caching for sockets and views
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5609 Perf: fix first paint to only wait on what it needs
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5612 don't cache the icons for DiagramView
  app/web/src/components/ModelingDiagram/DiagramView.vue
Labels: A-web

#5607 fix(dal): Failing to create a connection shouldn't fail creating any connections
  lib/dal/src/component.rs
Labels: A-dal

#5598 fix(dal): When autoconnecting components, ensure we respect the output socket arity, so we don't try to autoconnect to an output socket with single arity that already has a connection
  lib/dal/src/component.rs
Labels: A-dal

#5610 chore(app): Cleanup CLOVER_ASSETS Flag
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5620 fix: hitbox calculation like a professional
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5619 fix(web): Tooltip on Function Name for Actions RightClickMenu
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#5606 fix(dal): Validate default values if present
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/validation.rs
  lib/dal/tests/integration_test/validations.rs
Labels: A-dal

#5622 more diagram render cache fixes
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
Labels: A-web

#5630 chore(ci): Moving daily deploy to 2pm UTC
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#5614 feat(sdf): Add ability to set a module as private when contributing
  app/web/src/api/sdf/dal/module.ts
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetContributeModal.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/module.store.ts
  lib/dal/src/cached_module.rs
  lib/dal/src/migrations/U3600__scoped_cached_modules.sql
  lib/module-index-client/src/lib.rs
  lib/sdf-server/src/service/v2/module.rs
  lib/sdf-server/src/service/v2/module/contribute.rs
  lib/sdf-server/src/service/v2/variant.rs
  lib/sdf-server/src/service/v2/variant/list_variants.rs
  lib/si-frontend-types-rs/src/module.rs
Labels: A-sdf, A-dal, A-web

#5623 feat: move the removeEmtpy function to a jsr module
  BUCK
  bin/clover/src/cloud-control-funcs/code-gen/awsCloudControlCodeGenCreate.ts
  bin/clover/src/cloud-control-funcs/code-gen/awsCloudControlCodeGenUpdate.ts
  bin/clover/src/cloud-control-funcs/code-gen/awsCloudFormationLint.ts
  bin/lang-js/deno.json
  bin/lang-js/src/bundle.ts
  bin/lang-js/src/sandbox.ts
  bin/lang-js/src/sandbox/extLib.ts
  deno.json
  deno.lock
  lib/dal/src/func/authoring/ts_types.rs
  lib/jsr-systeminit/remove-empty/BUCK
  lib/jsr-systeminit/remove-empty/DEV.md
  lib/jsr-systeminit/remove-empty/deno.json
  lib/jsr-systeminit/remove-empty/mod.ts
  lib/jsr-systeminit/remove-empty/mod_test.ts
Labels: A-lang-js, A-dal

#5636 feat: /diff asset changes in a PR
  .github/workflows/asset-compare.yml
  .github/workflows/asset-push.yml
Labels: A-ci

#5637 fix: /diff comment body incorrect
  .github/workflows/asset-compare.yml
Labels: A-ci

#5639 fix: /diff command requires generating the specs.
  .github/workflows/asset-compare.yml
Labels: A-ci

#5638 build(deps): upgrade async-nats client & NATS server
  Cargo.lock
  Cargo.toml
  component/nats/BUCK
  lib/si-data-nats/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-nats, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5641 chore: add myself to staff
  .github/workflows/community-check.yml
  CONTRIBUTORS.md
Labels: A-ci, community

#5645 feat(hoist): add retry with backoff to uploads
  .github/workflows/asset-push.yml
  Cargo.lock
  bin/hoist/BUCK
  bin/hoist/Cargo.toml
  bin/hoist/src/main.rs
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5649 chore(web): Cleanup feature flags for Diagram optimization and template functions
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5651 fix(si-pkg): Don't delete socket data when converting siPkg to spec
  .github/workflows/asset-diff.yml
  .github/workflows/asset-push.yml
  lib/si-pkg/src/pkg/socket.rs
Labels: A-ci, A-si-pkg

#5652 fix: anonymize socket data
  .github/workflows/asset-push.yml
  bin/hoist/src/commands.rs
  bin/hoist/src/main.rs
  lib/si-pkg/src/spec/socket.rs
Labels: A-ci, A-si-pkg

#5655 fix(docs): Update the GHA reference docs
  app/docs/src/reference/github-action.md
Labels: A-docs, A-auth

#5653 fix(web) - bug 817, rename view cache bug
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5657 build(deps): pin `aws-config`/`aws-sdk-firehose` to prevent native code
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5634 fix: patch Axios to mitigate CVE-2023-45857
  app/auth-portal/package.json
  app/web/package.json
  bin/auth-api/package.json
  bin/auth-api/src/lib/posthog.ts
  bin/auth-api/src/services/auth0.service.ts
  bin/auth-api/src/services/users.service.ts
  lib/vue-lib/package.json
  package.json
  pnpm-lock.yaml
Labels: A-web, A-auth, vulnerability-fix

#5656 feat(hoist): Add "get-diff-summary" command
  .github/workflows/asset-compare.yml
  .github/workflows/asset-diff.yml
  bin/clover/doc-link-cache.json
  bin/hoist/src/commands.rs
  bin/hoist/src/diff.rs
  bin/hoist/src/main.rs
  lib/si-pkg/src/pkg/schema.rs
Labels: A-ci, A-si-pkg

#5665 fix(auth-api): Prevent sending multiple transactional emails when removing a user
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5666 fix(auth-api): Prevent an owner being removed from the workspace by the API
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#5668 fix(auth-api): More elegant solution for removing a user from a workspace
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#5667 fix(dal): Don't error when finding Attribute Values for components that are being deleted
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component/delete.rs
Labels: A-dal

#5670 fix(hoist): use right branch for /diff on PR
  .github/workflows/asset-compare.yml
  .github/workflows/asset-push.yml
Labels: A-ci

#5671 fix(web) - UI fixes to AttributesPanel, bug 784
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
Labels: A-web

#5659 feat: add a `SIGQUIT` listener that writes a Tokio tasks report file
  .cargo/config.toml
  .envrc
  Cargo.lock
  Cargo.toml
  flake.nix
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  lib/telemetry-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/tokio/fixups.toml
  toolchains/BUCK
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5673 feat(sdf): Add inferred connections to incomingConnections in management funcs
  lib/dal-test/src/expected.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/socket/debug.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5675 chore(sdf): Give Schema::get_by_id/default_variant_id the good name
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/change_set.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/schema/view.rs
  lib/dal/tests/integration_test/attribute/prototype.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/node_weight/schema_variant.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/dal/tests/integration_test/prop.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/unlock_and_edit_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/sdf-server/src/service/v2/variant/create_unlocked_copy.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-sdf, A-dal, A-dal-test

#5680 chore(dal): User/Workspace::get_by_pk_or_error -> get_by_pk
  lib/dal/src/actor_view.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/history_event.rs
  lib/dal/src/key_pair.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/standard_model.rs
  lib/dal/src/user.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/tests/integration_test/resource_metadata.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/dal/tests/integration_test/workspace.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/approval_process.rs
  lib/sdf-server/src/service/module/import_workspace_vote.rs
  lib/sdf-server/src/service/session.rs
  lib/sdf-server/src/service/session/auth_connect.rs
  lib/sdf-server/src/service/session/restore_authentication.rs
  lib/sdf-server/src/service/v2/admin/set_concurrency_limit.rs
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/sdf-server/src/service/v2/module/builtins.rs
  lib/sdf-server/src/service/v2/workspace.rs
  lib/sdf-server/src/service/v2/workspace/install_workspace.rs
Labels: A-sdf, A-dal, A-rebaser

#5677 feat: add optional support for tokio-console in all Rust services
  Cargo.lock
  Cargo.toml
  bin/cyclone/src/args.rs
  bin/cyclone/src/main.rs
  bin/forklift/src/args.rs
  bin/forklift/src/main.rs
  bin/module-index/src/args.rs
  bin/module-index/src/main.rs
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/rebaser/src/args.rs
  bin/rebaser/src/main.rs
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  flake.nix
  lib/telemetry-application-rs/BUCK
  lib/telemetry-application-rs/Cargo.toml
  lib/telemetry-application-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/console-subscriber/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5685 build(deps): upgrade tokio-vsock from 0.4.0 to 0.7.0
  Cargo.lock
  Cargo.toml
  lib/cyclone-server/src/vsock.rs
  lib/si-firecracker/src/stream.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5689 chore(cyclone): add a named prefix to all cyclone server domain sockets
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
Labels: A-si-pool-noodle

#5698 link-update
  app/docs/src/tutorials/getting-started.md
Labels: A-docs, A-auth

#5699 Allow firecracker creation skip and fix config mismatch in veritech
  bin/veritech/src/args.rs
  component/init/configs/service.toml
  lib/si-firecracker/src/errors.rs
  lib/si-firecracker/src/firecracker.rs
  lib/si-pool-noodle/src/instance/cyclone/local_uds.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech, A-si-pool-noodle

#5705 fix(sdf): Ensure that only workspace approvers can change Slack Webhook URL
  app/web/src/components/WorkspaceIntegrationsModal.vue
  app/web/src/store/workspaces.store.ts
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/src/service/v2/integrations.rs
  lib/sdf-server/src/service/v2/integrations/update_integration.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-sdf, A-web

#5711 feat(web): Initial floating connections menu
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#5714 feat(dal,web): Enable users to select which connections they want to create if Autoconnect detects too many options
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/AutoconnectMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/components.store.ts
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/autoconnect.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/autoconnect.rs
  lib/sdf-server/src/service/component/override_with_connection.rs
  lib/sdf-server/src/service/component/restore_default_function.rs
  lib/sdf-server/src/service/diagram/create_connection.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal, A-web

#5719 hotfix(dal): Return management sockets for components
  lib/dal/src/component.rs
Labels: A-dal

#5720 chore(ci): Temp prevent veritech from deployment
  .github/workflows/deploy-stack.yml
Labels: A-ci

#5688 feat: remove "managed assets" list from mgmt funcs
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/ManagementDetails.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  lib/dal-test/src/expected.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/cached_module.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/diagram/create_component.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
  lib/sdf-server/src/service/v2/variant/list_variants.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/si-frontend-types-rs/src/fs.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-pkg/bindings/ManagementFuncSpec.ts
  lib/si-pkg/pkg-complex.json
  lib/si-pkg/src/node/management_func.rs
  lib/si-pkg/src/pkg/management_func.rs
  lib/si-pkg/src/spec/management_func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-si-pkg

#5723 fix: when running via systemd, ensure we clean up lingering jails
  bin/veritech/veritech.service
Labels: A-veritech

#5718 Disable tokio watchdog in si-service apps
  Cargo.lock
  bin/cyclone/src/main.rs
  bin/forklift/src/main.rs
  bin/pinga/src/main.rs
  bin/rebaser/src/main.rs
  bin/sdf/src/main.rs
  bin/veritech/src/main.rs
  lib/si-service/BUCK
  lib/si-service/Cargo.toml
  lib/si-service/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5716 Remove force reconnect from heartbeat app
  bin/veritech/src/args.rs
  lib/veritech-server/src/config.rs
  lib/veritech-server/src/heartbeat.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech

#5717 Remove publisher in progress metric
  lib/veritech-server/src/publisher.rs
  lib/veritech-server/src/server.rs
Labels: A-veritech

#5695 chore(web, sdf): Cleanup after fine-grained access control release
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Notifications.vue
  app/web/src/store/change_sets.store.ts
  bin/si-gen-cloud-control/src/pipeline-steps/addDefaultPropsAndSockets.ts
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
  lib/sdf-server/src/service/v2/change_set/reject.rs
Labels: A-sdf, A-web

#5690 chore(ci): Add workflow dispatch for jsr publish
  .github/workflows/jsr-publish.yml
Labels: A-ci

#5726 chore(roadmap): Add the fine-grained access control update to the roadmap
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5725 fix(dal): Calculate Action Dependencies using DFS to capture transitive dependencies between components
  lib/dal/src/action/dependency_graph.rs
  lib/dal/tests/integration_test/action.rs
Labels: A-dal

#5727 aaron: eng 2968 update the ecs how to with new aws assets
  app/docs/src/how-tos/aws-ecs.md
  app/docs/src/how-tos/aws-ecs/apply.png
  app/docs/src/how-tos/aws-ecs/aws-ecs-complete.png
  app/docs/src/how-tos/aws-ecs/create-container-definition.png
  app/docs/src/how-tos/aws-ecs/create-docker-image.png
  app/docs/src/how-tos/aws-ecs/create-ec2-security-group.png
  app/docs/src/how-tos/aws-ecs/create-ecs-capacity-provider-assoc.png
  app/docs/src/how-tos/aws-ecs/create-ecs-capacity-provider-strategy.png
  app/docs/src/how-tos/aws-ecs/create-ecs-cluster.png
  app/docs/src/how-tos/aws-ecs/create-ecs-lb-config.png
  app/docs/src/how-tos/aws-ecs/create-ecs-service.png
  app/docs/src/how-tos/aws-ecs/create-iam-policy-statement.png
  app/docs/src/how-tos/aws-ecs/create-iam-role.png
  app/docs/src/how-tos/aws-ecs/create-iam-service-principal.png
  app/docs/src/how-tos/aws-ecs/create-ingress-rule-for-application.png
  app/docs/src/how-tos/aws-ecs/create-listener-default-action.png
  app/docs/src/how-tos/aws-ecs/create-listener.png
  app/docs/src/how-tos/aws-ecs/create-loadbalancer.png
  app/docs/src/how-tos/aws-ecs/create-port-mapping.png
  app/docs/src/how-tos/aws-ecs/create-security-group-for-application.png
  app/docs/src/how-tos/aws-ecs/create-security-group-ingress.png
  app/docs/src/how-tos/aws-ecs/create-target-group.png
  app/docs/src/how-tos/aws-ecs/create-task-definition.png
Labels: A-docs, A-auth

#5728 fix(sdf): Catch Node Not Found error on action cancel
  lib/sdf-server/src/service/action.rs
Labels: A-sdf

#5730 chore(ci): Re-enable veritech as part of deploy
  .github/workflows/deploy-stack.yml
Labels: A-ci

#5731 chore: Ulid -> SchemaId
  Cargo.lock
  bin/hoist/src/main.rs
  lib/dal-test/src/test_exclusive_schemas/category_pirate.rs
  lib/dal-test/src/test_exclusive_schemas/category_validated.rs
  lib/dal-test/src/test_exclusive_schemas/dummy_secret.rs
  lib/dal-test/src/test_exclusive_schemas/fake_butane.rs
  lib/dal-test/src/test_exclusive_schemas/fake_docker_image.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/builtins.rs
  lib/dal/src/cached_module.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/module-index-client/BUCK
  lib/module-index-client/Cargo.toml
  lib/module-index-client/src/lib.rs
  lib/module-index-types/BUCK
  lib/module-index-types/Cargo.toml
  lib/module-index-types/src/lib.rs
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/install_module.rs
  lib/sdf-server/src/service/module/upgrade_modules.rs
  lib/sdf-server/src/service/v2/module/module_by_id.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5701 feat: si-split-graph
  Cargo.lock
  Cargo.toml
  lib/dal/src/approval_requirement.rs
  lib/dal/src/entity_kind.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/detector.rs
  lib/dal/src/workspace_snapshot/graph/traits/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/traits/approval_requirement.rs
  lib/si-events-rs/src/workspace_snapshot.rs
  lib/si-split-graph/BUCK
  lib/si-split-graph/Cargo.toml
  lib/si-split-graph/src/lib.rs
  lib/si-split-graph/src/opt_zip.rs
  lib/si-split-graph/src/subgraph.rs
  lib/si-split-graph/src/subgraph_address.rs
  lib/si-split-graph/src/tests/mod.rs
  lib/si-split-graph/src/updates.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5732 Bypass approvals for workspaces with one user
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/store/auth.store.ts
  app/web/src/store/change_sets.store.ts
  lib/dal/src/change_set.rs
  lib/dal/src/user.rs
  lib/sdf-server/src/dal_wrapper.rs
  lib/sdf-server/src/dal_wrapper/change_set.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
Labels: A-sdf, A-dal, A-web

#5734 Revert "chore: Ulid -> SchemaId"
  Cargo.lock
  bin/hoist/src/main.rs
  lib/dal-test/src/test_exclusive_schemas/category_pirate.rs
  lib/dal-test/src/test_exclusive_schemas/category_validated.rs
  lib/dal-test/src/test_exclusive_schemas/dummy_secret.rs
  lib/dal-test/src/test_exclusive_schemas/fake_butane.rs
  lib/dal-test/src/test_exclusive_schemas/fake_docker_image.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/builtins.rs
  lib/dal/src/cached_module.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/module.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/module-index-client/BUCK
  lib/module-index-client/Cargo.toml
  lib/module-index-client/src/lib.rs
  lib/module-index-types/BUCK
  lib/module-index-types/Cargo.toml
  lib/module-index-types/src/lib.rs
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/install_module.rs
  lib/sdf-server/src/service/module/upgrade_modules.rs
  lib/sdf-server/src/service/v2/module/module_by_id.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5733 Sanitize attribute func test options
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/FuncEditor/FuncTestSelector.vue
Labels: A-web

#5737 feat(web): Filter out connections on connections menu
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
Labels: A-web

#5745 chore(build): Cargo lockfile update
  Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5744 fix(sdf): Ensure that failure to successfuly post to webhook doesn't stop the API request
  lib/sdf-server/src/service/v2/change_set.rs
Labels: A-sdf

#5742 patch(docs): update aws ha ec2 how to guide with new assets
  app/docs/src/how-tos/aws-ha-ec2.md
  app/docs/src/how-tos/aws-ha-ec2/apply.png
  app/docs/src/how-tos/aws-ha-ec2/aws-ha-ec2-complete.png
  app/docs/src/how-tos/aws-ha-ec2/create-ami.png
  app/docs/src/how-tos/aws-ha-ec2/create-application-frame.png
  app/docs/src/how-tos/aws-ha-ec2/create-application-ingress.png
  app/docs/src/how-tos/aws-ha-ec2/create-asg.png
  app/docs/src/how-tos/aws-ha-ec2/create-iam-instance.png
  app/docs/src/how-tos/aws-ha-ec2/create-iam-policy.png
  app/docs/src/how-tos/aws-ha-ec2/create-iam-role.png
  app/docs/src/how-tos/aws-ha-ec2/create-key-pair.png
  app/docs/src/how-tos/aws-ha-ec2/create-launch-template.png
  app/docs/src/how-tos/aws-ha-ec2/create-listener-default-action.png
  app/docs/src/how-tos/aws-ha-ec2/create-listener.png
  app/docs/src/how-tos/aws-ha-ec2/create-loadbalancer.png
  app/docs/src/how-tos/aws-ha-ec2/create-security-group-application.png
  app/docs/src/how-tos/aws-ha-ec2/create-security-group-ingress.png
  app/docs/src/how-tos/aws-ha-ec2/create-security-group.png
  app/docs/src/how-tos/aws-ha-ec2/create-service-principal.png
  app/docs/src/how-tos/aws-ha-ec2/create-target-group.png
  app/docs/src/how-tos/aws-vpc.md
Labels: A-ci, A-docs, A-auth

#5747 Add code body to info span for func runner
  lib/dal/src/func/runner.rs
Labels: A-dal

#5749 feat(web): Show socket paths on connections menu
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5753 chore: add content type deserialization test
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant/root_prop/component_type.rs
  lib/dal/src/socket.rs
  lib/dal/src/validation.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/serialization-test-content-store-data-2025-03-25.bin
Labels: A-dal

#5754 docs(explainer): Adding a section for enabling slack webhooks
  app/docs/src/.vitepress/config.ts
  app/docs/src/explanation/enable-slack-webhook.md
  app/docs/src/explanation/enable-slack-webhook/workspace-integrations.png
  app/docs/src/explanation/index.md
Labels: A-docs, A-auth

#5757 fix(clover): add missing api key for asset update
  .github/workflows/asset-update.yml
Labels: A-ci

#5741 feat(sdf): Include socket count for uninstalled modules in variantSocketMap
  lib/dal/src/cached_module.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/migrations/U3700__scoped_cached_modules.sql
  lib/sdf-server/src/migrations.rs
  lib/si-pkg/src/pkg/schema.rs
  lib/si-pkg/src/pkg/variant.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5760 Cypress isnt working with vite config changes, using older config values
  app/web/cypress.config.ts
  app/web/vite.cypress.ts
Labels: A-web

#5761 refactor(docs): Update ECR ECS Howto guide
  app/docs/src/how-tos/aws-ecr-ecs.md
  app/docs/src/how-tos/aws-ecr-ecs/apply.png
  app/docs/src/how-tos/aws-ecr-ecs/complete.png
  app/docs/src/how-tos/aws-ecr-ecs/create-container-definition.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ec2-security-group.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecr-repository-policy.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecr-repository.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-capacity-provider-assoc.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-capacity-provider-strategy.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-cluster.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-iam-policy-statement.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-lb-config.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ecs-service.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-condition-operator.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-policy-statement.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-role-policy.png
  app/docs/src/how-tos/aws-ecr-ecs/create-iam-role.png
  app/docs/src/how-tos/aws-ecr-ecs/create-ingress-rule-for-application.png
  app/docs/src/how-tos/aws-ecr-ecs/create-listener-default-action.png
  app/docs/src/how-tos/aws-ecr-ecs/create-listener.png
  app/docs/src/how-tos/aws-ecr-ecs/create-loadbalancer.png
  app/docs/src/how-tos/aws-ecr-ecs/create-port-mapping.png
  app/docs/src/how-tos/aws-ecr-ecs/create-security-group-for-application.png
  app/docs/src/how-tos/aws-ecr-ecs/create-security-group-ingress.png
  app/docs/src/how-tos/aws-ecr-ecs/create-target-group.png
  app/docs/src/how-tos/aws-ecr-ecs/create-task-definition.png
  app/docs/src/how-tos/aws-ecs.md
  app/docs/src/how-tos/aws-ha-ec2.md
Labels: A-docs, A-auth

#5750 chore: WorkspaceSnapshotSelector enum for split-graph integration
  lib/dal/src/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/selector/mod.rs
  lib/sdf-server/src/dal_wrapper/change_set.rs
Labels: A-sdf, A-dal

#5646 feat: pull ci-base from ecr
  .ci/docker-compose.test-integration.yml
  .ci/generate-creds-from-iam-role.sh
Labels: A-ci

#5764 feat(web): Add fuzzy search to floating connections menu
  app/web/package.json
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/store/components.store.ts
  pnpm-lock.yaml
Labels: A-web

#5692 feat(web, sdf): Add ability to convert a frame to a view
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/utils/childrenByBoundingBox.ts
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/convert_to_view.rs
Labels: A-sdf, A-web

#5766 feat(web): Add codeviewer to connections menu
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
Labels: A-web

#5767 Remove code plaintext span metadata
  lib/dal/src/func/runner.rs
Labels: A-dal

#5768 Prevent: one million toasts for maintenance or downtime mode
  app/web/src/store/apis.web.ts
Labels: A-web

#5769 fix(sdf): Move ts_type() to slow_rt
  lib/dal/src/prop.rs
  lib/dal/src/workspace_snapshot/traits/prop.rs
Labels: A-dal

#5721 feat(web) - simpler sockets UI with just one input and one output socket
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5774 chore(deps): Update deps for auth-portal
  app/auth-portal/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#5778 chore(deps): Remove unused tar-fs 2.1.1
  pnpm-lock.yaml
Labels: vulnerability-fix

#5781 chore: tone down some spans bumped by PR-5642
  lib/dal/src/func/runner.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
Labels: A-dal, A-si-layer-cache

#5776 fix(dal): make secrets list fast
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/secret/definition_view.rs
  lib/dal/src/secret/view.rs
  lib/sdf-server/src/service/secret.rs
  lib/sdf-server/src/service/secret/create_secret.rs
  lib/sdf-server/src/service/secret/delete_secret.rs
  lib/sdf-server/src/service/secret/list_secrets.rs
  lib/sdf-server/src/service/secret/update_secret.rs
Labels: A-sdf, A-dal

#5784 Put the whole bifrost behind the feature flag
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#5773 Update index if reference kinds do not match
  lib/dal/src/materialized_view.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/si-frontend-types-rs/src/reference.rs
Labels: A-sdf, A-dal

#5777 Asset List on Modeling Diagram now uses the bifrost
  app/web/src/components/AssetPalette.vue
  app/web/src/store/components.store.ts
  lib/dal/src/materialized_view.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/si-frontend-types-rs/src/checksum.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/reference.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-frontend-types-rs/src/view.rs
Labels: A-dal, A-web

#5782 fix(sdf): Only enqueue update functions if the values have changed
  lib/sdf-server/src/service/component/update_property_editor_value.rs
Labels: A-sdf
