Repository systeminit/si, pull requests merged in 2025-07, with the labels that each got.

#6548 Fix: bust single func run too, get CodeViewer to behave
  app/web/src/components/CodeViewer.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6549 Fix: possible connections invalidations
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6550 fix(web): fix reload of multiple tabs
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6551 Create MV listing all ComponentIds involved in unfinished DVU
  lib/dal-materialized-views/src/dependent_value_component_list.rs
  lib/dal-materialized-views/src/lib.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/dependent_values.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
Labels: A-edda

#6554 feat(web): Ensuring we store the viewId in the queryString
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6553 feat(cypress): add data-testid to tiles
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
Labels: A-web

#6560 Fix: push ComponentInList to correct view
  app/web/src/workers/webworker.ts
Labels: A-web

#6527 feat(sdf): accept object requests on web socket & stream responses
  Cargo.lock
  lib/sdf-core/BUCK
  lib/sdf-core/Cargo.toml
  lib/sdf-core/src/index.rs
  lib/sdf-core/src/lib.rs
  lib/sdf-core/src/nats_multiplexer.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
  lib/sdf-v1-routes-ws/src/bifrost/mod.rs
  lib/sdf-v1-routes-ws/src/bifrost/proto.rs
  lib/si-frontend-types-rs/src/index.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6562 ENG-3098: individual AVs can be removed via user & system operations, stay up to date
  app/web/src/workers/webworker.ts
Labels: A-web

#6564 feat(web): replace delayed loader with an animated skeleton
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/skeletons/DelayedSkeleton.vue
  app/web/src/newhotness/skeletons/ExploreGridSkeleton.vue
  app/web/src/newhotness/skeletons/GridTileSkeleton.vue
Labels: A-web

#6568 fix(web): allow direct linking to map
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6567 feat(web) - a few more UI improvements
  app/web/src/newhotness/CodeEditorModal.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/SecretInput.vue
  app/web/src/newhotness/skeletons/ExploreGridSkeleton.vue
Labels: A-web

#6566 Fix: when performing a no-op patch, we need the atom document for postProcessing
  app/web/src/workers/webworker.ts
Labels: A-web

#6572 feat(web): skeleton for map view
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/skeletons/DelayedSkeleton.vue
  app/web/src/newhotness/skeletons/ExploreGridSkeleton.vue
  app/web/src/newhotness/skeletons/ExploreMapSkeleton.vue
Labels: A-web

#6571 Add system status in the new UI
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ApprovalFlowModal.vue
  app/web/src/newhotness/StatusPanel.vue
  app/web/src/newhotness/StatusPanelIcon.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/logic_composables/change_set.ts
  app/web/src/newhotness/logic_composables/status.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/workers/types/entity_kind_types.ts
  lib/vue-lib/src/design-system/icons/Icon.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6574 fix(web): get base change set id correctly
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6575 feat: Implement the lobby with messages
  app/web/src/newhotness/Lobby.vue
  app/web/src/newhotness/LobbyTerminalOutputLine.vue
  app/web/src/newhotness/Workspace.vue
  lib/ts-lib/src/async-sleep.ts
Labels: A-web

#6577 fix(web): Default subscriptions for computed values
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6578 Fix: ensure the bust queue is always running after we process data
  app/web/src/workers/mjolnir_queue.ts
Labels: A-web

#6583 chore(edda): demote `edda.compressed_request.from_requests` to debug
  lib/edda-server/src/compressed_request.rs
Labels: A-edda

#6582 chore(dal): demote dependency graph calculating orphaned spans
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
Labels: A-dal

#6586 fix(luminork): Block applying HEAD change set
  lib/luminork-server/src/service/v1/change_sets/force_apply.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
  lib/luminork-server/src/service/v1/change_sets/request_approval.rs
Labels: A-luminork

#6587 fix: Fail on self rebases everywhere
  lib/dal/src/change_set.rs
Labels: A-dal

#6588 feat(web): Add ability to group by SchemaName
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6590 fix(web): Remove PropTree from AddComponentModal
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web

#6591 feat: Add spinner to the lobby terminal
  app/web/src/newhotness/Lobby.vue
  app/web/src/newhotness/LobbyTerminalOutputLine.vue
Labels: A-web

#6581 feat(web) - better controls for newhotness AttributePanel
  app/web/src/newhotness/CodeEditorModal.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  lib/vue-lib/src/design-system/icons/custom-icons/code-pop-right.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6592 feat(web): Allow searching by schema name in grid and map
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
Labels: A-web

#6596 fix: Mask lobby terminal correctly
  app/web/src/newhotness/Lobby.vue
Labels: A-web

#6599 fix(web): Include Cmd + A in short cut modal
  app/web/src/newhotness/ShortcutModal.vue
Labels: A-web

#6600 feat(web): Highlight components on the grid with failed actions
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
Labels: A-web

#6593 feat(web): Add the work to support highlighting
  app/web/src/newhotness/Map.vue
Labels: A-web

#6604 feat(web): Preserve sort group and pinning querystring during navigation
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/util.ts
Labels: A-web

#6606 fix(web): ensure FuncRunDetails timestamps are formatted correctly
  app/web/src/newhotness/FuncRunDetails.vue
Labels: A-web

#6607 First pass at minimizing Vec (re)allocations
  lib/dal-materialized-views/src/action_prototype_view_list.rs
  lib/dal-materialized-views/src/action_view_list.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal-materialized-views/src/mgmt_prototype_view_list.rs
  lib/dal-materialized-views/src/secret.rs
  lib/dal-materialized-views/src/view_component_list.rs
  lib/dal/src/action.rs
  lib/dal/src/change_set.rs
Labels: A-dal

#6608 fix(web): Only show context menu on right click
  app/web/src/newhotness/Map.vue
Labels: A-web

#6614 fix(web): Ensure we can unset prop values
  app/web/src/newhotness/AttributePanel.vue
Labels: A-web

#6613 fix(web): Allow insertion of array items under array items
  app/web/src/api/sdf/dal/component.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/api_composables/component.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/store/components.store.ts
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/value.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
Labels: A-dal, A-web

#6617 fix(sdf): Ensure we send correct data on func run details page
  lib/sdf-server/src/service/v2/func/get_func_run.rs
Labels: A-sdf

#6616 fix(web): Change the duplicate shortcut key
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ShortcutModal.vue
Labels: A-web

#6579 Add management functions to status panel
  app/web/src/newhotness/StatusPanel.vue
  app/web/src/store/realtime/realtime_events.ts
  lib/dal-test/src/helpers/component.rs
  lib/dal/src/context.rs
  lib/dal/src/job/definition/management_func.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/management.rs
  lib/luminork-server/src/service/v1/components/execute_management_function.rs
  lib/sdf-server/src/service/public/management.rs
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-luminork

#6620 fix(web): use interval ms in ChangeSetPanel waitForChangeSetExists
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
Labels: A-web

#6598 chore(edda): drop diff_count from component mv in favor of faster check
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal/src/component.rs
  lib/dal/src/component/delete.rs
  lib/dal/src/component/diff.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/luminork-server/src/service/v1/components/delete_component.rs
  lib/si-frontend-mv-types-rs/src/component.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6621 Update new UI Change Set Applied To Head redirect
  app/web/src/store/change_sets.store.ts
Labels: A-web

#6623 feat(web) - Explore improvements
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ExploreModeTile.vue
  app/web/src/newhotness/layout_components/TabGroupToggle.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-web

#6624 Completed observability pass on the web worker
  app/web/src/workers/mjolnir_queue.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6630 Small QOL watchedForm change
  app/web/src/newhotness/logic_composables/watched_form.ts
Labels: A-web

#6636 fix(web): Couple of fixes for action func run reactivity
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/LatestFuncRunDetails.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
Labels: A-web

#6638 Fix: out of order instantiation
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6637 feat: only run bedrock into PG once, multiple times is not cool
  .github/workflows/e2e-validation.yml
  app/web/cypress.config.ts
  app/web/cypress/e2e/get-tiles.cy.ts
Labels: A-ci, A-web

#6641 feat(web) - improved empty states, UI fixes
  app/web/src/components/SecretCard.vue
  app/web/src/newhotness/ActionQueueList.vue
  app/web/src/newhotness/EmptyState.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
Labels: A-web

#6639 feat: Search for components by attribute
  app/web/package.json
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  pnpm-lock.yaml
Labels: A-web

#6643 feat: Add search query to URL
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6646 feat(web): add hashes to the frontend build
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/pages/Hashes.vue
  app/web/src/router.ts
  app/web/src/vite-env.d.ts
  app/web/vite.config.ts
Labels: A-web

#6650 fix: Attribute search on map works!
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
Labels: A-web

#6649 feat(web): Add a minimap to the map view!
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/MiniMap.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6654 feat(web): Adding a keyboard shortcut to toggle minimap
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/ShortcutModal.vue
Labels: A-web

#6655 feat(web) - better add component modal newhotness
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/MarkdownRender.vue
  app/web/src/newhotness/layout_components/FilterTile.vue
  app/web/src/newhotness/logic_composables/fzf.ts
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/utils/color_utils.ts
Labels: A-web

#6658 fix(dal): When resetting an attribute value to a default prototype, first clear the existing value
  lib/dal/src/attribute/value.rs
  lib/dal/tests/integration_test/property_editor.rs
Labels: A-dal

#6659 feat(web): Allow erasing a deleted component
  app/web/src/newhotness/ComponentContextMenu.vue
Labels: A-web

#6662 feat: Support boolean queries and exact matches
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/logic_composables/search.ts
Labels: A-web

#6664 feat: clear down old machines, stablise tiles test
  .ci/delete-stacks.py
  .github/workflows/e2e-validation.yml
  .github/workflows/test-on-main.yml
  app/web/cypress.config.ts
  app/web/cypress/ux/tile-view/get-tiles.cy.ts
Labels: A-ci, A-web

#6663 feat: Allow search with multiple values for a same attribute at once
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/logic_composables/search.ts
Labels: A-web

#6667 feat(web) - newhotness read only toDelete ComponentAttributes page
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ManagementPanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/SecretInput.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#6665 feat(web): Changing new UX feature flag
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#6669 fix: Update vue to 3.5.13 so we can use the vue-use library
  app/auth-portal/package.json
  app/web/package.json
  app/web/src/newhotness/Explore.vue
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web

#6670 fix(dal): multiplayer attribute search reactivity
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/logic_composables/search.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6673 feat(web): Add ability to multi-upgrade components
  app/web/src/newhotness/ComponentContextMenu.vue
Labels: A-web

#6677 fix: add query string to webworker urls
  app/web/src/store/realtime/heimdall.ts
  app/web/src/vite-env.d.ts
  app/web/vite.config.ts
Labels: A-web

#6681 feat(web) - adjustments to the AttributePanel newhotness
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
Labels: A-web

#6682 Solidify optimistic AV operation
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/util.ts
Labels: A-web

#6683 fix: Make migrate connections endpoint async (communicates via WsEvent)
  app/web/src/components/AdminDashboard/MigrateConnections.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
  lib/vue-lib/src/design-system/utils/timestamp.ts
Labels: A-sdf, A-dal, A-web

#6686 Add resource values panel
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/ResourceValuesPanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/newhotness/logic_composables/attribute_tree.ts
Labels: A-web

#6688 Don't mount other components if you're in the lobby
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6690 feat(web): Show pending actions for a component on the grid
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
Labels: A-web

#6691 feat(web): Add the ability to filter the func run history panel
  app/web/src/newhotness/FuncRunList.vue
Labels: A-web

#6693 fix(web): Start the Map with mini-map closed on empty workspace
  app/web/src/newhotness/Map.vue
Labels: A-web

#6695 fix(web): Hide go to component button when component doesn't exist
  app/web/src/newhotness/FuncRunDetails.vue
Labels: A-web

#6692 fix: don't redirect away from new experience until feature flags are loaded
  app/web/src/components/ComponentDetails.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#6696 fix: Disallow changes to child values under subscriptions
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/attributes.rs
Labels: A-dal

#6698 fix(web): Ensure no confusion around array and map subscriptions
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
Labels: A-web

#6700 fix: Show "Use Old UI" if you are on the new UI
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
Labels: A-web

#6704 fix(web): Add ability for mouse blur to save the attribute change
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6711 fix(web): Only show proposed actions
  app/web/src/newhotness/ApplyChangeSetButton.vue
Labels: A-web

#6684 feat(web): on cold start, do database operations in bulk
  app/web/package.json
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/StatusPanel.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/webworker.ts
  pnpm-lock.yaml
Labels: A-web

#6709 feat(web,edda): Add RunTemplate management func kind and expose it at the top of the attributes panel
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ManagementFuncCard.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/mgmt_prototype_view_list.rs
  lib/si-frontend-mv-types-rs/src/management.rs
Labels: A-web

#6716 fix(web): ensure we always register the remote before setting it
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6717 feat(web): Be able to group by hasResource on the grid
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6719 feat(web) - style the ComponentDetails page
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ResourceValuesPanel.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-web

#6722 feat(web): Allow ArrayItem subscriptions
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  lib/vue-lib/src/design-system/general/IconButton.vue
Labels: A-web

#6727 fix(web): move router above watcher that references it
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6733 chore(deps): Upgrade form-data deps
  pnpm-lock.yaml
Labels: vulnerability-fix

#6730 feat: Retain the Explore page's filter and grouping options everywhere
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/util.ts
Labels: A-web

#6736 fix: Don't run more than once search at a time
  app/web/src/api/sdf/dal/workspace.ts
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/logic_composables/async.ts
  app/web/src/newhotness/logic_composables/context.ts
  app/web/src/newhotness/logic_composables/search.ts
  app/web/src/newhotness/nav/NavbarPanelLeft.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/workspaces.store.ts
  app/web/src/utils/assertunreachable.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6707 fix: Remove old values when migrating subscriptions
  lib/dal-test/src/helpers/component.rs
  lib/dal/examples/snapshot-surfer/main.rs
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/attributes.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
Labels: A-dal, A-dal-test

#6741 chore(deps): Removing old version of form-data 2.3.3
  pnpm-lock.yaml
Labels: vulnerability-fix

#6742 chore(deps): Cleanup old versions of form-data
  pnpm-lock.yaml
Labels: vulnerability-fix

#6744 Fix: erroneous redirect to HEAD
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6743 fix(web): First small turn of the Component Detaills right hand panel
  app/web/src/newhotness/ComponentDetails.vue
Labels: A-web

#6748 fix(web): ensure index exists before insertAtomMTM calls
  app/web/src/workers/webworker.ts
Labels: A-web

#6747 fix(web): TanStack Query keys need to be reactive
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ManagementPanel.vue
Labels: A-web

#6749 Enable admins to trigger migrations and snapshot validations
  app/web/src/store/admin.store.ts
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
  lib/sdf-server/src/service/v2/admin/validate_snapshot.rs
  lib/sdf-server/src/service/v2/change_set.rs
Labels: A-sdf, A-web

#6751 feat(web): Add an ability to visualize connections from a component page
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
Labels: A-web

#6739 fix: remove pull-through cache
  .ci/docker-compose.test-integration.yml
  .ci/generate-creds-from-iam-role.sh
Labels: A-ci

#6753 fix(web): handle filteredComponents.value === undefined
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6745 feat: updated template generation
  Cargo.lock
  Cargo.toml
  bin/lang-js/src/bundle.ts
  bin/lang-js/src/sandbox/template.ts
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/ts_types.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/management/generator.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
  lib/si-generate-template/BUCK
  lib/si-generate-template/Cargo.toml
  lib/si-generate-template/askama.toml
  lib/si-generate-template/src/asset_schema.rs
  lib/si-generate-template/src/lib.rs
  lib/si-generate-template/src/run_template_mgmt_func.rs
  lib/si-generate-template/templates/asset_schema.ts
  lib/si-generate-template/templates/run_template_mgmt_func.ts
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/askama/fixups.toml
  third-party/rust/fixups/basic-toml/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6756 feat: Clean up migration output
  app/web/src/components/AdminDashboard/MigrateConnections.vue
  app/web/src/store/admin.store.ts
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/static_value.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/func.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
  lib/sdf-server/src/service/v2/fs.rs
Labels: A-sdf, A-dal, A-web

#6720 fix(web): force leader election, restart queries if leader changed mid query
  app/web/package.json
  app/web/src/newhotness/Workspace.vue
  app/web/src/pages/Hashes.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  pnpm-lock.yaml
Labels: A-web

#6760 feat(web): Redesign the component connections panel
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  lib/vue-lib/src/design-system/icons/custom-icons/incoming-connection.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6762 fix(web): Ensure multi-select actions work on the map
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/skeletons/ExploreMapSkeleton.vue
Labels: A-web

#6764 fix: migration: show unmigrateable connections first
  app/web/src/components/AdminDashboard/MigrateConnections.vue
Labels: A-web

#6734 Overhaul management function UX and special case funcs
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/ManagementFuncCard.vue
  app/web/src/newhotness/api_composables/func_run.ts
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/api_composables/management_func_job_state.ts
  app/web/src/newhotness/api_composables/si_id.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ErrorBanner.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/logic_composables/management.ts
  lib/dal/src/job/definition/management_func.rs
  lib/dal/tests/integration_test/management.rs
  lib/luminork-server/src/service/v1/components/execute_management_function.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/sdf-server/src/service/v2/management/state.rs
  lib/si-db/src/management_func_execution.rs
  lib/si-db/src/migrations/U3911__add_message_to_management_func_job_states.sql
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/management.rs
  lib/vue-lib/src/tailwind/tailwind_customization/colors.json
Labels: A-sdf, A-lang-js, A-dal, A-web, A-luminork

#6769 fix(web): Update the styling of the Grid page + ensure that text is styled correctly
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/mead-hall/ActionCardLayout.vue
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/ActionWidget.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ComponentTileQualificationStatus.vue
  app/web/src/newhotness/DocumentationPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ExploreModeTile.vue
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/ManagementConnectionInput.vue
  app/web/src/newhotness/ManagementConnectionsList.vue
  app/web/src/newhotness/ManagementFuncCard.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/layout_components/GridItemWithLiveHeader.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
Labels: A-web

#6770 feat(web): Style the buttons for taking action on ComponentDetails page
  app/web/src/newhotness/ComponentDetails.vue
Labels: A-web

#6767 fix(dal): When duplicating components, only retain internal management connections, recreate internal subscriptions, and retain external subscriptions
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/connectable_test.rs
  lib/dal/tests/integration_test/component/duplicate.rs
Labels: A-dal

#6768 fix: Maintain attribute order in templates and PUT /attributes
  Cargo.lock
  Cargo.toml
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/component.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/attributes.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
  lib/si-generate-template/BUCK
  lib/si-generate-template/Cargo.toml
  lib/si-generate-template/src/run_template_mgmt_func.rs
  lib/si-generate-template/templates/run_template_mgmt_func.ts
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6780 Move description next to management func name
  app/web/src/newhotness/ManagementFuncCard.vue
  app/web/src/newhotness/layout_components/StatusBox.vue
Labels: A-web

#6784 feat(luminork): Extend list_components to return component name and schema name
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/actions/get_actions.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
Labels: A-luminork

#6725 Refresh actions can run in change sets
  app/web/src/newhotness/ActionWidget.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/logic_composables/component_actions.ts
  app/web/src/store/realtime/heimdall.ts
  lib/dal-materialized-views/src/mgmt_prototype_view_list.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal/src/action.rs
  lib/dal/src/job/definition/management_func.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/action.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#6791 fix(web): Ensure consistency across the chevrons and buttons
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ApprovalFlowModal.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
Labels: A-web

#6795 fix(luminork): Ensure the attributes output is consistent with create and update component
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/models/component_view_v1.py
  generated-sdks/python/system_initiative_api_client/models/create_component_v1_request.py
  generated-sdks/python/system_initiative_api_client/models/update_component_v1_request.py
  generated-sdks/python/test/test_component_view_v1.py
  generated-sdks/python/test/test_create_component_v1_request.py
  generated-sdks/python/test/test_create_component_v1_response.py
  generated-sdks/python/test/test_get_component_v1_response.py
  generated-sdks/python/test/test_manage_component_v1_response.py
  generated-sdks/python/test/test_update_component_v1_request.py
  generated-sdks/python/test/test_update_component_v1_response.py
  generated-sdks/typescript/api.ts
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
Labels: A-docs, A-auth, A-luminork

#6796 fix(web): No action links on the approval modal
  app/web/src/newhotness/ActionCard.vue
Labels: A-web

#6799 fix(web): Ensure that we can restore a component queued for deletion
  app/web/src/newhotness/composables/useComponentDeletion.ts
Labels: A-web

#6809 fix(web): Ensure that action links are clickable under the right circumstances
  app/web/src/newhotness/ActionCard.vue
Labels: A-web

#6811 feat(wb): Hide unconnected when visualizing connections
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6813 chore: Add log message for pool locking in eviction loop
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#6818 fix(web): Prevent readonly field interaction causing a new change set on HEAD
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6822 Make a new changeset when you start a bulk edit on HEAD
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6821 fix(web): Ensure we groupBy diffs correctly
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6815 feat(web): Show the number of hidden components on a search
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
Labels: A-web

#6824 Add secrets/ path in with domain/ for bulk editing
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
Labels: A-web

#6829 fix(web): Ensure styling of Rerun qualification and create change set is consistent
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/nav/ChangeSetPanel.vue
Labels: A-web

#6834 fix(web): Navigate to created change set when moving a component
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6835 feat(web): Update create view button to a consistent button styling
  app/web/src/newhotness/AddViewModal.vue
Labels: A-web

#6819 feat(dal): default subscriptions for scalar values
  lib/dal/src/action.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/default_subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/diagram_object.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/entity_kind.rs
  lib/dal/src/func.rs
  lib/dal/src/module.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/dependent_value_root.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph/correct_transforms.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/attribute_value/subscription/default_subscriptions.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/si-events-rs/src/workspace_snapshot.rs
Labels: A-lang-js, A-dal, A-web

#6836 Fix: Bulk Edit Secrets wasn't getting the right suggestions, was using the wrong component
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
Labels: A-web

#6840 On page load for bulk edit, show the context menu if selected components are in the URL
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Lobby.vue
Labels: A-web

#6841 feat(web): Expose the actual component diffStatus in the Grid
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/composables/useComponentDeletion.ts
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal/src/component/diff.rs
  lib/si-frontend-mv-types-rs/src/component.rs
Labels: A-dal, A-web
