Repository systeminit/si, pull requests merged in 2025-01, with the labels that each got.

#5199 chore(ci): Re-enable daily deploy cron
  .github/workflows/prod-deploy-cron.yml
  .github/workflows/prod-service-restart-cron.disabled
  .github/workflows/prod-test-cron.yml
Labels: A-ci

#5200 Update netlify-cli and local-storage-fallback to eliminate vulnerabilities
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web

#5201 feat: add dependabot on all pull requests
  .github/workflows/dependency-pr-check.yml
Labels: A-ci, A-lang-js, A-auth

#5194 chore(sdf): Migrate module remote spec endpoints to v2 api
  app/web/src/store/module.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/v2/module.rs
  lib/sdf-server/src/service/v2/module/module_by_hash.rs
  lib/sdf-server/src/service/v2/module/module_by_id.rs
Labels: A-sdf, A-web

#5204 feat: mgmt fns can create views, create components in views
  Cargo.lock
  bin/lang-js/src/function_kinds/management.ts
  lib/dal-test/Cargo.toml
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/BUCK
  lib/dal/src/component.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/management/generator.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5203 feat: Add sdf whoami endpoint accessible to user or automation tokens
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/middleware/workspace_permission.rs
  lib/sdf-server/src/routes.rs
  lib/sdf-server/src/service.rs
  lib/sdf-server/src/service/session/restore_authentication.rs
  lib/sdf-server/src/service/whoami.rs
  lib/sdf-server/src/service/ws/crdt.rs
  lib/sdf-server/src/service/ws/workspace_updates.rs
  lib/si-jwt-public-key/src/lib.rs
Labels: A-sdf

#5206 Mint v2 tokens for regular users now that all callers can accept them
  bin/auth-api/src/services/auth.service.ts
Labels: A-auth

#5209 chore(web): Cleanup Views outline feature flag
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5212 feat(web) - moved the pending approvals to the navbar
  app/web/src/App.vue
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/layout/navbar/Collaborators.vue
  app/web/src/components/layout/navbar/Navbar.vue
  app/web/src/components/layout/navbar/NavbarButton.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/components/layout/navbar/Notifications.vue
  app/web/src/main.ts
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/panels/ResizablePanel.vue
Labels: A-web

#5217 Don't send geometry Ids to the frontend
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/v2/view/get_diagram.rs
Labels: A-sdf, A-web

#5214 fix: Allow non owners to see tokens
  app/auth-portal/src/components/AuthTokenListItem.vue
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  bin/auth-api/src/routes/admin.routes.ts
  bin/auth-api/src/routes/auth_token.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5219 feat: add fast-json-patch to lang-js to support cloud control
  bin/lang-js/package.json
  bin/lang-js/src/sandbox.ts
  pnpm-lock.yaml
Labels: A-lang-js

#5213 chore: Add auth-api and auth-portal to Tilt
  bin/auth-api/README.md
  dev/Tiltfile
Labels: A-auth

#5220 Revert "Mint v2 tokens for regular users now that all callers can accept them"
  bin/auth-api/src/services/auth.service.ts
Labels: A-auth

#5221 various truncation fixes!
  app/web/src/components/ApprovalPendingModalCard.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/EditingPill.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
Labels: A-web

#5215 feat: delete components from management functions
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/component.rs
  lib/dal/src/component/delete.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/diagram/delete_component.rs
Labels: A-sdf, A-dal, A-dal-test

#5228 Fix components
  CONTRIBUTORS.md
  app/docs/src/tutorials/creating-components.md
  app/docs/src/tutorials/editing-components-and-contributing.md
  app/docs/src/tutorials/working-with-components.md
Labels: A-docs, A-auth

#5227 Fix: BUG-735 consolidate these two events into one place and add the geo assignment
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5205 Laying more foundation
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal2.vue
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/components/FuncEditor/FuncTest.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/router.ts
  app/web/src/store/actions.store.ts
  app/web/src/store/asset.store.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/management_runs.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/qualifications.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/router.store.ts
  app/web/src/store/secrets.store.ts
  app/web/src/store/status.store.ts
  app/web/src/store/system_status.store.ts
  app/web/src/store/views.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/user.rs
  lib/dal/src/ws_event.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-sdf, A-dal, A-web

#5229 fix(dal): Emit audit event when forcing a change set to be created
  lib/dal/src/change_set.rs
Labels: A-dal

#5223 feat: remove views and components from views in mgmt fns
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5235 Feat: workspace level feature flags
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5236 Fix: restore the ellipsis in the actions history, clean up history for no ellipsis
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/FuncRunTabDropdown.vue
Labels: A-web

#5239 form to create API token now requires an expiration time string
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  app/auth-portal/src/store/authTokens.store.ts
  bin/auth-api/src/routes/auth_token.routes.ts
  lib/vue-lib/package.json
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/forms/helpers/form-validation.ts
  pnpm-lock.yaml
Labels: A-auth

#5240 chore(docs): Updating the roadmap based on current opportunities
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5231 fix(dal): When creating props, include documentation if it exists
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant/root_prop.rs
  lib/dal/tests/integration_test/prop.rs
Labels: A-dal, A-web

#5243 Feat: users can see actions queue'd on HEAD while in a changeset
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/store/actions.store.ts
Labels: A-web

#5244 Tidy: small bit of views cleanup
  app/web/src/store/views.store.ts
Labels: A-web

#5241 chore(web): Cleanup REBAC Feature Flag
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/ApprovalFlowModal2.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/components/layout/navbar/Notifications.vue
  app/web/src/components/toasts/RetryApply.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5246 feat: add waiter to deploy pipeline for grace
  .github/workflows/deploy-stack.yml
Labels: A-ci

#5224 fix: send inferred edge events after component events in mgmt fns
  lib/dal/src/component/frame.rs
  lib/dal/src/management/mod.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-sdf, A-dal

#5248 Upgrade to Diagram View Objects font size stepping
  app/web/src/components/ModelingDiagram/DiagramView.vue
Labels: A-web

#5238 fix(auth-portal): Allow workspace approvers to invite users
  app/auth-portal/src/components/MemberListItem.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  bin/auth-api/src/routes/auth_token.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5250 FuncUpdated should not navigate. Also icon menu button disabling when locked
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/DetailsPanelMenuIcon.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#5251 feat: a fuse filesystem for si
  Cargo.lock
  Cargo.toml
  bin/si-fs/BUCK
  bin/si-fs/Cargo.toml
  bin/si-fs/src/main.rs
  lib/dal/src/change_set.rs
  lib/sdf-server/src/service/change_set/create_change_set.rs
  lib/sdf-server/src/service/v2/variant/list_variants.rs
  lib/si-filesystem/BUCK
  lib/si-filesystem/Cargo.toml
  lib/si-filesystem/src/async_wrapper.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/command.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/change_set.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-layer-cache/tests/integration_test/db/workspace_snapshot.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/fuser/fixups.toml
  third-party/rust/fixups/nix/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5252 Fix: to determine what components are removed, we need all components, not just components in the view
  lib/dal/src/diagram.rs
Labels: A-dal

#5257 Fix: to metadata request_ulid coming over the wire
  app/web/src/store/asset.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5254 feat(auth-api): Deploy new posthog event for emails
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#5253 feat(web) - UI for revoking auth tokens, active and inactive token lists
  app/auth-portal/src/App.vue
  app/auth-portal/src/components/AuthTokenList.vue
  app/auth-portal/src/components/AuthTokenListItem.vue
  app/auth-portal/src/components/MemberListItem.vue
  app/auth-portal/src/main.ts
  app/auth-portal/src/pages/SetupProductionUser.vue
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  app/auth-portal/src/pages/legal/PrintLegalPage.vue
  app/auth-portal/src/store/authTokens.store.ts
  app/web/src/components/ApprovalPendingModalCard.vue
  app/web/src/components/AssetListItem.vue
  app/web/src/components/AssetPalette.vue
  app/web/src/components/DebugNavbar.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ProgressBar.vue
  app/web/src/components/SecretCard.vue
  app/web/src/components/layout/navbar/UserIcon.vue
  app/web/src/main.ts
  app/web/src/pages/HomePage.vue
  bin/auth-api/src/routes/auth_token.routes.ts
  bin/auth-api/src/services/auth_tokens.service.ts
  lib/vue-lib/src/design-system/general/Timestamp.vue
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/utils/floating_vue_utils.ts
Labels: A-web, A-auth

#5249 feat(sdf): Add automation API for "create changeset"
  lib/sdf-server/src/extract/request.rs
  lib/sdf-server/src/extract/services.rs
  lib/sdf-server/src/extract/v1.rs
  lib/sdf-server/src/extract/workspace.rs
  lib/sdf-server/src/middleware/workspace_permission.rs
  lib/sdf-server/src/routes.rs
  lib/sdf-server/src/service.rs
  lib/sdf-server/src/service/public.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/sdf-server/src/service/public/workspaces.rs
  lib/sdf-server/src/service/session/restore_authentication.rs
  lib/sdf-server/src/service/v2.rs
Labels: A-sdf

#5258 feat(auth-api): Adding tracking for API Token Create and Revoke
  bin/auth-api/src/routes/auth_token.routes.ts
Labels: A-auth

#5259 build: alter Docker image multi-arch promotion for certain images
  bin/auth-api/BUCK
  bin/module-index/BUCK
  prelude-si/macros/docker.bzl
Labels: A-auth, A-module-index

#5245 fix(dal,sdf): when finding change sets, ensure it belongs to the relevant workspace
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/tests/integration_test/change_set.rs
Labels: A-sdf, A-dal

#5264 feat: si-fs can list all schemas, locked & unlocked variants
  bin/si-fs/src/main.rs
  lib/dal/src/change_set/status.rs
  lib/sdf-server/src/service/change_set/create_change_set.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-sdf, A-dal

#5256 feat(sdf): Management APIs to update components+trigger management functionsAdd "update component properties" and "trigger management functions"
  lib/sdf-server/src/extract.rs
  lib/sdf-server/src/extract/change_set.rs
  lib/sdf-server/src/service/public.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/sdf-server/src/service/public/components.rs
  lib/sdf-server/src/service/public/management.rs
Labels: A-sdf

#5261 chore(dal): Use ChangeSet::get_by_id() anywhere change set is already required
  lib/dal-test/src/expand_helpers.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/service/change_set.rs
  lib/sdf-server/src/service/change_set/abandon_change_set.rs
  lib/sdf-server/src/service/change_set/abandon_vote.rs
  lib/sdf-server/src/service/change_set/begin_abandon_approval_process.rs
  lib/sdf-server/src/service/change_set/begin_approval_process.rs
  lib/sdf-server/src/service/change_set/merge_vote.rs
  lib/sdf-server/src/service/change_set/rebase_on_base.rs
  lib/sdf-server/src/service/change_set/status_with_base.rs
  lib/sdf-server/src/service/diagram.rs
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/get_snapshot.rs
  lib/sdf-server/src/service/v2/admin/set_snapshot.rs
  lib/sdf-server/src/service/v2/audit_log.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply.rs
  lib/sdf-server/src/service/v2/change_set/approve.rs
  lib/sdf-server/src/service/v2/change_set/cancel_approval_request.rs
  lib/sdf-server/src/service/v2/change_set/force_apply.rs
  lib/sdf-server/src/service/v2/change_set/reject.rs
  lib/sdf-server/src/service/v2/change_set/rename.rs
  lib/sdf-server/src/service/v2/change_set/reopen.rs
  lib/sdf-server/src/service/v2/change_set/request_approval.rs
Labels: A-sdf, A-dal, A-dal-test, A-rebaser

#5266 fix(web) - BUG-729, multiple clicks, recomputing unmounting
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#5268 fix: amend minor typo in dependency for deploy pipeline
  .github/workflows/deploy-stack.yml
Labels: A-ci

#5267 feat(auth-api): Adding an API event to capture when a user role has changed on a workspace
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5263 fix(veritech): When errors occur that don't cause us to retry the function, inform subscribers
  lib/dal/tests/integration_test/func/kill_execution.rs
  lib/veritech-server/src/handlers.rs
Labels: A-veritech, A-dal

#5269 fix: Restore restore_authentication to before last change to resolve 500
  lib/sdf-server/src/service/session/restore_authentication.rs
Labels: A-sdf

#5270 BUG-744: logs show on head
  app/web/src/components/ChangesPanelProposed.vue
Labels: A-web

#5271 BUG-743: adding a message for a selected component that is about to delete on HEAD
  app/web/src/components/ComponentDetails.vue
Labels: A-web

#5272 fix: filter views in updated component event
  app/web/src/store/views.store.ts
Labels: A-web

#5273 fix(auth-api): Small posthog event capture details for transactional emails
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5274 feat(auth-api): Adding workspace owner to tokens posthog events
  bin/auth-api/src/routes/auth_token.routes.ts
Labels: A-auth

#5275 feat: list all funcs in a change set, with their code
  Cargo.lock
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-filesystem/BUCK
  lib/si-filesystem/Cargo.toml
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5278 Remove unused sdf-server tests from old engine
  lib/sdf-server/tests/service_tests/change_set.rs
  lib/sdf-server/tests/service_tests/mod.rs
  lib/sdf-server/tests/service_tests/scenario.rs
  lib/sdf-server/tests/service_tests/scenario/authoring_flow_asset.rs
  lib/sdf-server/tests/service_tests/scenario/fix_flow_deletion.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_aws_key_pair.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_mocked_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_and_fix_flow_whiskers.rs
  lib/sdf-server/tests/service_tests/scenario/model_flow_fedora_coreos_ignition.rs
  lib/sdf-server/tests/service_tests/session.rs
Labels: A-sdf

#5281 fix: api tests need to use latest deno
  .github/workflows/run-api-test.yml
Labels: A-ci, A-lang-js

#5284 BUG-740: attach new func closes modal
  app/web/src/components/AssetFuncAttachModal.vue
Labels: A-web

#5285 fix: increase sleep for flakey test in CI
  lib/si-layer-cache/tests/integration_test/db/workspace_snapshot.rs
Labels: A-si-layer-cache

#5286 Fix: if no view data is received, but component exists on this view, we need to allow it to process
  app/web/src/store/views.store.ts
Labels: A-web

#5283 fix: arm rootfs needs an arm linker
  bin/lang-js/package.json
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/management.ts
  bin/lang-js/src/transpile.ts
  deno.lock
  flake.nix
  lib/cyclone-client/src/client.rs
  lib/veritech-client/tests/integration.rs
Labels: A-veritech, A-cyclone, A-lang-js

#5255 Fix: to determine what mgmt edges are removed, we need all mgmt edges, not just components & edges in the view
  lib/dal/src/diagram.rs
Labels: A-dal

#5287 chore(ci): Adding a weekend service refresh
  .github/workflows/prod-service-restart-cron.yml
  .github/workflows/prod-test-cron.yml
Labels: A-ci

#5288 fix: reduce lockfile update in langjs
  bin/lang-js/src/transpile.ts
Labels: A-lang-js

#5289 Fix(web,sdf,dal): Ensure Intrinsics Panel functions correctly and is reactive to changes
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  lib/dal/src/func/binding/attribute.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
Labels: A-sdf, A-dal, A-web

#5247 chore(sdf, dal): Cleanup old pre-REBAC routes
  app/web/src/store/change_sets.store.ts
  bin/si-api-test/sdf_api_client.ts
  bin/si-api-test/tests/1-create_and_apply_across_change_sets.ts
  bin/si-api-test/tests/6-get_head_changeset.ts
  lib/dal/src/change_set.rs
  lib/dal/src/change_set/event.rs
  lib/sdf-server/src/service/change_set.rs
  lib/sdf-server/src/service/change_set/abandon_vote.rs
  lib/sdf-server/src/service/change_set/apply_change_set.rs
  lib/sdf-server/src/service/change_set/begin_abandon_approval_process.rs
  lib/sdf-server/src/service/change_set/list_open_change_sets.rs
  lib/sdf-server/src/service/change_set/merge_vote.rs
  lib/sdf-server/src/service/change_set/rebase_on_base.rs
  lib/sdf-server/src/service/change_set/status_with_base.rs
Labels: A-sdf, A-dal, A-web

#4707 feat(rebaser): change quiescent shutdown to reduce missed activity
  Cargo.lock
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/handlers.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/serial_dvu_task.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5277 feat(sdf): Add apply/merge_status automation API endpoints
  lib/dal/src/action.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/sdf-server/src/service/public/management.rs
  lib/sdf-server/src/service/public/workspaces.rs
Labels: A-sdf, A-dal

#5295 feat: add buck2 to the generator
  bin/lang-js/BUCK
  bin/si-gen-cloud-control/BUCK
  bin/si-gen-cloud-control/cloud-control-funcs/aws::ec2::vpcScaffold_20250110040411661264418.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlCodeGenUpdate.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlCreate.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlCreateAction.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlDelete.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlEc2VpcFieldMap.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlImport.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlRead.ts
  bin/si-gen-cloud-control/cloud-control-funcs/awsCloudControlResourceupdate.ts
  bin/si-gen-cloud-control/cloud-control-funcs/discover.ts
  bin/si-gen-cloud-control/src/cfDb.ts
  bin/si-gen-cloud-control/test/cfdb_test.ts
  bin/si-gen-cloud-control/test/spec_test.ts
  bin/si-gen-cloud-control/test/test-files/aws-ec2-vpc.json
  bin/si-gen-cloud-control/test/test-files/aws-waf-webacl.json
  deno.json
Labels: A-lang-js

#5296 feat: read asset funcs, reorganize
  .gitignore
  bin/si-fs/src/main.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/async_wrapper.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/command.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5301 feat(dal): Add the ability to set an annotation on a prop in the asset builder that it's create only
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  bin/lang-js/src/asset_builder.ts
  lib/dal-test/src/helpers/property_editor_test_view.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/tests/integration_test/prop.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/sdf-server/src/service/component/get_property_editor_schema.rs
Labels: A-sdf, A-lang-js, A-dal, A-web, A-dal-test

#5300 feat(actions): Add "get component" management function API
  lib/sdf-server/src/service/public/components.rs
Labels: A-sdf

#5302 feat: write to funcs, reorg a bit
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5298 feat: create default action funcs
  bin/si-gen-cloud-control/src/cfDb.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/actions/awsCloudControlCreate.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/actions/awsCloudControlDelete.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/actions/awsCloudControlRefresh.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/actions/awsCloudControlUpdate.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/code-gen/awsCloudControlCodeGenCreate.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/code-gen/awsCloudControlCodeGenUpdate.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/management/awsCloudControlDiscover.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/management/awsCloudControlImport.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/vpc-specific/aws::ec2::vpcScaffold_20250110040411661264418.ts
  bin/si-gen-cloud-control/src/cloud-control-funcs/vpc-specific/awsCloudControlEc2VpcFieldMap.ts
  bin/si-gen-cloud-control/src/commands/generateSiSpecs.ts
  bin/si-gen-cloud-control/src/pipeline-steps/generateActionFuncs.ts
  bin/si-gen-cloud-control/src/pipeline-steps/generateAssetFuncs.ts
  bin/si-gen-cloud-control/src/spec/funcs.ts
  bin/si-gen-cloud-control/src/spec/siFuncs.ts
  bin/si-gen-cloud-control/src/spec/sockets.ts
  bin/si-gen-cloud-control/src/specPipeline.ts
  bin/si-gen-cloud-control/test/test-files/aws-ec2-subnet.json
Labels: A-lang-js

#5305 feat: install schemas by touching INSTALLED
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/async_wrapper.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/command.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
Labels: A-sdf

#5310 feat: edit schema attributes, fix size after writes
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5312 feat: add layout and template helpers to lang-js
  app/web/src/components/ModelingDiagram/diagram_constants.ts
  app/web/src/components/ModelingDiagram/diagram_types.ts
  bin/lang-js/deno.json
  bin/lang-js/src/function_kinds/management.ts
  bin/lang-js/src/sandbox.ts
  bin/lang-js/src/sandbox/diagram_constants.ts
  bin/lang-js/src/sandbox/layout.ts
  bin/lang-js/src/sandbox/template.ts
  bin/lang-js/tests/sandbox/layout_test.ts
  deno.lock
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/management.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/veritech-client/tests/integration.rs
Labels: A-veritech, A-cyclone, A-lang-js, A-dal, A-web

#5311 feat(si-fs): regenerate assets on save of asset def
  lib/dal/src/schema/variant.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
Labels: A-sdf, A-dal

#5314 chore(docs): Update roadmap to include editor integration opportunity
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5279 Add ability to set approvers on views in sdf
  lib/dal/src/approval_requirement.rs
  lib/dal/src/change_set/approval.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/lib.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/approval.rs
  lib/dal/src/workspace_snapshot/graph/detector.rs
  lib/dal/src/workspace_snapshot/graph/tests/detect_changes.rs
  lib/dal/src/workspace_snapshot/graph/traits.rs
  lib/dal/src/workspace_snapshot/graph/traits/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v4/entity_kind.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/approval_requirement_definition_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/approval_requirement_definition_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/traits.rs
  lib/dal/src/workspace_snapshot/traits/approval_requirement.rs
  lib/dal/tests/integration_test/change_set/approval.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/sdf-server/src/dal_wrapper.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/add_individual_approver.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/new.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove_individual_approver.rs
  lib/sdf-server/src/service/v2/change_set/approval_status.rs
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-events-rs/src/workspace_snapshot.rs
  lib/si-frontend-types-rs/src/change_set.rs
  lib/si-id/src/lib.rs
Labels: A-sdf, A-dal

#5313 fix(dal): Ensure we're only updating what is actually impacted by component deletion
  lib/dal-test/src/helpers.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/tests/integration_test/node_weight/component.rs
Labels: A-dal, A-dal-test

#5316 feat: add a deno workspace buck2 rule
  BUCK
  bin/lang-js/BUCK
  prelude-si/deno.bzl
  prelude-si/deno/BUCK
  prelude-si/deno/deno_workspace.py
  prelude-si/deno/toolchain.bzl
  prelude-si/macros.bzl
  prelude-si/nix/nix_omnibus_pkg_build.py
Labels: A-lang-js

#5318 BUG-710: don't throw, reset copying
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
Labels: A-web

#5319 feat(si-fs): unlock functions and schemas with mkdir
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
Labels: A-sdf

#5322 fix: lang-js errors not propogating correctly
  bin/lang-js/src/function.ts
  bin/lang-js/src/worker.js
Labels: A-lang-js

#5326 chore(docs): Update roadmap updated date
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5324 Support rejection in fine grained access control
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-events-rs/src/change_set_approval.rs
Labels: A-sdf, A-web

#5330 Move list workspace users of out the admin routes
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/store/admin.store.ts
  app/web/src/store/auth.store.ts
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/list_workspace_users.rs
  lib/sdf-server/src/service/v2/workspace.rs
  lib/sdf-server/src/service/v2/workspace/export_workspace.rs
  lib/sdf-server/src/service/v2/workspace/install_workspace.rs
  lib/sdf-server/src/service/v2/workspace/list_workspace_users.rs
Labels: A-sdf, A-web

#5327 Support local auth api on module-index
  bin/module-index/src/args.rs
  dev/Tiltfile
  lib/module-index-server/src/app_state.rs
  lib/module-index-server/src/config.rs
  lib/module-index-server/src/routes/list_modules_route.rs
  lib/module-index-server/src/routes/promote_builtin_route.rs
  lib/module-index-server/src/routes/reject_module_route.rs
  lib/module-index-server/src/server.rs
  lib/module-index-server/src/whoami.rs
Labels: A-module-index

#5321 Feat: connections panel now has management sockets
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/store/components.store.ts
  lib/dal/src/diagram.rs
Labels: A-dal, A-web

#5336 Feat: show the mgmt history in the panel where you can run mgmt functions
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/Management/ManagementHistoryCard.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/func_runs.store.ts
  app/web/src/store/management_runs.store.ts
Labels: A-web

#5337 Fix: we have the workspaceId in the URL, dont need to wait & race for the fetch all workspaces call here
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5331 Address component CRUD in views
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/sdf-server/src/dal_wrapper.rs
  lib/sdf-server/src/dal_wrapper/change_set_approval.rs
  lib/sdf-server/src/service/v2/change_set/approval_status.rs
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
Labels: A-sdf, A-dal

#5338 Validate expiration times for tokens
  bin/auth-api/package.json
  bin/auth-api/src/routes/auth_token.routes.ts
  pnpm-lock.yaml
Labels: A-auth

#5325 auth-api: Deny automation tokens the ability to access the auth api
  bin/auth-api/src/custom-state.ts
  bin/auth-api/src/main.ts
  bin/auth-api/src/routes/index.ts
  bin/auth-api/src/routes/user.routes.ts
  bin/auth-api/src/services/auth.service.ts
Labels: A-auth

#5328 Deny SDF access to revoked tokens
  Cargo.lock
  lib/auth-api-client/BUCK
  lib/auth-api-client/Cargo.toml
  lib/auth-api-client/src/client.rs
  lib/auth-api-client/src/types.rs
  lib/module-index-server/src/whoami.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/extract/request.rs
  lib/sdf-server/src/extract/services.rs
  lib/sdf-server/src/middleware/workspace_permission.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/si-id/src/lib.rs
  lib/si-jwt-public-key/BUCK
  lib/si-jwt-public-key/Cargo.toml
  lib/si-jwt-public-key/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5343 feat: update template generator to new pattern
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf

#5344 Make asset reqs behave like view reqs
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/store/change_sets.store.ts
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v4/entity_kind.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-events-rs/src/workspace_snapshot.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5347 fix(web): Drop propertyWidget from prop snippet
  app/web/src/utils/typescriptLinterSnippets.ts
Labels: A-web

#5340 Protect against unforced apply without reqs met
  Cargo.lock
  app/web/src/store/change_sets.store.ts
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/change_set.rs
  lib/sdf-server/src/dal_wrapper.rs
  lib/sdf-server/src/dal_wrapper/change_set.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/apply_v2.rs
  lib/sdf-server/src/service/v2/change_set/approval_status.rs
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/tests/service_tests/change_set_apply.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/sdf-server/tests/service_tests/mod.rs
  lib/sdf-test/BUCK
  lib/sdf-test/Cargo.toml
  lib/sdf-test/src/helpers.rs
  lib/sdf-test/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5348 Execute the kill execution test by killing it
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/kill_execution.rs
Labels: A-dal

#5349 feat(web): Show resource_value props in AttributePanel
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/property_editor/schema.rs
Labels: A-dal, A-web

#5354 Updated Changelog for 1/27/2025 demos
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#5320 feat(si-fs): create funcs except attr and action, edit bindings
  Cargo.lock
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/binding/authentication.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/func/binding/management.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/func/binding/update_binding.rs
  lib/si-filesystem/BUCK
  lib/si-filesystem/Cargo.toml
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5356 feat(si-fs): create schemas with mkdir
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5346 feat(sdf): Record whether automation tokens did an action in audit logs
  Cargo.lock
  app/web/src/components/AuditLogCell.vue
  app/web/src/components/AuditLogHeader.vue
  app/web/src/store/logs.store.ts
  lib/audit-database/src/lib.rs
  lib/audit-database/src/migrations/U0003__authentication_method.sql
  lib/dal/src/audit_logging.rs
  lib/dal/src/context.rs
  lib/dal/tests/integration_test/change_set.rs
  lib/forklift-server/src/server/app/audit_logs/handlers.rs
  lib/sdf-server/src/extract/request.rs
  lib/sdf-server/src/extract/workspace.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/audit_log/list_audit_logs.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/authentication_method.rs
  lib/si-events-rs/src/lib.rs
  lib/si-frontend-types-rs/src/audit_log.rs
  lib/si-jwt-public-key/BUCK
  lib/si-jwt-public-key/Cargo.toml
  lib/si-jwt-public-key/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5359 fix: remove todo
  lib/sdf-server/src/service/v2/fs.rs
Labels: A-sdf

#5362 chore(ci): Temporarily silence cypress tests
  .github/workflows/prod-test-cron.yml
  .github/workflows/tools-test-cron.yml
Labels: A-ci

#5307 fix(sdf, web): Protect against deleting last view
  app/web/src/components/ViewCard.vue
  app/web/src/store/views.store.ts
  lib/dal/src/diagram/view.rs
  lib/dal/src/workspace_snapshot/graph/v4/diagram/view.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/remove_view.rs
Labels: A-sdf, A-dal, A-web

#5364 Fix: copy and paste will now work on non-default views
  lib/sdf-server/src/service/v2/view/paste_component.rs
Labels: A-sdf

#5363 Restore generated Schema Variant Approval Requirements and fix Schema Approval Requirements
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
Labels: A-sdf, A-dal

#5358 feat(si-fs): create action and attribute functions with mkdir
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5367 chore(ci): Remove cypress tests from deploy on main
  .github/workflows/deploy-stack.yml
Labels: A-ci

#5366 feat(sdf): Capture a better error message from mgmt func failures
  app/web/src/store/func/funcs.store.ts
  lib/dal/src/management/prototype.rs
  lib/sdf-server/src/service/public/management.rs
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-dal, A-web

#5368 fix(web): Small turn to expose the prop path in the intrinsics panel
  app/web/src/components/AssetDetailIntrinsicInput.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
Labels: A-web

#5369 fix(forklift?): Allow old generated audit logs to be deserialized
  lib/forklift-server/src/server/app/audit_logs/handlers.rs
  lib/si-events-rs/src/audit_log.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-forklift

#5365 Feat: Show approvers the breakdown of changes
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Notifications.vue
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/dal_wrapper.rs
  lib/sdf-server/src/dal_wrapper/change_set.rs
  lib/sdf-server/src/service/v2/change_set/approve_v2.rs
  lib/sdf-server/tests/service_tests/change_set_apply.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
Labels: A-sdf, A-web

#5371 feat(hoist): reject and promote new modules
  Cargo.lock
  Cargo.toml
  bin/hoist/BUCK
  bin/hoist/Cargo.toml
  bin/hoist/src/main.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5360 fix(dal): Allow attribute values set by dynamic funcs to be set by management funcs if the value is not controlled by an ancestor
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5375 fix(dal, rebaser, pinga): If a change set is abandoned, do not process rebase requests or execute jobs.
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/rebaser-server/src/rebase.rs
  lib/rebaser-server/src/serial_dvu_task.rs
Labels: A-dal, A-rebaser

#5373 Tidying: some less than ideal patterns around diagram outliner and view deletion
  app/web/src/components/DiagramOutline/DiagramOutline.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5376 Fix: we need to replace `currentRoute` in the router store as we push & replace new routes, not wait for "beforeResolve"
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/pages/WorkspaceSinglePage.vue
  app/web/src/store/router.store.ts
  app/web/src/store/views.store.ts
Labels: A-web

#5378 Check to see if Components have been moved to other Views when removing a View
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/tests/integration_test/node_weight/view.rs
Labels: A-dal

#5339 docs: Adding reference docs for the GitHub Action
  app/docs/src/reference/github-action.md
  app/docs/src/reference/index.md
Labels: A-docs, A-auth

#5379 feat: remove tests from the deploy on main cron
  .github/workflows/deploy-stack.yml
  .github/workflows/e2e-validation.yml
  .github/workflows/prod-test-cron.yml
  .github/workflows/run-api-test.yml
  .github/workflows/tools-test-cron.yml
Labels: A-ci

#5381 chore(docs): Adding the GHA integration to the docs side bar
  app/docs/src/.vitepress/config.ts
  app/docs/src/reference/github-action.md
Labels: A-docs, A-auth

#5351 wendy+jacob+nick/eng 2908 users can manage approval requirements
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/api/sdf/dal/views.ts
  app/web/src/components/Actions/ActionsList.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ChangesPanelProposed.vue
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/EmptyStateCard.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/UserSelectMenu.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/ViewDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/components/layout/navbar/Notifications.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  app/web/src/store/workspaces.store.ts
  lib/dal/src/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/traits/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/traits/approval_requirement.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/add_individual_approver.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/list.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/new.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove_individual_approver.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-frontend-types-rs/src/approval_requirement.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
Labels: A-sdf, A-dal, A-web

#5383 feat: make template converge more idempotent
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/function_kinds/management.ts
  bin/lang-js/src/sandbox/layout.ts
  bin/lang-js/src/sandbox/template.ts
  bin/lang-js/tests/sandbox/layout_test.ts
  bin/lang-js/tests/sandbox/template_test.ts
  deno.lock
Labels: A-lang-js

#5386 BUG-768: only show child frames in the diagram outliner when an ancestor is in the view
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
Labels: A-web

#5387 Fix: add a timeout for the template creation toast
  app/web/src/store/components.store.ts
Labels: A-web

#5389 Fix: a better toast fix for never-ending spinner
  app/web/src/store/components.store.ts
Labels: A-web

#5392 feat(clover): Hide assets behind feature flag
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/module.store.ts
  bin/clover/src/commands/generateSiSpecs.ts
  bin/clover/src/pipeline-steps/addSignatureToCategoryName.ts
Labels: A-web

#5382 feat(mgmt): Allow management functions to connect their input to their progeny
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/management.rs
  lib/dal/src/component.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
  lib/veritech-core/src/lib.rs
  lib/veritech-server/src/handlers.rs
Labels: A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal

#5393 Fix: edge not selectable
  app/web/src/store/components.store.ts
Labels: A-web

#5384 feat(module-index, hoist): rate limiting and parallelization
  Cargo.toml
  bin/hoist/src/main.rs
  lib/module-index-server/src/config.rs
  lib/module-index-server/src/server.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5395 Fix: actually publish edge removal ws event
  lib/dal/src/management/mod.rs
Labels: A-dal

#5390 feat: add catch in converge for non-unique si-names of components
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf, A-lang-js

#5400 feat: batch cached module installs
  lib/dal/src/cached_module.rs
  lib/sdf-server/src/migrations.rs
Labels: A-sdf, A-dal

#5399 feat(si-fs): Edit identity bindings, add a readme file
  bin/si-fs/README.md
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5402 fix: remove cached modules if they are not in the builtin list
  lib/dal/src/cached_module.rs
Labels: A-dal
