Repository systeminit/si, pull requests merged in 2025-02, with the labels that each got.

#5401 test(sdf): Add regression tests for incomingConnections
  lib/dal-test/src/expected.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5403 InsetApprovalModal improvements/fixes!
  app/web/src/components/Actions/ActionCard.vue
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/auth.store.ts
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
Labels: A-web

#5398 feat(dal,sdf): Add audit events and posthog tracking to fine-grained-access-control
  lib/dal/src/approval_requirement.rs
  lib/dal/src/entity_kind.rs
  lib/dal/src/lib.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/traits/approval_requirement.rs
  lib/dal/src/workspace_snapshot/graph/v4/approval_requirement.rs
  lib/dal/src/workspace_snapshot/traits/approval_requirement.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/add_individual_approver.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/new.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove.rs
  lib/sdf-server/src/service/v2/approval_requirement_definition/remove_individual_approver.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/workspace_snapshot.rs
Labels: A-sdf, A-dal

#5407 Keep management connections on upgrade
  lib/dal-test/BUCK
  lib/dal-test/src/expected.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/management.rs
Labels: A-dal, A-dal-test

#5412 chore(ci): Temporarily disable cron for deploy
  .github/workflows/prod-deploy-cron.disabled
Labels: A-ci

#5415 fix(web): Ensure that we can search the managed assets panel
  app/web/src/components/FuncEditor/ManagementDetails.vue
Labels: A-web

#5416 fix: use assemble_intrinsics to skip secret props
  lib/dal/src/func/binding/attribute.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
Labels: A-sdf, A-dal

#5418 feat(si-fs): support automation tokens for si-fs
  bin/si-fs/README.md
  lib/sdf-server/src/extract/change_set.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
Labels: A-sdf

#5422 many small UI fixes and improvements!
  app/web/src/App.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/components/InsetApprovalModal.vue
  app/web/src/components/ModelingDiagram/DiagramCursor.vue
  app/web/src/components/UserSelectMenu.vue
  lib/vue-lib/src/design-system/general/Toggle.vue
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
  lib/vue-lib/src/design-system/utils/floating_vue_utils.ts
Labels: A-web

#5425 fix(si-fs): don't fail asset def save if regen fails
  lib/sdf-server/src/service/v2/fs.rs
Labels: A-sdf

#5420 fix(dal): respect socket arity, connection annotations, and other socket metadata when it changes from variant to variant
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-dal, A-si-pkg

#5428 fix(si-fs): asset def editing improvements
  lib/sdf-server/src/service/v2/fs.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
Labels: A-sdf

#5431 NO MORE COLOR PICKER BUGS
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/ModelingView/TemplateSelectionModal.vue
  lib/vue-lib/src/design-system/forms/ColorPicker.vue
  lib/vue-lib/src/design-system/layout/ScrollArea.vue
Labels: A-web

#5432 chore(ci): Re-enable the daily deploy
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#5434 fix(dal): keys in type map must be quoted and escaped
  lib/dal/src/func/binding/management.rs
Labels: A-dal

#5435 fix(pinga): This fixes up metrics so it doesn't look like we've got runaway jobs/unexecuted funcs by inc/dec counters in the right spots
  lib/dal/src/job/definition/compute_validation.rs
  lib/dal/src/job/definition/dependent_values_update.rs
  lib/pinga-server/src/handlers.rs
Labels: A-dal, A-pinga

#5265 use si.error.message instead of error in spans
  lib/cyclone-server/src/execution.rs
  lib/cyclone-server/src/handlers.rs
  lib/naxum/src/middleware/ack/maintain_progress.rs
  lib/naxum/src/serve.rs
  lib/pinga-server/src/handlers.rs
  lib/si-data-pg/src/lib.rs
  lib/si-pool-noodle/src/instance/cyclone/local_http.rs
  lib/veritech-client/src/lib.rs
Labels: A-veritech, A-cyclone, A-si-data-pg, A-pinga, A-si-pool-noodle

#5438 improvements and bug fixes for the AttributesPanel and more!
  app/web/src/components/AttributesPanel/AttributesPanel.vue
  app/web/src/components/AttributesPanel/AttributesPanelCustomInputs.vue
  app/web/src/components/AttributesPanel/SourceIconWithTooltip.vue
  app/web/src/components/AttributesPanel/SourceTooltip.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/CodeViewer.vue
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/components/SiButtonIcon.vue
  lib/vue-lib/src/design-system/forms/ColorPicker.vue
  lib/vue-lib/src/design-system/general/IconButton.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#5423 Add max deliver config to pinga (default is 1)
  bin/pinga/src/args.rs
  lib/dal-test/src/lib.rs
  lib/pinga-server/src/config.rs
  lib/pinga-server/src/handlers.rs
  lib/pinga-server/src/server.rs
  lib/rebaser-server/src/serial_dvu_task.rs
Labels: A-dal-test, A-pinga, A-rebaser

#5430 feat(si-fs): asset def types
  lib/sdf-server/BUCK
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/editor_typescript.txt
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
Labels: A-sdf

#5446 chore(web,sdf):Cleanup the AWS AI Generator work
  app/web/src/components/Ai/GenerateAwsFunctionPanel.vue
  app/web/src/components/AssetEditorHeader.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func/funcs.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/generate_aws_function.rs
Labels: A-sdf, A-web

#5450 fix: bump vite to accommodate CVE-2025-24010
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web, vulnerability-fix

#5437 feat(si-fs): types for all functions!
  Cargo.lock
  Cargo.toml
  bin/si-fs/src/main.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/si-filesystem/BUCK
  lib/si-filesystem/Cargo.toml
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/command.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5455 chore(dal,rebaser): add some tracing to see what's going on when rebases get slower
  lib/dal/src/change_set.rs
  lib/dal/src/context.rs
  lib/dal/src/workspace_snapshot.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-rebaser

#5454 bug: escape bad variable names in template generation
  Cargo.lock
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5458 chore(si-layer-cache): bump tracing for a few other paths
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/db/rebase_batch.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
Labels: A-si-layer-cache

#5457 fix(dal): when creating new attribute values for a new component, only enqueue validations if they're configured for that value
  lib/dal/src/component.rs
Labels: A-dal

#5462 chore(si-layer-cache)- let's see how long it takes to serialize snapshots on write
  lib/dal/src/diagram.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
Labels: A-dal, A-si-layer-cache

#5463 chore(si-layer-cache): drop cas tracing to debug, and get the serialization time out correctly
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
Labels: A-si-layer-cache

#5433 feat: run as subcommand to support imports
  BUCK
  bin/lang-js/BUCK
  bin/lang-js/deno.json
  bin/lang-js/package.json
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/build.ts
  bin/lang-js/src/bundle.ts
  bin/lang-js/src/execution.ts
  bin/lang-js/src/function.ts
  bin/lang-js/src/function_kinds/action_run.ts
  bin/lang-js/src/function_kinds/before.ts
  bin/lang-js/src/function_kinds/joi_validation.ts
  bin/lang-js/src/function_kinds/management.ts
  bin/lang-js/src/function_kinds/resolver_function.ts
  bin/lang-js/src/function_kinds/schema_variant_definition.ts
  bin/lang-js/src/sandbox.ts
  bin/lang-js/src/sandbox/exec.ts
  bin/lang-js/src/sandbox/layout.ts
  bin/lang-js/src/sandbox/package.ts
  bin/lang-js/src/sandbox/requestStorage.ts
  bin/lang-js/src/sandbox/template.ts
  bin/lang-js/src/transpile.ts
  bin/lang-js/src/worker.js
  bin/lang-js/tsconfig.json
  bin/lang-js/typedoc.json
  deno.json
  deno.lock
  flake.nix
  lib/dal/src/func/authoring/ts_types.rs
  prelude-si/deno.bzl
  prelude-si/deno/BUCK
  prelude-si/deno/deno_run.py
  prelude-si/deno/toolchain.bzl
  prelude-si/nix/nix_omnibus_pkg_build.py
Labels: A-lang-js, A-dal

#5466 fix: koa CVE-2025-25200
  bin/auth-api/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#5465 feat(sdf, web): Allow devs to install specs directly
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/module.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/module.rs
  lib/sdf-server/src/service/v2/module/install_from_file.rs
Labels: A-sdf, A-web

#5470 feat: start lang-js with cyclone
  bin/lang-js/src/function.ts
  bin/lang-js/src/index.ts
  bin/lang-js/src/request.ts
  deno.lock
  lib/cyclone-core/src/action_run.rs
  lib/cyclone-core/src/kill_execution.rs
  lib/cyclone-core/src/management.rs
  lib/cyclone-core/src/request.rs
  lib/cyclone-core/src/resolver_function.rs
  lib/cyclone-core/src/schema_variant_definition.rs
  lib/cyclone-core/src/validation.rs
  lib/cyclone-server/src/execution.rs
  lib/cyclone-server/src/handlers.rs
  lib/cyclone-server/src/server.rs
  lib/cyclone-server/src/state.rs
Labels: A-veritech, A-cyclone, A-lang-js

#5451 Move special case funcs to intrinsics
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal-test/src/lib.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/func.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/normalize_to_array.rs
  lib/dal/src/func/backend/resource_payload_to_value.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/resource_payload_to_value.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/node_weight/component.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/list_all_funcs.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/spec/func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-si-pkg

#5475 chore: bump foyer to 14.1
  Cargo.lock
  Cargo.toml
  lib/si-layer-cache/BUCK
  lib/si-layer-cache/Cargo.toml
  lib/si-layer-cache/src/hybrid_cache.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5478 Revert "Move special case funcs to intrinsics"
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal-test/src/lib.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/func.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/normalize_to_array.rs
  lib/dal/src/func/backend/resource_payload_to_value.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/resource_payload_to_value.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/list_all_funcs.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/spec/func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-si-pkg

#5482 toggle the diagram details by pressing Z
  app/web/src/components/DiagramOutline/DiagramOutlineNode.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5481 feat: stream console messages from func executions
  bin/lang-js/src/execution.ts
Labels: A-lang-js

#5483 chore(clover): Add throttling to hoist
  Cargo.lock
  bin/hoist/BUCK
  bin/hoist/Cargo.toml
  bin/hoist/src/main.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5489 fix: netlify-cli patch to accommodate various octokit vulnerabilities…
  app/auth-portal/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#5490 Fix two flake-y tests by waiting for actions
  lib/sdf-server/tests/service_tests/change_set_apply.rs
  lib/sdf-server/tests/service_tests/change_set_approval.rs
Labels: A-sdf

#5492 3 modes for toggling details on diagram
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
Labels: A-web

#5487 fix: console.* calls dropped in sandbox bundle
  bin/lang-js/src/build.ts
  bin/lang-js/src/bundle.ts
Labels: A-lang-js

#5485 Move special case funcs to intrinsics (ROUND TWO)
  app/web/src/api/sdf/dal/func.ts
  app/web/src/components/AssetDetailIntrinsicInput.vue
  app/web/src/components/AssetDetailsPanel.vue
  app/web/src/components/AssetFuncListPanel.vue
  app/web/src/components/FuncEditor/FuncDetails.vue
  app/web/src/store/func/funcs.store.ts
  lib/dal-test/src/lib.rs
  lib/dal-test/src/test_exclusive_schemas/fallout.rs
  lib/dal-test/src/test_exclusive_schemas/katy_perry.rs
  lib/dal-test/src/test_exclusive_schemas/legos/large.rs
  lib/dal-test/src/test_exclusive_schemas/legos/medium.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal-test/src/test_exclusive_schemas/starfield.rs
  lib/dal-test/src/test_exclusive_schemas/swifty.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/builtins/func.rs
  lib/dal/src/func.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/normalize_to_array.rs
  lib/dal/src/func/backend/resource_payload_to_value.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/resource_payload_to_value.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/list_all_funcs.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-pkg/src/pkg.rs
  lib/si-pkg/src/spec/func.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-si-pkg

#5501 Create resource payload intrinsic if not in spec
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/import.rs
Labels: A-dal

#5494 feat(web): Add a link to the schema docs for an asset
  app/web/src/api/sdf/dal/component.ts
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/components/ComponentCard.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  lib/dal/src/component.rs
  lib/si-frontend-types-rs/src/component.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-dal, A-web

#5504 feat(dal): Add support for Float backend type
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/assets/static/editor_typescript.txt
  bin/lang-js/src/asset_builder.ts
  lib/cyclone-core/src/resolver_function.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/array.rs
  lib/dal/src/func/backend/float.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg

#5506 feat(auth-stack): Prevent XSS based attacks on text inputs
  app/auth-portal/src/lib/validations.ts
  app/auth-portal/src/pages/BillingPage.vue
  app/auth-portal/src/pages/ProfilePage.vue
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  bin/auth-api/src/lib/validation-helpers.ts
  bin/auth-api/src/routes/auth_token.routes.ts
  bin/auth-api/src/routes/user.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5512 Revert "feat(dal): Add support for Float backend type"
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/assets/static/editor_typescript.txt
  bin/lang-js/src/asset_builder.ts
  lib/cyclone-core/src/resolver_function.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/array.rs
  lib/dal/src/func/backend/float.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg

#5509 fix: lang-js nodule_modules no longer needed
  bin/lang-js/BUCK
  bin/lang-js/deno.json
  deno.json
  deno.lock
  prelude-si/deno.bzl
  prelude-si/deno/BUCK
  prelude-si/deno/deno_cache.py
  prelude-si/deno/deno_install.py
  prelude-si/deno/toolchain.bzl
Labels: A-lang-js

#5513 feat(dal): Add support for Float backend type
  app/web/src/api/sdf/dal/func.ts
  app/web/src/api/sdf/dal/prop.ts
  app/web/src/assets/static/editor_typescript.txt
  bin/lang-js/src/asset_builder.ts
  lib/cyclone-core/src/resolver_function.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/backend.rs
  lib/dal/src/func/backend/array.rs
  lib/dal/src/func/backend/float.rs
  lib/dal/src/func/backend/js_attribute.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/func/kind.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/pkg.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/module.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-frontend-types-rs/src/func.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-cyclone, A-lang-js, A-dal, A-web, A-si-pkg

#5511 feat(dal,sdf): Auto-enqueue update functions for impacted components
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/action.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/component/update_property_editor_value.rs
  lib/si-posthog-rs/src/api.rs
Labels: A-sdf, A-dal, A-si-posthog-rs

#5516 fix(dal): Ensure that the new si:setFloat intrinsic is available when exporting a variant
  lib/dal/src/func/intrinsics.rs
  lib/dal/src/pkg/export.rs
Labels: A-dal

#5517 fix(dal): Ensure that we can use si:setFloat in asset contribution
  lib/dal/src/pkg/export.rs
Labels: A-dal

#5519 feat(clover): Change how JSON Numbers are represented in assets
  bin/clover/src/pipeline-steps/generateAssetFuncs.ts
  bin/clover/src/pipeline-steps/generateIntrinsicFuncs.ts
  bin/clover/src/spec/props.ts
  bin/clover/src/spec/siFuncs.ts
  bin/clover/src/specPipeline.ts
  lib/si-pkg/bindings/PropSpec.ts
Labels: A-si-pkg

#5491 feat(si-fs): support deno
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/si-filesystem/src/async_wrapper.rs
  lib/si-filesystem/src/client.rs
  lib/si-filesystem/src/command.rs
  lib/si-filesystem/src/inode_table.rs
  lib/si-filesystem/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf

#5520 fix: temporarily disable workspace export
  app/web/src/components/layout/navbar/WorkspaceSettingsMenuItems.vue
  lib/sdf-server/src/service/v2/workspace.rs
  lib/sdf-server/src/service/v2/workspace/export_workspace.rs
Labels: A-sdf, A-web

#5521 diagram rendering occlusion and dynamic text hiding based on zoom
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_constants.ts
Labels: A-web

#5523 Add "migration-mode" to remove workspace snapshots unused by any active change sets
  bin/sdf/src/main.rs
  lib/dal/src/change_set/status.rs
  lib/dal/src/lib.rs
  lib/sdf-server/src/garbage_collection.rs
  lib/sdf-server/src/lib.rs
Labels: A-sdf, A-dal

#5531 fix(auth-stack): The old regex didn't allow an empty string to be sent to the API for workspace description
  app/auth-portal/src/lib/validations.ts
  bin/auth-api/src/lib/validation-helpers.ts
Labels: A-auth

#5527 feat(sdf): Ensure that Update Module Cache API call is async
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/admin.store.ts
  lib/sdf-server/src/service/v2/admin/update_module_cache.rs
Labels: A-sdf, A-web

#5533 fix(web): as the builtins are cached and returned when we list variants, we don't need to hit the module index directly anymore.
  app/web/src/components/modules/ModuleListPanel.vue
  app/web/src/store/module.store.ts
Labels: A-web

#5526 feat: add CI + toolbox for garbage collection
  .github/workflows/run-garbage-collection.yml
  component/toolbox/scripts/snapshot-garbage-collection
  component/toolbox/scripts/supporting-funcs/ssm-funcs.sh
Labels: A-ci

#5539 fix(dal): Don't attempt to autoconnect to the component to itself
  lib/dal/src/component.rs
Labels: A-dal

#5540 fix(auth-portal): Ensure a user must be email verified before proceeding
  app/auth-portal/src/pages/BillingPage.vue
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/pages/WorkspacesPage.vue
  bin/auth-api/src/routes/index.ts
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#5544 feat(auth-stack): Add ability to hide a workspace from app workspace list
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/store/workspaces.store.ts
  bin/auth-api/prisma/migrations/20250224195419_add_is_hidden/migration.sql
  bin/auth-api/prisma/schema.prisma
  bin/auth-api/src/routes/admin.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#5548 feat(web): Filter workspaces marked as hidden from workspaces list
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/store/workspaces.store.ts
Labels: A-web

#5524 Make module sync rely on local cache only
  app/web/src/components/AssetListPanel.vue
  app/web/src/components/CustomizeTabs.vue
  app/web/src/components/InstallAsset.vue
  app/web/src/components/InstallAssetsPanel.vue
  app/web/src/components/Workspace/WorkspaceCustomizeAssets.vue
  app/web/src/store/module.store.ts
  lib/dal/src/cached_module.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/module.rs
  lib/dal/src/schema.rs
  lib/dal/tests/integration_test/module.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/sdf-server/src/service/v2/module/list.rs
  lib/sdf-server/src/service/v2/module/sync.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
  lib/si-frontend-types-rs/src/module.rs
Labels: A-sdf, A-dal, A-web

#5547 feat(si-pkg): allow generation of a spec without any unique info
  bin/hoist/src/commands.rs
  bin/hoist/src/main.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/action_func.rs
  lib/si-pkg/src/spec/attr_func_input.rs
  lib/si-pkg/src/spec/authentication_func.rs
  lib/si-pkg/src/spec/func.rs
  lib/si-pkg/src/spec/leaf_function.rs
  lib/si-pkg/src/spec/management_func.rs
  lib/si-pkg/src/spec/prop.rs
  lib/si-pkg/src/spec/schema.rs
  lib/si-pkg/src/spec/socket.rs
  lib/si-pkg/src/spec/variant.rs
Labels: A-si-pkg

#5536 chore(dal): simplify tests that get schema/variants by name
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal/src/component.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/metadata_view.rs
  lib/dal/tests/integration_test/attribute/prototype.rs
  lib/dal/tests/integration_test/audit_logging.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/func.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/func/authoring/binding/action.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/func/authoring/binding/authentication.rs
  lib/dal/tests/integration_test/func/authoring/create_func.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attribute.rs
  lib/dal/tests/integration_test/module.rs
  lib/dal/tests/integration_test/prop.rs
  lib/dal/tests/integration_test/schema/variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/clone_variant.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/dal/tests/integration_test/schema/variant/authoring/save_variant.rs
  lib/dal/tests/integration_test/schema/variant/view.rs
  lib/sdf-server/src/service/component/upgrade.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/func/list_funcs.rs
Labels: A-sdf, A-dal, A-dal-test

#5554 Add NATS event callback metrics
  Cargo.lock
  lib/naxum/src/middleware/ack/on_failure.rs
  lib/naxum/src/middleware/ack/on_success.rs
  lib/naxum/src/serve.rs
  lib/si-data-nats/BUCK
  lib/si-data-nats/Cargo.toml
  lib/si-data-nats/src/lib.rs
  lib/veritech-server/src/handlers.rs
  lib/veritech-server/src/server.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5557 Upgrade modules from cached modules
  app/web/src/components/AssetCard.vue
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/module.store.ts
  lib/sdf-server/src/service/module.rs
  lib/sdf-server/src/service/module/upgrade_modules.rs
  lib/sdf-server/src/service/v2/module/sync.rs
Labels: A-sdf, A-web

#5560 FE: Turning on source maps and decoding them in error reporting
  app/web/package.json
  app/web/src/main.ts
  pnpm-lock.yaml
Labels: A-web

#5553 fix(web): Ensuring that we can deal with JSON.Objects in propSpecs
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/store/component_attributes.store.ts
  bin/lang-js/src/asset_builder.ts
Labels: A-lang-js, A-web

#5561 chore(naxum): Bump some events from trace to info and add metrics for messages being pulled/processed
  Cargo.lock
  lib/naxum/BUCK
  lib/naxum/Cargo.toml
  lib/naxum/src/middleware/ack/maintain_progress.rs
  lib/naxum/src/serve.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5559 feat(module-index, hoist): Only push assets that have changed structurally
  Cargo.lock
  Cargo.toml
  bin/clover/doc-link-cache.json
  bin/clover/src/pipeline-steps/removeBadDocLinks.ts
  bin/hoist/BUCK
  bin/hoist/Cargo.toml
  bin/hoist/src/main.rs
  deno.lock
  lib/module-index-server/src/migrations/U0010__modules_schema_variant_id_and_version.sql
  lib/module-index-server/src/models/si_module.rs
  lib/module-index-server/src/routes/upsert_module_route.rs
  lib/module-index-types/src/lib.rs
  lib/si-pkg/src/spec.rs
  lib/si-pkg/src/spec/prop.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/jsonptr/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5556 feat(docs): Update AWS VPC How-to for new AWS Assets
  app/docs/src/how-tos/aws-vpc.md
  app/docs/src/how-tos/aws-vpc/apply.png
  app/docs/src/how-tos/aws-vpc/aws-vpc-complete.png
  app/docs/src/how-tos/aws-vpc/create-a-vpc-component.png
  app/docs/src/how-tos/aws-vpc/create-change-set.png
  app/docs/src/how-tos/aws-vpc/create-elastic-ip.png
  app/docs/src/how-tos/aws-vpc/create-igw.png
  app/docs/src/how-tos/aws-vpc/create-nat-gateway.png
  app/docs/src/how-tos/aws-vpc/create-private-route-table.png
  app/docs/src/how-tos/aws-vpc/create-private-route.png
  app/docs/src/how-tos/aws-vpc/create-private-subnet.png
  app/docs/src/how-tos/aws-vpc/create-public-route-table.png
  app/docs/src/how-tos/aws-vpc/create-public-subnet.png
  app/docs/src/how-tos/aws-vpc/create-route.png
  app/docs/src/how-tos/aws-vpc/explore-resources.png
  app/docs/src/how-tos/aws-vpc/select-an-aws-region.png
Labels: A-docs, A-auth

#5551 feat(sdf): Preserve prop order when uploading packages to the module index
  Cargo.lock
  lib/dal-test/src/expected.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/prop.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/si-pkg/BUCK
  lib/si-pkg/Cargo.toml
  lib/si-pkg/src/node/mod.rs
  lib/si-pkg/src/node/prop.rs
  lib/si-pkg/src/pkg/prop.rs
  lib/si-pkg/src/pkg/variant.rs
  lib/si-pkg/src/spec/prop.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5562 fix(docs): Remove a broken VPC How-to link
  app/docs/src/how-tos/aws-vpc.md
Labels: A-docs, A-auth

#5563 Revert "fix(web): Ensuring that we can deal with JSON.Objects in propSpecs"
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/assets/static/editor_typescript.txt
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/store/component_attributes.store.ts
  bin/lang-js/src/asset_builder.ts
Labels: A-lang-js, A-web

#5564 chore(sdf): test round-trip prop order for nested objects
  lib/dal/tests/integration_test/pkg/mod.rs
Labels: A-dal

#5565 Turn on source maps
  app/web/vite.config.ts
Labels: A-web

#5572 All edges should behave like mgmt edges (only show when components/props are selected)
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
Labels: A-web

#5570 feat(clover): extend sockets to include type definitions
  bin/clover/src/pipeline-steps/assetSpecificOverrides.ts
  bin/clover/src/pipeline-steps/createInputSocketsAcrossAssets.ts
  bin/clover/src/pipeline-steps/generateSubAssets.ts
  bin/clover/src/spec/sockets.ts
  bin/hoist/src/diff.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-docs, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5573 perf(veritech): Run simple Joi validations in Rust instead of JS
  Cargo.lock
  Cargo.toml
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/validation.rs
  lib/joi-validator/BUCK
  lib/joi-validator/Cargo.toml
  lib/joi-validator/src/alternatives.rs
  lib/joi-validator/src/boolean.rs
  lib/joi-validator/src/date.rs
  lib/joi-validator/src/generic.rs
  lib/joi-validator/src/lib.rs
  lib/joi-validator/src/number.rs
  lib/joi-validator/src/string.rs
  lib/joi-validator/src/test.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift

#5575 Functional (but not great) source map following, and some vue internal component data
  app/web/src/main.ts
  app/web/vite.config.ts
Labels: A-web

#5579 feat(web): Expose the audit log link on the new approval modal
  app/web/src/components/InsetApprovalModal.vue
Labels: A-web
