Repository systeminit/si, pull requests merged in 2025-04, with the labels that each got.

#5785 chore(ci): Adding perf to the list of environments available
  .github/workflows/deploy-service-restart.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/e2e-validation.yml
  .github/workflows/run-api-test.yml
  .github/workflows/run-garbage-collection.yml
  .github/workflows/soak-test.yml
  .github/workflows/upgrade-web.yml
Labels: A-ci

#5783 chore(deps): Upgrade Vite version
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web, vulnerability-fix

#5771 fix(sdf): Fix multiplayer upgrade component
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/component.rs
  lib/dal/src/context.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight/v1.rs
  lib/dal/tests/integration_test/component.rs
  lib/dal/tests/integration_test/component/connectable_test.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/frame.rs
  lib/sdf-server/src/service/component/upgrade.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
Labels: A-sdf, A-dal, A-dal-test

#5787 fix(web): move manifest to the root of the dist
  app/web/vite.config.ts
Labels: A-web

#5791 feat(web): Stream management function logs while they are running
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/store/func_runs.store.ts
Labels: A-ci, A-sdf, A-dal, A-web, A-dal-test, A-si-layer-cache

#5789 Performance improvements for the floating connections menu
  app/web/package.json
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  pnpm-lock.yaml
Labels: A-web

#5788 fix(sdf): Don't truncate logs
  lib/si-data-nats/src/subscriber.rs
  lib/veritech-client/src/lib.rs
Labels: A-veritech, A-si-data-nats

#5796 fix(dal): Fire component updated during dependent values update so clients are aware
  lib/dal/src/job/definition/dependent_values_update.rs
Labels: A-dal

#5794 chore(ci): Ensure that Edda is part of our deployment stacks
  .github/workflows/deploy-stack.yml
  .github/workflows/invoke-and-check-invalidations.yml
Labels: A-ci

#5802 chore: update clover pipeline contrib
  .github/workflows/asset-update.yml
  CONTRIBUTORS.md
Labels: A-ci

#5804 feat(clover): Listener DefaultAction set target group arns
  bin/clover/src/cloud-control-funcs/overrides/Listener DefaultActions/attribute/setTargetGroupArns.ts
  bin/clover/src/pipeline-steps/assetSpecificOverrides.ts
Labels: A-ci

#5799 Fix: reactivity for code editor & virtualization in the new connections palette
  app/web/src/components/CodeEditor.vue
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
Labels: A-web

#5808 feat(web): Expose when a function is an update function
  app/web/src/components/AssetFuncAttachModal.vue
  app/web/src/components/FuncEditor/ActionDetails.vue
Labels: A-web

#5797 fix(web): Prevent users from triggering management functions for a component currently being updated
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
Labels: A-web

#5811 Fix: force "teleport" input to always have focus
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#5807 Standardize edda request spans
  lib/edda-server/src/change_set_processor_task.rs
Labels: A-edda

#5814 During app/web `pnpm build` force a comlink chunk
  app/web/vite.config.ts
Labels: A-web

#5813 fix(sdf): Close output forwarder tasks when callers stop listening
  lib/veritech-client/src/lib.rs
Labels: A-veritech

#5815 feat(veritech): split jetstream and reply into two nats clients
  lib/veritech-server/src/server.rs
Labels: A-veritech

#5809 Increase default instrumentation in edda code paths
  lib/dal/src/data_cache.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-dal, A-edda

#5820 One more attempt to get the coop/coep headers right
  app/web/vite.config.ts
Labels: A-web

#5806 Fix: unexpected type mismatch or bad data
  app/web/src/components/LeftPanelDrawer.vue
Labels: A-web

#5823 Fix: I did the rollup chunks wrong
  app/web/vite.config.ts
Labels: A-web

#5821 feat(web) - revamped EdgeDetailsPanel
  app/web/src/components/Connection.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/EdgeCard.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/ModelingRightClickMenu.vue
  app/web/src/components/SocketCard.vue
  app/web/src/store/views.store.ts
Labels: A-web

#5824 Build chunks no longer needed
  app/web/vite.config.ts
Labels: A-web

#5812 chore: make pg recycle method configurable
  Cargo.lock
  Cargo.toml
  bin/pinga/src/args.rs
  bin/rebaser/src/args.rs
  bin/sdf/src/args.rs
  lib/si-data-pg/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda

#5826 Make headers match what we set in tools & prod
  app/web/vite.config.ts
Labels: A-web

#5825 chore: use a pat token for the clover pipeline
  .github/workflows/asset-update.yml
Labels: A-ci

#5819 Instrument the lifecycle of an edda request
  lib/edda-client/src/lib.rs
  lib/edda-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/service/v2/index.rs
Labels: A-sdf, A-rebaser, A-edda

#5836 Fix: dont watch on modelValue unless the Editor is disabled
  app/web/src/components/CodeEditor.vue
Labels: A-web

#5838 Update: main.js should always have a hash on it
  app/web/vite.config.ts
Labels: A-web

#5840 Fix: cached app notification
  app/web/src/components/CachedAppNotification.vue
Labels: A-web

#5839 fix(dal): publish patch batch should publish immediately
  lib/dal/src/data_cache.rs
Labels: A-dal

#5831 feat(web): implement the new Connections Menu UX
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/FloatingConnectionMenuInput.vue
  app/web/src/components/TextPill.vue
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/icons/custom-icons/input-connection.svg
  lib/vue-lib/src/design-system/icons/custom-icons/output-connection.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#5841 feat(sI): Adding the scaffold for the creation of a GHA for deploying AuthAPI & Module Index
  .github/workflows/trigger-si-app-deployment.yml
Labels: A-ci

#5829 feat: add incoming connections to mgmt functions components
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/management.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
Labels: A-veritech, A-cyclone, A-lang-js, A-dal

#5846 docs: update AWS EKS how-to with clover assets
  app/docs/src/how-tos/aws-eks.md
  app/docs/src/how-tos/aws-eks/apply.png
  app/docs/src/how-tos/aws-eks/complete.png
  app/docs/src/how-tos/aws-eks/create-access-entry.png
  app/docs/src/how-tos/aws-eks/create-additional-policies-for-node-group-iam-role.png
  app/docs/src/how-tos/aws-eks/create-ec2-security-group-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-ec2-security-group.png
  app/docs/src/how-tos/aws-eks/create-eks-cluster.png
  app/docs/src/how-tos/aws-eks/create-fargate-profile.png
  app/docs/src/how-tos/aws-eks/create-iam-node-group-role.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-iam-policy-statement.png
  app/docs/src/how-tos/aws-eks/create-iam-role-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-role-policies.png
  app/docs/src/how-tos/aws-eks/create-iam-role-policy-for-fargate-profile-role.png
  app/docs/src/how-tos/aws-eks/create-iam-role.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal-for-fargate.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-iam-service-principal.png
  app/docs/src/how-tos/aws-eks/create-key-pair.png
  app/docs/src/how-tos/aws-eks/create-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-security-group-ingress-for-nodegroup.png
  app/docs/src/how-tos/aws-eks/create-security-group-ingress.png
  app/docs/src/how-tos/aws-eks/update-cluster-config.png
Labels: A-docs, A-auth

#5843 Revert "feat: add incoming connections to mgmt functions components"
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/management.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
Labels: A-veritech, A-cyclone, A-lang-js, A-dal

#5844 chore(deps): Upgrade Vite to 5.4.17
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web, vulnerability-fix

#5848 feat: add incoming connections to mgmt functions components
  bin/lang-js/src/component.ts
  bin/lang-js/src/function_kinds/management.ts
  lib/cyclone-client/src/client.rs
  lib/cyclone-core/src/component_view.rs
  lib/cyclone-core/src/lib.rs
  lib/cyclone-core/src/management.rs
  lib/dal/src/func/backend/management.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-client/tests/integration.rs
Labels: A-veritech, A-cyclone, A-lang-js, A-dal

#5845 chore(deps): Upgrade @babel/helpers to 7.26.10
  pnpm-lock.yaml
Labels: A-web, vulnerability-fix

#5837 Polish spans for edda change set processor task
  lib/edda-server/src/change_set_processor_task.rs
Labels: A-edda

#5854 Fix: code editor reloads text when saved unless you were the client that saved it
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#5852 fix(dal,naxum,rebaser): Cleaning up some traces that are not adding value
  lib/dal/src/change_set.rs
  lib/dal/src/workspace_snapshot.rs
  lib/naxum/src/serve.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-dal, A-rebaser

#5856 fix(edda): delete (and log) the request when it fails
  lib/edda-server/src/change_set_processor_task.rs
  lib/naxum/src/middleware/post_process/on_failure.rs
Labels: A-edda

#5855 feat(web) - simple socket UI connecting edges on the diagram
  app/web/src/components/Connection.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/ModelingDiagram/DiagramEdge.vue
  app/web/src/components/ModelingDiagram/DiagramHelpModal.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/SocketCard.vue
Labels: A-web

#5849 chore(deps): Upgrade koa to 2.16.1
  bin/auth-api/package.json
  pnpm-lock.yaml
Labels: A-auth, vulnerability-fix

#5864 feat(ci): Allow triggering of auth-api and module-index via management component
  .github/workflows/trigger-si-app-deployment.yml
Labels: A-ci

#5859 From cypress, load new html page, invoke web worker, run tests, log output, assert.
  .github/workflows/webworker-validation.yml
  app/web/cypress/e2e/webworker.cy.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
  app/web/webworkertest.html
Labels: A-ci, A-web

#5861 fix(edda): shutdown processor tasks after quiescent period
  lib/edda-server/src/handlers.rs
Labels: A-edda

#5863 fix(edda): use a unique edda_concurrency_limit config value
  lib/edda-server/src/config.rs
Labels: A-edda

#5867 chore(edda): update default quiescent period from 120 secs to 60 secs
  lib/edda-server/src/config.rs
Labels: A-edda

#5868 fix(sdf): Allow hitting the update_module_cache endpoint with an automation token
  lib/sdf-server/src/service/v2/admin/update_module_cache.rs
Labels: A-sdf

#5870 Adding the checksum in mjolnir get requests, for the sake of clarity & understanding
  app/web/src/workers/webworker.ts
Labels: A-web

#5872 Add rebuild change set index route
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
  lib/sdf-server/src/service/v2/index/get_workspace_index.rs
  lib/sdf-server/src/service/v2/index/rebuild_change_set_index.rs
Labels: A-sdf

#5873 fix(rebaser): fix edda request data & rebaser/edda race condition
  lib/rebaser-server/src/rebase.rs
Labels: A-rebaser

#5879 Fix: use feature flag store needs to be inside the fns here, otherwise it inits incorrectly
  app/web/src/components/ModelingDiagram/diagram_types.ts
Labels: A-web

#5875 fix(sdf): Change UPGRADE_ALL modules to be async
  app/web/src/components/AssetListPanel.vue
  app/web/src/store/asset.store.ts
  app/web/src/store/module.store.ts
  app/web/src/store/realtime/realtime_events.ts
  lib/dal/src/module.rs
  lib/dal/src/pkg.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/module/upgrade_modules.rs
Labels: A-sdf, A-dal, A-web

#5874 feat(web) - simple sockets ui wrap up with caching fixes
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/DiagramView.vue
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
Labels: A-web

#5883 chore(deps): Upgrade vite to 5.4.18
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-web, vulnerability-fix

#5881 Use trait kind method when building MV dependency graph
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#5884 feat: set the deploy mode when building web
  .github/workflows/upgrade-web.yml
Labels: A-ci, A-web

#5885 Namespace sqlite db, and create dev-only tooling to trigger things
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/vue-lib/src/design-system/icons/custom-icons/mjolnir.svg
  lib/vue-lib/src/design-system/icons/custom-icons/odin.svg
  lib/vue-lib/src/design-system/icons/custom-icons/snowflake.svg
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#5862 Move actions list to norse stack
  app/web/src/components/ApplyChangeSetButton.vue
  app/web/src/components/ComponentDetails.vue
  app/web/src/components/NoSelectionDetailsPanel.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/mead-hall/ActionCard.vue
  app/web/src/mead-hall/ActionCardLayout.vue
  app/web/src/mead-hall/ActionHistoryCard.vue
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/mead-hall/ActionsList.vue
  app/web/src/mead-hall/ApprovalFlowModal.vue
  app/web/src/mead-hall/AssetActionsDetails.vue
  app/web/src/mead-hall/ChangesPanelProposed.vue
  app/web/src/mead-hall/InsetApprovalModal.vue
  app/web/src/store/actions.store.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/tests/integration_test/materialized_view.rs
  lib/dal/tests/integration_test/mod.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/lib.rs
  lib/si-events-rs/src/action.rs
  lib/si-events-rs/src/func_run.rs
  lib/si-events-rs/src/lib.rs
  lib/si-frontend-types-macros/src/lib.rs
  lib/si-frontend-types-rs/src/action.rs
  lib/si-frontend-types-rs/src/action/prototype.rs
  lib/si-frontend-types-rs/src/checksum.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/reference.rs
Labels: A-dal, A-web, A-rebaser, A-edda

#5891 fix(web): Ensure that we capture 409 in a rename of view
  app/web/src/components/ViewCard.vue
Labels: A-web

#5893 Return better error for de-synced change set apply
  app/web/src/store/change_sets.store.ts
  lib/sdf-server/src/service/v2/change_set.rs
Labels: A-sdf, A-web

#5898 chore(cleanup): Remove Asset Sprayer
  Cargo.lock
  Cargo.toml
  app/web/src/components/AdminDashboard/PromptAdmin.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  bin/asset-sprayer-prompts/BUCK
  bin/asset-sprayer-prompts/Cargo.toml
  bin/asset-sprayer-prompts/src/main.rs
  lib/asset-sprayer/BUCK
  lib/asset-sprayer/Cargo.toml
  lib/asset-sprayer/prompts/aws/asset_schema.yaml
  lib/asset-sprayer/prompts/aws/create_action.yaml
  lib/asset-sprayer/prompts/aws/destroy_action.yaml
  lib/asset-sprayer/prompts/aws/import.yaml
  lib/asset-sprayer/prompts/aws/refresh_action.yaml
  lib/asset-sprayer/prompts/aws/update_action.yaml
  lib/asset-sprayer/src/config.rs
  lib/asset-sprayer/src/lib.rs
  lib/asset-sprayer/src/prompt.rs
  lib/sdf-core/BUCK
  lib/sdf-core/Cargo.toml
  lib/sdf-core/src/app_state.rs
  lib/sdf-extract/BUCK
  lib/sdf-extract/Cargo.toml
  lib/sdf-extract/src/services.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/config.rs
  lib/sdf-server/src/server.rs
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/prompts.rs
  lib/sdf-server/src/service/v2/admin/prompts/prompt.rs
  lib/sdf-server/src/service/v2/func.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda

#5900 fix(web): Remove a stale value as part of the bifront actions work
  app/web/src/components/ComponentDetails.vue
Labels: A-web

#5890 feat(web) - fuzzy search highlighting and other connections menu improvements
  app/web/src/components/ModelingView/ConnectionMenuSocketList.vue
  app/web/src/components/ModelingView/ConnectionMenuSocketListItem.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/FloatingConnectionMenuInput.vue
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/src/design-system/forms/VormInput.vue
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
Labels: A-web

#5902 fix(sdf): Report errors from management functions correctly
  app/web/src/api/sdf/dal/action.ts
  app/web/src/components/ChangesPanelHistory.vue
  app/web/src/components/ComponentDetailsManagement.vue
  app/web/src/components/Management/ManagementHistoryCard.vue
  app/web/src/components/Management/ManagementHistoryList.vue
  app/web/src/components/ManagementRunPrototype.vue
  app/web/src/components/StatusIndicatorIcon.vue
  app/web/src/store/func_runs.store.ts
  app/web/src/store/management_runs.store.ts
  lib/sdf-server/src/service/v2/management/history.rs
Labels: A-sdf, A-web

#5911 fix(web) - remove forced feature flag
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5895 feat(luminork): Initial commit of Luminork server
  .gitignore
  Cargo.lock
  Cargo.toml
  bin/luminork/BUCK
  bin/luminork/Cargo.toml
  bin/luminork/Dockerfile
  bin/luminork/src/args.rs
  bin/luminork/src/main.rs
  dev/Tiltfile
  flake.nix
  lib/luminork-server/BUCK
  lib/luminork-server/Cargo.toml
  lib/luminork-server/config/default.toml
  lib/luminork-server/config/private.pem
  lib/luminork-server/config/public.pem
  lib/luminork-server/src/app.rs
  lib/luminork-server/src/app_state.rs
  lib/luminork-server/src/config.rs
  lib/luminork-server/src/extract.rs
  lib/luminork-server/src/init.rs
  lib/luminork-server/src/key_generation.rs
  lib/luminork-server/src/lib.rs
  lib/luminork-server/src/middleware.rs
  lib/luminork-server/src/middleware/workspace_permission.rs
  lib/luminork-server/src/nats_multiplexer.rs
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/runnable.rs
  lib/luminork-server/src/server.rs
  lib/luminork-server/src/service.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/change_sets.rs
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/change_sets/force_apply.rs
  lib/luminork-server/src/service/v1/change_sets/get.rs
  lib/luminork-server/src/service/v1/change_sets/list.rs
  lib/luminork-server/src/service/v1/change_sets/merge_status.rs
  lib/luminork-server/src/service/v1/change_sets/request_approval.rs
  lib/luminork-server/src/service/v1/common.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/update_properties.rs
  lib/luminork-server/src/service/v1/management/mod.rs
  lib/luminork-server/src/service/v1/management/run_prototype.rs
  lib/luminork-server/src/service/v1/workspaces.rs
  lib/luminork-server/src/service/whoami.rs
  lib/luminork-server/src/uds.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda

#5913 chore(ci): Fixup the deployment GHA url
  .github/workflows/trigger-si-app-deployment.yml
Labels: A-ci

#5899 feat(innit): init
  .ci/docker-compose.test-integration.yml
  Cargo.lock
  Cargo.toml
  bin/innit/BUCK
  bin/innit/Cargo.toml
  bin/innit/Dockerfile
  bin/innit/src/args.rs
  bin/innit/src/main.rs
  flake.nix
  lib/innit-core/BUCK
  lib/innit-core/Cargo.toml
  lib/innit-core/src/lib.rs
  lib/innit-server/BUCK
  lib/innit-server/Cargo.toml
  lib/innit-server/src/api_error.rs
  lib/innit-server/src/app_state.rs
  lib/innit-server/src/config.rs
  lib/innit-server/src/lib.rs
  lib/innit-server/src/routes.rs
  lib/innit-server/src/routes/get_parameter.rs
  lib/innit-server/src/routes/list_parameters.rs
  lib/innit-server/src/server.rs
  lib/si-data-ssm/BUCK
  lib/si-data-ssm/Cargo.toml
  lib/si-data-ssm/src/lib.rs
  lib/si-data-ssm/tests/integration.rs
  lib/si-data-ssm/tests/integration_test/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/aws-sdk-ssm/fixups.toml
  third-party/rust/fixups/zerocopy/fixups.toml
Labels: A-ci, A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda

#5914 Only build MVs where the MV ID is immediate
  app/web/src/components/ComponentDetails.vue
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/mead-hall/AssetActionsDetails.vue
  lib/dal/src/action/prototype.rs
  lib/dal/tests/integration_test/materialized_view.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-types-rs/src/action.rs
  lib/si-frontend-types-rs/src/action/prototype.rs
  lib/si-frontend-types-rs/src/reference.rs
Labels: A-dal, A-web, A-edda

#5918 feat(luminork): Add support for abandoning change-sets
  .github/labeler.yml
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/change_sets.rs
  lib/luminork-server/src/service/v1/change_sets/delete.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-ci

#5917 Add base contents for job-specific UI
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/README.md
  app/web/src/newhotness/Setup.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/Breadcrumbs.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
  app/web/src/newhotness/layout_components/DetailsPanelMenuIcon.vue
  app/web/src/newhotness/layout_components/InstructiveVormInput.vue
  app/web/src/newhotness/logic_composables/key_emitter.ts
  app/web/src/newhotness/logic_composables/navigation_stack.ts
  app/web/src/newhotness/logic_composables/toggle_containers.ts
  app/web/src/newhotness/types.ts
  app/web/src/newhotness/util.ts
  app/web/src/router.ts
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/src/design-system/general/TextPill.vue
  lib/vue-lib/src/design-system/general/VButton.vue
Labels: A-web

#5923 chore(ci): Ensure Edda is part of our weekend restart policy
  .github/workflows/deploy-service-restart.yml
Labels: A-ci

#5924 Fix dynamic imports for action funcs
  bin/lang-js/src/function_kinds/action_run.ts
Labels: A-lang-js

#5925 build(deps): update Nix dependencies (W16)
  flake.lock
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/billing_publish.rs
  lib/dal/src/func/binding/attribute_argument.rs
  lib/dal/src/property_editor/schema.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/naxum/examples/nats-js-acker/main.rs
  lib/naxum/src/message/extensions.rs
  lib/naxum/src/middleware/delay/service.rs
  lib/sdf-server/src/service/v2/fs.rs
  lib/sdf-server/src/service/v2/module/contribute.rs
  lib/si-data-pg/src/lib.rs
  lib/si-frontend-types-rs/src/fs.rs
  lib/si-layer-cache/src/layer_cache.rs
  lib/si-test-macros/src/lib.rs
Labels: A-sdf, A-dal, A-si-test-macros, A-si-data-pg, A-si-layer-cache

#5929 chore(ci): Fix up GitHub Actions Labeller workflow
  .github/workflows/labeler.yml
Labels: A-ci

#5915 docs(roadmap): Update Roadmap for new planned work
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#5932 feat: add reusable qualifunc override pattern
  bin/clover/doc-link-cache.json
  bin/clover/src/cloud-control-funcs/overrides/AWS::EC2::SecurityGroupIngress/qualifications/checkForEitherGroupIdOrGroupName.ts
  bin/clover/src/pipeline-steps/assetSpecificOverrides.ts
Labels: A-si-pkg

#5934 fix(luminork): Refactor the code to add connections to share between create and update components
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/change_sets.rs
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-luminork

#5921 fix(sdf): Change how generate_template works
  lib/sdf-server/src/service/v2/management/generate_template.rs
Labels: A-sdf

#5940 fix(web): Restore showing action details when selecting an Action
  app/web/src/components/ChangesPanelHistory.vue
Labels: A-web

#5941 Add patch support for component diff
  Cargo.lock
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/AssetDiffDetails.vue
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/component.rs
  lib/dal/src/component/diff.rs
  lib/dal/tests/integration_test/component/get_diff.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5938 feat(luminork): Add support for list_schema endpoint
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/schema/list_schema.rs
  lib/luminork-server/src/service/v1/schema/mod.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-luminork

#5944 chore(web): Cleanup SLACK_WEBHOOK feature flag
  app/web/src/components/layout/navbar/WorkspaceSettingsMenuItems.vue
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#5952 fix(web): Better UX for the connections menu with a lot of data
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/store/components.store.ts
Labels: A-web

#5948 chore(ci): Remove the need for the 15 minute wait as part of the deploy cron
  .github/workflows/prod-deploy-cron.yml
Labels: A-ci

#5955 fix: add float to generatepropbuilderstring func upgrade joi to 17.13…
  bin/clover/src/pipeline-steps/generateAssetFuncs.ts
  bin/lang-js/deno.json
  bin/lang-js/src/bundle.ts
  bin/lang-js/src/function_kinds/joi_validation.ts
  deno.lock
  lib/dal/tests/integration_test/validations.rs
Labels: A-lang-js, A-dal

#5957 feat(luminork): Add support for queuing an action or executing a management function
  lib/dal/src/func/runner.rs
  lib/dal/src/management/prototype.rs
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/add_action.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/execute_management_function.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/management/mod.rs
  lib/luminork-server/src/service/v1/management/run_prototype.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-dal, A-luminork

#5949 feat: use innit-client in layered load
  Cargo.lock
  bin/luminork/BUCK
  bin/luminork/Cargo.toml
  bin/luminork/src/args.rs
  bin/luminork/src/main.rs
  dev/Tiltfile
  lib/config-file/BUCK
  lib/config-file/Cargo.toml
  lib/config-file/src/layered_load.rs
  lib/config-file/src/lib.rs
  lib/config-file/src/parameter_provider.rs
  lib/dal/examples/rebase/main.rs
  lib/innit-client/BUCK
  lib/innit-client/Cargo.toml
  lib/innit-client/src/config.rs
  lib/innit-client/src/lib.rs
  lib/innit-core/BUCK
  lib/innit-core/Cargo.toml
  lib/innit-core/src/lib.rs
  lib/innit-server/src/routes/get_parameter.rs
  lib/innit-server/src/routes/list_parameters.rs
  lib/luminork-server/src/lib.rs
  lib/si-settings/BUCK
  lib/si-settings/Cargo.toml
  lib/si-settings/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5956 feat(web) - component mv for newhotness
  app/web/src/components/AssetPalette.vue
  app/web/src/mead-hall/ApprovalFlowModal.vue
  app/web/src/mead-hall/AssetActionsDetails.vue
  app/web/src/mead-hall/ChangesPanelProposed.vue
  app/web/src/mead-hall/InsetApprovalModal.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/router.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/workers/types/dbinterface.ts
  lib/dal/src/component.rs
  lib/dal/src/qualification.rs
  lib/dal/src/socket/output.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-types-rs/src/checksum.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/newhotness.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
  lib/si-frontend-types-rs/src/reference.rs
Labels: A-dal, A-web, A-rebaser, A-edda

#5960 docs: fix reference from private subnet to private route table
  app/docs/src/how-tos/aws-vpc.md
Labels: A-docs, A-auth

#5959 Upgrade nixos/nix builders from 2.21.2 to 2.28.2
  app/web/Dockerfile
  bin/cyclone/Dockerfile
  bin/edda/Dockerfile
  bin/forklift/Dockerfile
  bin/innit/Dockerfile
  bin/luminork/Dockerfile
  bin/module-index/Dockerfile
  bin/pinga/Dockerfile
  bin/rebaser/Dockerfile
  bin/sdf/Dockerfile
  bin/veritech/Dockerfile
Labels: A-sdf, A-veritech, A-cyclone, A-web, A-pinga, A-module-index, A-rebaser, A-forklift, A-edda, A-luminork

#5953 feat(innit): in-memory cache
  Cargo.lock
  lib/innit-client/src/lib.rs
  lib/innit-client/tests/integration_test/mod.rs
  lib/innit-core/src/lib.rs
  lib/innit-server/BUCK
  lib/innit-server/Cargo.toml
  lib/innit-server/src/app_state.rs
  lib/innit-server/src/config.rs
  lib/innit-server/src/lib.rs
  lib/innit-server/src/parameter_cache.rs
  lib/innit-server/src/routes.rs
  lib/innit-server/src/routes/clear_cache.rs
  lib/innit-server/src/routes/create_parameter.rs
  lib/innit-server/src/routes/get_parameter.rs
  lib/innit-server/src/routes/list_parameters.rs
  lib/innit-server/src/server.rs
  lib/si-data-ssm/src/lib.rs
  lib/si-data-ssm/tests/integration_test/mod.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5963 Ensure invalid reference kinds trigger rebuilds
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
Labels: A-sdf

#5966 feat(luminork): Add support for component/find + get_func_run
  lib/dal/src/management/prototype.rs
  lib/luminork-server/src/api_types.rs
  lib/luminork-server/src/api_types/component/v1.rs
  lib/luminork-server/src/api_types/func_run.rs
  lib/luminork-server/src/api_types/func_run/v1.rs
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/change_sets/delete.rs
  lib/luminork-server/src/service/v1/change_sets/get.rs
  lib/luminork-server/src/service/v1/components/find_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/funcs/get_func_run.rs
  lib/luminork-server/src/service/v1/funcs/mod.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-dal, A-luminork

#5969 feat(luminork): Add support for schema + schema variants
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/funcs/get_func.rs
  lib/luminork-server/src/service/v1/funcs/get_func_run.rs
  lib/luminork-server/src/service/v1/funcs/mod.rs
  lib/luminork-server/src/service/v1/schema/get_default_variant.rs
  lib/luminork-server/src/service/v1/schema/get_schema.rs
  lib/luminork-server/src/service/v1/schema/get_variant.rs
  lib/luminork-server/src/service/v1/schema/mod.rs
Labels: A-luminork

#5962 feat(innit): generate and fetch certs on boot
  Cargo.lock
  Cargo.toml
  bin/innit/BUCK
  bin/innit/src/args.rs
  bin/luminork/src/args.rs
  bin/luminork/src/main.rs
  dev/BUCK
  lib/config-file/src/layered_load.rs
  lib/config-file/src/parameter_provider.rs
  lib/innit-client/BUCK
  lib/innit-client/Cargo.toml
  lib/innit-client/innit-client.dev.crt
  lib/innit-client/innit-client.dev.key
  lib/innit-client/src/config.rs
  lib/innit-client/src/lib.rs
  lib/innit-client/tests/integration_test/mod.rs
  lib/innit-server/BUCK
  lib/innit-server/Cargo.toml
  lib/innit-server/src/config.rs
  lib/innit-server/src/server.rs
  lib/luminork-server/src/lib.rs
  lib/si-data-acmpca/BUCK
  lib/si-data-acmpca/Cargo.toml
  lib/si-data-acmpca/src/lib.rs
  lib/si-settings/src/lib.rs
  lib/si-tls/BUCK
  lib/si-tls/Cargo.toml
  lib/si-tls/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/aws-sdk-acmpca/fixups.toml
  third-party/rust/fixups/oid-registry/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5971 chore(dal,sdf): remove all rust traces of the standard model
  lib/dal/src/actor_view.rs
  lib/dal/src/builtins.rs
  lib/dal/src/component.rs
  lib/dal/src/component/migrate.rs
  lib/dal/src/context.rs
  lib/dal/src/diagram.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/key_pair.rs
  lib/dal/src/lib.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/property_editor.rs
  lib/dal/src/qualification.rs
  lib/dal/src/secret.rs
  lib/dal/src/secret/view.rs
  lib/dal/src/standard_accessors.rs
  lib/dal/src/standard_model.rs
  lib/dal/src/user.rs
  lib/dal/src/workspace.rs
  lib/dal/src/ws_event.rs
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/dev.rs
  lib/sdf-v1-routes-actions/src/lib.rs
  lib/sdf-v1-routes-change-sets/src/lib.rs
  lib/sdf-v1-routes-component/src/lib.rs
  lib/sdf-v1-routes-diagram/src/lib.rs
  lib/sdf-v1-routes-module/src/lib.rs
  lib/sdf-v1-routes-qualification/src/lib.rs
  lib/sdf-v1-routes-secret/src/lib.rs
  lib/sdf-v1-routes-session/src/lib.rs
Labels: A-sdf, A-dal

#5972 Fix: initialization of the bifrost on the new hotness
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#5945 feat(dal): Support AVs subscribing to other AVs via JSON pointers
  Cargo.lock
  Cargo.toml
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/helpers/component.rs
  lib/dal-test/src/helpers/schema.rs
  lib/dal-test/src/helpers/schema/variant.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/prototype/debug.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/attribute/value/subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/attribute_argument.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/pkg/export.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/content_address.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/graph/traits.rs
  lib/dal/src/workspace_snapshot/graph/traits/component.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/graph/v3.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/graph/v4/component.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/tests/integration_test/attribute_prototype.rs
  lib/dal/tests/integration_test/attribute_value.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/component/connectable_test.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/property_order.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/func/authoring/binding/attribute.rs
  lib/dal/tests/integration_test/func/authoring/save_func/attribute.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/mod.rs
  lib/dal/tests/integration_test/node_weight/view.rs
  lib/dal/tests/integration_test/secret.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5975 feat(luminork): Add support for updating a component to unset a property
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-luminork

#5980 feat(web): Change tooltip in code editor to be over the word rather t…
  CONTRIBUTORS.md
  app/web/src/utils/typescriptLinter.ts
Labels: A-web

#5977 Added additional getting started step explaining need to add a Local …
  DOCS.md
  README.md
Labels: community

#5978 Switched icons around to make it clearer you can create a new function
  app/web/src/components/AssetFuncAttachDropdown.vue
Labels: A-web, community

#5982 chore(dal): remove v1 & v2 graph code
  lib/dal/src/action.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/edge_weight/deprecated.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/deprecated.rs
  lib/dal/src/workspace_snapshot/graph/deprecated/v1.rs
  lib/dal/src/workspace_snapshot/graph/v2.rs
  lib/dal/src/workspace_snapshot/lamport_clock.rs
  lib/dal/src/workspace_snapshot/migrator.rs
  lib/dal/src/workspace_snapshot/migrator/v2.rs
  lib/dal/src/workspace_snapshot/migrator/v3.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/mod.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/deprecated/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/vector_clock.rs
  lib/dal/src/workspace_snapshot/vector_clock/deprecated.rs
  lib/rebaser-server/src/change_set_processor_task.rs
Labels: A-dal, A-rebaser

#5981 feat(luminork): Adding posthog tracking and auditlog events to the API
  lib/luminork-server/src/service/v1/change_sets/get.rs
  lib/luminork-server/src/service/v1/change_sets/list.rs
  lib/luminork-server/src/service/v1/change_sets/merge_status.rs
  lib/luminork-server/src/service/v1/change_sets/request_approval.rs
  lib/luminork-server/src/service/v1/components/add_action.rs
  lib/luminork-server/src/service/v1/components/find_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/funcs/get_func.rs
  lib/luminork-server/src/service/v1/funcs/get_func_run.rs
  lib/luminork-server/src/service/v1/schema/get_default_variant.rs
  lib/luminork-server/src/service/v1/schema/get_schema.rs
  lib/luminork-server/src/service/v1/schema/get_variant.rs
  lib/luminork-server/src/service/v1/schema/list_schema.rs
Labels: A-luminork

#5986 fix(innit): buck2 config and logs
  lib/innit-client/BUCK
  lib/innit-client/src/lib.rs
  lib/innit-server/src/server.rs
Labels: A-luminork

#5987 feat(Web): Add a way to open Workspace Tokens menu
  app/web/src/components/layout/navbar/WorkspaceSettingsMenuItems.vue
Labels: A-web

#5988 fix(auth-portal): always send the onDemandAssets flag as true
  app/auth-portal/src/store/feature_flags.store.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/auth.service.ts
Labels: A-auth

#5991 Add new UI survival guide and relieve macro builds
  Cargo.lock
  Cargo.toml
  app/web/src/newhotness/SURVIVAL_GUIDE.md
  lib/dal-materialized-views-macros/BUCK
  lib/dal-materialized-views-macros/Cargo.toml
  lib/dal-materialized-views-macros/src/lib.rs
  lib/dal-materialized-views-macros/tests/trybuild.rs
  lib/dal-materialized-views/BUCK
  lib/dal-materialized-views/Cargo.toml
  lib/dal-materialized-views/src/attribute_tree.rs
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal/BUCK
  lib/dal/Cargo.toml
  lib/dal/tests/integration_test/newhotness.rs
  lib/edda-server/BUCK
  lib/edda-server/Cargo.toml
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#5992 feat(sdf): fetch and set cas data in admin panel
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/store/admin.store.ts
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/get_cas_data.rs
  lib/sdf-server/src/service/v2/admin/upload_cas_data.rs
  lib/si-layer-cache/src/db/cas.rs
  lib/si-layer-cache/src/db/workspace_snapshot.rs
Labels: A-sdf, A-web, A-si-layer-cache

#5989 feat(web) - virtualization for component tiles + improved newhotness UI
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
  app/web/src/newhotness/layout_components/InstructiveVormInput.vue
  app/web/src/newhotness/util.ts
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/tailwind/less_vars.less
Labels: A-web

#5994 chore(web,sdf): remove on demand flag, default to on demand
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/sdf-v1-routes-session/src/auth_connect.rs
Labels: A-web

#5997 Func Run List in Explore, and click into to navigate to a specific func run
  .gitignore
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/FuncRunStatusBadge.vue
  app/web/src/newhotness/LatestFuncRunDetails.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/layout_components/GridItemWithLiveHeader.vue
  app/web/src/newhotness/types.ts
  app/web/src/router.ts
  app/web/src/store/feature_flags.store.ts
  app/web/src/store/func_runs.store.ts
  app/web/src/store/realtime/heimdall.ts
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/rebaser-server/src/rebase.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/get_func_run.rs
  lib/sdf-server/src/service/v2/func/get_func_run_logs.rs
  lib/sdf-server/src/service/v2/func/get_func_runs_paginated.rs
  lib/si-layer-cache/src/db/func_run.rs
  lib/si-layer-cache/tests/integration_test/db/func_run.rs
Labels: A-sdf, A-web, A-rebaser, A-si-layer-cache, A-edda

#5999 fix(luminork): Adding WSEvents for reactivity from luminork.
  lib/dal/src/action.rs
  lib/dal/src/change_set.rs
  lib/dal/src/component/delete.rs
  lib/dal/src/management/prototype.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/delete_component.rs
Labels: A-dal, A-luminork
