Repository systeminit/si, pull requests merged in 2025-09, with the labels that each got.

#7168 fix(web): Make old nav bar routes use v2 routes
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/store/change_sets.store.ts
  bin/si-sdf-api-test/sdf_api_client.ts
Labels: A-web

#7176 fix: we need deno in the rootfs
  bin/cyclone/BUCK
  prelude-si/rootfs/rootfs_build.sh
Labels: A-cyclone

#7177 Fix issue with missing name on secret form
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
Labels: A-web

#7171 chore(sdf-server): Cleanup the v1-changesets crate
  Cargo.lock
  Cargo.toml
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/routes.rs
  lib/sdf-v1-routes-change-sets/BUCK
  lib/sdf-v1-routes-change-sets/Cargo.toml
  lib/sdf-v1-routes-change-sets/src/abandon_change_set.rs
  lib/sdf-v1-routes-change-sets/src/create_change_set.rs
  lib/sdf-v1-routes-change-sets/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7180 feat: Component Details skeleton
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/layout_components/ShimmeringTextLine.vue
  app/web/src/newhotness/skeletons/ComponentDetailsSkeleton.vue
Labels: A-web

#7186 Fail the entire deployment MV update if any of the individual MVs fails to build
  lib/edda-server/src/materialized_view.rs
Labels: A-edda

#7148 chore: Make it impossible to create new socket connections
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/helpers/component.rs
  lib/dal-test/src/test_exclusive_schemas/legos/small.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/tests/integration_test/component/connectable_test.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/connection.rs
  lib/dal/tests/integration_test/dependent_values_update.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/func/authoring/binding.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/resource_metadata.rs
  lib/dal/tests/integration_test/schema/variant/authoring/regenerate.rs
  lib/dal/tests/integration_test/secret/with_actions.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-sdf, A-dal, A-dal-test, A-luminork

#7173 feat(luminork): adding the authoring endpoints for Luminork
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/funcs/mod.rs
  lib/luminork-server/src/service/v1/funcs/update_func.rs
  lib/luminork-server/src/service/v1/schemas/create_action.rs
  lib/luminork-server/src/service/v1/schemas/create_attribute.rs
  lib/luminork-server/src/service/v1/schemas/create_authentication.rs
  lib/luminork-server/src/service/v1/schemas/create_codegen.rs
  lib/luminork-server/src/service/v1/schemas/create_management.rs
  lib/luminork-server/src/service/v1/schemas/create_qualification.rs
  lib/luminork-server/src/service/v1/schemas/create_schema.rs
  lib/luminork-server/src/service/v1/schemas/mod.rs
  lib/luminork-server/src/service/v1/schemas/unlock_schema.rs
  lib/luminork-server/src/service/v1/schemas/update_schema_variant.rs
Labels: A-luminork

#7188 fix: Actually remove parents during migration
  app/web/src/newhotness/layout_components/AttributeInput.vue
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
Labels: A-sdf, A-web

#7153 Chore: make it impossible to set a component's parent
  app/web/src/store/views.store.ts
  lib/dal-test/src/expected.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/component/delete.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/upgrade.rs
  lib/dal/tests/integration_test/frame.rs
  lib/dal/tests/integration_test/frame/omega_nesting.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/node_weight/component.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/convert_to_view.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
  lib/sdf-server/src/service/v2/view/set_component_parent.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#7194 fix: extra space typo in final python code block
  app/docs/src/how-tos/use-public-api.md
Labels: A-docs

#7197 fix(web): Make the Abandon URL correct for new hotness
  app/web/src/newhotness/api_composables/index.ts
Labels: A-web

#7198 fix(auth-api): Don't fall foul of creating a local or prod workspace
  bin/auth-api/src/services/users.service.ts
Labels: A-auth

#7193 chore(luminork): cleanup the luminork deprecated parameters
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/subscriptions.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-luminork

#7204 fix: remove frame options and hardcode component type to component
  app/web/src/components/AssetDetailsPanel.vue
Labels: A-web

#7210 fix: allow migration to migrate subscriptions with wrong types (part deux)
  lib/dal/src/attribute/value.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
Labels: A-sdf, A-dal

#7200 no more IconButton in the new UI
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/DocumentationPanel.vue
  app/web/src/newhotness/Review.vue
  app/web/src/newhotness/explore_grid/AttributePanelBulk.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/DetailsPanelMenuIcon.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/nav/ChangeSetPanel.vue
  app/web/src/newhotness/util.ts
  app/web/src/pages/auth/LogoutPage.vue
  lib/vue-lib/src/design-system/general/IconButton.vue
  lib/vue-lib/src/design-system/general/NewButton.vue
Labels: A-web

#7226 build(deps): bump `slab` to 0.4.11
  Cargo.lock
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7230 re-enabling the e2e tests in prod
  .github/workflows/prod-test-cron.yml
Labels: A-ci

#7235 chore(luminork): Regenerate Luminork SDKs + Docs
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/__init__.py
  generated-sdks/python/system_initiative_api_client/api/schemas_api.py
  generated-sdks/python/system_initiative_api_client/models/__init__.py
  generated-sdks/python/system_initiative_api_client/models/search_schemas_v1_request.py
  generated-sdks/python/system_initiative_api_client/models/search_schemas_v1_response.py
  generated-sdks/python/test/test_schemas_api.py
  generated-sdks/python/test/test_search_schemas_v1_request.py
  generated-sdks/python/test/test_search_schemas_v1_response.py
  generated-sdks/typescript/api.ts
Labels: A-docs

#7237 feat(luminork): Allow searching for components by upgrade status
  lib/luminork-server/src/service/v1/components/search_components.rs
Labels: A-luminork

#7238 chore(luminork): Regenerate Luminork SDKs and docs
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/models/search_components_v1_request.py
  generated-sdks/python/test/test_search_components_v1_request.py
  generated-sdks/typescript/api.ts
Labels: A-docs

#7242 chore(docs): Revamp changelog
  app/docs/src/changelog/index.md
Labels: A-docs

#7243 fix(web): Ensure context menu shows in correct location during multi-select
  app/web/src/newhotness/Explore.vue
Labels: A-web

#7240 fix(luminork): Adding an audit trail event for upgrade component
  lib/luminork-server/src/service/v1/components/upgrade_component.rs
Labels: A-luminork

#7246 fix: make typescript types symlink work in cargo and buck2
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/v2/fs.rs
  prelude-si/macros/rust.bzl
Labels: A-sdf

#7256 IndexUpdate: patch is optional (when index is created)
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#7249 feat: add the ability to run a template management function to the mcp
  bin/si-mcp-server/src/server.ts
  bin/si-mcp-server/src/tools/componentUpdate.ts
  bin/si-mcp-server/src/tools/templateGenerate.ts
  bin/si-mcp-server/src/tools/templateList.ts
  bin/si-mcp-server/src/tools/templateRun.ts
  bin/si-mcp-server/src/tools/upgradeComponents.ts
Labels: A-ai-agent

#7259 feat: remove/report invalid connections in validation/migration endpoints
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/workspace_snapshot/graph/validator.rs
  lib/sdf-server/src/service/v2/admin/migrate_connections.rs
  lib/sdf-server/src/service/v2/admin/validate_snapshot.rs
Labels: A-sdf, A-dal

#7263 feat(luminork): Allow upgrading components of a specific schema category
  bin/si-mcp-server/deno.json
  bin/si-mcp-server/src/tools/upgradeComponents.ts
  deno.lock
Labels: A-ai-agent

#7266 NewButton no longer changes size on loading
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ComponentHistory.vue
  app/web/src/newhotness/Onboarding2.vue
  app/web/src/pages/DebugPage.vue
  lib/vue-lib/src/design-system/general/NewButton.vue
  lib/vue-lib/src/design-system/index.ts
Labels: A-web

#7267 feat(mcp-server): Split apply change set and force-apply change set
  bin/si-mcp-server/src/server.ts
  bin/si-mcp-server/src/tools/changeSetForceApply.ts
  bin/si-mcp-server/src/tools/changeSetUpdateStatus.ts
Labels: A-ai-agent

#7271 don't get stuck in lobby if checkonboarding fails
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#7202 fix: frontend validate needs rbe token
  .ci/provision.sh
Labels: A-ci

#7279 feat(docs): Add initial set of technical docs
  app/docs/src/.vitepress/config.ts
  app/docs/src/architecture/digital-twin.md
  app/docs/src/index.md
  app/docs/src/reference/architecture/ai.md
  app/docs/src/reference/architecture/change-control.md
  app/docs/src/reference/architecture/digital-twin.md
  app/docs/src/reference/architecture/engine.md
  app/docs/src/reference/architecture/functions.md
  app/docs/src/reference/architecture/index.md
  app/docs/src/reference/architecture/snapshot.md
  app/docs/src/reference/architecture/tenancy.md
  app/docs/src/reference/iac-comparison.md
  app/docs/src/reference/index.md
Labels: A-docs

#7301 Fix luminork create auth endpoint
  lib/luminork-server/src/service/v1/schemas/create_authentication.rs
Labels: A-luminork

#7302 feat(luminork): Adding the ability to return codegen from our list_components api
  deno.lock
  lib/luminork-server/src/service/v1/common.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
Labels: A-luminork

#7304 fix(luminork): Ensure includeCodegen is optional to list_Components endpoint
  lib/luminork-server/src/service/v1/common.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
Labels: A-luminork

#7305 fix(web): Ensure we don't unnecessarily show the aiAgent banner
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#7297 Map QOL: toggle checkbox for hiding components that aren't subscribed to the selected component
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
Labels: A-web

#7294 chore(deps): Upgrade fuser to 0.16.0 to fix CVE
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, vulnerability-fix, A-edda, A-luminork

#7312 Hot fix: if the first time modal api call fails users are stuck in the lobby
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#7283 fixed first time user default workspace redirect
  app/auth-portal/src/pages/DefaultWorkspacePage.vue
  app/auth-portal/src/pages/ProfilePage.vue
Labels: A-auth

#7314 chore(changelog): Updating changelog for previous week
  app/docs/src/changelog/index.md
Labels: A-docs

#7328 nits-for-what-is-si
  app/docs/src/what-is-si.md
Labels: A-docs

#7336 fix(auth-api): Fix Docker container startup after TSX/TypeScript 5.x upgrade
  bin/auth-api/package.json
  deno.lock
  lib/tsconfig/tsconfig.node.json
Labels: A-auth

#7187 Implement intelligent materializedview rebuild system on schema changes
  lib/edda-core/src/api_types.rs
  lib/edda-core/src/api_types/rebuild_changed_definitions_request.rs
  lib/edda-core/src/api_types/rebuild_changed_definitions_request/snapshots-v1/serialized.snap
  lib/edda-core/src/api_types/rebuild_changed_definitions_request/v1.rs
  lib/edda-server/src/api_types/change_set_request.rs
  lib/edda-server/src/api_types/deployment_request.rs
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/deployment_processor_task.rs
  lib/edda-server/src/materialized_view.rs
  lib/edda-server/src/materialized_view/change_set.rs
  lib/edda-server/src/materialized_view/deployment.rs
  lib/edda-server/tests/compressing_stream/change_set_request.rs
  lib/edda-server/tests/compressing_stream/deployment_request.rs
  lib/edda-server/tests/compressing_stream/mod.rs
  lib/frigg/src/deployment.rs
  lib/frigg/src/kv_history.rs
  lib/frigg/src/lib.rs
  lib/frigg/src/workspace.rs
  lib/si-frontend-mv-types-macros/src/definition_checksum.rs
  lib/si-frontend-mv-types-macros/src/lib.rs
  lib/si-frontend-mv-types-macros/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/action.rs
  lib/si-frontend-mv-types-rs/src/action/action_diff_list.rs
  lib/si-frontend-mv-types-rs/src/action/prototype.rs
  lib/si-frontend-mv-types-rs/src/cached_schema.rs
  lib/si-frontend-mv-types-rs/src/cached_schemas.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
  lib/si-frontend-mv-types-rs/src/component/component_diff.rs
  lib/si-frontend-mv-types-rs/src/component/erased_components.rs
  lib/si-frontend-mv-types-rs/src/definition_checksum.rs
  lib/si-frontend-mv-types-rs/src/incoming_connections.rs
  lib/si-frontend-mv-types-rs/src/index.rs
  lib/si-frontend-mv-types-rs/src/index/change_set.rs
  lib/si-frontend-mv-types-rs/src/index/deployment.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/management.rs
  lib/si-frontend-mv-types-rs/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/prop_schema.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
  lib/si-frontend-mv-types-rs/src/schema_variant/prop_tree.rs
  lib/si-frontend-mv-types-rs/src/secret.rs
Labels: A-edda

#7342 chore(edda): Add to/from index checksum to edda spans
  lib/edda-server/src/materialized_view/change_set.rs
Labels: A-edda

#7345 fix(auth-api): Switched Docker build stages to use full Node.js image to avoid OpenSSL installation issues
  bin/auth-api/Dockerfile
Labels: A-auth

#7347 Lobby exit should not be within a queue
  app/web/src/workers/webworker.ts
Labels: A-web

#7348 feat: introducing a basic schema creator in the si mcp server
  bin/si-mcp-server/src/server.ts
  bin/si-mcp-server/src/tools/schemaCreate.ts
Labels: A-ai-agent

#7351 fix(sdf,luminork): harmonize create change set btw sdf & luminork
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
  lib/sdf-server/src/service/v2/change_set/create.rs
Labels: A-sdf, A-luminork

#7350 App & Web Worker are querying & firing requests way too much
  app/web/src/workers/mjolnir_queue.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#7352 chore(roadmap): Adding Provider coverage and AI Authoring to the roadmap
  app/docs/src/roadmap/index.md
Labels: A-docs

#7363 chore(deps): Upgrade vite to 5.4.20
  app/auth-portal/package.json
  app/web/package.json
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: vulnerability-fix

#7370 Proceed without the previous version if unable to retrieve during deployment MV building
  lib/edda-server/src/materialized_view/deployment.rs
Labels: A-edda

#7360 feat(dal): schema level actions, overlays
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/attribute/value/default_subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/component/new.rs
  lib/dal/src/entity_kind.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/func/binding/action.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/job/definition/action.rs
  lib/dal/src/schema.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/tests.rs
  lib/dal/src/workspace_snapshot/graph/tests/rebase.rs
  lib/dal/src/workspace_snapshot/graph/v4.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/action/schema_level.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/sdf-server/src/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/si-events-rs/src/audit_log/v1.rs
  lib/si-events-rs/src/workspace_snapshot.rs
Labels: A-sdf, A-dal

#7375 fix(web): Ensure that when bulk editing on HEAD we can create a new change set
  app/web/src/newhotness/Explore.vue
Labels: A-web

#7371 SI AI capture duplicate action kind error and respond appropriately
  bin/si-mcp-server/src/tools/commonBehavior.ts
  bin/si-mcp-server/src/tools/funcCreate.ts
Labels: A-ai-agent

#7372 longer timeouts for get-tiles
  app/web/cypress/ux/tile-view/get-tiles.cy.ts
Labels: A-web

#7376 chore(deps): Upgrade tracing-subscriber to 0.3.20
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, vulnerability-fix, A-edda, A-luminork

#7381 docs: add comprehensive terraform comparison
  app/docs/src/.vitepress/config.ts
  app/docs/src/reference/architecture/index.md
  app/docs/src/reference/iac-comparison.md
  app/docs/src/reference/iac-comparison/action-function.png
  app/docs/src/reference/iac-comparison/aws-vpc-template.png
  app/docs/src/reference/iac-comparison/data-source-ami.png
  app/docs/src/reference/iac-comparison/data-source-ec2.png
  app/docs/src/reference/iac-comparison/random_resource.png
  app/docs/src/reference/iac-comparison/redshift-cluster.png
  app/docs/src/reference/iac-comparison/review-screen.png
  app/docs/src/reference/iac-comparison/web-app-step-1.png
  app/docs/src/reference/iac-comparison/web-app-step-2.png
  app/docs/src/reference/iac-comparison/web-app-step-3.png
  app/docs/src/reference/iac-comparison/workspace-grid.png
  app/docs/src/reference/iac-comparison/workspace-map.png
  app/docs/src/what-is-si.md
Labels: A-docs

#7387 create & edit schemas via schemaUpsert tool
  bin/si-mcp-server/src/server.ts
  bin/si-mcp-server/src/tools/funcCreate.ts
  bin/si-mcp-server/src/tools/schemaCreate.ts
  bin/si-mcp-server/src/tools/schemaUpsert.ts
Labels: A-ai-agent

#7393 feat(luminork): When unlocking a schema ensure that it's installed
  lib/luminork-server/src/service/v1/schemas/create_schema.rs
  lib/luminork-server/src/service/v1/schemas/get_schema.rs
  lib/luminork-server/src/service/v1/schemas/mod.rs
  lib/luminork-server/src/service/v1/schemas/unlock_schema.rs
Labels: A-luminork
