Repository systeminit/si, pull requests merged in 2025-05, with the labels that each got.

#6001 fix(innit): handle list types correctly
  lib/config-file/src/parameter_provider.rs
  lib/innit-client/src/config.rs
  lib/innit-core/src/lib.rs
  lib/innit-server/src/routes/create_parameter.rs
  lib/innit-server/src/routes/get_parameter.rs
  lib/si-data-ssm/src/lib.rs
Labels: A-config-file

#6002 feat(luminork): Add tracking to create, delete and update component
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/delete_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-luminork

#6003 feat(sdf): API endpoint for attribute subscriptions
  Cargo.lock
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/subscription.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/component.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6011 feat(luminork): Add support for actions endpoints cancel, retry, put-on-hold
  lib/luminork-server/src/api_types.rs
  lib/luminork-server/src/api_types/actions.rs
  lib/luminork-server/src/api_types/actions/v1.rs
  lib/luminork-server/src/api_types/component/v1.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/actions/cancel_action.rs
  lib/luminork-server/src/service/v1/actions/get_actions.rs
  lib/luminork-server/src/service/v1/actions/mod.rs
  lib/luminork-server/src/service/v1/actions/put_on_hold.rs
  lib/luminork-server/src/service/v1/actions/retry_action.rs
  lib/luminork-server/src/service/v1/components/execute_management_function.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/funcs/mod.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-luminork

#6013 fix(web) - no more reload bugs in FuncEditor
  app/web/src/components/CodeEditor.vue
  app/web/src/components/FuncEditor/FuncEditor.vue
  app/web/src/store/func/funcs.store.ts
Labels: A-web

#6008 feat(veritech): use innit
  Cargo.lock
  bin/veritech/BUCK
  bin/veritech/Cargo.toml
  bin/veritech/src/args.rs
  bin/veritech/src/main.rs
  lib/config-file/src/parameter_provider.rs
  lib/innit-client/src/lib.rs
  lib/veritech-server/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6015 feat(sdf): API to create map/array elements that do not exist
  app/web/src/store/component_attributes.store.ts
  lib/dal/src/attribute.rs
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/subscription.rs
  lib/dal/src/prop.rs
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal, A-web

#6007 feat: Light up socket button when attributes have subscriptions
  lib/dal/src/property_editor/values.rs
Labels: A-dal

#6019 feat(luminork): Add support for secrets
  lib/dal/src/secret.rs
  lib/dal/src/secret/definition_view.rs
  lib/luminork-server/src/api_types.rs
  lib/luminork-server/src/api_types/secrets.rs
  lib/luminork-server/src/api_types/secrets/v1.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/actions/mod.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
  lib/luminork-server/src/service/v1/funcs/mod.rs
  lib/luminork-server/src/service/v1/secrets/create_secret.rs
  lib/luminork-server/src/service/v1/secrets/delete_secret.rs
  lib/luminork-server/src/service/v1/secrets/get_secrets.rs
  lib/luminork-server/src/service/v1/secrets/mod.rs
  lib/luminork-server/src/service/v1/secrets/update_secret.rs
  lib/luminork-server/src/service/v1/workspaces.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-dal, A-luminork

#6026 chore(luminork): Remove the word luminork from the openapi spec
  lib/luminork-server/src/routes.rs
Labels: A-luminork

#6027 feat(edda, forklift, pinga, rebaser, sdf): use innit
  Cargo.lock
  bin/edda/BUCK
  bin/edda/Cargo.toml
  bin/edda/src/args.rs
  bin/edda/src/main.rs
  bin/forklift/BUCK
  bin/forklift/Cargo.toml
  bin/forklift/src/args.rs
  bin/forklift/src/main.rs
  bin/pinga/BUCK
  bin/pinga/Cargo.toml
  bin/pinga/src/args.rs
  bin/pinga/src/main.rs
  bin/rebaser/BUCK
  bin/rebaser/Cargo.toml
  bin/rebaser/src/args.rs
  bin/rebaser/src/main.rs
  bin/sdf/BUCK
  bin/sdf/Cargo.toml
  bin/sdf/src/args.rs
  bin/sdf/src/main.rs
  lib/edda-server/src/lib.rs
  lib/forklift-server/src/lib.rs
  lib/pinga-server/src/lib.rs
  lib/rebaser-server/src/lib.rs
  lib/sdf-server/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6009 Parallel MV builds in edda
  lib/dal-materialized-views/src/attribute_tree.rs
  lib/dal-materialized-views/src/component.rs
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/materialized_view.rs
  lib/dal/tests/integration_test/newhotness.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-types-macros/src/lib.rs
Labels: A-dal, A-web, A-edda

#6022 Component Page Editing Attributes (not map or array)
  app/web/package.json
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/SURVIVAL_GUIDE.md
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/EditInPlace.vue
  app/web/src/newhotness/layout_components/TextPill.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  app/web/src/newhotness/logic_composables/navigation_stack.ts
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/newhotness/types.ts
  app/web/src/newhotness/util.ts
  app/web/src/router.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/name.rs
  lib/vue-lib/package.json
  pnpm-lock.yaml
Labels: A-sdf, A-web

#6021 feat(sdf): Make PUT /attributes API more concise/consistent
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-web

#6028 feat(sdf, web): add admin button for clearing the innit cache
  Cargo.lock
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/admin.store.ts
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/v2/admin.rs
  lib/sdf-server/src/service/v2/admin/innit.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6029 fix: config ordering to ensure we can override settings at the cli
  lib/config-file/src/layered_load.rs
Labels: A-config-file

#6032 feat(web): Show props on the floating connections menu
  app/web/src/components/ModelingView/ConnectionMenuCandidateList.vue
  app/web/src/components/ModelingView/ConnectionMenuCandidateListItem.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/store/component_attributes.store.ts
  app/web/src/store/components.store.ts
  app/web/src/store/feature_flags.store.ts
  lib/vue-lib/src/pinia/pinia_api_tools.ts
Labels: A-web

#6033 Adjust layout, add docs, add fuzzy search to prop options and attribute tree
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  app/web/src/workers/types/dbinterface.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal/tests/integration_test/newhotness.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
Labels: A-dal, A-web

#6036 Update color-eyre patch version and rust deps
  Cargo.lock
  Cargo.toml
  lib/dal/src/pkg/import.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/color-spantrace/fixups.toml
  third-party/rust/fixups/object/fixups.toml
  third-party/rust/fixups/owo-colors/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6038 Ability to use the keyboard to select components on the Explore page
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6037 Centralize materialized view generation
  lib/dal-materialized-views/src/action_prototype_view_list.rs
  lib/dal-materialized-views/src/action_view_list.rs
  lib/dal-materialized-views/src/attribute_tree.rs
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component_list.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal-materialized-views/src/schema_variant_categories.rs
  lib/dal-materialized-views/src/view.rs
  lib/dal-materialized-views/src/view_component_list.rs
  lib/dal-materialized-views/src/view_list.rs
  lib/dal/src/action.rs
  lib/dal/src/action/prototype.rs
  lib/dal/src/diagram.rs
  lib/dal/src/diagram/geometry.rs
  lib/dal/src/diagram/view.rs
  lib/dal/src/schema/variant.rs
  lib/dal/tests/integration_test/materialized_view.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/dal/tests/integration_test/mod.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/sdf-server/src/service/v2/view/get_diagram.rs
Labels: A-sdf, A-dal, A-edda

#6043 Limit concurrency of parallel MV building in edda
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-dal, A-edda

#6048 Add MVs for incoming socket-to-socket connections
  app/web/src/newhotness/Component.vue
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component_connections.rs
  lib/dal-materialized-views/src/component_connections_list.rs
  lib/dal-materialized-views/src/lib.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-types-macros/src/lib.rs
  lib/si-frontend-types-rs/src/action.rs
  lib/si-frontend-types-rs/src/action/prototype.rs
  lib/si-frontend-types-rs/src/change_set.rs
  lib/si-frontend-types-rs/src/checksum.rs
  lib/si-frontend-types-rs/src/index.rs
  lib/si-frontend-types-rs/src/lib.rs
  lib/si-frontend-types-rs/src/newhotness.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
  lib/si-frontend-types-rs/src/newhotness/component_connections.rs
  lib/si-frontend-types-rs/src/reference.rs
  lib/si-frontend-types-rs/src/schema_variant.rs
  lib/si-frontend-types-rs/src/view.rs
Labels: A-web, A-edda

#6046 Add "diff" content to the component mv. Also, fix the feature flag sponge we keep messing up
  app/web/src/store/feature_flags.store.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
Labels: A-dal, A-web

#6040 feat(innitctl): skeleton for templating config files
  Cargo.lock
  Cargo.toml
  bin/innitctl/BUCK
  bin/innitctl/Cargo.toml
  bin/innitctl/Dockerfile
  bin/innitctl/configs/.dockerignore
  bin/innitctl/configs/.gitignore
  bin/innitctl/configs/config.yaml.template
  bin/innitctl/configs/prometheus.yml.template
  bin/innitctl/configs/vector.yaml.template
  bin/innitctl/src/args.rs
  bin/innitctl/src/main.rs
  component/deploy/docker-compose.yaml
  component/deploy/userdata
  component/init/BUCK
  component/init/Dockerfile
  component/init/configs/global-bundle.pem
  component/init/configs/proc-exporter.yml
  component/init/configs/service.toml
  flake.nix
  lib/innit-client/src/config.rs
  lib/innitctl/BUCK
  lib/innitctl/Cargo.toml
  lib/innitctl/src/config.rs
  lib/innitctl/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/handlebars/fixups.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6039 feat(docs): Add the ability to autogenerate the OpenAPI docs for the external API
  BUCK
  Cargo.lock
  Cargo.toml
  app/docs/BUCK
  app/docs/custom-templates/openapi3/README.md
  app/docs/custom-templates/openapi3/authentication_none.def
  app/docs/custom-templates/openapi3/callbacks.def
  app/docs/custom-templates/openapi3/code_javascript.dot
  app/docs/custom-templates/openapi3/code_nodejs.dot
  app/docs/custom-templates/openapi3/code_python.dot
  app/docs/custom-templates/openapi3/debug.def
  app/docs/custom-templates/openapi3/discovery.def
  app/docs/custom-templates/openapi3/footer.def
  app/docs/custom-templates/openapi3/links.def
  app/docs/custom-templates/openapi3/main.dot
  app/docs/custom-templates/openapi3/operation.dot
  app/docs/custom-templates/openapi3/parameters.def
  app/docs/custom-templates/openapi3/responses.def
  app/docs/custom-templates/openapi3/security.def
  app/docs/custom-templates/openapi3/translations.dot
  app/docs/package.json
  app/docs/src/reference/external-api.md
  bin/luminork/BUCK
  bin/openapi-extractor/BUCK
  bin/openapi-extractor/Cargo.toml
  bin/openapi-extractor/data/openapi.json
  bin/openapi-extractor/src/main.rs
  data/openapi.json
  lib/luminork-server/src/lib.rs
  lib/luminork-server/src/routes.rs
  pnpm-lock.yaml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-docs, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-auth, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6061 chore: bump supertest for CVE-2025-46653
  bin/auth-api/package.json
  pnpm-lock.yaml
Labels: A-auth

#6053 feat(web) - resource/code panels for newhotness
  app/web/src/components/CodeViewer.vue
  app/web/src/newhotness/CodePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
Labels: A-web

#6055 feat(web): Pop up connections menu from attribute tree
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6074 docs: fix image extension
  app/docs/src/how-tos/aws-eks.md
Labels: A-docs, A-auth

#6075 docs: fix missing image file extensions
  app/docs/src/how-tos/aws-eks.md
Labels: A-docs, A-auth

#6078 fix(web): Prevent a screen full of toasts for 504 api request errors
  app/web/src/main.ts
Labels: A-web

#6077 fix(luminork): Adding a lot of newly generated API examples in the openapi spec
  app/docs/custom-templates/openapi3/operation.dot
  app/docs/package.json
  app/docs/src/.vitepress/config.ts
  app/docs/src/reference/index.md
  app/docs/src/reference/public-api.md
  data/openapi.json
  lib/luminork-server/src/api_types.rs
  lib/luminork-server/src/api_types/change_sets.rs
  lib/luminork-server/src/api_types/change_sets/v1.rs
  lib/luminork-server/src/api_types/func_run/v1.rs
  lib/luminork-server/src/api_types/secrets/v1.rs
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/actions/get_actions.rs
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/change_sets/delete.rs
  lib/luminork-server/src/service/v1/change_sets/force_apply.rs
  lib/luminork-server/src/service/v1/change_sets/get.rs
  lib/luminork-server/src/service/v1/change_sets/list.rs
  lib/luminork-server/src/service/v1/change_sets/merge_status.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
  lib/luminork-server/src/service/v1/change_sets/request_approval.rs
  lib/luminork-server/src/service/v1/common.rs
  lib/luminork-server/src/service/v1/components/add_action.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/delete_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
  lib/luminork-server/src/service/v1/funcs/get_func.rs
  lib/luminork-server/src/service/v1/funcs/get_func_run.rs
  lib/luminork-server/src/service/v1/schema/mod.rs
  lib/luminork-server/src/service/v1/secrets/create_secret.rs
  lib/luminork-server/src/service/v1/secrets/delete_secret.rs
  lib/luminork-server/src/service/v1/secrets/get_secrets.rs
  lib/luminork-server/src/service/v1/secrets/update_secret.rs
Labels: A-docs, A-auth, A-luminork

#6079 chore(ci): Ensure Luminork is in our deployments
  .github/workflows/deploy-service-restart.yml
  .github/workflows/deploy-stack.yml
Labels: A-ci

#6080 fix(luminork): Fixup the luminork openapi spec validations
  data/openapi.json
  lib/luminork-server/src/service/v1/actions/cancel_action.rs
  lib/luminork-server/src/service/v1/actions/get_actions.rs
  lib/luminork-server/src/service/v1/actions/put_on_hold.rs
  lib/luminork-server/src/service/v1/actions/retry_action.rs
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/change_sets/delete.rs
  lib/luminork-server/src/service/v1/change_sets/force_apply.rs
  lib/luminork-server/src/service/v1/change_sets/get.rs
  lib/luminork-server/src/service/v1/change_sets/list.rs
  lib/luminork-server/src/service/v1/change_sets/merge_status.rs
  lib/luminork-server/src/service/v1/change_sets/request_approval.rs
  lib/luminork-server/src/service/v1/components/add_action.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/delete_component.rs
  lib/luminork-server/src/service/v1/components/execute_management_function.rs
  lib/luminork-server/src/service/v1/components/find_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
  lib/luminork-server/src/service/v1/funcs/get_func.rs
  lib/luminork-server/src/service/v1/funcs/get_func_run.rs
  lib/luminork-server/src/service/v1/schema/find_schema.rs
  lib/luminork-server/src/service/v1/schema/get_default_variant.rs
  lib/luminork-server/src/service/v1/schema/get_schema.rs
  lib/luminork-server/src/service/v1/schema/get_variant.rs
  lib/luminork-server/src/service/v1/schema/list_schema.rs
  lib/luminork-server/src/service/v1/secrets/create_secret.rs
  lib/luminork-server/src/service/v1/secrets/delete_secret.rs
  lib/luminork-server/src/service/v1/secrets/get_secrets.rs
  lib/luminork-server/src/service/v1/secrets/update_secret.rs
Labels: A-luminork

#6081 chore(ci): Invalidate Cloudfront for Luminork
  .github/workflows/invoke-and-check-invalidations.yml
Labels: A-ci

#6052 fix(si-split-graph): cycle detection
  lib/dal-test/src/lib.rs
  lib/dal-test/src/signup.rs
  lib/dal-test/src/test_exclusive_schemas/mod.rs
  lib/dal/examples/rebase/main.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/si-split-graph/src/lib.rs
  lib/si-split-graph/src/subgraph.rs
  lib/si-split-graph/src/tests/mod.rs
  lib/si-split-graph/src/updates.rs
Labels: A-dal, A-dal-test, A-rebaser, A-si-layer-cache

#6018 Restructure AttributeTree MV to be keyed on ComponentId
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-types-rs/src/checksum.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
  lib/si-frontend-types-rs/src/newhotness/component/attribute_tree.rs
  lib/si-frontend-types-rs/src/reference.rs
Labels: A-edda

#6082 feat(split-snapshot): ordering corrections
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/src/workspace_snapshot/split_snapshot/corrections.rs
  lib/rebaser-server/src/rebase.rs
  lib/si-split-graph/src/lib.rs
  lib/si-split-graph/src/petgraph_traits.rs
Labels: A-dal, A-rebaser

#6056 dal: API to get attribute path to an AV
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/attribute_value.rs
  lib/dal/tests/integration_test/component/debug.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal

#6085 Use JSON Pointer as the AttributeValue path in AttributeTree MV
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal/tests/integration_test/materialized_views.rs
Labels: A-dal

#6084 feat(web) - newhotness component actions and diff panels
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/DiffPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/FuncRunStatusBadge.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/layout_components/GridItemWithLiveHeader.vue
  app/web/src/workers/types/dbinterface.ts
Labels: A-web

#6086 New hotness map
  app/web/package.json
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/TabGroupToggle.vue
  app/web/src/newhotness/logic_composables/toggle_containers.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-types-rs/src/newhotness/component.rs
  lib/si-frontend-types-rs/src/newhotness/component_connections.rs
  lib/vue-lib/src/design-system/icons/IconNoWrapper.vue
  lib/vue-lib/src/design-system/index.ts
  pnpm-lock.yaml
Labels: A-dal, A-web

#6090 Ordered push consumers are cleaned up automatically, so this will always fail
  lib/dal/src/audit_logging.rs
  lib/shuttle-server/src/lib.rs
  lib/shuttle-server/tests/integration.rs
Labels: A-dal

#6089 Changed AttributeTree structure is working again
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/CodePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/util.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6091 chore(ci): Rename si-api-test
  .github/workflows/run-api-test.yml
  .github/workflows/soak-test.yml
  bin/si-sdf-api-test/README.md
  bin/si-sdf-api-test/benchmark/abandon_all_change_sets.ts
  bin/si-sdf-api-test/benchmark/func_stampede.ts
  bin/si-sdf-api-test/benchmark/install_modules.ts
  bin/si-sdf-api-test/benchmark/one_upper.ts
  bin/si-sdf-api-test/binary_execution_lib.ts
  bin/si-sdf-api-test/deno.json
  bin/si-sdf-api-test/deno.lock
  bin/si-sdf-api-test/main.ts
  bin/si-sdf-api-test/main_test.ts
  bin/si-sdf-api-test/run.py
  bin/si-sdf-api-test/sdf_api_client.ts
  bin/si-sdf-api-test/test_execution_lib.ts
  bin/si-sdf-api-test/test_helpers.ts
  bin/si-sdf-api-test/tests/0-add_action.ts
  bin/si-sdf-api-test/tests/1-create_and_apply_across_change_sets.ts
  bin/si-sdf-api-test/tests/2-create_and_delete_component.ts
  bin/si-sdf-api-test/tests/3-create_and_use_variant.ts
  bin/si-sdf-api-test/tests/4-create_two_components_connect_and_propagate.ts
  bin/si-sdf-api-test/tests/5-emulate_paul_stack.ts
  bin/si-sdf-api-test/tests/6-get_head_changeset.ts
  bin/si-sdf-api-test/tests/7-emulate_authoring.ts
Labels: A-ci

#6093 feat(luminork): Add ability to purge open change sets
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
  lib/luminork-server/src/service/v1/change_sets/purge_open.rs
  lib/luminork-server/src/service/v1/workspaces.rs
  lib/si-events-rs/src/audit_log/v1.rs
Labels: A-luminork

#6050 feat(sdf): Add subscription edges to get_diagram API
  app/web/src/api/sdf/dal/component.ts
  app/web/src/store/components.store.ts
  app/web/src/store/views.store.ts
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/diagram.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/binding.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/func/argument.rs
  lib/dal/tests/integration_test/pkg/mod.rs
  lib/luminork-server/src/api_types/component/v1.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
  lib/sdf-server/src/service/v2/func/binding/attribute/reset_attribute_binding.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/list_funcs.rs
  lib/sdf-server/src/service/v2/management/generate_template.rs
  lib/sdf-server/src/service/v2/variant/get_variant.rs
  lib/sdf-v1-routes-variant/src/regenerate_variant.rs
Labels: A-sdf, A-dal, A-web, A-dal-test, A-luminork

#6097 fix(dal): correctly delete components with incoming ValueSubscription edges
  lib/dal/src/component.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
Labels: A-dal

#6098 chore(sdf): Remove unused CRDT tests
  lib/sdf-server/tests/service_tests/crdt.rs
  lib/sdf-server/tests/service_tests/mod.rs
Labels: A-sdf

#6096 feat(luminork): Schemas and components are paginated
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/common.rs
  lib/luminork-server/src/service/v1/components/list_components.rs
  lib/luminork-server/src/service/v1/schema/list_schema.rs
  lib/luminork-server/src/service/v1/schema/mod.rs
  lib/luminork-server/src/service/v1/schemas/find_schema.rs
  lib/luminork-server/src/service/v1/schemas/get_default_variant.rs
  lib/luminork-server/src/service/v1/schemas/get_schema.rs
  lib/luminork-server/src/service/v1/schemas/get_variant.rs
  lib/luminork-server/src/service/v1/schemas/list_schemas.rs
  lib/luminork-server/src/service/v1/schemas/mod.rs
  lib/luminork-server/src/service/v1/workspaces.rs
Labels: A-luminork

#6099 feat(dal): Add snapshot-fixer with notes on how to use it and an example
  lib/dal/examples/snapshot-fixer/main.rs
Labels: A-dal

#6105 fix(dal): Don't mutate the route when changing routes
  app/web/src/router.ts
Labels: A-web

#6102 feat(dal): Respect subscriptions when calculating action dependencies
  lib/dal-test/src/helpers/component.rs
  lib/dal/src/action.rs
  lib/dal/src/action/dependency_graph.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/action.rs
Labels: A-dal, A-dal-test

#6106 Fix duplicate incoming connections and wrong prop
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal-test/src/expected.rs
  lib/dal-test/src/helpers.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/component/frame.rs
  lib/dal/src/component/socket.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/management/prototype.rs
  lib/dal/src/socket/input.rs
  lib/dal/src/socket/output.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/materialized_views.rs
Labels: A-dal, A-dal-test

#6104 Connections panel, outgoing connections, weak_references & naming scheme
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/mead-hall/AssetActionsDetails.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/CodePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/DiffPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/newhotness/logic_composables/navigation_stack.ts
  app/web/src/newhotness/util.ts
  app/web/src/router.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6109 Show prop-to-prop connections on diagram and edge details panel
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/ComponentConnectionsPanel.vue
  app/web/src/components/Connection.vue
  app/web/src/components/ConnectionEndCard.vue
  app/web/src/components/DetailsPanelTimestamps.vue
  app/web/src/components/EdgeDetailsPanel.vue
  app/web/src/components/ModelingDiagram/DiagramGroup.vue
  app/web/src/components/ModelingDiagram/DiagramNode.vue
  app/web/src/components/ModelingDiagram/ModelingDiagram.vue
  app/web/src/components/ModelingDiagram/diagram_types.ts
  app/web/src/components/ModelingView/DeleteSelectionModal.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/RestoreSelectionModal.vue
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/newhotness/Component.vue
  app/web/src/store/components.store.ts
  app/web/src/store/realtime/realtime_events.ts
  app/web/src/store/views.store.ts
  lib/dal/src/diagram.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal, A-web

#6116 Adding the SchemaVariant as a Reference on Component
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/DiffPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal-materialized-views/src/mgmt_prototype_view_list.rs
  lib/dal-materialized-views/src/schema_variant.rs
  lib/dal/src/socket/connection_annotation.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/management.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
  lib/si-frontend-mv-types-rs/src/temporary_conversion_impls.rs
Labels: A-dal, A-web, A-edda

#6118 feat(auth-stack): Ensure all members of a workspace can create a token
  app/auth-portal/src/pages/WorkspaceAuthTokensPage.vue
  bin/auth-api/src/routes/auth_token.routes.ts
Labels: A-auth

#6117 Add the management functions list to the component's panel
  app/web/src/newhotness/Component.vue
Labels: A-web

#6120 feat(web) - partially complete add component newhotness
  app/web/src/components/AssetPalette.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ComponentFilterTile.vue
  app/web/src/newhotness/Explore.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/general/TextPill.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/layout/HorizontalScrollArea.vue
  lib/vue-lib/src/design-system/layout/ScrollArea.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
  lib/vue-lib/src/design-system/utils/color_utils.ts
  lib/vue-lib/src/tailwind/tailwind.css
Labels: A-web

#6122 chore(ci): Adding Luminork API Tests to CI
  .github/workflows/run-api-test.yml
  .gitignore
  bin/si-luminork-api-tests/.env
  bin/si-luminork-api-tests/scripts/run-tests.sh
  bin/si-luminork-api-tests/tests/schemas.test.ts
Labels: A-ci

#6112 fix(rebaser): 4(+?) error-handling behavioral changes
  Cargo.lock
  lib/forklift-server/src/server/app/audit_logs.rs
  lib/nats-dead-letter-queue/src/lib.rs
  lib/rebaser-server/BUCK
  lib/rebaser-server/Cargo.toml
  lib/rebaser-server/src/app_state.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/handlers.rs
  lib/rebaser-server/src/lib.rs
  lib/rebaser-server/src/serial_dvu_task.rs
  lib/rebaser-server/src/server.rs
  lib/rebaser-server/src/subject.rs
  lib/si-data-nats/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6125 Creating components!
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ViewCard.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/FilterTile.vue
  app/web/src/newhotness/layout_components/InstructiveVormInput.vue
  app/web/src/newhotness/types.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6111 feat(dal): Allow arrays to subscribe to multiple values
  app/web/src/store/components.store.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal-test/src/helpers.rs
  lib/dal-test/src/helpers/attribute.rs
  lib/dal-test/src/helpers/attribute/value.rs
  lib/dal-test/src/helpers/change_set.rs
  lib/dal-test/src/helpers/component.rs
  lib/dal-test/src/helpers/schema.rs
  lib/dal-test/src/helpers/schema/variant.rs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/subscription.rs
  lib/dal/src/component.rs
  lib/dal/src/property_editor/values.rs
  lib/dal/tests/integration_test/action.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#6126 feat(auth-stack): Add the ability to opt-in / out of approvals
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/auth-portal/src/store/feature_flags.store.ts
  app/auth-portal/src/store/workspaces.store.ts
  bin/auth-api/prisma/migrations/20250514231833_workspace_approvals/migration.sql
  bin/auth-api/prisma/migrations/migration_lock.toml
  bin/auth-api/prisma/schema.prisma
  bin/auth-api/src/routes/admin.routes.ts
  bin/auth-api/src/routes/workspace.routes.ts
  bin/auth-api/src/services/workspaces.service.ts
Labels: A-auth

#6127 feat(web, sdf): Add subscription button to arrays
  app/web/src/api/sdf/dal/component.ts
  app/web/src/components/AttributesPanel/SourceIconWithTooltip.vue
  app/web/src/components/AttributesPanel/TreeFormItem.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/store/components.store.ts
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-web

#6119 chore(dal): simplify APA creation
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/attribute/prototype/argument/value_source.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func/binding/attribute.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant.rs
  lib/dal/src/schema/variant/leaves.rs
  lib/dal/src/secret.rs
  lib/sdf-server/src/service/v2/fs/bindings.rs
Labels: A-sdf, A-dal

#6132 Don't lose track of MVs when rebuilding, and ensure MVs have stable output
  lib/dal-materialized-views/src/component_list.rs
  lib/dal-materialized-views/src/schema_variant_categories.rs
  lib/dal/src/schema/variant.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-dal, A-edda

#6135 New hotness nav stack fixes
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/logic_composables/navigation_stack.ts
Labels: A-web

#6138 fix(luminork): Update create_component to not rely only on module cache
  lib/luminork-server/src/service/v1/components/create_component.rs
Labels: A-luminork

#6136 Prevent flash of `loading` state with a generalized solution
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/layout_components/DelayedLoader.vue
Labels: A-web

#6141 fix(web): Don't save code when switching between functions
  app/web/src/components/FuncEditor/FuncEditor.vue
Labels: A-web

#6143 fix: Update MVs to meet UX Needs
  app/web/src/components/AssetPalette.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/workers/types/dbinterface.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal-materialized-views/src/mgmt_prototype_view_list.rs
  lib/dal-materialized-views/src/schema_variant.rs
  lib/dal-materialized-views/src/schema_variant/prop_tree.rs
  lib/dal-materialized-views/src/schema_variant_categories.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/management.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
  lib/si-frontend-mv-types-rs/src/schema_variant/prop_tree.rs
  lib/si-frontend-mv-types-rs/src/temporary_conversion_impls.rs
Labels: A-dal, A-web, A-edda

#6145 Honeycomb: remove this instrumentation because its hitting our honeycomb limit
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6144 Component Props Array & Map. Stabilize reference fetching
  app/web/src/main.ts
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/CodePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  app/web/src/newhotness/util.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6147 chore(ci): Add a pip publish github workflow
  .github/workflows/publish-pip-package.yml
Labels: A-ci

#6146 Caching possible connections for the fuzzy filter search
  app/web/src/api/sdf/dal/schema.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6151 Do not send empty PatchBatch
  lib/edda-server/src/data_cache.rs
Labels: A-edda

#6154 fix(edda,sdf): Flip some events to debug level, and return more accurate errors on mjlonir endpoints
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
Labels: A-sdf, A-edda

#6156 chore(sdk): Small tweaks to python SDK
  .github/workflows/publish-pip-package.yml
  bin/openapi-extractor/sdk-generators/generate-python-sdk.sh
  generated-sdks/python/pyproject.toml
  generated-sdks/python/setup.py
Labels: A-ci

#6139 feat(web, sdf): Add ability to opt-in / out of approvals workflow
  app/auth-portal/src/pages/WorkspaceDetailsPage.vue
  app/web/src/components/ApprovalFlowModal.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/ViewDetailsPanel.vue
  app/web/src/store/workspaces.store.ts
  lib/dal/src/workspace.rs
  lib/sdf-core/src/dal_wrapper.rs
  lib/sdf-core/src/dal_wrapper/change_set.rs
  lib/sdf-v1-routes-session/src/lib.rs
  lib/sdf-v1-routes-session/src/refresh_workspace_members.rs
  lib/si-db/src/migrations/U3900__add_approvals_enabled_to_workspace.sql
Labels: A-dal, A-web

#6153 feat(dal): preserve attribute subscriptions on upgrade
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component/upgrade.rs
Labels: A-dal

#6155 chore(dal): Test if we unintentionally regress node/edge size
  lib/dal/src/workspace_snapshot/edge_weight.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
Labels: A-dal

#6160 feat(dal,edda): Add the MVs necessary for creating, updating, and listing secrets
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal-materialized-views/src/secret.rs
  lib/dal-materialized-views/src/secret/secret_definition.rs
  lib/dal-materialized-views/src/secret/secret_definition_list.rs
  lib/dal-materialized-views/src/secret/secret_list.rs
  lib/dal/src/secret.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/si-frontend-mv-types-rs/src/secret.rs
Labels: A-dal, A-edda

#6159 Add View! Add Component props in a tree! Markdown rendering!
  app/web/package.json
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AddViewModal.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/PropsAsTree.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/router.ts
  app/web/src/workers/types/dbinterface.ts
  pnpm-lock.yaml
Labels: A-web

#6162 Fix: send the right option value, and display the label of the chosen option
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6166 Do not collect before functions when running intrinsic functions
  lib/dal/src/func/runner.rs
Labels: A-dal

#6163 wip(edda): Various fixes to Edda and MVs
  lib/dal-materialized-views/src/action_view_list.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/sdf-server/src/service/v2/index.rs
Labels: A-sdf, A-edda

#6167 feat(dal,si-split-graph): view removal corrections
  lib/dal/src/prop.rs
  lib/dal/src/socket.rs
  lib/dal/src/workspace_snapshot/node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/action_prototype_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/approval_requirement_definition_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/approval_requirement_definition_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/category_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/diagram_object_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/diagram_object_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/finished_dependent_value_root_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/func_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/input_socket_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/management_prototype_node_weight/mod.rs
  lib/dal/src/workspace_snapshot/node_weight/management_prototype_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/ordering_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/split_snapshot/corrections.rs
  lib/si-events-rs/src/action.rs
  lib/si-events-rs/src/timestamp.rs
  lib/si-split-graph/src/lib.rs
  lib/si-split-graph/src/petgraph_traits.rs
  lib/si-split-graph/src/subgraph.rs
  lib/si-split-graph/src/tests/mod.rs
  lib/si-split-graph/src/updates.rs
Labels: A-dal

#6168 Type safety; stop passing strings, make an EntityKind. Fix incorrect uses of makeArgs/makeKey
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/LatestFuncRunDetails.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6171 Fix MV ID population for ComponentList
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6169 feat(dal): Mirror connections between copy/pasted components
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/prototype/argument.rs
  lib/dal/src/component.rs
  lib/dal/src/func/authoring/save.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/selector.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/tests/integration_test/component/paste.rs
Labels: A-dal

#6172 fix(edda): Update input count on components to include prop to prop connections and indicate whether schema variants and components are secret defining
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/schema_variant.rs
  lib/dal/src/cached_module.rs
  lib/dal/src/schema.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
Labels: A-dal

#6165 Timings on bifrosting and getReferences, Fix `head` router
  app/web/src/newhotness/AddViewModal.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/router.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6177 docs: Updating our roadmap
  app/docs/src/roadmap/index.md
Labels: A-docs, A-auth

#6181 Chore/update release notes
  app/docs/src/changelog/index.md
Labels: A-docs, A-auth

#6178 chore(dal): snapshot node viewer for debugging
  lib/dal/examples/snapshot-surfer/main.rs
Labels: A-dal

#6183 fix(edda): skip processing abandonned change sets
  lib/edda-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-rebaser, A-edda

#6184 chore(dal): Validate and/or fix snapshot AV and connection issues
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_prototype_argument_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
Labels: A-dal

#6190 fix(edda): Don't just skip abandoned change sets - skip all inactive change sets
  lib/edda-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
Labels: A-rebaser, A-edda

#6191 feat(web) - newhotness attribute input new UI
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  lib/vue-lib/src/design-system/general/SiSearch.vue
Labels: A-web

#6192 chore(si-layer-cache): skip disk caching in DAL integration tests
  .buckconfig
  lib/dal-test/src/lib.rs
  lib/si-layer-cache/src/hybrid_cache.rs
Labels: A-dal-test, A-si-layer-cache

#6189 Tidying up & Adding Secret to AWS Cred
  app/web/src/components/LeftPanelDrawer.vue
  app/web/src/components/ViewCard.vue
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/mead-hall/ActionWidget.vue
  app/web/src/mead-hall/ApprovalFlowModal.vue
  app/web/src/mead-hall/AssetActionsDetails.vue
  app/web/src/mead-hall/ChangesPanelProposed.vue
  app/web/src/mead-hall/InsetApprovalModal.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AddViewModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/CodePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/DiffPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/LatestFuncRunDetails.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/ResourcePanel.vue
  app/web/src/newhotness/api_composables/component.ts
  app/web/src/newhotness/api_composables/func_run.ts
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/newhotness/layout_components/PropsAsTree.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/newhotness/util.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/secrets.rs
Labels: A-sdf, A-web

#6179 fix(sdk): Fixup TypeScript SDK to work for TypeScript and Deno
  .github/workflows/publish-python-sdk.yml
  .github/workflows/publish-typescript-sdk.yml
  .gitignore
  bin/openapi-extractor/BUCK
  bin/openapi-extractor/sdk-generators/generate-typescript-sdk.sh
  generated-sdks/typescript/LICENSE
  generated-sdks/typescript/README.md
  generated-sdks/typescript/deno.json
  generated-sdks/typescript/package.json
  generated-sdks/typescript/tsconfig.esm.json
  generated-sdks/typescript/tsconfig.json
Labels: A-ci

#6201 feat(web) - newhotness UI mostly done, prop to prop!
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/layout_components/AttributeChildLayout.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  lib/vue-lib/src/design-system/general/SiSearch.vue
  lib/vue-lib/src/design-system/general/VButton.vue
Labels: A-web

#6214 Make all the actions API calls v2, no more stores
  app/web/src/newhotness/ActionCard.vue
  app/web/src/newhotness/ActionWidget.vue
  app/web/src/newhotness/ActionsPanel.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/api_composables/index.ts
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/action.rs
Labels: A-sdf, A-web

#6218 chore(ci): Add npm to the mix now that jsr is deploying
  .github/workflows/publish-typescript-sdk.yml
  bin/openapi-extractor/sdk-generators/generate-typescript-sdk.sh
  generated-sdks/typescript/deno.json
Labels: A-ci

#6212 fix(edda,web): Refactor Schema Variant Categories to do less work
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/schema_variant_categories.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/lib.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
  lib/si-frontend-mv-types-rs/src/temporary_conversion_impls.rs
Labels: A-dal, A-web, A-edda

#6226 New create change set endpoint blocks on index MV
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/webworker.ts
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/create.rs
  lib/sdf-server/src/service/v2/index.rs
Labels: A-sdf, A-web

#6225 Block new change set navigation until we've completed MTM linking
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/newhotness/ActionWidget.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AddViewModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/logic_composables/rainbow_counter.ts
  app/web/src/newhotness/logic_composables/watched_form.ts
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6223 fix(edda): Improve handling of rebuild requests
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6227 Fix: func queries need the changeSetId in the key to re-query when you switch change sets
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/FuncRunList.vue
Labels: A-web

#6230 Fix: silly rabbit, bust the cache at the end of all the operations
  app/web/src/workers/webworker.ts
Labels: A-web

#6228 feat: Set custom funcs on prop to prop connections
  app/web/src/store/components.store.ts
  lib/dal-test/src/helpers/attribute/value.rs
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal, A-web, A-dal-test

#6233 Fix: watchFn has to be after endpoint
  app/web/src/newhotness/ActionWidget.vue
Labels: A-web

#6224 feat(docs): Adding a how-to guide for the Public API
  app/docs/src/.vitepress/config.ts
  app/docs/src/how-tos/index.md
  app/docs/src/how-tos/use-public-api.md
Labels: A-docs, A-auth

#6221 feat(web) - inline attribute input window, show value for connection, flow for arrays and maps
  app/web/src/newhotness/Component.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/CollapsingFlexItem.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
Labels: A-web

#6239 chore: speed up new component search filtering
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web

#6241 fix(web): Hide hidden props from the attributes panel inputs
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
Labels: A-web

#6220 chore(dal): Move snapshot validator to dal for use in sdf endpoints
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/validator.rs
Labels: A-dal

#6247 fix(web, dal): various fixes to listing func runs
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/FuncRunList.vue
  lib/dal/src/func/runner.rs
Labels: A-dal, A-web

#6249 feat(web,sdf): Initial implementation of a lobby for when the change set has gotten out of date and needs to rebuild
  app/web/src/newhotness/Workspace.vue
  app/web/src/router.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
Labels: A-sdf, A-web

#6245 feat(sdf): socket -> prop migration report
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/store/admin.store.ts
  lib/dal/examples/.gitignore
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/validator.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/dal/src/workspace_snapshot/node_weight/prop_node_weight.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
  lib/sdf-server/src/service/v2/change_set/validate_snapshot.rs
Labels: A-sdf, A-dal, A-web

#6182 feat(dal,si-split-graph): port all remaining corrections to split graph
  lib/dal-test/src/helpers/change_set.rs
  lib/dal/src/workspace_snapshot/node_weight/action_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/attribute_value_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/component_node_weight/split_corrections.rs
  lib/dal/src/workspace_snapshot/node_weight/content_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/diagram_object_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/geometry_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/node_weight/schema_variant_node_weight/v1/split_corrections.rs
  lib/dal/src/workspace_snapshot/node_weight/secret_node_weight.rs
  lib/dal/src/workspace_snapshot/node_weight/view_node_weight/v1.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
  lib/dal/src/workspace_snapshot/split_snapshot/corrections.rs
  lib/dal/tests/integration_test/node_weight/schema_variant.rs
  lib/dal/tests/integration_test/node_weight/view.rs
  lib/si-split-graph/src/lib.rs
  lib/si-split-graph/src/petgraph_traits.rs
  lib/si-split-graph/src/tests/mod.rs
  lib/si-split-graph/src/updates.rs
Labels: A-dal, A-dal-test

#6244 chore(edda,web): Remove Secret specific MVs and include necessary data alongside props/attributes
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/schema_variant/prop_tree.rs
  lib/dal-materialized-views/src/secret.rs
  lib/dal-materialized-views/src/secret/secret_definition.rs
  lib/dal-materialized-views/src/secret/secret_definition_list.rs
  lib/dal-materialized-views/src/secret/secret_list.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/si-frontend-mv-types-rs/src/schema_variant/prop_tree.rs
  lib/si-frontend-mv-types-rs/src/secret.rs
Labels: A-dal, A-web, A-edda

#6253 feat(web): Filter out non eligible props from PossibleConnections
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/schema_variant/prop_tree.rs
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
  lib/si-frontend-mv-types-rs/src/schema_variant/prop_tree.rs
Labels: A-dal, A-web, A-edda

#6252 feat(sdf): Add inferred connection migration to report
  app/web/src/components/AdminDashboard/MigrateConnections.vue
  app/web/src/components/AdminDashboard/ValidateSnapshot.vue
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/components/Workspace/WorkspaceAdminDashboard.vue
  app/web/src/store/admin.store.ts
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
Labels: A-sdf, A-dal, A-web

#6234 Define & verify MV shape checksums for MvIndex validity checking
  Cargo.lock
  Cargo.toml
  lib/edda-server/BUCK
  lib/edda-server/Cargo.toml
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/frigg/src/lib.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_workspace_index.rs
  lib/si-events-rs/src/xxhash_type.rs
  lib/si-frontend-mv-types-macros/src/lib.rs
  lib/si-frontend-mv-types-macros/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/BUCK
  lib/si-frontend-mv-types-rs/Cargo.toml
  lib/si-frontend-mv-types-rs/src/checksum.rs
  lib/si-frontend-mv-types-rs/src/index.rs
  lib/si-frontend-mv-types-rs/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork
