Repository systeminit/si, pull requests merged in 2025-06, with the labels that each got.

#6246 feat(edda): impl a `CompressingStream` to reduce number of Edda requests
  Cargo.lock
  lib/edda-server/BUCK
  lib/edda-server/Cargo.toml
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/compresing_stream.rs
  lib/edda-server/src/compressed_request.rs
  lib/edda-server/src/handlers.rs
  lib/edda-server/src/lib.rs
  lib/edda-server/src/local_message.rs
  lib/edda-server/tests/integration.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6267 feat(web): Ensure we show when an external subscription is in place between props
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  lib/si-frontend-mv-types-rs/src/component/attribute_tree.rs
Labels: A-web

#6254 feat(sdf): migrate socket connections
  app/web/src/components/AdminDashboard/MigrateConnections.vue
  app/web/src/components/AdminDashboard/ValidateSnapshot.vue
  app/web/src/components/AdminDashboard/WorkspaceAdmin.vue
  app/web/src/store/admin.store.ts
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
Labels: A-sdf, A-dal, A-web

#6268 fix(web): In the new prop to prop world, allow connecting to props that don't have values yet
  app/web/src/workers/webworker.ts
Labels: A-web

#6264 build(deps): upgrade to NATS server 2.11.4
  component/nats/BUCK
Labels: A-nats

#6250 feat: CRUD transformation funcs
  lib/dal/src/attribute/prototype.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/func.rs
  lib/dal/src/func/argument.rs
  lib/dal/src/func/authoring.rs
  lib/dal/src/func/authoring/create.rs
  lib/dal/src/layer_db_types/content_types.rs
  lib/dal/src/pkg/import.rs
  lib/dal/src/prop.rs
  lib/dal/src/schema/variant/authoring.rs
  lib/dal/tests/integration_test/deserialize/mod.rs
  lib/dal/tests/integration_test/rebaser.rs
  lib/dal/tests/serialization-test-content-store-data-2025-03-25.bin
  lib/dal/tests/serialization-test-content-store-data-2025-06-02.bin
  lib/sdf-server/src/service/v2/component/attributes.rs
  lib/sdf-server/src/service/v2/func.rs
  lib/sdf-server/src/service/v2/func/argument/create_argument.rs
  lib/sdf-server/src/service/v2/func/argument/update_argument.rs
  lib/sdf-server/src/service/v2/func/binding/create_binding.rs
  lib/sdf-server/src/service/v2/func/binding/delete_binding.rs
  lib/sdf-server/src/service/v2/func/binding/update_binding.rs
  lib/sdf-server/src/service/v2/func/create_func.rs
  lib/sdf-server/src/service/v2/func/list_funcs.rs
  lib/si-frontend-types-rs/src/func.rs
Labels: A-sdf, A-dal

#6270 fix(web): Rename inputs and outputs to incoming and outgoing [connections]
  app/web/src/newhotness/ComponentGridTile.vue
Labels: A-web

#6271 chore: Allow any host for web, on dev
  app/web/vite.config.ts
Labels: A-web

#6265 Cannot use snapshot addresses as markers. Using the checksum of the indexMV instead.
  app/web/src/newhotness/FuncRunList.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/frigg/src/lib.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
  lib/si-frontend-mv-types-rs/src/index.rs
  lib/si-frontend-mv-types-rs/src/object/patch.rs
Labels: A-sdf, A-web, A-edda

#6275 Ignore errors retrieving index pointer values when attempting to re-use existing MvIndex for a new change set
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6274 feat(sdf): migrate multiple connections to one array
  lib/dal/examples/snapshot-fixer/main.rs
  lib/dal/src/attribute/path.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/workspace_snapshot/graph/validator.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
Labels: A-sdf, A-dal

#6281 Create multi_mjolnir API endpoint for builk retrieval of objects
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
Labels: A-sdf

#6282 feat(newhotness): return materialized views from create_component to …
  Cargo.lock
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/Component.vue
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6284 fix(sdf): Remove printlns, doh!
  lib/dal/src/attribute/value.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
Labels: A-sdf, A-dal

#6285 fix(web): Ensure we strip empty vals from secrets
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
Labels: A-web

#6293 All the hammers at the same time!
  app/web/src/newhotness/logic_composables/rainbow_counter.ts
  app/web/src/workers/mjolnir_queue.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6298 Fix: no double submission when adding a component, spinner, counter fix
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/api_composables/index.ts
Labels: A-web

#6299 Debounce func run cache busting
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/logic_composables/watched_form.ts
Labels: A-web

#6297 feat(dal): add component upgraded to Component MV
  lib/dal-materialized-views/src/component.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-mv-types-rs/src/component.rs
Labels: A-dal

#6301 Fix: when making a new change set we need to change the optimistic query key accordingly
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web

#6302 Fix: av spinner needs to stop on subscription too
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6305 feat(sdf): Migrate connections IAM/ARN sockets
  lib/dal/src/workspace_snapshot/graph/validator.rs
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
Labels: A-sdf, A-dal

#6310 fix(dal): Remove duplicate AV and missing AV warnings, replace with debug
  lib/dal/src/attribute/value.rs
Labels: A-dal

#6315 Disallow func run selection for enqueued actions
  app/web/src/newhotness/ActionCard.vue
Labels: A-web

#6312 fix(web): Ensure we can save the correct value state in the attribute inputs
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
Labels: A-web

#6314 fix(dal): Fix normalize to array migration
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
Labels: A-dal

#6319 feat(sdf): Migrate ARN connections with multiple props
  app/web/src/store/admin.store.ts
  lib/dal/src/workspace_snapshot/graph/validator/connections.rs
  lib/sdf-server/src/service/v2/change_set/migrate_connections.rs
Labels: A-sdf, A-dal, A-web

#6303 Fix to exiting the lobby
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6316 chore(edda): add `CompressingStream` telemetry
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/compressed_request.rs
  lib/edda-server/src/compressing_stream.rs
Labels: A-edda

#6322 feat(sdf): Move upgrade component to a v2 endpoint
  app/web/src/store/views.store.ts
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/delete_components.rs
  lib/sdf-server/src/service/v2/component/upgrade_components.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/duplicate_components.rs
Labels: A-sdf, A-web

#6307 Replace socket connections with management ones
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/component/attribute_tree.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/si-frontend-mv-types-rs/src/incoming_connections.rs
Labels: A-dal, A-web

#6326 Do not await db.exec in webworker
  app/web/src/workers/webworker.ts
Labels: A-web

#6331 fix(edda): compute compressing read window by querying stream info
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/compressing_stream.rs
Labels: A-edda

#6333 feat(web) - component context menu in newhotness
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/EraseModal.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ConfirmModal.vue
  app/web/src/newhotness/layout_components/TextPill.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/modals/Modal.vue
Labels: A-web

#6335 fix(edda): impl a liveness-aware quiescent period for compressing stream
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/compressing_stream.rs
  lib/edda-server/src/config.rs
  lib/edda-server/src/handlers.rs
  lib/edda-server/tests/integration.rs
Labels: A-edda

#6337 feat(web): Add the ability to upgrade a component on the new UI
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/lib.rs
  lib/dal/tests/integration_test/materialized_views.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-dal, A-web, A-edda

#6338 fix(edda): only record `task.state` span attr once in span
  lib/edda-server/src/compressing_stream.rs
Labels: A-edda

#6334 Add apply change set to new UI
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/ApprovalFlowModal.vue
  lib/vue-lib/src/design-system/general/PillCounter.vue
Labels: A-web

#6329 chore(deps): ensure tar-fs is at a patched version
  bin/si-discord-bot/package-lock.json
  bin/si-discord-bot/package.json
  pnpm-lock.yaml
Labels: A-si-discord-bot, vulnerability-fix

#6336 fix: tweak scroll and zoom behaviour when on map view
  app/web/src/newhotness/Map.vue
Labels: A-web

#6344 feat: Duplicate Components on new UI
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/logic_composables/emitters.ts
  app/web/src/store/views.store.ts
  lib/dal/src/component.rs
  lib/dal/tests/integration_test/component/paste.rs
  lib/dal/tests/integration_test/component/property_order.rs
  lib/dal/tests/integration_test/secret.rs
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/duplicate_components.rs
  lib/sdf-server/src/service/v2/view/paste_component.rs
Labels: A-sdf, A-dal, A-web

#6339 fix(module-index-client): re-use `reqwest::Client` across calls
  bin/hoist/src/main.rs
  lib/dal/src/cached_module.rs
  lib/module-index-client/src/lib.rs
  lib/sdf-server/src/migrations.rs
  lib/sdf-server/src/service/v2/module/builtins.rs
  lib/sdf-server/src/service/v2/module/contribute.rs
  lib/sdf-server/src/service/v2/module/module_by_id.rs
  lib/sdf-server/src/service/v2/workspace/install_workspace.rs
  lib/sdf-v1-routes-module/src/approval_process.rs
  lib/sdf-v1-routes-module/src/install_module.rs
Labels: A-sdf, A-dal

#6346 feat(web): Hook context menu to upgrade components
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6345 fix(edda): update "last heartbeat" logic to ensure tasks shut down
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/compressing_stream.rs
Labels: A-edda

#6347 chore(edda): record `src_requests.count` in `handle_task` span
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/compressed_request.rs
  lib/edda-server/tests/integration.rs
Labels: A-edda

#6349 ViewId doesn't have to be a prop everywhere. We can use provide/inject context instead, which can go to all children
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/types.ts
Labels: A-web

#6350 Adding two more routes: workspace and auto
  app/web/src/router.ts
Labels: A-web

#6352 fix: ensure key commands work with caps lock
  app/web/src/newhotness/logic_composables/emitters.ts
Labels: A-web

#6354 feat(web): Add the ability to erase components
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/EraseModal.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/layout_components/ConfirmModal.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  lib/sdf-server/src/service/v2/component/delete_components.rs
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-sdf, A-web

#6360 Set global tanstack stale time to infinity, since we invalidate everything manually
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6364 fix(web) - token fix
  app/web/src/store/apis.web.ts
Labels: A-web

#6340 Remove N+1 from bifrost get calls
  app/web/src/components/layout/navbar/NavbarPanelCenter.vue
  app/web/src/newhotness/ComponentGridTile.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component_list.rs
  lib/dal-materialized-views/src/view_component_list.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/view.rs
Labels: A-web

#6367 fix(new ui): Don't show connection candidates from the same component
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentAttribute.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
Labels: A-web

#6369 fix(web) - many newhotness controls fixes!
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/logic_composables/window_info_reactive.ts
  lib/vue-lib/src/design-system/general/PillCounter.vue
  lib/vue-lib/src/design-system/general/TextPill.vue
  lib/vue-lib/src/design-system/general/VButton.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
Labels: A-web

#6372 Revert "feat(sdf): accept object requests on web socket & stream responses
  Cargo.lock
  lib/sdf-core/BUCK
  lib/sdf-core/Cargo.toml
  lib/sdf-core/src/index.rs
  lib/sdf-core/src/lib.rs
  lib/sdf-server/src/service/v2/change_set.rs
  lib/sdf-server/src/service/v2/index.rs
  lib/sdf-server/src/service/v2/index/get_change_set_index.rs
  lib/sdf-server/src/service/v2/index/get_front_end_object.rs
  lib/sdf-v1-routes-ws/src/bifrost/mod.rs
  lib/sdf-v1-routes-ws/src/bifrost/proto.rs
  lib/si-frontend-types-rs/src/index.rs
  lib/si-frontend-types-rs/src/lib.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6361 We dont need to hold off on cache busting (which causes more queries) while patching is happening
  app/web/src/workers/mjolnir_queue.ts
Labels: A-web

#6359 feat(si-db, dal, pinga): management func jobs
  lib/dal-test/src/helpers/component.rs
  lib/dal-test/src/lib.rs
  lib/dal/src/context.rs
  lib/dal/src/func/runner.rs
  lib/dal/src/job/consumer.rs
  lib/dal/src/job/definition.rs
  lib/dal/src/job/definition/management_func.rs
  lib/dal/src/job/processor/nats_processor.rs
  lib/dal/src/job/queue.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/dal/tests/integration_test/qualifications.rs
  lib/dal/tests/integration_test/schema/variant/authoring/update_variant.rs
  lib/naxum-api-types/src/lib.rs
  lib/pinga-client/src/lib.rs
  lib/pinga-core/src/api_types/job_execution_request.rs
  lib/pinga-core/src/api_types/job_execution_request/snapshots-v2/serialized-action.snap
  lib/pinga-core/src/api_types/job_execution_request/snapshots-v2/serialized-dependent-values-update.snap
  lib/pinga-core/src/api_types/job_execution_request/snapshots-v2/serialized-management.snap
  lib/pinga-core/src/api_types/job_execution_request/snapshots-v2/serialized-validation.snap
  lib/pinga-core/src/api_types/job_execution_request/v2.rs
  lib/pinga-server/src/handlers.rs
  lib/sdf-server/src/service/v2/management.rs
  lib/si-db/src/context.rs
  lib/si-db/src/history_event.rs
  lib/si-db/src/lib.rs
  lib/si-db/src/management_func_execution.rs
  lib/si-db/src/migrations/U3910__add_management_func_job_states.sql
  lib/si-db/src/standard_accessors.rs
  lib/si-events-rs/src/timestamp.rs
  lib/si-id/src/lib.rs
  lib/si-id/src/ulid.rs
Labels: A-sdf, A-dal, A-dal-test, A-pinga

#6368 fix: move action menu to component on map click
  app/web/src/newhotness/Map.vue
Labels: A-web

#6379 feat(luminork): Add ability to get the status of a management function run
  lib/luminork-server/src/routes.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/management_funcs/get_management_func_run_state.rs
  lib/luminork-server/src/service/v1/management_funcs/mod.rs
  lib/luminork-server/src/service/v1/workspaces.rs
  lib/si-db/src/management_func_execution.rs
Labels: A-luminork

#6378 feat(web) - many newhotness UI improvements!
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#6381 chore(edda): demote `info` event & span in `CompressingStream`
  lib/edda-server/src/compressing_stream.rs
Labels: A-edda

#6377 feat(web): Sort suggested prop connections first in UI
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/schema_variant/prop_tree.rs
  lib/si-frontend-mv-types-rs/src/schema_variant/prop_tree.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-lang-js, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6387 feat(web): Make qualification numbers more actionable when failed
  app/web/src/newhotness/ComponentGridTile.vue
  lib/vue-lib/src/design-system/index.ts
Labels: A-web

#6388 feat(web): Automatically suggest props with the same name and type
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6385 feat(new ui): Set resourceId and run import funcs
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/api_composables/index.ts
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf, A-web

#6394 chore(docs): Update Public API How-to to remove sleeps
  app/docs/src/how-tos/use-public-api.md
Labels: A-docs, A-auth

#6392 feat(web) - newhotness controls v2
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/logic_composables/emitters.ts
  app/web/src/newhotness/logic_composables/window_info_reactive.ts
  lib/vue-lib/src/design-system/icons/icon_set.ts
  lib/vue-lib/src/design-system/menus/DropdownMenu.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#6383 chore: compress edda nats update messages to sdf
  Cargo.lock
  lib/dal/src/context.rs
  lib/edda-core/src/nats.rs
  lib/edda-server/BUCK
  lib/edda-server/Cargo.toml
  lib/edda-server/src/app_state.rs
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/data_cache.rs
  lib/edda-server/src/extract.rs
  lib/edda-server/src/handlers.rs
  lib/edda-server/src/lib.rs
  lib/edda-server/src/server.rs
  lib/edda-server/src/updates.rs
  lib/luminork-server/BUCK
  lib/luminork-server/Cargo.toml
  lib/luminork-server/src/app.rs
  lib/luminork-server/src/server.rs
  lib/nats-std/src/header.rs
  lib/nats-std/src/header/value.rs
  lib/nats-std/src/headers.rs
  lib/nats-std/src/lib.rs
  lib/naxum-api-types/BUCK
  lib/naxum-api-types/Cargo.toml
  lib/naxum-api-types/src/content_info.rs
  lib/pinga-client/src/lib.rs
  lib/pinga-server/src/extract.rs
  lib/rebaser-client/src/lib.rs
  lib/rebaser-server/src/extract.rs
  lib/sdf-core/BUCK
  lib/sdf-core/Cargo.toml
  lib/sdf-core/src/app_state.rs
  lib/sdf-core/src/nats_multiplexer.rs
  lib/sdf-extract/src/services.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  lib/sdf-server/src/app.rs
  lib/sdf-server/src/server.rs
  lib/sdf-v1-routes-ws/BUCK
  lib/sdf-v1-routes-ws/Cargo.toml
  lib/sdf-v1-routes-ws/src/bifrost/mod.rs
  lib/sdf-v1-routes-ws/src/bifrost/proto.rs
  lib/si-frontend-mv-types-rs/src/object/patch.rs
  lib/veritech-client/src/lib.rs
  lib/veritech-server/src/handlers.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6403 fix(web): Ensure we treat secrets as secret input in the new UX
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
Labels: A-web

#6401 fix(web): debounce attribute input panel
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6402 Fix: during mounting the ? returns false, which is actually undesirable because it fires the map query, enforce the default/undefined state better
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6404 feat(web): Virtualize the prop connections select list
  app/web/src/newhotness/layout_components/AttributeInput.vue
Labels: A-web

#6408 chore(deps): Upgrade brace-expansion
  pnpm-lock.yaml
Labels: vulnerability-fix

#6409 chore(deps): Updating brace-expansion for si-discord-bot
  bin/si-discord-bot/package-lock.json
Labels: vulnerability-fix

#6406 fix(web): Skip initializing bifrost in modeling diagram to prevent multiple cold starts when switching between old and new experience
  app/web/src/components/Workspace/WorkspaceModelAndView.vue
  app/web/src/store/change_sets.store.ts
  app/web/src/store/feature_flags.store.ts
Labels: A-web

#6398 Remove cross-MV dependency ordering when building MVs
  lib/dal-materialized-views/src/incoming_connections_list.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-macros/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/incoming_connections.rs
  lib/si-frontend-mv-types-rs/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/reference/weak.rs
  lib/si-frontend-mv-types-rs/src/view.rs
Labels: A-edda

#6380 chore: improve performance of component create in luminork
  lib/dal/src/attribute/value.rs
  lib/dal/src/attribute/value/dependent_value_graph.rs
  lib/dal/src/component.rs
  lib/dal/src/prop.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
Labels: A-dal, A-luminork

#6416 feat(web) - truncation and other UI fixes newhotness
  app/web/src/newhotness/AttributeValueBox.vue
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/FuncRunCard.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/newhotness/layout_components/SecretInput.vue
  lib/vue-lib/src/design-system/general/TruncateWithTooltip.vue
  lib/vue-lib/src/design-system/general/VButton.vue
Labels: A-web

#6412 feat: create subscriptions from management functions
  lib/dal-test/src/helpers/component.rs
  lib/dal/src/attribute.rs
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/func/binding/management.rs
  lib/dal/src/lib.rs
  lib/dal/src/management/generator.rs
  lib/dal/src/management/mod.rs
  lib/dal/src/management/prototype.rs
  lib/dal/tests/integration_test/management.rs
  lib/sdf-server/src/service/v2/component.rs
  lib/sdf-server/src/service/v2/component/attributes.rs
Labels: A-sdf, A-dal, A-dal-test

#6399 feat(web): use a shared webworker to enable sqlite3 shared access pool
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
  app/web/vite.config.ts
Labels: A-web

#6422 Protect the default view from deletion
  DOCS.md
  README.md
  app/web/src/newhotness/EditViewModal.vue
  app/web/src/newhotness/Explore.vue
  lib/dal/src/workspace_snapshot.rs
  lib/dal/src/workspace_snapshot/graph.rs
  lib/dal/src/workspace_snapshot/graph/v4/diagram/view.rs
  lib/dal/src/workspace_snapshot/split_snapshot.rs
Labels: A-dal, A-web

#6370 feat(luminork): Add support for setting prop subscriptions
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/connections.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/find_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/subscriptions.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-luminork

#6423 fix(dal): refactor where we can build component sources
  lib/dal/src/component.rs
  lib/dal/src/management/prototype.rs
Labels: A-dal

#6424 feat(web) - continuing newhotness UI improvements
  app/web/src/newhotness/ComponentCard.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/DeleteModal.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/ShortcutModal.vue
  app/web/src/newhotness/layout_components/ConnectionLayout.vue
  app/web/src/newhotness/logic_composables/string_funcs.ts
Labels: A-web

#6428 Fix: shared web worker initialization needs to be awaited/watched diferently now that its doing the lock dance
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6430 fix(web): ensure we set lockAcquired = true on other tabs
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
Labels: A-web

#6433 Upgrade Component Reactivity & Don't Show Closed Change Sets
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/workers/webworker.ts
Labels: A-web

#6439 feat(web): Show new components instantly
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/ComponentDetails.vue
  lib/sdf-server/src/service/v2/view.rs
  lib/sdf-server/src/service/v2/view/create_component.rs
Labels: A-sdf, A-web

#6444 feat(web) - debounce search newhotness
  app/web/src/components/ModelingView/ConnectionMenuCandidateListItem.vue
  app/web/src/components/ModelingView/FloatingConnectionMenu.vue
  app/web/src/components/ModelingView/FloatingConnectionMenuInput.vue
  app/web/src/components/TextPill.vue
  app/web/src/newhotness/AddComponentModal.vue
  app/web/src/newhotness/AttributePanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ShortcutModal.vue
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/InstructiveVormInput.vue
  app/web/src/newhotness/layout_components/TextPill.vue
  lib/vue-lib/src/design-system/general/TextPill.vue
Labels: A-web

#6441 Add info about MV build timings to build all & build for changes info spans
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
Labels: A-edda

#6448 fix(dal): Remove subscriber APAs when removing components
  lib/dal-test/src/expected.rs
  lib/dal/src/attribute/attributes.rs
  lib/dal/src/attribute/value.rs
  lib/dal/src/component.rs
  lib/dal/src/func/binding/leaf.rs
  lib/dal/src/management/mod.rs
  lib/dal/tests/integration_test/attribute_value/subscription.rs
  lib/dal/tests/integration_test/property_editor.rs
  lib/sdf-server/src/service/v2/change_set/validate_snapshot.rs
  lib/sdf-v1-routes-component/src/delete_property_editor_value.rs
Labels: A-sdf, A-dal, A-dal-test

#6446 Make the view switcher badass
  app/web/src/newhotness/EditViewModal.vue
  app/web/src/newhotness/Explore.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-web

#6449 Expose edda's parallel MV build limit as a configuration setting
  lib/dal-test/src/lib.rs
  lib/edda-server/src/app_state.rs
  lib/edda-server/src/change_set_processor_task.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/config.rs
  lib/edda-server/src/handlers.rs
  lib/edda-server/src/server.rs
Labels: A-dal-test, A-edda

#6455 feat(luminork): Add the ability for luminork to create management edges
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/manage_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
Labels: A-luminork

#6456 fix(bifrost): Handle missing index on cold start
  app/web/src/workers/webworker.ts
Labels: A-web

#6457 fix(edda): Ensure new management edges propagate to the front end
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/dal/src/component.rs
Labels: A-dal

#6461 feat(luminork): Add support for showing sources on the component GET requests
  lib/dal/src/attribute/attributes.rs
  lib/luminork-server/src/api_types.rs
  lib/luminork-server/src/api_types/component.rs
  lib/luminork-server/src/api_types/component/v1.rs
  lib/luminork-server/src/service/v1.rs
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/find_component.rs
  lib/luminork-server/src/service/v1/components/get_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-dal, A-luminork

#6464 fix(sdf): Catch Component Not Found
  lib/sdf-server/src/service/v2/management.rs
Labels: A-sdf

#6467 Fix: stop axios from throwing exceptions on 4/500s... let the caller deal with it
  app/web/src/newhotness/api_composables/index.ts
Labels: A-web

#6465 fix(web): Ensure we default to the selected view
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6445 feat(web): fetch all change sets on load, wait in the lobby
  app/web/src/components/layout/navbar/NavbarPanelRight.vue
  app/web/src/newhotness/Lobby.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/router.ts
  app/web/src/store/change_sets.store.ts
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6478 Fix: add a loading guard so we dont re-do setup work
  app/web/src/App.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6477 fix: close modal on view creation
  app/web/src/newhotness/AddViewModal.vue
  app/web/src/newhotness/EditViewModal.vue
  app/web/src/newhotness/Explore.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
Labels: A-web

#6472 fix(web): Remove expand-logs button on FuncRunDetails
  app/web/src/newhotness/layout_components/GridItemWithLiveHeader.vue
Labels: A-web

#6480 fix(web): don't redir to 'head', use the head id instead
  app/web/src/store/change_sets.store.ts
Labels: A-web

#6482 Protect against divide-by-zero in edda stats logging
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6483 Fix: vue reactivity couldn't track an unassigned computed like this
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6489 Correctly log change set id index was reused from
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
Labels: A-edda

#6488 fix(web): move to lobby optimistically on new change set
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6490 fix(web): Don't hijack the use of cmd when creating a change set
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6493 fix(web): Wait for bifrost to initialize before fetching the action view list from sqlite
  app/web/src/newhotness/ApplyChangeSetButton.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/types.ts
Labels: A-web

#6487 Fix: no-op patches may still need to create MTMs
  app/web/src/newhotness/Workspace.vue
  app/web/src/workers/mjolnir_queue.ts
  app/web/src/workers/webworker.test.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#6495 Fix: dont use stores to find the list of open change sets
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6497 fix(sdf): Log if init complete is cancelled
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6498 Add collapse, empty states and deep linking to group by
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web

#6499 feat: add cache control specification to s3 upload for web
  .github/workflows/upgrade-web.yml
Labels: A-ci

#6501 fix(web): fix sourcemap
  app/web/vite.config.ts
Labels: A-web

#6502 feat(web): load head first muspelheim
  app/web/src/api/sdf/dal/change_set.ts
  app/web/src/newhotness/Workspace.vue
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6510 feat(luminork): Add setting who a component is managed by at creation time
  lib/luminork-server/src/service/v1/components/create_component.rs
  lib/luminork-server/src/service/v1/components/mod.rs
Labels: A-luminork

#6511 chore(docs): Update API docs + SDKs
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/models/create_component_v1_request.py
  generated-sdks/python/test/test_create_component_v1_request.py
  generated-sdks/typescript/api.ts
Labels: A-docs, A-auth

#6517 feat(web): delayed lobby
  app/web/src/newhotness/Lobby.vue
Labels: A-web

#6518 feat(web) - add a management connection via the ManagementPanel
  app/web/src/components/WorkspaceImportModal.vue
  app/web/src/newhotness/DeleteModal.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/ManagementConnectionCard.vue
  app/web/src/newhotness/ManagementConnectionInput.vue
  app/web/src/newhotness/ManagementConnectionsList.vue
  app/web/src/newhotness/ManagementPanel.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/component.ts
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/layout_components/AttributeInput.vue
  app/web/src/newhotness/layout_components/ComponentSecretAttribute.vue
  app/web/src/newhotness/layout_components/SecretInput.vue
  app/web/src/newhotness/logic_composables/emitters.ts
Labels: A-web

#6519 fix(web): Show func run status even under heavy load
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6516 Fix: editing AVs from HEAD work, but need spinner tweaks
  app/web/src/components/layout/navbar/NavbarPanelLeft.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/logic_composables/rainbow_counter.ts
  app/web/src/newhotness/logic_composables/watched_form.ts
Labels: A-web

#6520 fix(luminork): Ensure Edda knows about a new change set as per SDF behaviour
  lib/luminork-server/src/service/v1/change_sets/create.rs
  lib/luminork-server/src/service/v1/change_sets/mod.rs
Labels: A-luminork

#6521 fix(luminork): Support "HEAD" in luminork URLs
  lib/luminork-server/src/service/v1/workspaces.rs
  lib/sdf-extract/src/change_set.rs
  lib/sdf-server/src/service/public/change_sets.rs
  lib/sdf-server/src/service/v2.rs
  lib/sdf-server/src/service/v2/fs.rs
Labels: A-sdf, A-luminork

#6524 fix(web): Remove incorrect default of all passing for qualifications
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
Labels: A-web

#6523 Add sort by functionality to new UI
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6525 feat: Rename changesets
  app/web/src/components/ChangesetRenameModal.vue
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/api_composables/index.ts
  lib/sdf-server/src/service/v2/change_set/rename.rs
  lib/vue-lib/src/design-system/index.ts
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuItem.vue
Labels: A-sdf, A-web

#6526 fix(web): use performance.now() instead of Date.now()
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6528 Remove running qualifications from new UI
  app/web/src/api/sdf/dal/property_editor.ts
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  app/web/src/workers/types/entity_kind_types.ts
  lib/dal/src/qualification.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/temporary_conversion_impls.rs
Labels: A-dal, A-web

#6529 fix(web): don't allow workspacePk to change in the middle of onBeforeMount
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6532 Fix passed qualification group title
  app/web/src/newhotness/Explore.vue
Labels: A-web

#6533 feat(luminork): Queue an update function when a component with a resource has a change
  lib/luminork-server/src/service/v1/components/update_component.rs
Labels: A-luminork

#6534 feat(web): Add ability to execute mgmt funcs from right click
  app/web/src/newhotness/ComponentContextMenu.vue
Labels: A-web

#6410 Stream patches to the front end from edda; try to reduce nats write load; priority queue for MV builds
  Cargo.lock
  lib/dal-test/src/lib.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/edda-server/src/config.rs
  lib/edda-server/src/server.rs
  lib/edda-server/src/updates.rs
  lib/frigg/src/lib.rs
  lib/si-events-rs/src/lib.rs
  lib/si-events-rs/src/materialized_view.rs
  lib/si-events-rs/src/workspace_snapshot.rs
  lib/si-frontend-mv-types-macros/BUCK
  lib/si-frontend-mv-types-macros/Cargo.toml
  lib/si-frontend-mv-types-macros/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/action.rs
  lib/si-frontend-mv-types-rs/src/component.rs
  lib/si-frontend-mv-types-rs/src/incoming_connections.rs
  lib/si-frontend-mv-types-rs/src/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/object/patch.rs
  lib/si-frontend-mv-types-rs/src/schema_variant.rs
  lib/si-frontend-mv-types-rs/src/view.rs
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#6540 Fix: getting management edges right, and you can add a mgmt edge when there are zero existing edges
  app/web/src/newhotness/ComponentDetails.vue
  app/web/src/newhotness/ConnectionsPanel.vue
  app/web/src/newhotness/ManagementConnectionsList.vue
  app/web/src/newhotness/ManagementPanel.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/types/entity_kind_types.ts
  app/web/src/workers/webworker.ts
  lib/dal-materialized-views/src/component.rs
  lib/dal-materialized-views/src/incoming_connections.rs
  lib/edda-server/src/change_set_processor_task/materialized_view.rs
  lib/si-frontend-mv-types-rs/src/incoming_connections.rs
  lib/si-frontend-mv-types-rs/src/reference.rs
Labels: A-web, A-edda

#6544 feat(web): don't force lobby on new change set
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/store/realtime/heimdall.ts
Labels: A-web

#6543 Fix: watch the change set id in order to keep WsEvent subscription for FuncRunLogUpdated working to invalidate query
  app/web/src/newhotness/Workspace.vue
Labels: A-web

#6541 fix(web): Don't allow renaming HEAD
  app/web/src/components/layout/navbar/ChangeSetPanel.vue
  app/web/src/newhotness/Explore.vue
  lib/vue-lib/src/design-system/menus/DropdownMenuButton.vue
Labels: A-web

#6545 Fix: wait for apply endpoint to succeed before router push
  app/web/src/newhotness/ApprovalFlowModal.vue
Labels: A-web

#6538 fix(web): ensure we can account for unknown qualifications in the group by
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
Labels: A-web

#6539 Add ability to pin a component
  app/web/src/newhotness/ComponentCard.vue
  app/web/src/newhotness/ComponentContextMenu.vue
  app/web/src/newhotness/ComponentQualificationStatus.vue
  app/web/src/newhotness/Explore.vue
  app/web/src/newhotness/Map.vue
  app/web/src/newhotness/QualificationPanel.vue
  app/web/src/newhotness/QualificationView.vue
  app/web/src/newhotness/ShortcutModal.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/explore_grid/ExploreGrid.vue
  app/web/src/newhotness/explore_grid/ExploreGridRow.vue
  app/web/src/newhotness/explore_grid/ExploreGridTile.vue
  lib/vue-lib/src/design-system/icons/icon_set.ts
Labels: A-web
