Repository systeminit/si, pull requests merged in 2025-10, with the labels that each got.

#7394 Prevent shortcut delete with mixed components
  app/web/src/newhotness/ComponentContextMenu.vue
Labels: A-web

#7396 chore(luminork): Regenerate SDKs and docs for luminork
  app/docs/src/reference/public-api.md
  generated-sdks/python/system_initiative_api_client/models/get_schema_v1_response.py
  generated-sdks/python/test/test_get_schema_v1_response.py
  generated-sdks/typescript/api.ts
Labels: A-docs

#7390 Add additional timing information to PgPool connection eviction logging
  lib/si-data-pg/src/lib.rs
Labels: A-si-data-pg

#7398 minor improvements to schemaUpsert
  bin/si-mcp-server/src/tools/schemaUpsert.ts
Labels: A-ai-agent

#7402 chore(sdf,luminork): skip loading snapshot when abandoning a change set
  lib/luminork-server/src/service/v1/change_sets/delete.rs
  lib/sdf-server/src/service/v2/change_set/abandon.rs
Labels: A-sdf, A-luminork

#7385 core(rebaser): allow certain errors to trigger request retries
  lib/naxum/src/middleware/jetstream_post_process/future.rs
  lib/naxum/src/middleware/jetstream_post_process/on_failure.rs
  lib/naxum/src/middleware/jetstream_post_process/on_success.rs
  lib/naxum/src/middleware/jetstream_post_process/service.rs
  lib/naxum/src/response/inner.rs
  lib/rebaser-server/src/change_set_processor_task.rs
  lib/rebaser-server/src/rebase.rs
  lib/shuttle-server/src/middleware.rs
Labels: A-rebaser

#7403 feat(clover): refactor to use ProviderConfig
  bin/clover/doc-link-cache.json
  bin/clover/src/commands/fetchSchema.ts
  bin/clover/src/commands/generateSiSpecs.ts
  bin/clover/src/commands/inferAi.ts
  bin/clover/src/pipelines/README.md
  bin/clover/src/pipelines/aws/funcs.ts
  bin/clover/src/pipelines/aws/pipeline-steps/specPipeline.ts
  bin/clover/src/pipelines/aws/pipeline.ts
  bin/clover/src/pipelines/aws/provider.ts
  bin/clover/src/pipelines/aws/schema.ts
  bin/clover/src/pipelines/aws/spec.ts
  bin/clover/src/pipelines/dummy/funcs.ts
  bin/clover/src/pipelines/dummy/pipeline.ts
  bin/clover/src/pipelines/dummy/provider.ts
  bin/clover/src/pipelines/dummy/schema.ts
  bin/clover/src/pipelines/dummy/spec.ts
  bin/clover/src/pipelines/generic/funcFactories.ts
  bin/clover/src/pipelines/generic/index.ts
  bin/clover/src/pipelines/hetzner/funcs.ts
  bin/clover/src/pipelines/hetzner/pipeline-steps/addDefaultProps.ts
  bin/clover/src/pipelines/hetzner/pipeline-steps/createCredential.ts
  bin/clover/src/pipelines/hetzner/pipeline.ts
  bin/clover/src/pipelines/hetzner/prop.ts
  bin/clover/src/pipelines/hetzner/provider.ts
  bin/clover/src/pipelines/hetzner/schema.ts
  bin/clover/src/pipelines/hetzner/spec.ts
  bin/clover/src/pipelines/types.ts
  bin/clover/src/spec/props.ts
  bin/clover/src/types.ts
Labels: A-ci

#7405 feat: qualification functionating schemas new and old
  bin/si-mcp-server/src/server.ts
  bin/si-mcp-server/src/tools/funcUpsert.ts
Labels: A-ai-agent

#7414 codegen, management, upsert, oh my!
  bin/si-mcp-server/deno.json
  bin/si-mcp-server/src/tools/funcUpsert.ts
  bin/si-mcp-server/src/validators/funcValidator.ts
  deno.lock
Labels: A-ai-agent

#7417 feat(auth-api): Allow getting workspace details with api token
  bin/auth-api/src/routes/workspace.routes.ts
Labels: A-auth

#7421 fix(edda): Stop building CachedSchemaVariant MVs
  lib/dal-materialized-views/src/cached/schema.rs
  lib/dal/src/cached_module.rs
  lib/edda-server/src/materialized_view/deployment.rs
  lib/luminork-server/src/service/v1/schemas/get_variant.rs
  lib/si-frontend-mv-types-rs/src/cached_schema.rs
Labels: A-dal, A-edda, A-luminork

#7416 feat: Component search api
  Cargo.lock
  Cargo.toml
  app/web/src/newhotness/logic_composables/search.ts
  component/lambda/functions/si_types.py
  lib/frigg/BUCK
  lib/frigg/Cargo.toml
  lib/frigg/src/workspace.rs
  lib/luminork-server/BUCK
  lib/luminork-server/Cargo.toml
  lib/luminork-server/src/lib.rs
  lib/luminork-server/src/search/component.rs
  lib/luminork-server/src/search/mod.rs
  lib/luminork-server/src/search/parser.rs
  lib/luminork-server/src/search/query.rs
  lib/luminork-server/src/service/v1/components/mod.rs
  lib/luminork-server/src/service/v1/components/search_components.rs
  lib/sdf-extract/src/change_set.rs
  lib/sdf-server/BUCK
  lib/sdf-server/Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: A-si-settings, A-sdf, A-veritech, A-cyclone, A-dal, A-bytes-lines-codec, A-config-file, A-si-test-macros, A-telemetry-rs, A-web, A-dal-test, A-si-data-nats, A-si-data-pg, A-si-std, A-telemetry-application-rs, A-pinga, A-object-tree, A-si-pkg, A-nats-subscriber, A-si-posthog-rs, A-buck2-resources, A-module-index, A-rebaser, A-si-layer-cache, A-si-pool-noodle, A-forklift, A-edda, A-luminork

#7426 fix(clover): Rename Hetzner::Resource to Hetzner::Cloud
  .github/workflows/asset-compare.yml
  .github/workflows/asset-diff.yml
  .github/workflows/asset-push.yml
  bin/clover/src/pipelines/hetzner/pipeline-steps/addDefaultProps.ts
  bin/clover/src/pipelines/hetzner/spec.ts
  bin/clover/src/pipelines/types.ts
Labels: A-ci

#7432 chore(changelog): Adding changelog for W/E October 4 2025
  app/docs/src/changelog/index.md
Labels: A-docs

#7440 Reduce default snapshot eviction grace period to 1 minute
  lib/rebaser-server/src/config.rs
Labels: A-rebaser

#7413 fix: deno workspaces and tests
  BUCK
  bin/clover/deno.json
  bin/clover/deno.lock
  bin/clover/src/cli.ts
  bin/clover/src/commands/inferAi.ts
  bin/clover/src/logger.ts
  bin/clover/src/pipelines/aws/pipeline-steps/assetSpecificOverrides.ts
  bin/clover/src/pipelines/aws/pipeline-steps/pruneCfAssets.ts
  bin/clover/src/pipelines/generic/createSuggestionsAcrossAssets.ts
  bin/clover/src/pipelines/generic/index.ts
  bin/clover/src/spec/props.ts
  bin/lang-js/BUCK
  bin/lang-js/deno.json
  bin/lang-js/deno.lock
  bin/lang-js/src/asset_builder.ts
  bin/lang-js/src/execution.ts
  bin/lang-js/src/sandbox/exec.ts
  bin/lang-js/src/sandbox/template.ts
  bin/lang-js/tests/exec.spec.ts
  bin/lang-js/tests/executeFunction.spec.ts
  bin/lang-js/tests/executeFunction_timeout.spec.ts
  bin/lang-js/tests/execution_edge_cases.spec.ts
  bin/lang-js/tests/function_edge_cases.spec.ts
  bin/lang-js/tests/functions/willTimeout.ts
  bin/lang-js/tests/sandbox.spec.ts
  bin/lang-js/tests/sandbox_edge_cases.spec.ts
  bin/si-generator/deno.json
  bin/si-luminork-api-tests/BUCK
  bin/si-luminork-api-tests/deno.json
  bin/si-luminork-api-tests/deno.lock
  bin/si-mcp-server/BUCK
  bin/si-mcp-server/deno.lock
  bin/si-sdf-api-test/deno.json
  deno.json
  deno.lock
  lib/jsr-systeminit/cf-db/BUCK
  lib/jsr-systeminit/cf-db/deno.json
  lib/jsr-systeminit/cf-db/deno.lock
  lib/ts-lib-deno/deno.json
  prelude-si/deno.bzl
  prelude-si/deno/deno_test.py
Labels: A-lang-js, A-ai-agent

#7443 feat(luminork): Add secrets as an input to qualifications
  lib/luminork-server/src/service/v1/schemas/create_qualification.rs
Labels: A-luminork

#7438 feat(luminork): Error when a user tries to update a readonly property
  lib/dal/src/attribute/attributes.rs
  lib/luminork-server/src/service/v1/components/mod.rs
Labels: A-dal, A-luminork

#7431 feat: wildcard support in search API
  lib/luminork-server/src/search/query.rs
Labels: A-luminork

#7439 fix(si-mcp-server): Capture when trying to update a read-only prop
  bin/si-mcp-server/deno.json
  bin/si-mcp-server/deno.lock
  bin/si-mcp-server/src/tools/componentUpdate.ts
Labels: A-ai-agent

#7448 debug panel now shows both schema id and schema variant id
  app/web/src/newhotness/ComponentDebugPanel.vue
  lib/dal/src/component/debug.rs
Labels: A-dal, A-web

#7451 collapsing panels in FuncRunDetails right column
  app/web/src/components/CodeViewer.vue
  app/web/src/newhotness/FuncRunDetails.vue
  app/web/src/newhotness/LatestFuncRunDetails.vue
  app/web/src/newhotness/layout_components/CollapsingGridItem.vue
  app/web/src/newhotness/layout_components/FuncRunDetailsLayout.vue
  app/web/src/newhotness/layout_components/GridItemWithLiveHeader.vue
Labels: A-web

#7454 fix(web): ensure possible conns get cache busted
  app/web/src/workers/webworker.ts
Labels: A-web

#7449 Web worker patching priority
  app/web/src/newhotness/ApplyChangeSetModal.vue
  app/web/src/newhotness/Workspace.vue
  app/web/src/newhotness/api_composables/index.ts
  app/web/src/newhotness/nav/ChangeSetPanel.vue
  app/web/src/newhotness/nav/NavbarPanelLeft.vue
  app/web/src/store/realtime/heimdall.ts
  app/web/src/workers/shared_webworker.ts
  app/web/src/workers/types/dbinterface.ts
  app/web/src/workers/webworker.ts
Labels: A-web

#7459 Remove unused reuse_or_rebuild_index_for_new_change_set
  lib/edda-server/src/materialized_view/change_set.rs
Labels: A-edda

#7453 feat(mcp-server): Add the ability to trigger the discovery of Hetzner assets in si-mcp-server
  bin/si-mcp-server/deno.lock
  bin/si-mcp-server/src/data/schemaHints.ts
  bin/si-mcp-server/src/tools/componentDiscover.ts
  bin/si-mcp-server/src/tools/componentImport.ts
Labels: A-ai-agent

#7464 "function" not "functino"
  bin/si-mcp-server/src/tools/funcCreateOrEdit.ts
Labels: A-ai-agent

#7383 changed controls for AddComponentModal
  app/web/src/newhotness/AddComponentModal.vue
Labels: A-web
